<div class="{{currentStep && 'row-fluid' || ''}} ">
    <form name="accountForm" class="row-fluid">
        <fieldset class="line">
            <legend data-translate data-ng-hide="currentStep">Contact Information</legend>
            <div class="control-group">
                <span class="edit-name" data-translate>
                    First Name
                </span>
                <span class="edit-value">
                    <input type="text"
                           id="firstName"
                           class="span12"
                           name="firstName"
                           data-ng-model="account.firstName"
                           data-ng-class="{error: isError('firstName')}"
                           required/>
                </span>
                <span class="edit-error">
                    <div class="error"
                         data-translate
                         data-ng-show="isError('firstName', 'required')">
                        Missing first name
                    </div>
                </span>
            </div>

            <div class="control-group">
                <span class="edit-name" data-translate>
                    Last Name
                </span>
                <span class="edit-value">
                     <input type="text"
                            id="lastName"
                            class="span12"
                            name="lastName"
                            data-ng-model="account.lastName"
                            data-ng-class="{error: isError('lastName')}"
                            required/>
                </span>
                <span class="edit-error">
                    <div class="error"
                         data-translate
                         data-ng-show="isError('lastName', 'required')">
                        Missing last name
                    </div>
                </span>
            </div>

            <div class="control-group">
                <span class="edit-name">Email Address</span>
                <span class="edit-value">
                    <input type="email"
                           id="email"
                           name="email"
                           class="span12"
                           data-ng-model="account.email"
                           data-ng-class="{error: isError('email')}"
                           required/>
                </span>
                <span class="edit-error">
                    <div class="error"
                         data-translate
                         data-ng-show="isError('email', 'required')">
                        Missing email address
                    </div>
                    <div class="error"
                         data-translate
                         data-ng-show="isError('email', 'email')">
                        Please provide valid email address
                    </div>
                </span>
            </div>

            <div class="control-group">
                <span class="edit-name">Company Name</span>
                <span class="edit-value">
                    <input type="text"
                           id="companyName"
                           class="span12"
                           name="companyName"
                           data-ng-model="account.companyName"
                           required/>
                </span>
                <span class="edit-error">
                    <div class="error"
                         data-translate
                         data-ng-show="isError('companyName', 'required')">
                        Missing company name
                    </div>
                </span>
            </div>
            <div class="control-group">
                <span class="edit-name" data-translate>Phone</span>
                <div data-phone-number data-number="account.phone" data-country="{{account.country}}" data-is-error="isError(field, type)"></div>
            </div>
        </fieldset>

        <hr data-ng-show="currentStep" />
        <a data-ng-show="currentStep" data-ng-click="signOut()" class="pull-left note text-small" data-translate>Click here to return to homepage</a>
		<button class="btn orange"  data-ng-show="currentStep" data-ng-click="submitForm()" data-ng-disabled="loading || accountForm.$invalid" data-translate>Save changes</button>
        <div class="pull-right loading-medium" style="width:30px; height:30px;min-width:30px;min-height:30px;" data-ng-show="loading && currentStep"></div>
    </form>

    <div class="pull-right">
        <a class="btn light effect-orange-button"  data-ng-disabled="loading" data-ng-click="cancelChanges()" data-translate>Cancel</a>
        <button class="btn dpl-inline orange" data-ng-show="!currentStep" data-ng-click="submitForm()" data-ng-disabled="loading" data-translate>Save changes</button>
    </div>
    <div class="pull-right loading-medium-tr" data-ng-show="loading && !currentStep"></div>
    <div class="fieldset-spacer"></div>

</div>
