<fieldset>
    <legend>Add your SSH Key</legend>
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
            <input type="text" class="span6" data-ng-model="newKey.name" placeholder="ssh key name" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">SSH Key</label>
        <div class="controls">
            <textarea class="span6" rows="10" data-ng-model="newKey.data"></textarea><br />
        </div>
    </div>

    <div data-ng-show="error">{{error}}</div>
	<div class="clearfix"></div>
	<hr />
	<a data-ng-show="currentStep" data-ng-click="signOut()" class="pull-left note text-small" data-translate>Click here to return to homepage</a>
    <button class="btn btn-success pull-right" data-ng-click="skipSsh()">Skip this step</button> 
	<button class="btn btn-success pull-right" data-ng-click="createNewKey()">Add SSH key</button>
	
</fieldset>
