<fieldset data-ng-class="{'loading-medium': loading}" >
    <div class="alert alert-error" data-ng-show="error">{{error}}</div>

    <div class="span6 pull-left">
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input type="text" class="span6" data-ng-model="newKey.name" placeholder="ssh key name" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">SSH Key</label>
            <div class="controls">
                <textarea class="ssharea span6" rows="10" data-ng-model="newKey.data"></textarea><br />
            </div>
        </div>
    </div>

    <div class="span3 pull-right" data-ng-show="showKeygenDownload()">
        <div class="sizebar-fix sizebar-fix-right">
            <div class="alert alert-success shadow">
                <h5 data-translate>SSH Key generator</h5>
                <button class="btn btn-success" data-ng-click="generateKeyPair()">Generate key pair</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <hr />
    <a data-ng-show="currentStep" data-ng-click="signOut()" class="pull-left note text-small cancel-signup-link" data-translate>Click here to return to homepage</a>
    <button class="btn pull-right" data-ng-click="skipSsh()" data-ng-disabled="loading">Skip this step</button>
    <button class="btn btn-joyent-blue pull-right" style="margin-right:10px" data-ng-click="createNewKey()" data-ng-disabled="loading">Add SSH key</button>

</fieldset>