<div class="">
    <div class="container-account">
        <ul class="breadcrumb">
            <li><a href="#!/account">Account</a> /</li>
            <li> Edit Profile</li>
        </ul>
        <h3 class="page-title">Edit Profile</h3>
    </div>
    <div class="row-fluid">
        <div class="account first-block container-account edit-form">
          <div data-account-info-edit></div>
        </div>
        <div class="message-box">
            <p style="color: #7C7C7C;padding-left: 70px;padding-top: 8px;font-size: 16px;">Marketing Info</p>
        </div>
    </div>
    </div>
</div>