<div class="container-fluid container-position">
    <ul class="breadcrumb">
        <li><a href="#!/account">Account</a> /</li>
        <li> Edit Profile</li>
    </ul>
    <h3 class="page-title">Edit Profile</h3>
    <div class="row-fluid">
        <span class="account first-block pull-left edit-form">
          <div data-account-info-edit></div>
        </span>
        <div class="message-box">
            <p style="color: #7C7C7C;padding-left: 70px;padding-top: 8px;font-size: 16px;">Marketing Info</p>
        </div>
    </div>
</div>