<div class="container-fluid content-container" data-ng-controller="AccountController" >
    <div class="container content-container-inner">
        <div class="container">
            <data-breadcrumb></data-breadcrumb>
            <div class="page-header">
                <h1 class="pull-left" data-translate>My Account Summary</h1> <div ng-show="!account" class="loading-medium-after-h1"></div>
                <div class="clearfix"></div>
            </div>
			
			<div class="span8 container">
				<fieldset>
            		<legend class="clearfix"><span class="pull-left">Profile summary</span> <a href="#!/account/edit/" class="pull-right btn btn-mini" style="margin-top:5px">Edit</a></legend>
					<p>kalalalalalal llallal </p>
				</fieldset>
				<fieldset>
					<legend class="clearfix"><span class="pull-left">Payment Summary</span> <a href="#!/account/payment/" class="pull-right btn btn-mini" style="margin-top:5px">Edit</a></legend>
					<p>kalalalalalal llallal </p>

                    <pre style="width:500px;">{{creditCardJSON}}</pre>
				</fieldset>
				<fieldset>
					<legend class="clearfix"><span class="pull-left">SSH Summary</span> <a href="#!/account/ssh/" class="pull-right btn btn-mini" style="margin-top:5px">Edit</a></legend>
					<p>kalalalalalal llallal </p>
				</fieldset>

			</div>

            <div account-right-menu></div>
        </div>
    </div>
</div>