<div data-ng-controller="AccountController">
					<div class="span1 loading-medium-after-h1" data-ng-show="loading" ></div>
    <div class="container-fluid container-position" data-ng-show="!loading">
        <div class="page-header row-fluid">
            <h3 class="page-title">Account Summary</h3>
        </div>
        <div class="row-fluid">
            <span class="account first-block pull-left">
                <fieldset>
                    <legend>
                        <span data-translate>Your Profile</span>
                        <a href="#!/account/edit/" class="edit-btn effect-orange-button" data-translate>Edit</a>
                    </legend>

                    <div class="row-fluid">
                        <div class="line row-fluid">
                            <p class="field">
                                <span class="name" data-translate>Name</span>
                                <span class="value b">{{account.firstName}} {{account.lastName}}</span>
                            </p>

                            <p class="field">
                                <span class="name" data-translate>Username</span>
                                <span class="value b">{{account.login}}</span>
                            </p>

                            <p class="field">
                                <span class="name" data-translate>Email</span>
                                <span class="value">{{account.email}}</span>
                            </p>

                            <p class="field">
                                <span class="name" data-translate>Phone</span>
                                <span class="value">{{account.phone}}</span>
                            </p>

                            <p class="field">
                                <span class="name" data-translate>Company</span>
                                <span class="value">{{account.companyName}}</span>
                            </p>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <span>Billing Information</span>
                        <a href="#!/account/payment/" class="edit-btn effect-orange-button">Edit</a>
                    </legend>

                    <div class="row-fluid">
                        <div class="line span6">
                            <!--<h6>Credit Card info</h6>-->
                            <div data-current-credit-card></div>
                        </div>

                        <div class="line span6" data-ng-show="0">
                            <!--<h6>Latest invoice</h6>-->
                            <div data-ng-show="lastInvoice">
                                Your costs from last month
                                <hr/>
                                <b style="font-size:26px">${{lastInvoice.amount || '0'}}</b>
                                <hr/>
                            </div>
                            <p data-ng-hide="lastInvoice">You haven't been invoiced, yet :)</p>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><span>SSH</span></legend>
                    <div data-ssh-form></div>
                </fieldset>
                <fieldset data-ng-controller="Account.InvoicesController" ng-show="isInvocesEnabled">
                    <legend><span>Invoices</span></legend>
                    <div class="row-fluid">
                        <div class="loading-large row-fluid" data-ng-show="loading"></div>
                        <div data-ng-show="!loading && !invoices.length">
                            <div>You don't have any invoices yet</div>
                        </div>
                        <div data-ng-show="!loading && !error && invoices.length">
                            <div data-grid-view
                                 data-user-config="gridUserConfig"
                                 data-props="gridProps"
                                 data-columns-button="columnsButton"
                                 data-image-button-show="false"
                                 data-items="invoices"
                                 data-multisort="false"
                                 data-order="gridOrder"
                                 data-export-fields="exportFields"
                                 data-paginated="false">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </span>
            <div class="message-box hide">
                <p style="color: #7C7C7C;padding-left: 70px;padding-top: 8px;font-size: 16px;">Marketing Info</p>
            </div>
        </div>
    </div>
</div>
