<div class="container-fluid content-container" data-ng-controller="AccountController" >
    <div class="container content-container-inner">
        <div class="container">
            <data-breadcrumb></data-breadcrumb>
            <div class="page-header">
                <h1 class="pull-left" data-translate>My Account Summary</h1> <div ng-show="loading" class="loading-medium-after-h1"></div>
                <div class="clearfix"></div>
            </div>
			
			<div class="span9 container">
				<fieldset>
            		<legend class="clearfix"><span class="pull-left">Profile summary</span> <a href="#!/account/edit/" class="pull-right btn btn-mini" style="margin-top:5px">Edit</a></legend>
					<div class="text-medium">
                        Your name is: {{account.firstName}} {{account.lastName}}<br />
                        Your username is: {{account.login}}<br />
                        Your email is: {{account.email}}<br />
                        Your phone is: {{account.phone}}<br />
                        Your company is: {{account.companyName}}<br />
                        Your address is: {{account.address}} {{account.city}} {{account.state}} {{account.postalCode}} {{account.country}}<br />
					</div>
				</fieldset>
				<fieldset>
					<legend class="clearfix"><span class="pull-left">Payment Summary</span> <a href="#!/account/payment/" class="pull-right btn btn-mini" style="margin-top:5px">Edit</a></legend>
                    <div data-current-credit-card></div>
				</fieldset>
				<fieldset>
					<legend class="clearfix"><span class="pull-left">SSH Summary</span> <a href="#!/account/ssh/" class="pull-right btn btn-mini" style="margin-top:5px">Edit</a></legend>
					<div class="clearfix"></div>
                    <div data-ng-show="sshKeys.length > 0" style="margin-top:10px">
                        <div class="item-list-container">
                            <div class="item header">
                                <span class="span7 text-medium">Key Name / UUID</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="item" data-ng-repeat="key in sshKeys">
                                <span class="span7 pointer text-medium" data-ng-click="setOpenDetails($index);">{{key.name}} / {{key.fingerprint}}</span>
                                <div class="clearfix"></div>
                                <div data-ng-show="openKeyDetails == $index" class="toolbox ">
                                    <div class="span6 pull-left text-medium">
                                        <span class="b key span2" ng->Fingerpint:</span>
                                        <span class="value span4">{{key.fingerprint}}</span>

                                        <div class="clearfix"></div>

                                        <span class="b key span2 last" ng->Key</span>
                                        <span class="value span4 last" style="word-wrap:break-word">{{key.key}}</span>
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="pull-right action-container">
                                        <button data-ng-click="deleteKey(key.name, key.fingerprint)" class="btn btn-mini btn-danger">Delete</button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div data-ng-show="addsshKey">
                                <button data-ng-click="addNewKey()" data-ng-disabled="createPending">Add ssh key</button><br />
                                <div class="error">{{addedKey.message}} {{addedKey.code}}</div>
                                <div class="loading-medium" data-ng-show="createPending"></div>
                            </div>
                        </div>
                    </div>
					<div class="clearfix"></div>
			            <div class="alert alert-info alert-global" data-ng-hide="loading || sshKeys.length > 0">
			                <div class="pull-left">
			                    <h4>Please set up your SSH Key.</h4>
			                    <div>I see you have no SSH keys configured.</div>
			                </div>
			                <a class="btn btn-success pull-right alert-global" href="#!/account/ssh" data-translate>Add a SSH key</a>
			                <div class="clearfix"></div>
			            </div>
                    
				</fieldset>

			</div>
            <div account-right-menu></div>
        </div>
    </div>
</div>