<div class="container-fluid content-container" data-ng-controller="Account.InvoicesController" >
    <div class="container content-container-inner">
        <div class="container">
            <data-breadcrumb></data-breadcrumb>
            <div class="page-header">
                <h1 class="pull-left" data-translate>Invoices</h1>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="pull-left container span9">
			<div class="loading-medium" data-ng-show="loading" style="height:60px;100%"></div>
            <div class="item-list-container" data-ng-show="!loading">
                <div class="item header">
                    <span class="span2 text-medium">Invoice Number</span>
					<span class="span2 text-medium">Date</span>
					<span class="span1 text-medium">State</span>
					<span class="span2 text-medium align-right">Total (USD)</span>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="item" data-ng-repeat="invoice in invoices">
                    <span class="span2 pointer text-medium" data-ng-click="setOpenDetails($index);">{{invoice.invoiceNumber}}</span>
					<span class="span2 pointer text-medium" data-ng-click="setOpenDetails($index);">{{invoice.invoiceDate}}</span>
					<span class="span1 pointer text-medium" data-ng-click="setOpenDetails($index);">{{invoice.status}}</span>
					<span class="span2 pointer text-medium align-right" data-ng-click="setOpenDetails($index);">{{invoice.amount.toFixed(2)}}</span>
                    <div class="clearfix"></div>
                    <div data-ng-show="openDetails == $index" class="toolbox ">
	                    <div class="item header text-medium">
							<span class="pull-left span2 text-medium">Product</span>
							<span class="pull-left span2 text-medium">Period</span>
							<span class="pull-left span1 text-medium align-right">Quantity</span>
							<span class="pull-right span2 text-medium align-right">Sum (USD)</span>
							<div class="clearfix"></div>
                        </div>
                        <div class="item text-medium" data-ng-repeat="item in invoice.invoiceItems">
							<span class="pull-left span2 text-medium">{{item.productName}}</span>
							<span class="pull-left span2 text-medium">{{item.serviceStartDate}}-{{item.serviceEndDate}}</span>
							<span class="pull-left span1 text-medium align-right">{{item.quantity}}</span>
							<span class="pull-right span2 text-medium align-right">{{item.chargeAmount}} USD</span>
							<div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div data-ng-show="addsshKey">
                    <button data-ng-click="addNewKey()" data-ng-disabled="createPending">Add ssh key</button><br />
                    <div class="error">{{addedKey.message}} {{addedKey.code}}</div>
                    <div class="loading-medium" data-ng-show="createPending"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
		<div class="span3 pull-right">
        	<div account-right-menu></div>
			<div class="clearfix"></div>
			<div data-current-credit-card></div>
			<div class="clearfix"></div>
		</div>
    </div>
</div>