<div class="container-fluid content-container" data-ng-controller="Account.InvoicesController" >
    <div class="container content-container-inner">
        <div class="container">
            <data-breadcrumb></data-breadcrumb>
            <div class="page-header">
                <h1 class="pull-left" data-translate>Invoices</h1>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="pull-left container span9">
			<div class="loading-medium" data-ng-show="loading" style="height:60px;100%"></div>
            <table class="table" data-ng-show="!loading">
                <thead>
                    <tr>
                        <td data-translate>Invoice Number</td>
                        <td data-translate>Date</td>
                        <td data-translate>State</td>
                        <td data-translate>Total (USD)</td>
                        <td data-translate>Download</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="invoice in invoices">
                        <td>{{invoice.invoiceNumber}}</td>
                        <td>{{invoice.invoiceDate}}</td>
                        <td>{{invoice.status}}</td>
                        <td>{{invoice.amount | number:2}}</td>
                        <td><button class="btn btn-small btn-success" data-ng-click="download(invoice)" data-ng-disabled="invoice.downloading" data-translate>Download</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="span3 pull-right">
        	<div account-right-menu></div>
			<div class="clearfix"></div>
			<div data-current-credit-card></div>
			<div class="clearfix"></div>
		</div>
    </div>
    <div style="display:none;" data-ng-bind-html-unsafe="exportIframe"></div>
</div>