<div class="container-fluid content-container" data-ng-controller="Account.PaymentController" >
    <div class="container content-container-inner">
        <div class="container">
            <data-breadcrumb></data-breadcrumb>
            <div class="page-header">
                <h1 class="pull-left" data-translate>Credit card details</h1>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="pull-left listing">
            <div data-current-credit-card></div>
            <div data-add-credit-card></div>
 
            <div class="clearfix"></div>
        </div>

        <div account-right-menu></div>

        <!-- <div class="span4 pull-right">
            <div class="alert alert-success shadow">
                <h4 data-translate>Current Information</h4><br />
                <div class="text-small">
                    <span class="b span1" data-translate>Card Type</span><span class="span2">{{account.login}}</span>
                    <div class="clearfix"></div>

                    <span class="b span1" data-translate>Card No.:</span><span class="span2">{{account.login}}</span>
                    <div class="clearfix"></div>
                    <span class="b span1" data-translate>Expiry date</span><span class="span2">{{account.email}}</span>
                    <div class="clearfix"></div>
                    <span class="b span1" data-translate>Name</span><span class="span2">{{account.firstName}} {{account.lastName}}</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> -->
    </div>
</div>