<div class="container-fluid container-position" data-ng-controller="Account.PaymentController" >
    <div data-breadcrumbs></div>
    <h3 class="page-title">{{ pageTitle }}</h3>
    <div class="row-fluid">
        <span class="first-block pull-left"
              data-add-credit-card
              data-show-phone="{{features.showPhone != 'disabled'}}"></span>
        <div class="message-box hide">
            <p style="color: #7C7C7C;padding-left: 70px;padding-top: 8px;font-size: 16px;">Marketing Info</p>
        </div>
    </div>

</div>