<div class="line ssh-key-container">
    <div class="accordion-ssh-package-title" data-ng-hide="keys.length < 1">
        <span class="key-name">Key Name</span>
        <span class="key-hash"> / UUID</span>
    </div>
    <div class="panel-group" id="accordion-ssh-keys">
        <div class="panel panel-default" data-ng-repeat="key in keys | reverse">
            <div class="panel-heading">
                <span class="accordion-toggle collapsed toggle-icon" data-toggle="collapse" data-parent="#accordion-ssh-keys"
                      data-target="#collapse_{{$id}}">
                    <span class="key-name">{{ getKeyName(key) }}</span>
                    <span class="key-hash"> / {{key.fingerprint}}</span>
                                    <button class="small-btn effect-orange-button pull-right btn-key-delete"
                                                                     data-ng-click="deleteKey(key.name, key.fingerprint, $event)"
                                                                     data-translate>Delete</button>

                </span>
            </div>
            <div id="collapse_{{$id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="key-info">
                        <div class="key-info-content">
                            <div class="row">
                                <span class="txt-name" data-translate>Fingerprint</span>
                                <span class="txt-value">{{key.fingerprint}}</span>
                            </div>

                            <div class="row">
                                <span class="txt-name" data-translate>Key</span>
                                <span class="ssh-key-value" >{{key.key}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Part shown when user has keys -->
    <div class="row">
        <div class="item-list-container">
            <div data-ng-show="keys.length < 1 && !loadingKeys">
                <div class="no-ssh-key-message">{{noKeysMessage || 'You don\'t have any SSH keys'}}</div>
            </div>
            <div data-ng-show="loadingKeys">
                <div class="loading-medium"></div>
            </div>
        </div>
        <span data-ng-show="downloadLink" class="ssh-download-link"><a target="_blank" href="{{downloadLink}}">Click here to download "{{sshKeyName}}" key</a></span>
        <div class="new-key-button pull-right" data-ng-hide="!isCreateKeyEnabled || loadingKeys">
            <div data-account-ssh-create></div>
            <div data-account-ssh-import></div>
        </div>
        <div class="new-key-button pull-right" data-ng-show="!isCreateKeyEnabled && !loadingKeys">
            <button class="btn orange"
                    data-ng-click="createInstanceFn()"
                    data-translate>Create Instance</button>
        </div>
    </div>
    <!-- End of > 0 keys part -->
</div>
