<div class="container-fluid content-container" data-ng-controller="Account.SSHController" >
    <div class="container content-container-inner">
        <div class="container">

            <data-breadcrumb></data-breadcrumb>
            <div class="page-header">
                <h1 class="pull-left" data-translate>My keys</h1><div ng-show="!account || !sshKeys" class="loading-medium-after-h1"></div>
                <div class="clearfix"></div>
            </div>
            <div class="ssh-container-empty" data-ng-show="sshKeys.length <= 0">
				<fieldset class="pull-left">
						<div class="control-group">
				            <label class="control-label">Name</label>
				            <div class="controls">
				                <input type="text" class="span6" data-ng-model="data.keyName" placeholder="ssh key name" />
				            </div>
				        </div>

						<div class="control-group">
							<label class="control-label">SSH Key</label>
							<div class="controls">
				        		<textarea class="span6" rows="10" data-ng-model="data.keyData"></textarea><br />
							</div>
						</div>
				    <div class="align-right">
				        <button class="btn btn-success">Add SSH key</button>
				    </div>
				</fieldset>
				<div class="span3 pull-right">
                    <div class="pull-right">
                        <div class="tabbable tabs-right">
                            <ul class="nav nav-tabs span3">
                                <li><a>siia nav -tseki koodist</a></li>
                                <li data-ng-repeat="(k, v) in pages"><a href="{{v.url}}" data-translate="value">{{v.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div><br />
                    <div class="alert alert-success shadow">
                        <h4 data-translate>SSH Key generator</h4>
                        <p class="text-medium">Let us guide you with this small piece of code. Just press the button "Download script" below.</p>
                        <button class="btn btn-success" data-ng-show="showKeygenDownload()" data-ng-click="clickKeygenDownload()">Download script</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- </div> -->
                </div>
                
            </div>
            <div class="ssh-container" data-ng-show="sshKeys.length > 0">
                <div class="pull-left span7 listing container border">
                    <div data-ng-repeat="key in sshKeys">
                        <div data-ng-click="setOpenDetails($index);" class="item text-medium list pointer ssh">
                            <span class="b">Key name</span>
                            <span>{{key.name}}</span>
                        </div>

                        <div data-ng-show="openKeyDetails == $index" class="toolbox" style="border-bottom:1px solid #ddd">
                            <div class="pull-left toolbox-list wrap text-medium" style="width:425px;padding:10px 10px 10px 0px;margin-top:-10px">
                                <span class="b" ng->Fingerpint:</span>
                                <div class="clearfix"></div>
                                <span>{{key.fingerprint}}</span>
                                <div class="clearfix"></div>
                                <span class="b" ng->Key</span>
                                <div class="clearfix"></div>
                                        <span class="sshkey-data">
                                            {{key.key}}
                                        </span>
                                <br />
                            </div>
                            <div class="pull-right action-container" style="width:75px;padding:10px;">
                                <button data-ng-click="deleteKey(key.name, key.fingerprint)" class="btn btn-mini btn-danger">Delete</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div data-ng-show="addsshKey">
                        <button data-ng-click="addNewKey()" data-ng-disabled="createPending">Add ssh key</button><br />
                        <div class="error">{{addedKey.message}} {{addedKey.code}}</div>
                        <div class="loading-medium" data-ng-show="createPending"></div>
                    </div>
                </div>
                <div class="span3 pull-right">
                    <div class="pull-right">
                        <div class="tabbable tabs-right">
                            <ul class="nav nav-tabs span3">
                                <li><a>siia navigatsioon - tseki koodist</a></li>
                                <li data-ng-repeat="(k, v) in pages"><a href="{{v.url}}" data-translate="value">{{v.name}}</a></li>
                            </ul>
                        </div>
                    </div>

                    <!--  -->
                    <!-- <h4 data-translate>New SSH Key</h4><br /> -->
                    <button class="btn btn-success" data-ng-click="addNewKey()">Add new SSH key</button>
                    <div class="clearfix"></div><br />
                    <div class="alert alert-success shadow">
                        <h4 data-translate>SSH Key generator</h4>
                        <p class="text-medium">Let us guide you with this small piece of code. Just press the button "Download script" below.</p>
                        <button class="btn btn-success" data-ng-show="showKeygenDownload()" data-ng-click="clickKeygenDownload()">Download script</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>