<div  data-ng-controller="Account.SSHController" >
    <div class="ssh container">
        <div class="row-fluid">
            <div data-breadcrumb></div>
        </div>
        <!-- <div class="row-fluid"> -->
            <div data-notification></div>
        <!-- </div> -->

		<div class="page-header">
			<div class="row-fluid">
                <div class="span12">
					<h1  class="span11" data-translate>Manage SSH Keys</h1>
					<div ng-show="!account || !keys"  class="span1 loading-medium-after-h1" data-ng-show="loading" ></div>
                </div>
			</div>
        </div>

        <div class="row">
            <!-- Part shown when user have no keys -->
            <div class="span8 ssh-add-span" data-ng-show="keys.length <= 0">
                <div class="alert alert-joyent-blue">
                    <span data-translate>You have to add SSH key to start creating instances.</span>
                </div>

                <fieldset>
                    <div class="control-group">
                        <label class="control-label" data-translate>Name</label>
                        <div class="controls">
                            <input type="text"
                                   class="span8"
                                   placeholder="SSH key name"
                                   data-ng-model="key.name"
                                   data-translate-attributes="placeholder" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" data-translate>SSH key</label>
                        <div class="controls">
                            <textarea class="ssharea span8" rows="10" data-ng-model="key.data"></textarea>
                        </div>
                    </div>

                    <div data-ng-show="error">{{error}}</div>
                    <div class="align-right">
                        <button class="btn btn-joyent-blue"
                                data-ng-click="createNewKey()"
                                data-translate>Add SSH key</button>
                    </div>
                </fieldset>
            </div>
            <!-- End of 0 keys part -->

            <!-- Part shown when user has keys -->
            <div data-ng-show="keys.length > 0" class="span9">
                <div class="item-list-container">
                    <div class="item header row-fluid">
                        <span class="span12">Key Name / UUID</span>
                    </div>

                    <div class="item row-fluid" data-ng-repeat="key in keys">
                        <span class="pointer text-medium" data-ng-click="setOpenDetails($index)">
                            <span class="span12">{{key.name.length > 0 && key.name != key.fingerprint && (key.name + ' / ') || ''}}{{key.fingerprint}}</span>
                        </span>

                        <div data-ng-show="openKeyDetails == $index" class="toolbox">
                            <div class="item span10">
                                <div class="row-fluid">
                                    <span class="text-medium key span3" data-translate>Fingerpint</span>
                                    <span class="text-medium value span9">{{key.fingerprint}}</span>
                                </div>

                                <div class="row-fluid">
                                    <span class="text-medium key span3 last" data-translate>Key</span>
                                    <span class="text-medium value span9 last" style="word-wrap:break-word">{{key.key}}</span>
                                </div>
                            </div>

                            <div class="pull-right span2" style="margin-top:10px">
                                <button class="btn btn-mini button btn-danger"
                                        data-ng-click="deleteKey(key.name, key.fingerprint)"
                                        data-translate>Delete</button>
                            </div>
                        </div>
                    </div>

                    <div data-ng-show="addsshKey">
                        <button data-ng-click="addNewKey()"
                                data-ng-disabled="createPending"
                                data-translate>Add SSH key</button>

                        <div class="error">{{addedKey.message}} {{addedKey.code}}</div>
                        <div class="loading-medium" data-ng-show="createPending"></div>
                    </div>
                </div>

                <div class="new-key-button">
                    <button class="btn btn-joyent-blue pull-right"
                            data-ng-click="addNewKey()"
                            data-ng-show="keys.length > 0"
                            data-translate>Add new SSH key</button>
                </div>
            </div>
            <!-- End of > 0 keys part -->

            <div class="span3 hidden-phone">
				
				<div account-right-menu></div>
				
				<div data-ng-show="showKeygenDownload()" class="text-small">
                       <div class="separation-container">

                           <h5 data-translate>SSH key generator</h5>
                           <p class="text-medium" data-translate>
                               Let us guide you with this small piece of code. Just press the button "Download script" below.
                           </p>
                           <p class="text-medium" data-translate>To run the downloaded script, open up your terminal and write this: sh /path/to/downloaded/script</p>

                           <button class="btn"
                                   data-ng-click="clickKeygenDownload()"
                                   data-translate>Download script</button>
                       </div>
                   </div>

            </div>

        </div>
    </div>
</div>