/*body {
	background-color:#375675 !important;
	background-image:url('/static/img/top-shade.png');
	background-position:50% 50%;
	background-repeat:no-repeat;
}
.brand {
	background-image: url('/static/img/logo-color-duo.png');
	background-repeat:no-repeat;
	background-position:0px 50%;
	width:150px;
	height:70px;
}
h3 {
	color:#333 !important;
}
.border {
	border:1px solid red !important;
}*/
[class^="icon-"],
[class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
}

.content-container {
    padding-bottom:50px;
    /*	border:1px solid;*/
    padding:0;
}

.content-container-inner {
    padding-bottom:50px;
    min-height: 100%;
    height: 100%;
}
.navbar-inner {
    border:none;
}

/*.footer .brand {*/
    /*background-image: url('../img/logo-gray.png');*/
    /*background-repeat:no-repeat;*/
    /*background-position:50% 60%;*/
    /*width:120px;*/
    /*height:30px;*/
/*}*/

/*.footer {*/
    /*padding-top:10px;*/
    /*border-top:1px solid #d4d7d9;*/
    /*margin-bottom:45px;*/
/*}*/
/*.footer .nav {*/
    /*padding-top:8px;*/
/*}*/
/*.footer .nav li {*/
    /*float:left;*/
    /*font-size:11px;*/
/*}*/
/*.footer a {*/
    /*color:#999;*/
    /*background-color:transparent !important;*/
    /*padding-right:20px;*/
/*}*/
.footer {
    position: fixed;
    padding-top: 10px;
    background-color: #ededed;
    height: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
    bottom: 0;
    margin-left: 175px;
    padding-right: 175px;
}
.footer .nav {
    padding-top: 8px;
    font-size: 12px;
    margin-left: 28px;
}
.footer .nav li {
    float:left;
}
.footer a {
    color:#999;
    background-color:transparent !important;
    padding-right:20px;
    text-decoration: none;
}

.red-asterix {
    color: red;
}

/* this is div specific to avoid colouring inputs */
div.error {
    font-weight: bold;
    color: red;
}

.asterix-info {
    color: #b3b3b3;
}
.logo{
    background-image: url(../img/logo-orange.png);
    width: 175px;
    height: 53px;
}