
[class^="icon-"],
[class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
}

.content-container {
    padding: 0;
}

.content-container-inner {
    padding-bottom:50px;
    min-height: 100%;
    height: 100%;
}
.navbar-inner {
    border:none;
}

.footer {
    position: fixed;
    padding-top: 10px;
    background-color: #ededed;
    height: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
    bottom: 0;
    margin-left: 175px;
    padding-right: 175px;
}
.footer .nav {
    padding-top: 8px;
    font-size: 12px;
    margin-left: 28px;
}
.footer .nav li {
    float:left;
}
.footer a {
    color:#999;
    background-color:transparent !important;
    padding-right:20px;
    text-decoration: none;
}

.red-asterix {
    color: red;
}

/* this is div specific to avoid colouring inputs */
div.error {
    font-weight: bold;
    color: red;
}

.asterix-info {
    color: #b3b3b3;
}
.logo{
    background-image: url(../img/logo-orange.png);
    width: 175px;
    height: 53px;
}


.modal  {
    z-index:100000000;
}
[class^="icon-"],
[class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
}
.item.header [class^="icon-"],
.item.header [class*=" icon-"] {
    margin-top:3px;
}


.modal-header.message, .modal-header.confirm {
    background-color: #ff6600;
}
.modal-header.error {
    background-color: #ff0000;
}

.modal-header {
    color: white;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}


.btn.btn-joyent-blue.disabled,
.btn.btn-joyent-blue[disabled],
.btn-joyent-blue,
.btn-joyent-blue:hover {
    background-image:url('../img/bg-button-blue.png');
    background-position:50% 50%;
    background-repeat:repeat-x;
    color:#fff;
    text-shadow:1px 1px 1px #375775;
    border-bottom:1px solid #28445e;
}
.btn {
    padding: 7px 14px;
    outline: none;
    border: 0;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-image: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #333333;
    font-size: 14px;
    filter: none;
    cursor: pointer;
}

.btn[disabled],
.btn.disabled {
    color: #333333;
    background-color: #d8d8d8 !important;
    cursor: default !important;
    opacity: 0.35;
    filter: alpha(opacity=35);
}

.btn.red-stripe
{
    border-left: 3px solid #d84a38;
}

.btn.blue-stripe
{
    border-left: 3px solid #4d90fe;
}

.btn.purple-stripe
{
    border-left: 3px solid #852b99;
}

.btn.green-stripe
{
    border-left: 3px solid #35aa47;
}

.btn.yellow-stripe {
    border-left: 3px solid #ffb848;
}
.btn.light-blue {
    color: #ff6600;
    text-shadow: none;
    font-weight: bold;
    background-color: #f1f1f1;
    width: auto;
    min-height: 20px ! important;
    line-height: 6px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;

}
.btn.light-blue:hover,
.btn.light-blue:focus,
.btn.light-blue:active,
.btn.light-blue.active,
.btn.light-blue.disabled,
.btn.light-blue[disabled] {
    background-color: #f1f1f1 !important;
    color: #ff6600 !important;
}

.btn.orange {
    color: white;
    text-shadow: none;
    background-color: #ff6600;
    min-width: 100px;
}
.btn.orange:hover,
.btn.orange:focus,
.btn.orange:active,
.btn.orange.active,
.btn.orange.disabled,
.btn.orange[disabled] {
    background-color: #ff6600 !important;
    color: #fff !important;
}

.btn-stat{
    width: 240px !important;
    height: 55px;
}

/*  Red */
.btn.red,
.page-content .breadcrumb a.red, .page-content .breadcrumb a.red i {
    background-color: #ff6600;
    color: white;
    text-shadow: none;
}
.btn.red:hover,
.btn.red:focus,
.btn.red:active,
.btn.red.active,
.btn.red[disabled],
.btn.red.disabled,
.page-content .breadcrumb a.red:hover, .page-content .breadcrumb a.red:hover i,
.page-content .breadcrumb a.red:focus, .page-content .breadcrumb a.red:focus i,
.page-content .breadcrumb a.red:active, .page-content .breadcrumb a.red:active i

{
    background-color: #ff6600 !important;
    color: #fff !important;
}

/*  Blue */
.btn.transparent
{
    color: black;
    text-shadow: none;
    background-color: transparent;
}

.btn.blue
{
    color: white;
    text-shadow: none;
    background-color: #94afca;
}
.btn.blue:hover,
.btn.blue:focus,
.btn.blue:active,
.btn.blue.active,
.btn.blue[disabled],
.btn.blue.disabled {
    background-color: #94afca !important;
    color: #fff !important;
}

/*  Green */
.btn.green {
    color: black;
    text-shadow: none;
    background-color: #afd46c;
}
.btn.green:hover,
.btn.green:focus,
.btn.green:active,
.btn.green.active,
.btn.green.disabled,
.btn.green[disabled]{
    background-color: #afd46c !important;
    color: #000 !important;
}
.btn.grey-new {
    color: white;
    text-shadow: none;
    background-color: #999999;
}
.btn.grey-new:hover,
.btn.grey-new:focus,
.btn.grey-new:active,
.btn.grey-new.active,
.btn.grey-new.disabled,
.btn.grey-new[disabled]{
    background-color: #999999 !important;
    color: #ffffff !important;
}

/*  Purple */
.btn.purple {
    color: white;
    text-shadow: none;
    background-color: #405f7c;
}
.btn.purple:hover,
.btn.purple:focus,
.btn.purple:active,
.btn.purple.active,
.btn.purple.disabled,
.btn.purple[disabled] {
    background-color: #405f7c !important;
    color: #fff !important;
}

/*add new styles*/

.account fieldset {
    margin-bottom: 20px;
}

.account .field {
    margin-bottom: 2px;
    font-size: 16px;
    height: 34px;
}

.account .field .name {
    width: 120px;
    font-weight: 300;
    display: inline-block;
}

.account .field .value {
    padding: 0;
    float: none;
    text-decoration: none;
    border: none;
}
.account legend{
    border-bottom: 0;
    font-size: 19px;
    line-height: 18px;
    color: #333;
    font-weight: 500 !important;
    letter-spacing: 0.6px;
    margin-left: -2px;
    padding-top: 5px;
    margin-bottom: 0;
}
.account fieldset {
    padding-left: 5px;
}
.account .line, .account.line{
    border-bottom: 1px solid #cccccc;
    width: 725px;
    margin-left: -2px;
    padding-bottom: 2px;
}
.account .fieldset-spacer, .fieldset-spacer{
    padding-top: 25px;
}

.dpl-inline {
    display: inline-block;
}
.btn.light {
    color: #f60;
    text-shadow: none;
    background-color: #f3f3f3;
    font-size: 16px;
}

.edit-name {
    display: inline-block;
    padding-right: 15px;
    width: 175px;
    height: 30px;
    vertical-align: middle;
    text-align: right;
    font-size: 16px;
}
.edit-value{
    width: 218px;
    display: inline-block;
}
.edit-value input{
    padding: 0;
    width: 205px;
    border-radius: 0;
    height: 28px;
    border: 1px solid #ccc;
    background-color: #fafcfd;
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
}
.edit-value-two select, .edit-value select, .edit-value-double{
    display: inline-block;
    height: 30px;
    border-radius: 0;
    padding-right: 10px;
}
.edit-value select, .edit-value-double{
    padding-left: 0;
}
.edit-value-two select{
    padding-left: 10px;
}
.edit-value select{
    width: 205px !important;
}
.edit-value-two select{
    width: 107px !important;
}
.edit-value-one select,
.edit-value-double select {
    width: 218px !important;
}
.edit-value-double{
    width: 455px !important;
}
.edit-value-double select {
    display: inline-block;
    margin-right: 5px;
}
.edit-error{
    width: 285px;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    margin-top: 5px;
}
.edit-phone{
    width: 242px !important;
    padding: 0;
}
.edit-country{
    width: 205px !important;
    padding: 0;
}
.edit-form form{
    margin: 0;
}
.orange-asterix{
    font-size: 20px;
    vertical-align: bottom;
}
.required-txt{
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 20px;
}
.message-box {
    display: inline-block;
    float: right;
    width: 253px;
    height: 400px;
    background-color: #e8f0f7;
}
.loading-medium-tr {
    margin-top: 2px;
    width: 30px;
    height: 30px;
    background-image: url('../img/icon-loading-medium-tr.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.modal-ssh {
    margin-left: -200px;
    width: 410px;
}
.control-group-ssh {
    margin-bottom: 0px;
}
textarea.ssharea {
    margin-bottom: 0px;
}
.modal-footer-ssh {
    height: 32px;
}
.modal-footer-ssh .btn {
    margin-left: 5px;
}
.first-block{
    width: 725px;
    display: inline-block;
    float: left;
}
.billing-promo {
    float: left;
    padding-left: 27px;
}
.billing-promo iframe {
    width: 253px;
    height: 400px;
    border: none;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    display: inline-block;
    padding-right: 2px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Glyphicons Halflings';
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-question-sign:before {
    content: "\e085";
}
.glyphicon-info-sign:before {
    content: "\e086";
}
.glyphicon-warning-sign:before {
    content: "\e107";
}
i.glyphicon-info-sign,
i.glyphicon-warning-sign {
    padding-right: 7px;
}
i.glyphicon-info-sign,
i.glyphicon-warning-sign,
i.glyphicon-question-sign {
    height: 16px;
    vertical-align: middle;
}
select {
    overflow: hidden;
    padding: 0 20px 0 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #fafcfd url(../img/select-arrow.png) no-repeat right;
    /*Hack for hide button in FireFox*/
    text-indent: 0.01px;
    text-overflow: "";
    /*End*/
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none !important;
    appearance: none;
}
select option{
    background: white;
}
@-moz-document url-prefix() {
    select {
        padding: 3px 20px 0 10px;
    }
}
select::-ms-expand {
    display: none;
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child, .add-on{
    width: 50px;
    border-radius: 0;
    float: left;
    text-shadow: none;
    font-size: 16px;
    color: #555555;
}
#phone{
    width: 150px;
    font-size: 16px;
}
.hide {
    display: none !important;
}
.upload-key-label {
    margin-bottom: 0;
    padding: 7px 0;
    text-transform: capitalize;
}
label.control-label {
    cursor: text;
}
.modal-footer-text {
    display: inline-block;
    padding: 0 10px;
}
.effect-orange-button:not([disabled="disabled"]):hover {
    background-color: #f60 !important;
    color: white !important;
    text-decoration: none;
}
.error {
    color: #f60;
}
