<div class="container-fluid" data-ng-controller="Firewall.IndexController">
    <div class="container">
        <select class="pull-right" data-ng-model="datacenter" data-ng-options="datacenter as datacenter for (datacenter, rules) in rulesByDatacenter"></select>
        <h1 class="pull-left">Firewall rules for {{datacenter}}</h1>
        <div class="clearfix"></div>

        <div class="item header row-fluid">

            <span class="span3 text-mediume">
                <span class="pull-left" data-translate>From</span>
            </span>

            <span class="span3 text-medium">
                <span class="pull-left" data-translate>To</span>
            </span>

            <span class="span1 text-medium sortable"
                  data-ng-click="sortBy('action')"
                  data-ng-switch on="sortIcon.action">
                <span class="pull-left" data-translate>Action</span>
                <i class="icon-arrow-up" data-ng-switch-when="up"></i>
                <i class="icon-arrow-down" data-ng-switch-when="down"></i>
            </span>

            <span class="span1 text-medium" data-translate>Protocol</span>

            <span class="span1 text-medium sortable state-sortable-header"
                  data-ng-click="sortBy('state')"
                  data-ng-switch on="sortIcon.status">
                <span class="pull-left" data-translate>Enabled</span>
                <i class="icon-arrow-up" data-ng-switch-when="up"></i>
                <i class="icon-arrow-down" data-ng-switch-when="down"></i>
            </span>
            <span class="span1 text-medium">
                <span class="pull-left" data-translate></span>
            </span>
            <span class="span1 text-medium">
                <span class="pull-left" data-translate></span>
            </span>
        </div>


        <div data-ng-repeat="rule in rules" class="item row-fluid">
            <span class="span3 text-medium">
                <span data-ng-show="rule.parsed.from.length">
                    <span data-ng-repeat="from in rule.parsed.from">{{from|targetInfo}}<br/></span>
                </span>
            </span>
            <span class="span3 text-medium">
                <span data-ng-show="rule.parsed.to.length">
                    <span data-ng-repeat="to in rule.parsed.to">{{to|targetInfo}}<br/></span>
                </span>
            </span>
            <span class="span1 text-medium">{{rule.parsed.action}}</span>
            <span class="span1 text-medium">
                {{rule.parsed.protocol.name}} <br/>
                targets: <br/><span data-ng-repeat="target in rule.parsed.protocol.targets">{{target}}<br/></span>
            </span>
            <span class="span1 text-medium">{{rule.enabled}}</span>
            <span class="span1 text-medium pointer" data-ng-click="editRule(rule)">Edit</span>
            <span class="span1 text-medium pointer" data-ng-click="deleteRule(rule)">Delete</span>
        </div>

        <div data-ng-model="data">
            {{data}}
            <h3>{{data.uuid && 'Edit rule '+ data.uuid || 'Create New Rule' }}</h3>
            <div class="item row-fluid">
                <h4>From</h4><hr/>
                <div>
                    <span class="span10 text-medium">
                        <span data-ng-show="data.parsed.from.length">
                            <span data-ng-repeat="from in data.parsed.from">
                                {{from|targetInfo}} <span data-ng-hide="isAny(from)" class="pointer" data-ng-click="removeFrom($index)">[ x ]</span>
                                <br/>
                            </span>
                        </span>

                        <input type="hidden" id="fromSelect" />
                    </span>
                    <span class="span10 text-medium">
                        <form name="fromForm">
                            <span data-ng-switch="current.from.type">
                                    <span data-ng-switch-when="wildcard">
                                        <!--<button class="pointer" data-ng-click="addFrom()" data-ng-disabled="fromForm.$invalid">USE ANY</button>-->
                                    </span>
                                    <span data-ng-switch-when="tag">
                                        <span>Tag name: </span><input data-ng-model="current.from.text" /><br/>
                                        <span data-ng-show="current.from.text">Tag value (optional): <input data-ng-model="current.from.value" /></span>
                                        <button class="pointer" data-ng-click="addFrom()" data-ng-disabled="fromForm.$invalid || fromForm.$pristine">ADD</button>
                                    </span>
                                    <span data-ng-switch-default>
                                        <!-- due to the nature of directives, we need another switch here -->
                                        {{current.from.type}}:
                                        <span data-ng-switch="current.from.type">
                                            <span data-ng-switch-when="subnet">
                                                <input name="fromValue" data-ng-model="current.from.text" data-ip/>
                                            </span>
                                            <span data-ng-switch-when="ip">
                                                <input name="fromValue" data-ng-model="current.from.text" data-ip/>
                                            </span>
                                            <span data-ng-switch-default>
                                                <input name="fromValue" data-ng-model="current.from.text" /><br/>
                                            </span>
                                            <br/>
                                        </span>
                                        <!-- directives switch end -->
                                        <button class="pointer" data-ng-click="addFrom()" data-ng-disabled="fromForm.$invalid || fromForm.$pristine">ADD</button>
                                    </span>
                            </span>
                        </form>
                    </span>
                    </span>
                </div>
                <div class="clearfix"></div><hr/>
                <h4>To</h4><hr/>
                <div>
                    <span class="span10 text-medium">

                        <span data-ng-show="data.parsed.to.length">
                            <span data-ng-repeat="to in data.parsed.to">
                                {{to|targetInfo}} <span data-ng-hide="isAny(to)" class="pointer" data-ng-click="removeTo($index)">[ x ]</span>
                                <br/>
                            </span>
                        </span>

                        <input type="hidden" id="toSelect" />
                    </span>
                    <span class="span10 text-medium">
                        <form name="toForm">
                            <span data-ng-switch="current.to.type">
                                    <span data-ng-switch-when="wildcard"></span>
                                    <span data-ng-switch-when="tag">
                                        <span>Tag name: </span><input data-ng-model="current.to.text" /><br/>
                                        <span data-ng-show="current.to.text">Tag value (optional): <input data-ng-model="current.to.value" /></span>
                                        <button class="pointer" data-ng-click="addTo()" data-ng-disabled="toForm.$invalid || toForm.$pristine">ADD</button>
                                    </span>
                                    <span data-ng-switch-default>
                                        <!-- due to the nature of directives, we need another switch here -->
                                        {{current.to.type}}:
                                        <span data-ng-switch="current.to.type">
                                            <span data-ng-switch-when="subnet">
                                                <input name="toValue" data-ng-model="current.to.text" data-ip/>
                                            </span>
                                            <span data-ng-switch-when="ip">
                                                <input name="toValue" data-ng-model="current.to.text" data-ip/>
                                            </span>
                                            <span data-ng-switch-default>
                                                <input name="toValue" data-ng-model="current.to.text" /><br/>
                                            </span>
                                            <br/>
                                        </span>
                                        <!-- directives switch end -->
                                        <button class="pointer" data-ng-click="addTo()" data-ng-disabled="toForm.$invalid || toForm.$pristine">ADD</button>
                                    </span>
                            </span>
                        </form>
                    </span>
                    </span>
                </div>
                <div class="clearfix"></div><hr/>
                <h4>Action</h4><hr/>
                <div>
                    <span class="span10 text-medium"><select data-ng-model="data.parsed.action" data-ng-options="action.value as action.title for (key, action) in actions"></select></span>

                </div>
                <div class="clearfix"></div><hr/>
                <h4>Protocol</h4><hr/>
                <div>
                    <span class="span10 text-medium">
                    <select data-ng-model="data.parsed.protocol.name" data-ng-options="protocol.value as protocol.title for (key, protocol) in protocols"></select><br/>
                    <span data-ng-show="data.parsed.protocol.name && data.parsed.protocol.name != 'icmp'">
                        ports: <br/><span data-ng-repeat="target in data.parsed.protocol.targets">{{target}}<br/></span>
                        <input data-ng-model="current.port" /><br/>
                        <span class="pointer" data-ng-click="addPort()">ADD</span>
                    </span>
                </span>
                </div>
                <div class="clearfix"></div><hr/>
                <h4>Status</h4><hr/>
                <div>
                    <span class="span10 text-medium">
                    <select data-ng-model="data.enabled" data-ng-options="status.value as status.title for (key, status) in states"></select>
                </span>
                </div>

                <div class="clearfix"></div><hr/>
                <span class="pointer" data-ng-hide="data.uuid" data-ng-click="createRule()">Create Rule</span>
                <span class="pointer" data-ng-show="data.uuid" data-ng-click="updateRule()">Update Rule</span>
            </div>
            <span class="pointer" data-ng-show="data.uuid" data-ng-click="resetData()">Create new</span>
        </div>
    </div>
</div>

