.load-balancers{
    float: right;
    margin-top: -65px;
    margin-right: 18px;
    /*margin-top: 50px;*/
    /*margin-left: 40%;*/
    /*margin-right: 45%;*/
    /*margin-bottom: 50px;*/
    /*width: 230px;*/
}

.lb-label{
    padding: 5px 0 0 0;
    line-height: 20px;
}

.protocol-input input{
    width: 60px;
}
.url-input{
    width: 80px;
    margin-left: -17px;
}
.port-input > input{
    width: 35px !important;
    margin: 10px;
}
.clb_input{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.name-input input{
    width: 277px;
}
.group-checkable{
    margin: 0;
}
.lb-edit{
    border: 2px solid #ececec;
    padding: 15px;
    margin-bottom: 40px;
}
.lb-line{
    border-top: 2px solid #ececec;
    width: 355px;
    padding-bottom: 15px;
}
.logo_riverbed{
    background-image: url("../img/logo_riverbed.png");
    width: 133px;
    height: 58px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 14px;
    margin-top: -30px;
}
.img1{
    background-image: url("../img/img1.png");
    width: 272px;
    height: 176px;
    background-repeat: no-repeat;
    background-position: 0 20px;
}
.img2{
    background-image: url("../img/img2.png");
    width: 272px;
    height: 176px;
    background-repeat: no-repeat;
    background-position: 0 20px;
    margin-left: 120px;
}
.license-eula-logo{
    background-image: url("../img/logo_riverbed.png");
    width: 133px;
    height: 58px;
    background-repeat: no-repeat;
    /*background-size: 60%;*/
    /*background-position: 14px;*/
    /*margin-top: -30px;*/
}
.license-eula{
    width: 900px;
    height: 400px;
    overflow: auto;
    border: 1px solid #D4D7D8;
    padding: 10px;
}
.license-eula p{
    font-size: 12px;
}
.accept-checkbox input{
    margin-top: -3px;
    margin-right: 10px;
}
.accept-checkbox{
    padding-top: 20px;
    padding-bottom: 40px;
}
.dd_margin{
    margin-left: -10px;
    margin-right: 10px;
}
.dd_btn_small{
    min-width: 45px;
}
.dd_btn{
    min-width: 70px;
}