<div class="modal-dialog modal-select-tag">
    <div class="modal-content">
        <div tabindex="-1" data-backdrop="static" data-focus-on="button">
            <div class="modal-header message">
                <h5><i class="glyphicon glyphicon-info-sign"></i><b>Clone Action</b></h5>
            </div>
            <div class="modal-body">
                <form name="cloneForm" class="cloneForm" data-ng-show="hosts.length && !loading">
                    <div class="form-group">
                        <span class="edit-label edit-host">Docker Host</span>
                        <span class="edit-value">
                            <ui-select data-ng-model="hostIp"
                                       append-to-body="true"
                                       theme="select2"
                                       search-enabled="false"
                                       on-select="changeHost($select.selected)"
                                       class="host-select">
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices prevent-body-scroll repeat="host.primaryIp as host in hosts">
                                    {{host.name}}
                                </ui-select-choices>
                            </ui-select>
                        </span>
                    </div>
                    <div class="form-group"><div class="error" data-ng-show="hosts.length && !isAllowed">{{warning}}</div></div>
                    <div class="form-group" data-ng-show="hasNameField">
                        <span class="edit-containername edit-label">Container Name</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="name"
                                   data-ng-model="containerName"
                                   data-ng-pattern="/^[a-zA-Z0-9\.\_\-]*$/"
                                    />
                        </span>
                        <div class="form-group" data-ng-show="isFormSubmited || cloneForm.name.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="cloneForm.name.$error.pattern">
                                Name error: only [a-zA-Z0-9_.-] are allowed
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group" data-ng-show="!loading && !hosts.length">There are no available hosts for clone action.</div>
                <div class="loading-medium full-width" data-ng-hide="!loading"></div>
            </div>
            <div class="modal-footer">
                <button data-ng-click="close()" data-button-focus="false" data-label="Cancel" class="btn grey">Cancel</button>
                <button data-ng-click="clone()" data-button-focus="true" class="btn orange">Clone</button>
            </div>
        </div>
    </div>
</div>