<div class="modal-dialog">
    <div class="modal-content">
        <div tabindex="-1" data-backdrop="static" data-focus-on="button">
            <div class="modal-header message">
                <h5><i class="glyphicon glyphicon-info-sign"></i><b>Connect to Docker Registry</b></h5>
            </div>
            <div class="modal-body registry-form">
                <form name="newRegistryForm">
                    <div class="form-group clearfix">
                        <label class="control-label">API Version *</label>
                        <input name="api" type="text" data-ng-model="registry.api" data-ng-disabled="loadingRegistry" class="long-input" required/>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label">Hostname *</label>
                        <input name="host" type="text" data-ng-model="registry.host" data-ng-disabled="loadingRegistry" class="long-input" required/>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label">Port *</label>
                        <input name="port" type="text" data-ng-model="registry.port" data-ng-disabled="loadingRegistry" class="long-input" required/>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label">Username</label>
                        <input name="username" type="text" data-ng-model="registry.username" data-ng-disabled="loadingRegistry" class="long-input"/>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label">Password</label>
                        <input name="password" type="password" data-ng-model="registry.password" data-ng-disabled="loadingRegistry" class="long-input"/>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <span class="loading-medium-tr pull-left" data-ng-show="loadingRegistry"></span>
                <p class="pull-left error" data-ng-show="connectError">Failed to connect: {{errorText || ''}}</p>
                <button data-ng-click="close()" data-button-focus="false" data-label="Cancel" class="btn grey-new effect-orange-button">Cancel</button>
                <button data-ng-click="connect()" data-button-focus="true" data-label="Connect" class="btn orange" data-ng-disabled="newRegistryForm.$invalid || loadingRegistry">Connect</button>
            </div>
        </div>
    </div>
</div>
