<div data-ng-controller="Docker.ContainerCreateController">
    <div class="container-fluid container-position container-min-width">
        <ul class="breadcrumb">
            <li><a href="#!/docker">Docker</a></li><!--
        --><li><a href="#!/docker/{{type | lowercase}}">Docker {{type}}</a></li>
        </ul>
        <div class="page-header row">
            <h3 class="page-title">{{title}}</h3>
            <div class="beta-sticker">beta</div>
        </div>
        <div class="loading-large col-md-12" data-ng-show="loading"></div>
        <div class="row" data-ng-hide="loading">
            <div ng-hide="hosts.length">
                Docker hosts are not available, click to <a class="orange" href="#!/docker">Create Docker Host</a>
            </div>
            <div ng-show="hosts.length" class="edit-form">
                <form name="containerCreateForm">
                    <div class="form-group">
                        <span class="orange-asterix edit-image edit-label">Docker Host</span>
                        <span class="edit-value">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '457px'}" id="hostSelect" data-ng-model="ip" ng-change="changeHost()" data-ng-disabled="loadingHostDetails">
                                <option data-ng-repeat="host in hosts" value="{{host.primaryIp}}">
                                    {{host.name}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div data-ng-hide="createImage" class="form-group">
                        <span class="orange-asterix edit-image edit-label">Image</span>
                        <span class="edit-value">
                            <select data-ng-disabled="!images.length" ui-select2="{minimumResultsForSearch: -1, width: '457px'}" id="imageSelect" data-ng-model="container.Image" required>
                                <option data-ng-repeat="image in images" value="{{image.name}}">
                                    {{image.name}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="orange-asterix edit-image edit-label">Container</span>
                        <span class="edit-value">
                            <select data-ng-disabled="!containers.length" ui-select2="{minimumResultsForSearch: -1, width: '457px'}" id="containerSelect" data-ng-model="container.container" data-ng-change="changeContainer()" required>
                                <option data-ng-repeat="container in containers" value="{{container.Id}}">
                                    {{container.NamesStr}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div data-ng-hide="createImage" class="form-group">
                        <span class="edit-containername edit-label">Container Name</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="name"
                                   data-ng-model="container.name"
                                   data-ng-pattern="/^[a-zA-Z0-9\.\_\-]*$/"
                                    />
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.name.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.name.$error.pattern">
                                Name error: only [a-zA-Z0-9_.-] are allowed
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="edit-env edit-label">Environment Variables</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="env"
                                   data-ng-model="environment"
                                    />
                        </span>
                        <div class="notation">Format: "VAR=value". Use space as delimiter.</div>
                    </div>
                    <div data-ng-hide="createImage" class="form-group">
                        <span class="edit-ports edit-label">Container Ports</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="ports"
                                   data-ng-model="ports"
                                   data-ng-pattern="/^{{exposedPattern}}(\s{{exposedPattern}})*$/"
                                    />
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.ports.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.ports.$error.pattern">
                                Must contain numbers and signs like '.', ':' and ' '. Max value for port is 65535.
                            </div>
                        </div>
                        <div class="notation">Use space as delimiter. Publish a container's port to the host
                            format: ip:hostPort:containerPort | ip::containerPort | hostPort:containerPort | containerPort
                        </div>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-ports edit-label">Exposed Ports</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="exposedPorts"
                                   data-ng-model="exposedPorts"
                                   data-ng-pattern="/^{{portPattern}}(\s{{portPattern}})*$/"
                                    />
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.exposedPorts.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.exposedPorts.$error.pattern">
                                Must contain only numbers and ' '. Max value for port is 65535.
                            </div>
                        </div>
                        <div class="notation">Use space as delimiter.</div>
                    </div>
                    <div data-ng-hide="createImage" class="form-group">
                        <span class="edit-dns edit-label">DNS</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="dns"
                                   data-ng-model="dns"
                                   data-ng-pattern="/^((\d{1,3}\.){3}(\d{1,3})(\s{1})?)*$/"
                                    />
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.dns.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.dns.$error.pattern">
                                Must contain numbers and signs like '.' and ' '.
                            </div>
                        </div>
                        <div class="notation">Set custom DNS servers. Use space as delimiter.</div>
                    </div>
                     <div data-ng-hide="createImage" class="form-group">
                        <span class="edit-dns-search edit-label">DNS Search</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="dnsSearch"
                                   data-ng-model="dnsSearch"
                                   data-ng-pattern="/^((\d{1,3}\.){3}(\d{1,3})(\s{1})?)*$/"
                                    />
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.dnsSearch.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.dnsSearch.$error.pattern">
                                Must contain numbers and signs like '.' and ' '.
                            </div>
                        </div>
                        <div class="notation">Set custom DNS search domains. Use space as delimiter.</div>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-tag edit-label">Tag</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="tag"
                                   data-ng-model="container.tag"
                                    />
                        </span>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-repo edit-label">Repository</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="repo"
                                   data-ng-model="container.repo"
                                    />
                        </span>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-message edit-label">Message</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="message"
                                   data-ng-model="container.m"
                                    />
                        </span>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-author edit-label">Author</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="author"
                                   data-ng-model="container.author"
                                    />
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-entrypoint edit-label">Entrypoint</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="entrypoint"
                                   data-ng-model="entrypoint"
                                   />
                        </span>
                        <div class="notation">Overwrite the default ENTRYPOINT of the image. Use space as delimiter.</div>
                    </div>
                    <div class="form-group">
                        <span class="edit-commands edit-label">Command</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="commands"
                                   data-ng-model="commands"
                                    />
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-memory edit-label">Memory</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="memory"
                                   class="digit-input"
                                   data-ng-model="memory"
                                   data-ng-pattern="/^(\d)*(\.\d{1,2})?$/"
                            /> Mb
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.memory.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.memory.$error.pattern">
                                Must contain only digits and sign '.' and one or two digits after it.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="edit-memoryswap edit-label">MemorySwap</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="memoryswap"
                                   class="digit-input"
                                   data-ng-model="memorySwap"
                                   data-ng-pattern="/^(\d)*(\.\d{1,2})?$/"
                            /> Mb
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.memoryswap.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.memoryswap.$error.pattern">
                                Must contain only digits and sign '.' and one or two digits after it.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="edit-cpushares edit-label">CpuShares</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="cpushares"
                                   class="digit-input"
                                   data-ng-model="container.CpuShares"
                                   data-ng-pattern="/^\d+$/"
                            />
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.cpushares.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.cpushares.$error.pattern">
                                Must contain only digits.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="edit-workingdir edit-label">WorkingDir</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="workingdir"
                                   data-ng-model="container.WorkingDir"
                                    />
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-volumes edit-label">Volumes</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="volumes"
                                   data-ng-model="volumes"
                                    />
                        </span>
                        <div class="notation">Use space as delimiter. Mountpoint paths (strings) inside the container<br />
                            <strong>container_path</strong>: to create a new volume for the container,<br />
                            <strong>host_path:container_path</strong>: to bind-mount a host path into the container,<br />
                            <strong>host_path:container_path:&#60ro|rw&#62</strong>: to make the bind-mount &#60read-only|read-write&#62 inside the container.</div>
                    </div>
                    <div data-ng-hide="createImage" class="form-group">
                        <span class="edit-volumesfrom edit-label">Volumes From</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="volumesfrom"
                                   data-ng-model="volumesFrom"
                                    />
                        </span>
                        <div class="notation">A list of volumes to inherit from another container. Specified in the form &#60container name&#62[:&#60ro|rw&#62]</div>
                    </div>
                    <div  data-ng-hide="createImage" class="form-group">
                        <span class="edit-network edit-label">Network Mode</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="network"
                                   data-ng-model="networkMode"
                                    />
                        </span>
                        <div class="notation">Set the Network mode for the container<br />
                            <strong>bridge</strong>: creates a new network stack for the container on the docker bridge<br />
                            <strong>none</strong>: no networking for this container<br />
                            <strong>container:&#60name|id&#62</strong>: reuses another container network stack<br />
                            <strong>host</strong>: use the host network stack inside the container. Note: the host mode gives the container full access to local system services such as D-bus and is therefore considered insecure.
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="edit-hostname edit-label">Hostname</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="hostname"
                                   data-ng-model="container.Hostname"
                                    />
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">AttachStdin</span>
                        <span class="edit-value">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '457px'}" id="attachStdinSelect" data-ng-model="container.AttachStdin">
                                <option data-ng-repeat="attachStdOption in selectOptions" value="{{attachStdOption.value}}">
                                    {{attachStdOption.text}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">AttachStdout</span>
                        <span class="edit-value">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '457px'}" id="attachStdoutSelect" data-ng-model="container.AttachStdout">
                                <option data-ng-repeat="attachStdOption in selectOptions" value="{{attachStdOption.value}}">
                                    {{attachStdOption.text}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">AttachStderr</span>
                        <span class="edit-value">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '457px'}" id="attachStderrSelect" data-ng-model="container.AttachStderr">
                                <option data-ng-repeat="attachStdOption in selectOptions" value="{{attachStdOption.value}}">
                                    {{attachStdOption.text}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">ContainerIDFile</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="containerIDFile"
                                   data-ng-model="containerIDFile"
                                    />
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">Cpuset</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="cpuset"
                                   data-ng-pattern="/^\d+((\,|\-)\d+)*$/"
                                   data-ng-model="container.Cpuset"
                                    />
                        </span>
                        <div class="notation">Set CPUs in which to allow execution (0-3, 0,1)</div>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">OpenStdin</span>
                        <span class="edit-value">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '457px'}" id="openStdinSelect" data-ng-model="container.OpenStdin">
                                <option data-ng-repeat="openStdinOption in selectOptions" value="{{openStdinOption.value}}">
                                    {{openStdinOption.text}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">Links</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="containerLinks"
                                   data-ng-model="containerLinks"
                                    />
                        </span>
                        <div class="notation">Add link to another container (name:alias)</div>
                    </div>
                    <div class="form-group">
                        <span class="edit-lxc-conf edit-label">LxcConf</span>
                        <span class="edit-value">
                             <textarea type="text"
                                       name="lxcConf"
                                       data-ng-model="lxcConf"
                                       class="value-width"
                                       data-ng-pattern="/^(\w+(\.\w+)+\=\w+)(\n\w+(\.\w+)+\=\w+)*$/"
                                       rows="4"></textarea>
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.lxcConf.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.lxcConf.$error.pattern">
                                Must contain '.' and '=', generally starts with 'lxc.'
                            </div>
                        </div>
                        <div class="notation">Add custom lxc options: lxc.network.type = veth. Use new line as delimiter.</div>
                    </div>
                    <div class="form-group">
                        <span class="edit-capadd edit-label">CapAdd</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="capadd"
                                   data-ng-model="capAdd"
                                    />
                        </span>
                        <div class="notation">Add Linux capabilities. Use space as delimiter.</div>
                    </div>
                    <div class="form-group">
                        <span class="edit-capdrop edit-label">CapDrop</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="capdrop"
                                   data-ng-model="capDrop"
                                    />
                        </span>
                        <div class="notation">Drop Linux capabilities. Use space as delimiter.</div>
                    </div>
                    <div class="form-group">
                        <span class="edit-restartpolicy edit-label">Restart Policy</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="restartpolicy"
                                   data-ng-model="restartPolicy"
                                    />
                        </span>
                        <div class="notation">Restart policy to apply when a container exits (no, on-failure[:max-retry], always)</div>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">PublishAllPorts</span>
                        <span class="edit-value">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '457px'}" id="publishAllPortsSelect" data-ng-model="publishAllPorts">
                                <option data-ng-repeat="publishAllPortsOption in selectOptions" value="{{publishAllPortsOption.value}}">
                                    {{publishAllPortsOption.text}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">Privileged</span>
                        <span class="edit-value">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '457px'}" id="privilegedSelect" data-ng-model="privileged">
                                <option data-ng-repeat="privilegedOption in selectOptions" value="{{privilegedOption.value}}">
                                    {{privilegedOption.text}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">User</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="user"
                                   data-ng-model="container.User"
                                    />
                        </span>
                    </div>

                    <hr data-ng-show="!loading" />
                    <div class="row btn-bottom-block" data-ng-show="!loading">
                        <span class="orange-asterix-left">required fields</span>
                        <div class="pull-right">
                            <button class="btn light effect-orange-button" data-ng-disabled="creating" data-ng-click="cancel()">Cancel</button>
                            <button class="btn orange effect-orange-button" data-ng-disabled="containerCreateForm.$invalid || creating" data-ng-click="create()">Create</button>
                        </div>
                        <div class="pull-right loading-medium-transparent" data-ng-show="creating"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>