<div data-ng-controller="Docker.ContainerCreateController">
    <div class="container-fluid container-position container-min-width">
        <ul class="breadcrumb">
            <li><a href="#!/docker">Docker</a></li><!--
        --><li><a href="#!/docker/{{type | lowercase}}">Docker {{type}}</a></li>
        </ul>
        <div class="page-header row">
            <h3 class="page-title">{{title}}</h3>
            <div class="preview-sticker">Preview</div>
        </div>
        <div class="loading-large col-md-12" data-ng-show="loading"></div>
        <div class="row" data-ng-hide="loading">
            <div ng-hide="hosts.length">
                Docker hosts are not available, click to <a class="orange" href="#!/docker">Create Docker Host</a>
            </div>
            <div ng-show="hosts.length" class="edit-form">
                <form name="containerCreateForm" class="container-create-form">
                    <div data-ng-hide="createImage" class="form-group">
                        <div class="group-label">Container Name</div>
                        <div class="edit-value">
                            <input type="text"
                                   name="name"
                                   data-ng-model="container.name"
                                   data-ng-pattern="/^[a-zA-Z0-9\.\_\-]*$/"
                                   data-auto-focus
                                   ng-focus="setNotation('NAME')"
                                    />
                         </div>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.name.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.name.$error.pattern">
                                Name error: only [a-zA-Z0-9_.-] are allowed
                            </div>
                        </div>
                    </div>
                    <div data-ng-hide="createImage" class="form-group">
                        <div class="group-label">Datacenter &amp; Host</div>
                        <div class="edit-value">
                            <div class="datacenter-info-wrapper dropdown-select" ng-click="setNotation('HOST')">
                                <div class="datacenter-info datacenter-name">{{host.datacenter}} / {{host.name}}</div>
                                <div class="datacenter-info datacenter-statistic">
                                     <div data-ng-hide="host.stats || host.cadvisorUnavailable">
                                        <div class="loading-medium-transparent"></div>
                                    </div>
                                    <div data-ng-show="host.stats || host.cadvisorUnavailable">
                                        <div data-ng-hide="host.isSdc" class="ubuntu-logo"></div>
                                        <div class="progress-wrapper no-cadvisor" data-ng-show="host.cadvisorUnavailable">
                                            <div data-ng-hide="host.isSdc">cAdvisor is unavailable</div>
                                        </div>
                                        <div class="progress-wrapper" data-ng-hide="host.cadvisorUnavailable || host.isSdc">
                                            <div class="title">CPU</div>
                                            <div class="progress" title="{{host.cpuLoad}}">
                                                <div class="progress-bar" ng-style="{width: host.cpuLoad}"></div>
                                            </div>
                                            <div class="title">MEM</div>
                                            <div class="progress" title="{{host.memoryLoad}}">
                                                <div class="progress-bar" ng-style="{width: host.memoryLoad}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="datacenter-info datacenter-containers" data-ng-show="containers">{{containers.length}}</div>
                                <ul class="dropdown-menu">
                                    <li data-ng-repeat="host in hosts">
                                        <div ng-click="changeHost(host)">{{host.datacenter}} / {{host.name}}</div>
                                    </li>
                                </ul>
                                <a href="javascript:void(0)" class="arrow dropdown-toggle" data-toggle="dropdown"></a>
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-image edit-label">DC &amp; Host</span>
                        <span class="edit-value">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '100%'}" id="hostSelect" data-ng-model="ip" ng-change="changeHost()" data-ng-disabled="loadingHostDetails">
                                <option data-ng-repeat="host in hosts" value="{{host.primaryIp}}">
                                    {{host.datacenter}} / {{host.name}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div data-ng-if="createImage" class="form-group">
                        <span class="edit-image edit-label">Container</span>
                        <span class="edit-value">
                            <select data-ng-disabled="!containers.length" ui-select2="{minimumResultsForSearch: -1, width: '100%'}" id="containerSelect" data-ng-model="container.container" data-ng-change="changeContainer()" required>
                                <option data-ng-repeat="container in containers" value="{{container.Id}}">
                                    {{container.NamesStr}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <div data-ng-show="createImage" class="page-header row">
                        <h3 class="page-title docker-options-title">Docker Options</h3>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-tag edit-label">Tag</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="tag"
                                   data-ng-model="container.tag"
                                   data-ng-pattern="/^[A-Za-z0-9_\.\-]{2,30}$/"
                                   data-ng-focus="setNotation('TAG')"
                                   data-auto-focus/>
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.tag.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.tag.$error.pattern">
                                Tag error: only [A-Za-z0-9_.-] are allowed, minimum 2, maximum 30 in length
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-repo edit-label">Repository</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="repo"
                                   data-ng-model="container.repo"
                                   data-ng-pattern="/^[a-z0-9_]{4,30}$/"
                                   data-ng-focus="setNotation('REPOSITORY')" />
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.repo.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.repo.$error.pattern">
                                Namespace error: only [a-z0-9_] are allowed, size between 4 and 30
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-ports edit-label">Exposed Ports</span>
                        <span class="edit-value">
                            <tags-input name="exposedPorts" ng-model="input.exposedPorts" data-on-focus-fn="setNotation('EXPOSED_PORTS')" regexp-validate="^{{portPattern}}$"></tags-input>
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.exposedPorts.$error.pattern">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.exposedPorts.$error.pattern">
                                Must contain only numbers and ' '. Max value for port is 65535.
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-message edit-label">Message</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="message"
                                   data-ng-model="container.m"
                                   data-ng-focus="setNotation('MESSAGE')" />
                        </span>
                    </div>
                    <div data-ng-show="createImage" class="form-group">
                        <span class="edit-author edit-label">Author</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="author"
                                   data-ng-model="container.author"
                                   data-ng-focus="setNotation('AUTHOR')" />
                        </span>
                    </div>
                    <div data-ng-hide="createImage" class="form-group">
                        <div class="group-label">Image</div>
                        <div class="edit-value">
                            <select data-ng-disabled="!images.length" ui-select2="{minimumResultsForSearch: 1, width: '100%'}" id="image" data-ng-model="container.Image" on-opening="setNotation('IMAGE')" required>
                                <option data-ng-repeat="image in images" value="{{image.name}}">
                                    {{image.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div data-ng-hide="createImage || !host" class="form-group">
                        <div class="group-label">Size / Package</div>
                        <div data-ng-show="host.isSdc">
                            <div data-package-select data-name="{{packagePrefix}}" class="package-select" data-package="package" data-memory="{{input.Memory}}"></div>
                        </div>
                        <div data-ng-if="!host.isSdc">
                            <div class="form-group">
                                <span class="edit-memory edit-label">Memory</span>
                                <span class="edit-value">
                                   <slider ng-model="input.Memory" min="0" max="{{host.memory}}" step="1" show-limit show-value data-measure="{{input.Memory > 0 && ' Mb' || ''}}" ng-mousedown="setNotation('MEMORY')"></slider>
                                </span>
                            </div>
                            <div class="form-group">
                                <span class="edit-memoreswap edit-label">MemorySwap</span>
                                <span class="edit-value">
                                   <slider ng-model="input.MemorySwap" min="{{input.Memory}}" max="{{host.memory * 2}}" step="1" show-limit show-value data-measure="{{input.MemorySwap > 0 && ' Mb' || ''}}" ng-mousedown="setNotation('MEMORY_SWAP')"></slider>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div data-ng-hide="createImage" class="group-label">Volumes</div>
                    <div data-ng-hide="createImage" data-ng-if="containers" class="form-group volume-section">
                        <span class="edit-label">From</span><!--
                            --><span class="edit-value">
                           <dropdown-select output="NamesStr" result="NamesStr" multiple on-focus="setNotation('VOLUMES_FROM')"
                                            data-preselected-items="container.HostConfig.VolumesFrom" data-dropdown-data="containers"></dropdown-select>
                        </span>
                    </div>
                    <div class="form-group volume-section" data-ng-if="!host.isSdc">
                        <span class="edit-label">Volumes</span><!--
                            --><span class="edit-value">
                            <dropdown-select multiple tags-available data-preselected-items="input.Volumes" on-focus="setNotation('VOLUMES')"></dropdown-select>
                        </span>
                    </div>
                    <div class="group-label">Runtime Configuration</div>
                    <div class="form-group">
                        <span class="edit-entrypoint edit-label">Entrypoint</span>
                        <span class="edit-value">
                              <input type="text"
                                     name="entrypoint"
                                     data-ng-model="input.Entrypoint"
                                     ng-focus="setNotation('ENTRYPOINT')"
                                      />
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-commands edit-label">Command</span>
                        <span class="edit-value">
                            <input type="text"
                                   name="commands"
                                   data-ng-model="input.Cmd"
                                   ng-focus="setNotation('CMD')"
                                    />
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-env edit-label">Env</span>
                        <span class="edit-value">
                            <tags-input ng-model="input.Env" data-on-focus-fn="setNotation('ENV')"></tags-input>
                        </span>
                    </div>
                    <div data-ng-hide="createImage" class="form-group">
                        <span class="edit-ports edit-label">Container Ports</span>
                        <span class="edit-value">
                            <tags-input name="ports" ng-model="input.PortsBinding" data-on-focus-fn="setNotation('PORTS')" regexp-validate="^{{exposedPattern}}$"></tags-input>
                        </span>
                        <div class="edit-error" data-ng-show="isFormSubmited || containerCreateForm.ports.$error.pattern">
                            <div class="error"
                                 data-translate
                                 data-ng-show="containerCreateForm.ports.$error.pattern">
                                Must contain numbers and signs like '.', ':' and ' '. Max value for port is 65535.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">Network</span>
                        <span class="edit-value restart-name">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '157px'}" id="network" data-ng-model="input.NetworkMode" on-opening="setNotation('NETWORK')">
                                <option data-ng-repeat="type in networkTypes" value="{{type}}">
                                    {{type}}
                                </option>
                            </select>
                        </span>
                        <span data-ng-show="input.NetworkMode == 'container'" class="max-restart-wrapper">
                            <span class="edit-value networkContainer">
                                <select ui-select2="{minimumResultsForSearch: -1, width: '318px'}" id="networkContainer" data-ng-model="input.networkContainer" on-opening="setNotation('NETWORK')">
                                    <option data-ng-repeat="container in containers" value="{{container.NamesStr}}">
                                        {{container.NamesStr}}
                                    </option>
                                </select>
                            </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="edit-label">Restart</span>
                        <span class="edit-value restart-name">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '157px'}" id="restartPolicy" data-ng-model="container.HostConfig.RestartPolicy.Name" on-opening="setNotation('RESTART_POLICY')">
                                <option data-ng-repeat="option in restartOptions" value="{{option}}">
                                    {{option}}
                                </option>
                            </select>
                        </span>
                        <span data-ng-show="container.HostConfig.RestartPolicy.Name == 'on-failure'" class="max-restart-wrapper">
                            <span class="max-restart edit-label">MAX</span>
                            <span class="edit-value max-retry-count">
                                <input type="text"
                                    name="MaximumRetryCount"
                                    value="5"
                                    data-ng-pattern="/^(\d)*$/"
                                    data-ng-model="container.HostConfig.RestartPolicy.MaximumRetryCount"
                                     />
                            </span>
                             <div class="maximum-retry-error" data-ng-show="isFormSubmited || containerCreateForm.MaximumRetryCount.$dirty">
                                 <div class="error"
                                      data-translate
                                      data-ng-show="containerCreateForm.MaximumRetryCount.$error.pattern">
                                     Must contain only digits.
                                 </div>
                             </div>
                        </span>
                    </div>
                    <div class="group-label">Misc</div>
                    <div class="form-group">
                        <span class="edit-label">Attach</span>
                        <div class="misc-checkboxes" data-ng-repeat="attach in attaches">
                            <div class="tooltip-hover" data-toggle="tooltip" data-html="true" data-original-title="{{tooltips['ATTACH_' + attach.toUpperCase()]}}" data-trigger="hover">
                                <input data-ng-model="container['Attach' + attach]" type="checkbox" />
                                <label class="attach-name checkbox-label" data-ng-click="container['Attach' + attach]=!container['Attach' + attach]">{{attach}}</label>
                            </div>
                        </div>
                        <span class="edit-label">Other</span>
                        <div class="misc-checkboxes">
                            <div class="tooltip-hover" data-toggle="tooltip" data-html="true" data-original-title="{{tooltips[isSdc && 'SDC_PUBLISH_ALL_PORTS' || 'PUBLISH_ALL_PORTS']}}" data-trigger="hover">
                                <input data-ng-model="container.HostConfig.PublishAllPorts" type="checkbox" />
                                <label class="attach-name checkbox-label" data-ng-click="container.HostConfig.PublishAllPorts=!container.HostConfig.PublishAllPorts">
                                    Publish All Ports
                                </label>
                            </div>
                        </div><!--
                        --><div class="misc-checkboxes">
                            <div class="tooltip-hover" data-toggle="tooltip" data-html="true" data-original-title="{{tooltips.PRIVILEGED}}" data-trigger="hover">
                                <input data-ng-model="container.HostConfig.Privileged" type="checkbox" />
                                <label class="attach-name checkbox-label" data-ng-click="container.HostConfig.Privileged=!container.HostConfig.Privileged">
                                    Privileged
                                </label>
                            </div>
                        </div><!--
                        --><div class="misc-checkboxes">
                            <div class="tooltip-hover" data-toggle="tooltip" data-html="true" data-original-title="{{tooltips.NETWORK_DISABLED}}" data-trigger="hover">
                                <input data-ng-model="container.NetworkDisabled" type="checkbox" />
                                <label class="attach-name checkbox-label" data-ng-click="container.NetworkDisabled=!container.NetworkDisabled">
                                    Network Disabled
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr data-ng-show="!loading" />
                    <div class="row btn-bottom-block" data-ng-show="!loading">
                        <div class="pull-right">
                            <button class="btn light effect-orange-button" data-ng-disabled="creating" data-ng-click="cancel()">Cancel</button>
                            <button class="btn orange effect-orange-button" data-ng-disabled="containerCreateForm.$invalid || creating" data-ng-click="create()">Start</button>
                        </div>
                        <div class="pull-right loading-medium-transparent" data-ng-show="creating"></div>
                    </div>
                </form>
                <div class="advanced-info pull-right" data-ng-bind-html="notation"></div>
            </div>
        </div>
    </div>
</div>