<div class="container-fluid container-position" data-ng-controller="Container.DetailsController">

    <ul class="breadcrumb">
        <li><a href="#!/docker">Docker</a></li><!--
     --><li><a href="#!/docker/containers">Containers</a></li><!--
     --><li><span>Container Details</span></li>
    </ul>
    <h3 class="page-title">{{container.name}}</h3>
    <div class="preview-sticker">Preview</div>
    <div class="loading-large col-md-12" data-ng-show="loading"></div>

    <div class="inl-table" data-ng-hide="loading">
        <div class="left-part">
            <tabs-selector data-ng-show="container.isSdc"
                           data-tabs="tabs"
                           data-active-tab="activeTab">
            </tabs-selector>

            <container-details data-ng-show="tabs[0] == activeTab"></container-details>
            <div data-ng-if="container.isSdc">
                <span data-ng-show="tabs[1] == activeTab">
                    <instance-details></instance-details>
                </span>
            </div>
        </div>
        <div class="right-part">
            <div class="details-btn-block">
                <span class="status label label-info label-machine-details pull-left"
                      data-ng-class="{'btn-success': container.state == 'running'}"
                      data-ng-show="container.state">
                    <span class="loading-small pull-left" data-ng-show="actionInProgress"></span>
                    <i class="glyphicon glyphicon-ok" data-ng-show="container.state == 'running' && !actionInProgress"></i>
                    <i class="warn_icon" data-ng-show="container.state == 'stopped' && !actionInProgress"></i>
                    <span data-translate>{{container.state}}</span>
                </span>

                <button data-ng-disabled="actionInProgress"
                        data-ng-show="container.state == 'stopped'"
                        data-ng-click="makeContainerAction('start')"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        data-original-title="Click here to start your container."
                        class="state btn orange font_size tooltip-hover btn-machine-ctrl">
                    <i class="icon-play"></i>
                    <p data-translate>Start</p>
                </button>

                <button data-ng-disabled="container.state != 'running' || actionInProgress"
                        data-ng-show="container.state != 'stopped'"
                        data-ng-click="makeContainerAction('stop')"
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        data-original-title="Click here to stop your container."
                        class="state btn orange font_size tooltip-hover btn-machine-ctrl">
                    <i class="stop-icon"></i>
                    <p data-translate>Stop</p>
                </button>

                <button data-ng-disabled="container.state == 'stopped' || actionInProgress"
                        data-ng-show="container.state != 'paused' && !container.isSdc"
                        data-ng-click="makeContainerAction('pause')"
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        data-original-title="Click here to pause your container."
                        class="state btn orange font_size tooltip-hover btn-machine-ctrl">
                    <i class="pause-icon"></i>
                    <p data-translate>Pause</p>
                </button>

                <button data-ng-disabled="container.state == 'stopped' || actionInProgress"
                        data-ng-show="container.state == 'paused'"
                        data-ng-click="makeContainerAction('unpause')"
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        data-original-title="Click here to unpause your container."
                        class="state btn orange font_size tooltip-hover btn-machine-ctrl">
                    <i class="icon-play"></i>
                    <p data-translate>Unpause</p>
                </button>

                <button data-ng-disabled="actionInProgress"
                        data-ng-click="makeContainerAction('remove')"
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        data-original-title="Click here to remove your container."
                        class="state btn orange font_size tooltip-hover btn-machine-ctrl">
                    <i class="delete-icon"></i>
                    <p data-translate>Remove</p>
                </button>
            </div>
            <div data-ng-if="container.state == 'running' && features.cloudAnalytics == 'enabled' && container.isSdc">
                <div data-ng-controller="cloudController" ng-init="createMachineDetailInstrumentations()">
                    <div class="detail-chart">
                        <div class="loading-small" data-ng-hide="cpuGraphs.length >= 0 && memGraphs.length >= 0"></div>
                        <graph data-ng-repeat="graph in cpuGraphs" options="graph"></graph>
                    </div>
                    <div class="detail-chart">
                        <graph data-ng-repeat="graph in memGraphs" options="graph"></graph>
                    </div>
                    <div class="detail-chart last-graf">
                        <graph data-ng-repeat="graph in nicGraphs" options="graph"></graph>
                    </div>
                </div>
            </div>
            <div data-ng-if="container.state == 'running' && !actionInProgress && !container.isSdc" data-ng-hide="cadvisorUnavailable">
                <adviser-graph data-ng-repeat="graph in graphs" type="graph"></adviser-graph>
                <div class="container-detailed-analytics-btn">
                    <a id="button-detailed-analytics" href="#!/docker/analytics/{{machine.id}}/{{container.infoId}}" class="btn light pull-right effect-orange-button"><i class="chart-icon"></i>View Detailed Analytics</a>
                </div>
            </div>
            <div data-ng-show="cadvisorUnavailable && container.state == 'running'" class="container-cadvisor-unavailable">cAdvisor unavailable</div>
        </div>
    </div>
</div>
