<div class="modal-dialog modal-dialog-find-images">
    <div class="modal-content">
        <div class="modal-header message">
            <h5><i class="glyphicon glyphicon-info-sign"></i><b>Pull Images</b></h5>
        </div>
        <div class="modal-body loading-medium" data-ng-show="loading"></div>
        <div data-ng-hide="loading" class="modal-body">
            <form name="configurationForm" class="configurationForm">
                <div>Note: Docker Hub private images are not included into search results.</div>
                <div class="form-group">
                    <span class="edit-host edit-label">Docker Registry</span>
                        <span class="edit-value">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '94%'}" id="registrySelect" data-ng-model="registryId" required >
                                <option data-ng-repeat="registry in registries" value="{{registry.id}}">
                                    {{registry.userHost}}
                                </option>
                            </select>
                        </span>
                </div>
                <div class="form-group">
                    <span class="edit-term edit-label">Term</span>
                        <span class="edit-value">
                            <input type="text"
                                   id="term"
                                   name="term"
                                   data-ng-model="term"
                                   required
                                    />
                        </span>
                    <button data-ng-disabled="configurationForm.$invalid || searching" type="button" data-ng-click="pull()" class="btn grey-new effect-orange-button">Pull</button>
                    <button data-ng-disabled="configurationForm.$invalid || searching" type="submit" data-ng-click="findImages()" class="btn orange" data-button-focus="true">Search</button>
                </div>
            </form>
            <div class="result-content">
                <div data-ng-show="searching" class="loading-medium"></div>
                <div data-ng-show="showResult || pulling">
                    <div data-ng-if="foundImages.length">
                        <div data-grid-view
                             data-user-config="gridUserConfig"
                             data-props="gridProps"
                             data-detail-props="gridDetailProps"
                             data-action-buttons="gridActionButtons"
                             data-items="foundImages"
                             data-order="gridOrder"
                             data-multisort="false"
                             data-hide-large-pager-options="true"
                             data-export-fields="exportFields"
                             data-place-Holder-Text="placeHolderText"
                             data-search-form="searchForm"
                             data-filter-all="{{query}}"
                             data-enabled-checkboxes="enabledCheckboxes"
                             data-items-type="foundImages"
                             data-tab-filter-field="tabFilterField"
                             data-tab-filter-default="tabFilterDefault"
                             data-no-entries-message-error-type="dcUnreachable"
                             data-checked-items="checkedItems">
                        </div>
                    </div>
                    <div data-ng-show="!foundImages.length && !pulling">
                        <div class="font-size16 margin-top-10">No images found</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button data-ng-click="close()" class="btn grey-new effect-orange-button">Close</button>
        </div>
    </div>
</div>