<div class="modal-dialog modal-dialog-find-images">
    <div class="modal-content">
        <div class="modal-header message">
            <h5><i class="glyphicon glyphicon-info-sign"></i><b>Find Images</b></h5>
        </div>
        <div class="modal-body loading-medium" data-ng-show="loading"></div>
        <div data-ng-hide="loading" class="modal-body">
            <form name="configurationForm" class="configurationForm">
                <div class="form-group">
                    <span class="orange-asterix edit-host edit-label">Docker Host</span>
                        <span class="edit-value">
                            <select ui-select2="{minimumResultsForSearch: -1, width: '92%'}" id="hostSelect" data-ng-model="hostIp" required >
                                <option data-ng-repeat="host in hosts" value="{{host.primaryIp}}">
                                    {{host.name}}
                                </option>
                            </select>
                        </span>
                </div>
                <div class="form-group">
                    <span class="orange-asterix edit-term edit-label">Term</span>
                        <span class="edit-value">
                            <input type="text"
                                   id="term"
                                   name="term"
                                   data-ng-model="term"
                                   required
                                    />
                        </span>
                    <button data-ng-disabled="configurationForm.$invalid || searching" data-ng-click="findImages()" class="btn orange">Find Images</button>
                </div>
            </form>
            <div class="result-content">
                <div data-ng-show="searching" class="loading-medium"></div>
                <div data-ng-show="showResult">
                    <div data-ng-show="findedImages.length">
                        <div data-grid-view
                             data-user-config="gridUserConfig"
                             data-props="gridProps"
                             data-detail-props="gridDetailProps"
                             data-action-buttons="gridActionButtons"
                             data-items="findedImages"
                             data-order="gridOrder"
                             data-multisort="false"
                             data-hide-large-pager-options="true"
                             data-export-fields="exportFields"
                             data-place-Holder-Text="placeHolderText"
                             data-search-form="searchForm"
                             data-filter-all="{{query}}"
                             data-enabled-checkboxes="enabledCheckboxes"
                             data-items-type="findedImages"
                             data-tab-filter-field="tabFilterField"
                             data-tab-filter-default="tabFilterDefault"
                             data-no-entries-message-error-type="dcUnreachable"
                             data-checked-items="checkedItems">
                        </div>
                    </div>
                    <div data-ng-show="!findedImages.length">
                        <div class="font-size16 margin-top-10">No images found</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button data-ng-click="close()" class="btn grey-new effect-orange-button">Close</button>
        </div>
    </div>
</div>