<div class="images-graph">
    <div class="graph-title">Image History Graphs</div>
    <div id="images-graph"></div>
    <div data-ng-show="showDetails" class="image-detail" data-ng-style="{'margin-top' : marginTop}">
        <div class="title">Image Details</div>
        <div class="loading-medium full-width" data-ng-show="detailsLoading"></div>
        <dl data-ng-if="!detailsLoading" class="image-info">
            <dt class="info-label">ID</dt>
            <dd data-ng-if="image.info">
                <span data-image-id-popover data-object="image.info"></span>
                <span class="tooltip-hover" data-toggle="tooltip" data-html="true" data-original-title="{{image.Id}}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </span>
            </dd>
            <dt class="info-label">Created At</dt>
            <dd>{{image.Created | date:'yyyy-MM-dd HH:mm'}}</dd>
            <dt data-ng-show="image.Author" class="info-label">Author</dt>
            <dd>{{image.Author}}</dd>
            <dt class="info-label">Size</dt>
            <dd>{{image.Size && (image.Size| sizeFormat:true)}}</dd>
            <dt class="info-label">VirtualSize</dt>
            <dd>{{image.VirtualSize && (image.VirtualSize| sizeFormat:true)}}</dd>
            <dt class="info-label">Tags</dt>
            <dd>{{imageInfoTags}}</dd>
            <dt class="info-label">Command</dt>
            <dd>
                <div class="image-command">{{image.CreatedBy}}</div>
            </dd>
        </dl>
    </div>
</div>
