<div class="modal-dialog">
    <div class="modal-content">
        <form name="editTags">
            <div tabindex="-1" data-backdrop="static" data-focus-on="button">
                <div class="modal-header message">
                    <h5><i class="glyphicon glyphicon-info-sign"></i><b>Image Tags</b></h5>
                </div>
                <div class="modal-body">
                    <div class="tag-list-wrapper">
                        <table class="form-add-tag" data-ng-repeat="tag in tags">
                            <tr data-ng-show="!tag.edit" class="tag-row">
                                <td>Tag {{$index + 1}}</td>
                                <td data-ng-click="!tag.actionInProgress && editTag(tag)" data-ng-disabled="tag.actionInProgress">{{tag.name}}</td>
                                <td>
                                    <span class="remove-icon delete pull-right" data-ng-click="!tag.actionInProgress && removeTag(tag)" data-ng-show="!saving && !tag.actionInProgress"></span>
                                    <div class="loading-medium-tr loading-medium-tags" data-ng-show="tag.actionInProgress"></div>
                                </td>
                            </tr>
                            <tr data-ng-show="tag.edit" class="tag-row">
                                <td>Tag {{$index + 1}}</td>
                                <td><input type="text" data-ng-model="tag.name" 
                                           data-ng-pattern="/^[A-Za-z0-9_\.\-]+$/" data-ng-minlength="2" data-ng-maxlength="30"/></td>
                                <td>
                                    <div class="btn orange" data-ng-click="saveTag(tag, $index)" data-ng-disabled="tag.name.length == 0 || editTags.$invalid" data-ng-hide="tag.actionInProgress">Save</div>
                                    <div class="loading-medium-tr loading-medium-tags" data-ng-show="tag.actionInProgress"></div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <table class="form-add-tag new-tag">
                        <tr data-ng-click="focusOut()">
                            <td>Tag {{tags.length + 1}}</td>
                            <td><input type="text" name="newTag" data-ng-model="newTag" data-ng-disabled="newTagInProgress"
                                       data-ng-pattern="/^[A-Za-z0-9_\.\-]+$/" data-ng-minlength="2" data-ng-maxlength="30"/>
                                <span colspan="3" class="error" data-ng-show="editTags.$invalid" style="position: absolute;">
                                    only [A-Za-z0-9_.-] are allowed, minimum 2, maximum 30 in length
                                </span>
                            </td>
                            <td>
                                <div class="btn orange" data-ng-hide="newTagInProgress" data-ng-click="addTag()" data-ng-disabled="newTag.length == 0 || editTags.$invalid">Add</div>
                                <div class="loading-medium-tr loading-medium-tags" data-ng-show="newTagInProgress"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <div data-ng-click="close()" data-button-focus="false" data-label="Close" class="btn grey-new effect-orange-button">Close</div>
                </div>
            </div>
        </form>
    </div>
</div>