<div data-ng-controller="Docker.IndexController" class="container-fluid container-position">
    <div class="row">
        <h3 class="page-title">Docker Dashboard
            <span class="preview-sticker">Preview</span>
        </h3>
        <div class="page-title-btn icons tooltip-hover" data-placement="top" data-html="true">
            <a href="https://www.joyent.com/public-cloud/pricing" target="_blank" title="Pricing">
                <span class="pricing"></span></a>
            <a href="https://github.com/joyent/sdc-docker/blob/master/docs/troubleshooting.md" target="_blank" title="Command Line Interface" data-ng-hide="!isTritonTab">
                <span class="terminal"></span></a>
            <a href="https://docs.joyent.com/jpc/managing-docker-containers/access-your-jpc-docker-hosts-from-the-docker-cli" target="_blank" title="Command Line Interface" data-ng-hide="isTritonTab">
                <span class="terminal"></span></a>
            <a href="https://gist.github.com/misterbisson/e9bfeacc6a41185b4f49" target="_blank" title="FAQ" data-ng-hide="!isTritonTab">
                <span class="faq"></span></a>
            <a href="https://docs.joyent.com/jpc/managing-docker-containers" target="_blank" title="FAQ" data-ng-hide="isTritonTab">
                <span class="faq"></span></a>
        </div>
    </div>
    <div class="loading-large" data-ng-show="loading"></div>
    <div class="nav-tabs" data-ng-show="!loading">
        <span>Filter:&nbsp</span>
        <span data-ng-repeat="tab in tabs">
            <input type="radio"
                   name="tab"
                   id="tab{{$index}}"
                   class="grid-tab-radio"
                   data-ng-click="setActive(tab)"
                   data-ng-checked="isChecked(tab)"
                    />
            <label for="tab{{$index}}" class="grid-tab dashboard">{{tab}}</label>
        </span>
        <div class="page-title-btn" data-ng-hide="isTritonTab">
            <div class="control-panel">
                <span>Data Center:</span>
                <div class="provisioning-header-left-button btn-group">
                    <select type="hidden" data-select-two id="selectDockerDatacenter" width="110" data-ng-model="data.datacenter" data-select="data.datacenter" placeholder="No matches found">
                        <option value=""></option>
                        <option data-ng-repeat="datacenter in datacenters | orderBy:$index" value="{{datacenter.name}}">
                            {{datacenter.name}}
                        </option>
                    </select>
                </div>
            </div>
            <button data-ng-disabled="!data.imageId" data-ng-click="createDocker()" type="button" class="btn btn-big orange text-to-left"><i class="plus-btn-icon"></i>Create KVM-Docker Host</button>
        </div>
    </div>
    <div class="row dockers-wrapper" data-ng-show="dockerMachines.length >= 1 && !loading">
        <div class="docker-wrapper triton-bg" data-ng-repeat="machine in getFilteredMachines(dockerMachines)" data-ng-class="{'kvm-bg': !machine.isSdc}">
            <div class="name">
                <p data-ng-hide="machine.isSdc"
                   data-tooltip-full-text
                   data-original-title="{{machine.name}}"
                   data-ng-click="navigateMachine(machine)"
                   data-ng-class="{'docker-host-title': machine.name && machine.name.length < 14}">{{machine.name}}</p>
                <span data-ng-show="machine.isSdc">DC: {{machine.datacenter}}</span>
            </div>
            <div data-ng-show="!machine.isSdc">
                <div class="info">
                    <span>DC: </span>
                    <span>{{machine.datacenter}}</span>
                </div>
                <div class="info">
                    <span>IP: </span>
                    <span>{{machine.primaryIp}}</span>
                </div>
                <div class="info" data-ng-hide="states[machine.id] == 'completed' || machine.prohibited">
                    <span>Status: </span>
                    <span>{{states[machine.id] || 'initializing'}}</span>
                    <div class="loading-medium-tr" data-ng-hide="states[machine.id] == 'unreachable' || machine.prohibited"></div>
                </div>
            </div>
            <div class="info" data-ng-hide="states[machine.id] == 'completed' || machine.prohibited || !machine.isSdc">
                <div class="loading-medium-tr" data-ng-hide="states[machine.id] == 'unreachable' || machine.prohibited"></div>
            </div>
            <div data-ng-show="states[machine.id] == 'completed' && !machine.prohibited">
                <div data-ng-show="machine.isSdc && !machine.prohibited">
                    <table class="triton-info">
                        <tr>
                            <td><a href="" data-ng-click="navigateContainersImages('images', machine.id)">Images</a>:</td>
                            <td class="num">{{machine.imagesCount}}</td>
                        </tr>
                        <tr>
                            <td><a href="" data-ng-click="navigateContainersImages('containers', machine.id)">Containers</a>:</td>
                            <td class="num">{{runningContainers || 0}}</td>
                            <td>running</td>
                        </tr>
                        <tr>
                            <td></td> <!-- don't remove -->
                            <td class="num">{{otherContainers || 0}}</td>
                            <td>stopped</td>
                        </tr>
                    </table>
                </div>
                <div data-ng-hide="machine.isSdc">
                    <div class="info">
                        <span><a href="" data-ng-click="navigateContainersImages('containers', machine.id)">Containers</a>: </span>
                        <span>{{machine.containersCount}}</span>
                    </div>
                    <div class="info">
                        <span class="info-images-label pull-left"><a href="" data-ng-click="navigateContainersImages('images', machine.id)">Images</a>: </span>
                        <span class="loading-small loading-images-count pull-left" data-ng-hide="machine.imagesCount || machine.imagesCount == 0"></span>
                        <span class="pull-left">{{machine.imagesCount}}</span>
                    </div>
                    <div class="btn-wrapper" data-ng-show="machine.cadvisorUnavailable">
                        <p class="cadvisor-unavailable">cAdvisor is unavailable</p>
                    </div>
                    <div class="chart-wrapper" data-ng-hide="machine.cadvisorUnavailable || machine.isSdc" data-ng-click="navigateMachine(machine)">
                        <easypiechart data-percent="machine.memoryLoad" data-options="chartOptions">
                            <span class="chart-text">{{machine.memoryLoad}}</span>
                        </easypiechart>
                        <p class="title">Memory</p>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <button data-ng-show="!machine.prohibited"
                            data-ng-click="createContainer(machine)"
                            type="button"
                            class="btn btn-big orange text-to-left"
                            data-ng-class="{'triton-btn': machine.isSdc, 'kvm-btn': !machine.isSdc}">
                        <i class="plus-btn-icon"></i>
                        Start new Docker container
                    </button>
                </div>
            </div>
            <div data-ng-show="machine.prohibited" class="btn-wrapper">
                <a href="https://www.joyent.com/lp/preview" target="_blank" type="button" class="btn btn-big orange triton-btn req">Request Triton Preview</a>
            </div>
        </div>
    </div>
    <div data-ng-show="!loading && (!isTritonTab && !kvmMachines.length || isTritonTab && !provisionEnabled)">
        <p class="page-heading">Welcome to <span data-ng-hide="isTritonTab">KVM </span>Docker<span data-ng-hide="features.privateSdc == 'enabled'"> on the Joyent Public Cloud</span></p>
        <div data-ng-hide="provisionEnabled">
            <span class="page-subheading active-link" data-ng-click="completeAccount()">Complete your Account Information</span><span class="page-subheading"> in order to begin using <span data-ng-hide="isTritonTab">KVM </span>Docker on the Joyent Public Cloud</span>
        </div>
        <div data-ng-show="provisionEnabled && data.imageId">
            <span class="page-subheading active-link" data-ng-click="createDocker()">Create Docker Host on KVM</span><span class="page-subheading" data-ng-hide="features.privateSdc == 'enabled'"> and begin using Docker on the Joyent Public Cloud</span>
        </div>
        <table class="docker-info">
            <tr data-ng-show="!isTritonTab">
                <td class="docker-icon-01"></td>
                <td>
                    <p class="list-title">Manage Docker Hosts</p>
                    <p class="list-description">Docker Hosts are based on certified Ubuntu images from Canonical</p>
                </td>
            </tr>
            <tr>
                <td class="docker-icon-02"></td>
                <td>
                    <p class="list-title">Manage Docker Images</p>
                    <p class="list-description">Full integration with Docker Hub, local and third party registries</p>
                </td>
            </tr>
            <tr>
                <td class="docker-icon-03"></td>
                <td>
                    <p class="list-title">Manage Docker Containers</p>
                    <p class="list-description">Manage the Docker container’s lifecycle</p>
                </td>
            </tr>
            <tr>
                <td class="docker-icon-04"></td>
                <td>
                    <p class="list-title">Integrated Log Management</p>
                    <p class="list-description">All container logs are persisted in <a class="active-link" href="https://www.joyent.com/products/manta" target="_blank">Manta</a> object store</p>
                </td>
            </tr>
            <tr>
                <td class="docker-icon-05"></td>
                <td>
                    <p class="list-title">Container level resource monitoring</p>
                    <p class="list-description">View resource utilization of each of your containers</p>
                </td>
            </tr>
            <tr>
                <td class="docker-icon-06"></td>
                <td>
                    <p class="list-title">Highly secure</p>
                    <p class="list-description">All communication between the Docker Hosts and the portal is encrypted</p>
                    <p class="list-description">and authenticated using private X.509 certificates </p>
                </td>
            </tr>
        </table>
    </div>
    <a href="#!/compute?type=DockerHost" class="orange-link" data-ng-show="dockerMachines.length > 1 && !loading && !isTritonTab">Docker compute instances</a>
    <div data-ng-hide="loading" mantadisclaimer class="manta-disclaimer manta-disclaimer-dashboard"></div>
</div>

