<div data-ng-controller="Docker.IndexController" class="container-fluid container-position">
    <div class="row">
        <h3 class="page-title">Docker Dashboard</h3>
        <div class="page-title-btn">
            <div class="control-panel">
                <span>Data Center:</span>
                <div class="provisioning-header-left-button btn-group">
                    <select type="hidden" data-select-two id="selectDockerDatacenter" data-ng-model="data.datacenter" data-select="data.datacenter" placeholder="No matches found">
                        <option value=""></option>
                        <option data-ng-repeat="datacenter in datacenters | orderBy:$index" value="{{datacenter.name}}">
                            {{datacenter.name}}
                        </option>
                    </select>
                </div>
            </div>
            <button data-ng-disabled="!data.imageId" data-ng-click="createDocker()" type="button" class="btn btn-big orange text-to-left"><i class="plus-btn-icon"></i>Create Docker Host</button>
        </div>
    </div>
    <div class="row dockers-wrapper">
        <div class="docker-wrapper" data-ng-repeat="machine in dockerMachines" data-ng-click="navigateMachine(machine)">
            <div class="name">
                <p>{{machine.name}}</p>
            </div>
            <div class="info">
                <span>DC: </span>
                <span>{{machine.datacenter}}</span>
            </div>
            <div class="info" data-ng-hide="states[machine.id] == 'completed'">
                <span>Status: </span>
                <span>{{states[machine.id] || 'initializing'}}</span>
                <div class="loading-medium-tr"></div>
            </div>
            <div data-ng-show="states[machine.id] == 'completed'">
                <div class="info">
                    <span><a href="" data-ng-click="navigateContainersImages('containers', machine.name)">Containers</a>: </span>
                    <span>{{machine.containersCount}}</span>
                </div>
                <div class="info">
                    <span><a href="" data-ng-click="navigateContainersImages('images', machine.name)">Images</a>: </span>
                    <span>{{machine.imagesCount}}</span>
                </div>
                <div class="progress-wrapper">
                    <p class="title">CPU</p>
                    <div class="progress" title="{{machine.cpuLoad}}">
                        <div class="progress-bar" ng-style="{width: machine.cpuLoad}"></div>
                    </div>
                    <p class="title">Memory</p>
                    <div class="progress" title="{{machine.memoryLoad}}">
                        <div class="progress-bar" ng-style="{width: machine.memoryLoad}"></div>
                    </div>
                </div>
                <div class="os-based ubuntu-logo">
                    <p class="title">Ubuntu</p>
                </div>
            </div>
            
            
        </div>
    </div>
</div>

