<div class="modal-dialog modal-dialog-new-registry">
    <div class="modal-content">
        <div tabindex="-1" data-backdrop="static" data-focus-on="button">
            <div class="modal-header message">
                <h5><i class="glyphicon glyphicon-info-sign"></i><b>Create new Docker Registry</b></h5>
            </div>
            <div class="modal-body loading-medium full-width" data-ng-show="loading"></div>
            <div class="modal-body registry-form" data-ng-hide="loading">
                <form name="newRegistryForm">
                    <div class="form-group clearfix" data-ng-show="hosts.length">
                        <label class="control-label" for="hostSelect">Docker Host</label>
                        <select data-select-two
                                id="hostSelect"
                                data-ng-model="registry.host"
                                data-select="registry.host.name"
                                data-ng-options="host.name for host in hosts"
                                data-width="82%"
                                required>
                        </select>
                    </div>
                    <div class="form-group clearfix" data-ng-show="!hosts.length">There are no available hosts to create registry.</div>
                    <div class="form-group clearfix" data-ng-show="registry.host.versionMismatch">
                        <p>
                            This Docker host has version {{registry.host.dockerVersion.Version}}, which is not supported.
                            To upgrade to current version of {{version}}, please ssh to the host and run:
                        </p>
                        <p>
                            <code>curl -sSL https://get.docker.com/ | sh</code>
                        </p>
                    </div>
                </form>
                <div data-ng-show="hasDockerHost" class="registry-note">Please note, to create new registry, your Docker host VM should have at least 1 Gb of RAM.</div>
            </div>
            <div class="modal-footer">
                <button data-ng-click="close()" data-button-focus="false" data-label="Cancel" class="btn grey">Cancel</button>
                <button data-ng-click="create()" data-button-focus="true" data-label="Create" class="btn orange" 
                        data-ng-disabled="loading || !hosts.length || registry.host.versionMismatch">Create</button>
            </div>
        </div>
    </div>
</div>
