<div class="center" data-ng-hide="loading">
    <p>PACKAGE:</p><button class="btn small-btn effect-orange-button" data-ng-click="choosePackage()">Change</button>
    <div class="package">
        <div class="name">Configuration</div>
        <div class="value">{{pkg.short_name}}</div>
    </div>
    <div class="package">
        <div class="name">Memory</div>
        <div class="value">{{pkg.memory | sizeFormat}}</div>
    </div>
    <div class="package">
        <div class="name">Disk</div>
        <div class="value">{{pkg.disk | sizeFormat}}</div>
    </div>
    <div class="package">
        <div class="name">vCPUs</div>
        <div class="value">{{pkg.vcpus}} vCPUs</div>
    </div>
    <div class="package">
        <div class="name">Data Center</div>
        <div class="value">{{datacenter}} </div>
    </div>
    <div class="cost" data-ng-show="pkg.price || pkg.price_month">
        <p>COST:<span class="footnote">Billed by the minute</span></p>
        <div class="dataset-cost" data-ng-show="pkg.price">
            <h3>${{pkg.price}}</h3>
            <p class="small-text-info">per hour</p>
        </div>
        <div class="dataset-cost" data-ng-show="pkg.price_month">
            <h3>{{pkg.price_month | currencyFormat}}</h3>
            <p class="small-text-info">est. monthly</p>
        </div>
    </div>
</div>
<div class="center loading-medium-transparent" data-ng-show="loading">
</div>