<div class="modal-dialog modal-dialog-push-image">
    <div class="modal-content">
        <div tabindex="-1" data-backdrop="static" data-focus-on="button">
            <div class="modal-header message">
                <h5><i class="glyphicon glyphicon-info-sign"></i><b>Push image {{ imageName }}</b></h5>
            </div>
            <div class="modal-body loading-medium full-width" data-ng-show="loading"></div>
            <div class="modal-body registry-form" data-ng-hide="loading || registries && !registries.length">
                <form name="newRegistryForm" class="configurationForm">
                    <div class="form-group">
                        <span class="edit-label">Registry</span>
                        <span class="edit-value">
                            <ui-select data-ng-model="input.registryId"
                                       append-to-body="true"
                                       theme="select2"
                                       search-enabled="true"
                                       class="registry-form-select"
                                       ng-click="setNotation('NETWORK')"
                                       ng-disabled="image.progress">
                                <ui-select-match>{{$select.selected.userHost}}</ui-select-match>
                                <ui-select-choices prevent-body-scroll repeat="registry.id as registry in registries | filter: $select.search">
                                    {{registry.userHost}}
                                </ui-select-choices>
                            </ui-select>
                        </span>
                    </div>
                    <div class="form-group">
                        <div>
                            <span class="edit-label">Name</span>
                            <span class="edit-value">
                                    <input type="text"
                                           name="name"
                                           data-ng-model="input.name"
                                           data-ng-change="validateName()"
                                           data-ng-disabled="image.progress"
                                           required/>
                            </span>
                        </div>
                        <div class="edit-error error-push-image" data-ng-show="newRegistryForm.name.$dirty">
                            <div class="error"
                                 data-translate
                                 data-ng-show="errorMessage">
                                {{errorMessage}}
                            </div>
                        </div>
                    </div>
                </form>
                <div data-ng-show="image.progress" class="push-image-log">
                    <p data-ng-repeat="status in image.progress track by $index" emit-last-repeater-element>{{status}}</p>
                </div>
                <span data-ng-show="image.progress" class="push-image-log-legend">Scroll down to autoscroll</span>
            </div>
            <div class="modal-body" data-ng-hide="loading || registries && registries.length">
                No registries found suitable for pushing images.
            </div>
            <div class="modal-footer">
                <button data-ng-if="image.progress" data-ng-click="close()" data-button-focus="true" data-label="Close" class="btn orange">Close</button>
                <button data-ng-hide="image.progress" data-ng-click="close()" data-button-focus="false" data-label="Cancel" class="btn grey">Cancel</button>
                <button data-ng-hide="image.progress" data-ng-click="push()" data-button-focus="true" data-label="Push" class="btn orange">Push</button>
            </div>
        </div>
    </div>
</div>
