<div data-ng-controller="Docker.RegistryController" class="container-fluid container-position">
    <ul class="breadcrumb">
        <li><a href="#!/docker">Docker</a></li><!--
        --><li><a href="#!/docker/registries">Docker Registries</a></li>
    </ul>
    <div class="row" data-ng-hide="loading">
        <h3 class="page-title" data-ng-hide="registryId">Connect to New Registry</h3>
        <h3 class="page-title" data-ng-show="registryId">Edit Registry</h3>
    </div>
    <div class="loading-large col-md-12" data-ng-show="loading"></div>
    <div class="registry-form" data-ng-hide="loading">
        <form name="registryForm" id="registryForm">
            <table>
                <tr>
                    <td class="orange-asterix">API Version</td>
                    <td>
                        <div class="btn-group">
                            <select data-select-two
                                    id="registryApi"
                                    name="registryApi"
                                    class="api-version"
                                    data-ng-model="registry.api"
                                    data-select="registry.api"
                                    data-ng-options="registryApi for registryApi in registryApiVersions">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="orange-asterix">Hostname</td>
                    <td><input name="host" type="text" data-ng-model="registry.host" required/></td>
                </tr>
                <tr>
                    <td class="orange-asterix">Port</td>
                    <td><input name="port" type="text" class="ng-dirty" data-ng-class="{'ng-invalid': !portValid, 'ng-valid': portValid}" data-ng-change="portChanged(registry.port)" data-ng-model="registry.port"/></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input name="username" type="text" data-ng-model="registry.username"/></td>
                </tr>
                <tr>
                    <td data-ng-class="{'orange-asterix': registry.username.length > 0 && registry.password.length > 0}">Email</td>
                    <td><input name="email" type="email"
                               data-ng-model="registry.email"
                               data-ng-disabled="loadingRegistry"
                               data-ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)+$/i"
                               data-ng-required="registry.username.length && registry.password.length"/>
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input name="password" type="password" data-ng-model="registry.password"/></td>
                </tr>
            </table>
        </form>
        <hr>
        <span class="orange-asterix-left">required fields</span>
        <div class="pull-right">
            <a href="#!/docker/registries" class="btn grey-new effect-orange-button">Cancel</a>
            <button data-ng-click="connectRegistry()" class="btn orange" data-ng-disabled="registryForm.$invalid || !portValid">Connect</button>
        </div>
    </div>
</div>

