<div class="modal-dialog modal-select-tag">
    <div class="modal-content">
        <div tabindex="-1" data-backdrop="static" data-focus-on="button">
            <div class="modal-header message">
                <h5><i class="glyphicon glyphicon-info-sign"></i><b>Pull Image {{name}}</b></h5>
            </div>
            <div class="loading-medium full-width indent-small" data-ng-show="loading"></div>
            <div data-ng-hide="loading" class="modal-body multi-select">
                <form name="selectTagForm" class="selectTagForm">
                    <div class="form-group">
                        <span data-ng-show="hosts.length">
                            <multi-select id="hostsSelect"
                                          data-items="hosts"
                                          data-option-label="'name'"
                                          data-selected-items="selectedHosts"
                                          data-selectable-header="AVAILABLE DOCKER HOSTS"
                                          data-selection-header="ASSIGNED DOCKER HOSTS"
                                          ng-enter="!(selectTagForm.$invalid || !selectedHosts.length) && pullImage()">
                            </multi-select>
                        </span>
                    </div>
                    <div class="form-group error" data-ng-show="hosts.length && !allowedIP()">You must have local registry created on this host in order to pull</div>
                    <div data-ng-hide="hideTags" class="form-group">
                        <span class="edit-image edit-label left">Select image tag</span>
                        <span class="edit-value">
                            <ui-select data-ng-model="tag"
                                       append-to-body="true"
                                       theme="select2"
                                       search-enabled="false"
                                       class="tag-select"
                                       style="width: 362px;"
                                       ng-click="setNotation('NETWORK')"
                                       ng-disabled="!tags.length"
                                       on-select="setTag($select.selected.name)">
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="tag.name as tag in tags">
                                    {{tag.name}}
                                </ui-select-choices>
                            </ui-select>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-ng-click="close()" data-button-focus="false" data-label="Cancel" class="btn grey">Cancel</button>
                <button data-ng-click="pullImage()" data-button-focus="true" data-ng-disabled="selectTagForm.$invalid || !selectedHosts.length" class="btn orange">Pull</button>
            </div>
        </div>
    </div>
</div>