<div data-ng-controller="Docker.IndexController" class="container-fluid container-position">
    <div data-ng-if="isCurrentLocation('compute/docker/welcome')" data-ng-include="'machine/static/partials/create-instance-header.html'"></div>
    <div class="page-title container-min-width" data-ng-show="isCurrentLocation('compute/docker/welcome')"></div>
    <div class="row" data-ng-hide="isCurrentLocation('compute/docker/welcome')">
        <h3 class="page-title">Docker Dashboard</h3>
        <div class="page-title-btn icons tooltip-hover" data-placement="top" data-html="true">
            <a data-ng-hide="isPrivateSdcEnabled" href="https://www.joyent.com/public-cloud/pricing" target="_blank" title="Pricing">
                <span class="pricing"></span></a>
            <a title="Command Line Interface" data-ng-hide="!isTritonTab" href="http://docs.joyent.com/public-cloud/api-access/docker" target="_blank">
                <span class="terminal-icon"></span></a>
            <a title="FAQ" data-ng-hide="!isTritonTab" href="http://docs.joyent.com/public-cloud/containers/docker/managing" target="_blank">
                <span class="faq"></span></a>
        </div>
    </div>
        <p class="page-heading">Welcome to Triton Docker
            <span data-ng-hide="features.privateSdc == 'enabled'">on the Joyent Public Cloud</span></p>
        <div>
            <span class="page-subheading active-link" data-ng-click="completeAccount()">Complete your Account Information</span><span class="page-subheading"> in order to begin using Docker on the Joyent Public Cloud</span>
        </div>
        <table class="docker-info">
            <tr>
                <td class="docker-icon-01"></td>
                <td>
                    <p class="list-title">Manage Docker Hosts</p>
                    <p class="list-description">Docker Hosts are based on certified Ubuntu images from Canonical</p>
                </td>
            </tr>
            <tr>
                <td class="docker-icon-02"></td>
                <td>
                    <p class="list-title">Manage Docker Images</p>
                    <p class="list-description">Full integration with Docker Hub, local and third party registries</p>
                </td>
            </tr>
            <tr>
                <td class="docker-icon-03"></td>
                <td>
                    <p class="list-title">Manage Docker Containers</p>
                    <p class="list-description">Manage the Docker container’s lifecycle</p>
                </td>
            </tr>
            <!--<tr>-->
                <!--<td class="docker-icon-04"></td>-->
                <!--<td>-->
                    <!--<p class="list-title">Integrated Log Management</p>-->
                    <!--<p class="list-description">All container logs are persisted in <a class="active-link" href="https://www.joyent.com/products/manta" target="_blank">Manta</a> object store</p>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td class="docker-icon-05"></td>
                <td>
                    <p class="list-title">Container level resource monitoring</p>
                    <p class="list-description">View resource utilization of each of your containers</p>
                </td>
            </tr>
            <tr>
                <td class="docker-icon-06"></td>
                <td>
                    <p class="list-title">Highly secure</p>
                    <p class="list-description">All communication between the Docker Hosts and the portal is encrypted</p>
                    <p class="list-description">and authenticated using private X.509 certificates </p>
                </td>
            </tr>
        </table>
    </div>
</div>

