.header {
    position: fixed;
    z-index: 99999;
    top: 0;

    width: 100%;
    min-width: 955px;
    height: 53px;

    background-color: #ededed;
}
.brand {
    position: fixed;
    left: 0;

    width: 175px;
    height: 53px;

    background: #f60 url('../img/logo-orange.png') no-repeat center left;
}
.menu {
    margin: 15px 15px 0;
}
.menu a:not(.btn) {
    padding-right: 15px;

    text-decoration: none;

    color: #333;
}
.support-icon,
.dev-center-icon {
    display: inline-block;

    width: 15px;
    height: 16px;

    vertical-align: middle;

    background-repeat: no-repeat;
}

.support-icon {
    background-image: url('../img/question_icon.png');
}

.dev-center-icon {
    background-image: url('../img/exclamation_icon.png');
}

.arrow-down {
    display: inline-block;

    width: 20px;
    height: 14px;

    background: transparent url('../img/user_arrow.png') no-repeat 0 0;
}

.dropdown-menu {
    top: 30px;

    margin-left: -100px;
}

.account-loading {
    display: inline-block;

    vertical-align: middle;
}

.old-portal {
    margin-right: 10px;

    color: #57879e;
    border: 2px solid #57879e;
    background-color: transparent;
}
.dd-account
{
    min-width: 215px;
}
.service-status {
    width: 350px;
}
.service-status-date,
.service-status-text,
.service-status-icon  {
    display: inline-block;
    overflow: hidden;
    white-space: pre-line;
    vertical-align: top;
}
.service-status-date {
    width: 83px;
}
.service-status-text {
    width: 200px;
    margin: 0 10px;
    word-wrap: break-word;
}
.service-status-btn-wrapper {
    margin: 10px;
}