.navbar-container {
    border-radius: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

}
.main-nav {
    width:650px;
    margin-top:10px;
    float:left;
}
.main-nav a {
    margin-right:30px;
}
.main-nav a.active {
    color:#666;
}

.navbar-inner .container {
    padding:10px;
}

.navbar-inverse,
.navbar-container  {
    height:54px;
    background-color:#dee4e9 !important;
    color:#375775;
}

.navbar-container .top-menu span {
    padding-right:10px;
    padding-left:10px;
    text-transform:uppercase;
    font-size:12px;
    border-right:1px solid #375775;
}
.navbar-container .top-menu span.last {
    border:none;
}
.navbar-container .top-menu span a,
.navbar-inner .top-menu span a {
    color:#375775;
}

.tiny-link-text {
    text-decoration: none;
    font-size: 10px;
    color: #666;
}

.tiny-link-text:hover {
    text-decoration: underline;
}
/*new styles*/
.navbar-container {
    width: 100%;
    /*margin: 0 0 0 110px;*/
    border: 0;
    padding: 0;
    box-shadow: none;
    height: 53px;
    filter: none !important;
    background-image: none !important;
    background-color: #ededed !important;
}
.navbar-container .container-fluid {
    padding-left: 0;
}
.navbar-container .navbar-brand {
    margin-right: 0;
    width: 175px;
    height: 53px;
    background: #ff6600 url('../img/logo-orange.png') no-repeat center left;
}
.navbar-container .navbar-brand img {
    margin-left: -20px;
}
.nav > li.dropdown > a{
    color: #333333;
    text-shadow: none !important;
}
.header_icon {
    width: 15px;
    height: 14px;
    float: left;
    margin-top: 3px;
    position: relative;
    left: -4px;
    background-repeat: no-repeat;
}
.support_icon {
    background-image: url("../img/question_icon.png");
}
.info_icon {
    background-image: url("../img/exclamation_icon.png");
}
.icon-arrow-down-user {
    display: inline-block;
    width: 20px;
    height: 14px;
    background: transparent url("../img/user_arrow.png") no-repeat 0 0;
}
.navbar-container .nav > li.dropdown:last-child {
    padding-right: 2px;
}
.navbar-container .nav .dropdown-menu {
    margin-left: -70px;
}
.navbar-container .nav .dropdown-menu >li a {
    padding: 6px 0 6px 13px;
    color: #333333 !important;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    white-space: nowrap;
}
.navbar-container .nav .dropdown-menu > li > a:hover > [class^="icon-"] {
    background-image: url(../../../../static/vendor/bootstrap/img/glyphicons-halflings.png) !important;
}
.navbar-container .nav .dropdown.open .dropdown-toggle {
    background-color: #ededed !important;
    color: #333333;
}
.navbar-container .nav .dropdown-menu li > a:hover,
.navbar-container .nav .dropdown-menu .active > a,
.navbar-container .nav .dropdown-menu .active > a:hover {
    text-decoration: none;
    background-image: none;
    background-color: #eee;
    color: #333;
    filter: none;
}
.load-user-name {
    margin-top: 18px;
}
.old-portal {
    margin-top: 10px;
    margin-left: 15px;
    border: 2px solid #57879e;
    background-color: transparent;
    color: #57879e;
}
.dd-account{
    min-width: 215px !important;
}