

.brand {
    background-image: url('../img/logo-color-duo.png');
    background-repeat:no-repeat;
    background-position:0px 50%;
    width:150px;
    height:70px;
}

.navbar-inner .container {
    padding:10px;
}

.brand {
    /*	border:1px solid red;*/
}
.navbar,.navbar-inverse,.navbar-inner  {
    background-color:#375675 !important;
    border:1px solid #375675 !important;
    /*	background-image:none !important;*/
    color:#fff;
    margin-bottom:30px;
}

.navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.265);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.265);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.265);

    background-image:url('../img/top-shade.png');
    background-position:30% 50%;
    background-repeat:no-repeat;
}

.navbar-static-bottom a {
    color:#999;
    background-color:transparent !important;
}
.navbar-static-bottom .span3:hover,.navbar-static-bottom .span3:hover a {
    color:#777;
    background-color:transparent !important;
}
.navbar-static-bottom .nav:hover a:hover {
    color:#111;
    background-color:transparent !important;
}
