
<div class="container">
	<form name="accountForm" class="form-horizontal" data-ng-controller="AccountController" data-ng-submit="submit()" data-ng-novalidate>
		<div>
			<h2>Get started in 5 easy steps!</h2>
			<div class="control-group">
				<label class="control-label">Email</label>
				<div class="controls">
					<input type="email" name="email" data-ng-model="email" placeholder="Email" data-ng-required />
		    	</div>
			</div>
			<div class="control-group">
				<label class="control-label">Username</label>
				<div class="controls">
					<input type="text" name="username" data-ng-model="username" placeholder="Username" data-ng-required />
					<span data-toggle="tooltip" data-placement="right" class="-help icon-info-sign" title="Must container letters and numbers"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Password</label>
				<div class="controls">
					<input type="password" name="password" data-ng-model="password" placeholder="Password" data-ng-required />
					<span data-toggle="tooltip" data-placement="right" class="-help icon-info-sign" title="Must be at least 7 characters"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Confirm password</label>
				<div class="controls">
					<input type="password" name="passwordConfirm" data-ng-model="passwordConfirm" placeholder="Password" data-ng-required />
					<span data-toggle="tooltip" data-placement="right" class="-help icon-info-sign" title="Repeat your previously entered password"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">First name</label>
				<div class="controls">
					<input type="text" name="firstName" data-ng-model="firstName" placeholder="First name" data-ng-required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Last name</label>
				<div class="controls">
					<input type="text" name="lastName" data-ng-model="lastName" placeholder="Last name" data-ng-required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Company</label>
				<div class="controls">
					<input type="text" name="company" placeholder="Company" />
				</div>
			</div>
		</div>
		<div data-ng-include src="'static/partial/steps/footer.html'"></div>
	</form>
</div>
