<div data-ng-controller="KeysController" class="container">
	<form class="form-horizontal" data-ng-submit="submit()">
		<div>
			<h2>SSH Keys</h2>
			<div class="keys control-group">
				<a href="#keyModal" role="button" class="btn btn-primary" data-toggle="modal">Add key</a>
			</div>
			<div data-ng-include src="'static/partial/steps/footer.html'"></div>
		</div>

		<div id="keyModal" class="modal fade keys-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<form class="form-inline" data-ng-submit="submit()">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3>Add A New SSH Key</h3>
				</div>
				<div class="modal-body">

					<div class="keys-modal-controls control-group span8">
						<div class="default-label">Name</div>
						<input type="text" class="name" data-ng-model="name" data-ng-required />
						<div class="default-label">SSH Key</div>
						<textarea class="content" data-ng-model="content" data-ng-required></textarea>
					</div>

					<div class="keys-modal-info span4 alert">
						<h5>More about SSH Keys</h5>
						<p></p>
						<p>
							Need help generating your <a href="http://wiki.joyent.com/display/jpc2/Accessing+Your+Machine+from+Windows" target="_blank">SSH key in Windows</a>?
						</p>

						<p>
							Need help generating your <a href="http://wiki.joyent.com/display/jpc2/Accessing+Your+Machine+from+Mac+OS+X" target="_blank">SSH key in Mac</a>?
						</p>

						<p>
							Learn more about <a href="http://wiki.joyent.com/display/jpc2/How+to+use+SSH+Keys+with+a+Joyent+Machine" target="_blank">SSH keys in general here</a>.
						</p>

						<p>
							Download SSH key generator: <a href="/signup/ssh-key-generator?username={{user.login}}">Mac and Linux</a>
						</p>
					</div>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			    <button type="submit" class="btn btn-primary">Add this key</button>
			  </div>
		  </form>
		</div>
	</form>
</div>