/*.code {*/
    /*background: #444444;*/
    /*color: #f5f5f5;*/
    /*font-family: Menlo, Menlo-Regular, Inconsolata, Monaco, monospace;*/
    /*font-size: 13px;*/
/*}*/
.code {
    background: rgba(255,255,255,0.7);
    color: #000000;
    font-weight: bold;
    font-family: Menlo,Menlo-Regular,Inconsolata,Monaco,monospace;
    font-size: 13px;
    border: 1px solid #e3e3e3;
    padding-left: 19px;
    padding-bottom: 19px;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre-line;
    word-wrap: break-word;
}
.code p{
    /*margin: 0;*/
}
.box .code {
    background: rgba(0,0,0,0.07);
    outline: 1px solid #e3e3e3;
}

.hl {
    color: #ffffff;
    font-weight: bold;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;

}

.res {
    font-weight: 200;
    color: #d3d3d3;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

#setup-vid {
    width: 260px;
    position: relative;
    float: right;
    padding-left: 13px;
}

#setup-vid .playbutton {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: url(../img/play_white.png) center no-repeat;
}

#setup-vid .playbutton:hover {
    background: url(../img/play_black.png) center no-repeat;
}
.btn {
    background-color: #e5e5e5;
    background-image: none;
    filter: none;
    border: 0;
    padding: 7px 14px;
    text-shadow: none;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.btn:focus,
.btn:active,
.btn.active,
.btn[disabled],
.btn.disabled {
    color: #333333;
    background-color: #d8d8d8 !important;
}
.btn.orange {
    color: white;
    text-shadow: none;
    background-color: #ff6600;
    min-width: 100px;
}
.icon-reorder{
    background-image: url(../../../../static/img/glyphicons-halflings-white.png) !important;
    background-position: -334px -48px;
    background-repeat: no-repeat;
}
.icon-play, .icon-tasks{
    background-image: url(../../../../static/img/glyphicons-halflings-white.png) !important;
}
.select2-container .select2-choice {
    display: block;
    height: 25px;
    padding: 0 0 0 15px;
    padding-top: 3px;
    overflow: hidden;
    position: relative;
    border: 1px solid #e5e5e5;
    white-space: nowrap;
    line-height: 20px;
    color: #444;
    text-decoration: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none !important;
    background-color: #ffffff  !important;
}
.select2-container, .select2-drop, .select2-search, .select2-search input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.select2-container {
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.select2-container .select2-choice {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.select2-container .select2-choice div {
    display: block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #e5e5e5 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    background: #ffffff !important;
    background-image: none !important;
}
.select2-container .select2-choice div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../../../machine/static/img/sselect2.png') no-repeat 0 3px !important;
}
.icon-sort-up, .icon-sort-down, .icon-sort-both  {
    background-repeat: no-repeat;
    background-position: 0 1px;
    width: 12px;
    height: 16px;
    float: left;
    margin-left: -16px;
    margin-top: 0 !important;
}
.icon-sort-up {
    background-image: url("../img/sort_asc.png") !important;
}
.icon-sort-down {
    background-image: url("../img/sort_desc.png") !important;
}
.icon-sort-both {
    background-image: url("../img/sort_both.png");
}
.page_row_info {
    float: left;
}
.page_row_info form{
    margin: 0;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.page_row_info span{
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
}
.page_row_info  input:first-child {
    margin: 0!important;
    background-color: #f5f5f5 !important;
    color: #666666 !important;
    border-radius: 18px !important;
    height: 18px !important;
    border: 0 none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    padding-right: 30px;
    padding-left: 10px;
}
.btn_submit_seach {
    border: 0 none;
    box-shadow: none;
    padding: 0;
    background-image: url(../img/table_i_search.png);
    background-repeat: no-repeat;
    width: 26px !important;
    height: 26px;
    right: 0;
    position: absolute;
    top: 0;
    background-color: #dedede;
    border-radius: 50px;
    background-position: center center;
}

#tableBtnAdd .btn-group .btn {
    margin-top: 2px;
    padding: 4px 8px;
    color: #6d6d6d;
}
#tableBtnAdd {
    float: right;
    margin-bottom: 10px;
}

.icon-drop-down {
    background-image: url("../img/toggler-drop-down.png");
    width: 10px;
    margin-top: 0;
    background-repeat: no-repeat;
    background-color: transparent !important;
    display: inline-block;
    background-position: -1px 5px;
}
.header-btn-ci {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: -73px;
}

.create-new-job-btn-pos {
    margin-top: -85px;
}

.accordion-group {
    margin-bottom: 5px;
    border: 0 none;
}
.accordion-heading {
    border-bottom: 0;
    background: #f5f5f5;
}
.accordion-inner {
    border-top: 0 !important;
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
    cursor: pointer;
}
.accordion-heading a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.job-name {
    display: inline-table;
    min-height: 46px;
}
.job-name .field {
    display: table-cell;
    padding-left: 13px;
    width: 100%;
}
.job-name .field input,
.popup-input {
    float: right;
    width: 100%;
    height: 21px;
    border-radius: 0;
    vertical-align: middle;
}
.job-name .name {
    display: table-cell;
    padding-bottom: 14px;
    min-width: 80px;
    vertical-align: middle;
    text-align: left;
}
.job-name .field textarea {
    float: right;
    width: 100%;
    resize: vertical;
}
.job-info-container {
    padding-left: 20px;
    padding-bottom: 50px;
    white-space: nowrap;
}
.column {
    display: inline-block;
    vertical-align: top;
}
.job-common-container {
    width: 460px;
}
.job-common {
    width: 100%;
}
.job-common td {
    padding-top: 12px;
    padding-right: 20px;
}
.job-table td {
    text-transform: capitalize;
}
.job-table tr:first-child td {
    padding-top: 0;
}
.job-stats-container {
    width: 113px;
    padding: 0 25px;
    border: #ccc 1px solid;
    border-top: none;
    border-bottom: none;
}
.job-stats {
    width: 100%;
}
.job-stats-row td {
    padding-top: 15px;
    padding-right: 5px;
}
.job-stats-row td:first-child {
    font-weight: bold;
    text-align: right;
}
.job-date-container {
    width: 350px;
    padding-left: 25px;
}
.job-date {
    color: #333;
}
.job-date-value {
    color: #666;
}
.job-section-container {
    padding-bottom: 20px;
}
.job-section-body {
    padding: 10px;
}
.loading-small-job {
    padding: 5px 10px 0 0;
}
.empty-job-history {
    margin-top: 10px;
    font-size: 16px;
}
.state-label {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 10px;
}
.state-label-state {
    background-color: #669933;
}
.state-label-input {
    background-color: #333333;
}
.state-label-cancelled {
    background-color: #8E8E8E;
}
.job-section-body {
    word-wrap: break-word;
}
