input {
    text-indent: 6px;
}

.code {
    margin: 10px 0;
    padding: 20px;

    border: 2px solid #e3e3e3;
    background: rgba(0,0,0,.07);
}

.code p {
    margin: 0;

    color: #000;

    font-family: Menlo, Menlo-Regular, Monaco, monospace;
    font-size: 13px;
    font-weight: bold;
}

.video-box {
    position: relative;

    float: right;

    box-sizing: content-box;
    width: 260px;
    padding-left: 13px;
}

.video-box .playbutton {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .8;
    background: url(../img/play_white.png) center no-repeat;
}

.video-box .playbutton:hover {
    background: url(../img/play_black.png) center no-repeat;
}

.accordion-builder-grids .panel-body {
    padding-bottom: 0;
}

.accordion-builder-phases .panel-body {
    padding-top: 9px;
}

.job-name {
    display: inline-table;

    height: 46px;
}

.job-name .field {
    display: table-cell;

    width: 100%;
}

.job-name .field input,
.popup-input {
    float: right;

    width: 100%;
    height: 31px;

    vertical-align: middle;
}

.job-name .name {
    display: table-cell;

    min-width: 80px;
    padding-bottom: 14px;

    text-align: left;
    vertical-align: middle;
}

.job-name .field textarea {
    float: right;

    width: 100%;

    resize: vertical;
}

.job-name.row {
    width: 100%;
}

.job-info-container {
    padding: 0 0 50px 20px;
}

.column {
    display: inline-block;

    vertical-align: top;
}

.job-common-container {
    width: 420px;
}

.job-common {
    width: 100%;
}

.job-common td {
    padding-top: 12px;
    padding-right: 20px;
}

.job-common td:last-child {
    max-width: 300px;

    word-wrap: break-word;
}

.job-table td {
    vertical-align: top;
}

.job-table tr:first-child td {
    padding-top: 0;
}

.job-stats-container {
    box-sizing: content-box;
    width: 113px;
    padding: 0 25px;

    border: #ccc 1px solid;
    border-top: none;
    border-bottom: none;
}

.job-stats {
    width: 100%;
}

.job-stats-row td {
    padding-top: 15px;
    padding-right: 5px;
}

.job-stats-row td:first-child {
    text-align: right;

    font-weight: bold;
}

.job-date-container {
    width: 320px;
    padding-left: 25px;
}

.job-date {
    color: #333;
}

.job-date-value {
    color: #666;
}

.job-section-container {
    padding-bottom: 20px;
}

.job-section-body {
    padding: 10px;
}

.loading-small-job {
    margin-right: 5px;
    padding: 5px 10px 0 0;
}

.empty-job-history {
    margin-top: 10px;

    font-size: 16px;
}

.state-label {
    display: inline-block;

    padding: 0 10px;

    text-indent: 0;
    text-transform: capitalize;

    color: #fff;
    border-radius: 10px;

    font-weight: bold;
}

.state-label-state {
    background-color: #693;
}

.state-label-input {
    background-color: #333;
}

.state-label-cancelled {
    background-color: #8e8e8e;
}

.container-fluid {
    margin-right: 0;
    margin-left: 0;
}

.container-min-width {
    width: 1078px;
}

.portlet-body.as-table.videos {
    height: 170px;
}

.job-section-body {
    word-wrap: break-word;
}

.left-part,
.right-part {
    max-width: 560px;
}

.advanced-option {
    display: inline-table;

    margin-bottom: 10px;

    font-size: 16px;
}

.advanced-option .select-name,
.reducers-label {
    display: table-cell;

    min-width: 300px;
    padding-right: 10px;

    text-align: right;

    line-height: 40px;
}

.advanced-option .btn-group .dd-fixed-width,
.advanced-option .reducers-field input {
    line-height: 26px;
}

.advanced-option .reducers-field input {
    width: 100%;

    text-indent: 12px;
}

.advanced-option .btn-group .dd-fixed-width,
.advanced-option .reducers-field {
    display: table-cell;

    width: 100%;
}

.advanced-option .edit-error {
    position: absolute;

    min-width: 348px;
    margin: 34px 0 0 -340px;

    text-align: right;
    letter-spacing: -0.1;

    font-size: 14px;
}

@-moz-document url-prefix() {
    .advanced-option .edit-error {
        min-width: 348px;
        margin-top: 7px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .advanced-option .edit-error {
        min-width: 348px;
        margin-top: 7px;
    }
    .advanced-option .reducers-field input {
        height: 26px;

        line-height: 26px;
    }
}
.remove-icon {
    margin-top: 2px;
    margin-left: 3px;
}
.bar {
    width: 0;
    height: 22px;

    -webkit-animation: move 3s linear infinite;
       -moz-animation: move 3s infinite linear;
        -ms-animation: move 3s linear infinite;
            animation: move 3s linear infinite;

    background-color: #256ec2;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    repeating-linear-gradient(to top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
    repeating-linear-gradient(to left,#0bf,#256ec2);
    background-size: 50px 28px, 100% 100%, 100% 100%;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
}
.over {
    max-width: 170px;
    margin-top: -21px;
    margin-left: 10px;

    color: #fff;

    line-height: 22px;
}
@-webkit-keyframes move {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }
    100% {
        background-position: -100px 0, 0 0, 0 0;
    }
}
@keyframes move {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }
    100% {
        background-position: -100px 0, 0 0, 0 0;
    }
}

.upload-bar {
    width: 98%;
    margin: 2px;
}
.upload-bar tr {
    display: block;

    padding-bottom: 2px;
}
.upload-bar td {
    border: 1px solid #807878;
}
.upload-bar td:first-child {
    width: 100%;

    background-color: #999;
}
.upload-bar td:last-child {
    width: 24px;
    min-width: 24px;
    padding-right: 3px;
    padding-left: 3px;

    background-color: #fef1d2;
}
