.modal-header.message,
.modal-header.confirm {
    background-color: #f60;
}

.item .title {
    padding: 10px;
}

.item .key {
    padding-left: 10px;

    color: #888;
    border-bottom: 1px solid #ddd;
}

.item .value {
    min-width: 300px;
    padding: 0 10px 0 10px;

    text-align: left;

    border-bottom: 1px solid #ddd;
}

.modal-header.error {
    background-color: #f00;
}

.modal-header {
    padding: 9px 15px;

    color: white;
    border-bottom: 1px solid #eee;
}
.form-group {
    margin-bottom: 17px;
}
.form-group > .edit-error {
    display: block;

    margin-right: 115px;
}
.form-group > .dual > .edit-error {
    margin-right: 0;
}
