.modal-header.message,
.modal-header.confirm {
    background-color: #ff6600;
}

.item .title {
    padding: 10px;
}

.item .key {
    border-bottom: 1px solid #ddd;
    color: #888;
    padding-left: 10px;
}

.item .value {
    text-align: left !important;
    border-bottom: 1px solid #ddd;
    min-width: 300px;
    padding: 0 10px 0 10px;
}

.modal-header.error {
    background-color: #ff0000;
}

.modal-header {
    color: white;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}

.breadcrumb {
    padding: 0;
    background-color: transparent!important;
    margin-top: 20px;
    margin-bottom: 10px!important;
}

.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #52A8EC;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}