<div>
    <div class="modal-header">
        <h1>Create SSH key</h1>
    </div>
    <div class="modal-body">
        <p>Your private key should begin downloading when you click “Create”. The public half of the
            key will be added to your Joyent Public Could account.<br /><br />
            Keep your private key file safe.</p>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <form name="keyNameForm">
                    <input name="keyName" type="text" class="span5" data-ng-model="keyName" data-ng-pattern="/^[a-zA-Z0-9\_\-]*$/" placeholder="optional ssh key name" />
                    <p data-ng-show="keyNameForm.keyName.$invalid" class="error">Invalid key name</p>
                </form>
            </div>
        </div>
        <iframe class="ssh-download-iframe" data-ng-src="{{sshGenerateUrl}}" seamless="seamless" style="width: 0px; height: 0px;"></iframe>
    </div>
    <div class="modal-footer">
        <button data-ng-click="close()" data-label="Cancel" class="btn pull-left">Cancel</button>
        <button data-ng-click="generateKey()" data-label="Create" class="btn btn-joyent-blue" data-ng-disabled="keyNameForm.keyName.$invalid">Create</button>
    </div>
</div>
