<div>
    <div class="modal" tabindex="-1" data-backdrop="static" data-focus-on="button">
        <div class="modal-header message">
            <h5><i class="icon-info-sign"></i><b>Import SSH Public Key</b></h5>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">Key Name</label>
                <div class="controls">
                    <input type="text" class="span5" data-ng-model="data.keyName" placeholder="optional"
                            data-ng-disabled="keyLoading"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Public Key</label>
                <div class="controls">
                    <textarea class="ssharea span5" rows="10"
                            data-ng-model="data.keyData"
                            data-ng-disabled="keyLoading"></textarea><br />
                </div>
            </div>
            <div class="loading-medium" data-ng-show="keyLoading"></div>
        </div>
        <div class="modal-footer">
            <!--<button data-ng-repeat="btn in buttons" data-ng-click="close(btn.result)" class="btn orange" data-ng-class="btn.cssClass">{{ btn.label }}</button>-->
            <button data-ng-repeat="btn in buttons" data-button-focus="{{ btn.setFocus }}" data-ng-click="close(btn.result)" class="btn orange effect-orange-button" data-ng-class="{'grey-new': btn.label == 'Cancel'}">{{ btn.label }}</button>
            <span data-ng-show="isUploadSshEnabled">
                <span class="modal-footer-text">or</span>
                <label type="button" class="btn orange effect-orange-button upload-key-label" for="uploadInput">upload</label>
                <input type="file"
                       id="uploadInput"
                       name="uploadInput"
                       style="display: none"
                       data-ng-model="filePath"
                       onchange="angular.element(this).scope().uploadFile(uploadInput)">
            </span>
        </div>
    </div>
</div>
