<div class="modal-dialog modal-dialog-ssh">
    <div class="modal-content">
        <div class="modal-ssh" tabindex="-1" data-backdrop="static" data-focus-on="button">
            <div class="modal-header message">
                <h5><i class="glyphicon glyphicon-info-sign"></i><b>Import SSH Public Key</b></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Key Name</label>
                    <div>
                        <input type="text" class="col-md-12 ssh-key-name" data-ng-model="data.keyName" placeholder="optional"
                               data-ng-disabled="loadingKeys"/>
                    </div>
                </div>
                <div class="form-group control-group-ssh">
                    <label class="control-label">Public Key</label>
                    <div class="row">
                        <textarea class="ssharea col-md-12" rows="10"
                                  data-ng-model="data.keyData"
                                  data-ng-disabled="loadingKeys"
                                  data-auto-focus></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footer-ssh">
                <button data-button-focus="false" data-ng-disabled="loadingKeys" data-ng-click="close('cancel')" class="btn orange effect-orange-button grey-new">Cancel</button>
            <span data-ng-show="isUploadSshEnabled">
                <label type="button" data-ng-disabled="loadingKeys" class="btn orange effect-orange-button grey-new upload-key-label" for="uploadInput">upload</label>
                <input type="file"
                       id="uploadInput"
                       name="uploadInput"
                       style="display: none"
                       data-ng-model="filePath"
                       onchange="angular.element(this).scope().uploadFile(uploadInput)">
            </span>
                <button data-button-focus="true" data-ng-disabled="loadingKeys" data-ng-click="close('add')" class="btn orange effect-orange-button">Add</button>
                <div class="loading-medium-tr" data-ng-show="loadingKeys"></div>
            </div>
        </div>
    </div>
</div>
