input {
    width: 100%;

    text-overflow: ellipsis;
}

form {
    margin: 0 0 10px;
}

.edit-value {
    width: 328px;
}
.edit-value.dual {
    width: 340px;
}
.new-rule .edit-value,
.rule-edit .edit-value {
    width: 100%;
}

.btn-bottom-block {
    margin-bottom: 30px;
    padding-top: 20px;

    border-top: 1px solid #ccc;
}

.panel-body {
    padding: 9px 0;
}

label.name {
    height: 25px;
    padding-right: 10px;

    vertical-align: middle;

    font-size: 16px;
}

.policy label.name {
    width: 125px;

    text-align: right;
}

.role label.name {
    box-sizing: content-box;
    width: 45px;
}

.rules .edit-name,
.new-rule .edit-name,
.rule-edit .edit-name {
    width: 65px;
}

.rules label.name {
    height: 16px;
}

.rule-edit label.name {
    height: 25px;
}

.rule-edit {
    padding-top: 10px;
}

.role .form-group .edit-name,
.policy .form-group .edit-name {
    width: 100px;
}

.role-name {
    width: 360px;
}

.edit-error {
    letter-spacing: -.1px;
}

input.policy-form {
    width: 352px;
}

.rule-edit input.policy-form,
.new-rule input.policy-form {
    width: 330px;
}

.rule-edit input.policy-form {
    margin-bottom: 10px;
}

.add-btn {
    min-width: 62px;
    height: 28px;
    margin-left: 8px;
    padding: 5px 0 7px 0;

    vertical-align: top;
}

.controls,
.rule-edit {
    border-bottom: 1px solid #e9e9e9;
}

.controls {
    height: 30px;
}

.controls div.policy-form {
    display: inline-block;
    overflow: hidden;

    width: 390px;

    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;

    line-height: 30px;
}

.new-rule {
    margin-top: 10px;
}

.edit-name {
    width: 142px;
    padding-right: 7px;

    vertical-align: middle;

    line-height: 26px;
}

.remove-icon {
    margin-top: 10px;
}

.policy-form-error {
    width: 476px;
}

.filter-field {
    width: 190px;

    font-size: 14px;
}

.container-position {
    padding-bottom: 25px;
}

.container-min-width {
    box-sizing: content-box;
}

label {
    white-space: nowrap;

    font-weight: normal;
}

.rbac-column:first-child {
    margin-right: 10px;
}

.rbac-column {
    padding-right: 0;
    padding-left: 0;
}

.col-md-6.rbac-column {
    width: 495px;
}

.btn-bottom-block .rbac-doc {
    padding-top: 15px;
}
.note-text {
    margin: 5px 0 0 155px;

    font-size: 12px;
}
select.policy-form {
    width: 345px;
}
