.landing-create-account-link
{
    cursor: pointer;
}

body
{
    background-color: #e4e7eb;
}

.orange
{
    color: #fff;
    background-color: #f60;
}

.orange-text
{
    color: #f60;
}

.branding i
{
    font-style: italic;
}

/* Buttons */

.branding .btn
{
    font-size: 14px;

    padding: 7px 14px;

    cursor: pointer;
    text-transform: capitalize;

    color: #333;
    border: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    outline: none;
    background-image: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    filter: none;
}

.btn.orange
{
    min-width: 100px;

    color: #fff;
    outline: none;
    text-shadow: none;
}

.btn.orange:hover,
.btn.orange:focus,
.btn.orange:active,
.btn.orange.active,
.btn.orange.disabled,
.btn.orange[disabled]
{
    color: #fff !important;
    background-color: #f60 !important;
}
