<form id="paymentForm" class="row" data-ng-class="{'loading-medium': isSaving}">
    <fieldset class="span4">
        <legend>Credit card details</legend>
        <div class="control-group">
            <label class="control-label" for="creditCardNumber">Card Number</label>
            <div class="controls">
                <input type="text" id="creditCardNumber" data-ng-class="{error: errs.creditCardNumber || errs['creditCard.cardNumber']}" placeholder="Card Number" data-ng-model="form.creditCardNumber"  maxlength="16" size="40" required>
            </div>
        </div>
		<div class="row">
            <div class="control-group pull-left span1">
            	<label class="control-label" for="expirationMonth">Month</label>
            	<div class="controls">
                    <select data-ng-model="form.expirationMonth" data-ng-class="{error: errs.expirationMonth || errs['creditCard.expirationMonth']}" id="expirationMonth" data-ng-options="value for value in months" required></select>
                </div>
            </div>
            <div class="control-group pull-left span2">
            	<label class="control-label" for="expirationYear">Year</label>
            	<div class="controls">
                    <select data-ng-model="form.expirationYear" data-ng-class="{error: errs.expirationMonth || errs['creditCard.expirationMonth']}" id="expirationYear" data-ng-options="value for value in years" required></select>
                </div>
            </div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
        <div class="control-group">
            <label class="control-label" for="securityCode">CVV</label>
            <div class="controls">
                <input type="text" id="securityCode" data-ng-class="{error: errs.securityCode}" data-ng-model="form.securityCode" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cardHolderName-firstName">First name</label>
            <div class="controls">
                <input type="text" id="cardHolderName-firstName" data-ng-class="{error: errs.cardHolderName || errs['billToContact.firstName']}" placeholder="First name" data-ng-model="form.firstName"  size="50" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cardHolderName-lastName">Last Name</label>
            <div class="controls">
                <input type="text" id="cardHolderName-lastName" data-ng-class="{error: errs.cardHolderName || errs['billToContact.lastName']}" placeholder="Last name" data-ng-model="form.lastName"  size="50" required>
            </div>
        </div>
    </fieldset>
    <fieldset class="span4">
        <legend>Billing	 information</legend>

        <div class="control-group">
            <label class="control-label" for="addressLine1">Address line 1</label>
            <div class="controls">
                <input type="text" id="addressLine1" data-ng-model="form.cardHolderInfo.addressLine1" size="255">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addressLine2">Address line 2</label>
            <div class="controls">
                <input type="text" id="addressLine2" data-ng-model="form.cardHolderInfo.addressLine2" size="255">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="country" required>Country</label>
            <div class="controls">
                <select  data-ng-class="{error: errs.country}" data-ng-model="form.cardHolderInfo.country" id="country" required data-ng-options="country.iso3 as country.name for country in countries| orderBy: 'name'"></select>
            </div>
        </div>
        <div class="control-group" data-ng-show="!stateSel">
            <label class="control-label" for="state">State</label>
            <div class="controls">
                <input type="text" id="state" data-ng-class="{error: errs.state}" placeholder="State" data-ng-model="form.cardHolderInfo.state" required>
            </div>
        </div>
        <div class="control-group" data-ng-show="stateSel">
            <label class="control-label" for="stateSel">State</label>
            <div class="controls">
                <select data-ng-class="{error: errs.state}" id="stateSel" data-ng-model="form.cardHolderInfo.state" required>
                    <option data-ng-repeat="(k, v) in stateSel" value="{{k}}">{{v}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="city">City</label>
            <div class="controls">
                <input type="text" id="city" data-ng-class="{error: errs.city}" placeholder="City" data-ng-model="form.cardHolderInfo.city" size="40" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="zipCode">Zip Code</label>
            <div class="controls">
                <input type="text" id="zipCode" data-ng-class="{error: errs.zipCode}" placeholder="Zip" data-ng-model="form.cardHolderInfo.zipCode" size="10" required>
            </div>
        </div>
    </fieldset>
    <div class="clearfix"></div>
    <div class="span7 align-right">
        <button class="btn btn-success" data-ng-click="submitForm()" data-ng-disabled="isSaving">Submit</button>
    </div>

</form>