<form name="paymentForm" data-ng-class="{'loading-medium': isSaving}" class="row-fluid">
    <fieldset class="span6">
        <legend>Credit card details</legend>
        <div class="control-group">
            <label class="control-label" for="creditCardNumber" data-translate>Card number</label>
            <div class="controls">
                <input type="text"
                       id="creditCardNumber"
                       name="creditCardNumber"
                       size="40"
                       placeholder="Card number"
                       data-translate="placeholder"
                       data-ng-pattern="/^(\d+)$/"
                       data-ng-model="form.creditCardNumber"
                       data-ng-class="{error: isErrorPresent('creditCard.creditCardNumber')}"
                       required>
                <div class="error"
                      data-translate
                      data-ng-show="isErrorOf('creditCard.creditCardNumber')">
                    Invalid credit card number
                </div>
                <div class="error"
                      data-translate
                      data-ng-show="isErrorOf('creditCard.creditCardNumber', 'required')">
                    Missing credit card number
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('creditCard.creditCardNumber', 'pattern')">
                    Invalid symbols (numbers only)
                </div>
            </div>
        </div>
		<div class="container">
            <div class="control-group pull-left">
            	<label class="control-label" for="expirationMonth" data-translate>Month</label>
            	<div class="controls">
                    <select id="expirationMonth"
                            name="expirationMonth"
                            class="date-month"
                            data-ng-model="form.expirationMonth"
                            data-ng-class="{error: isErrorPresent('creditCard.expirationMonth')}"
                            data-ng-options="value for value in months"
                            required>
                    </select>
                </div>
            </div>
            <div class="control-group pull-left span3">
            	<label class="control-label" for="expirationYear" data-translate>Year</label>
            	<div class="controls">
                    <select id="expirationYear"
                            name="expirationYear"
                            class="date-year"
                            data-ng-model="form.expirationYear"
                            data-ng-class="{error: isErrorPresent('creditCard.expirationYear')}"
                            data-ng-options="value for value in years"
                            required>

                    </select>
                </div>
            </div>
			<div class="clearfix"></div>
		</div>
        <div class="control-group">
            <div class="error"
                 data-translate
                 data-ng-show="isErrorOf('creditCard.expirationMonth')">
                Missing expiration month
            </div>
            <div class="error"
                 data-translate
                 data-ng-show="isErrorOf('creditCard.expirationYear')">
                Missing expiration year
            </div>
        </div>
		<div class="clearfix"></div>
        <div class="control-group">
            <label class="control-label" for="securityCode" data-translate>CVV</label>
            <div class="controls">
                <input type="text"
                       id="securityCode"
                       name="securityCode"
                       data-ng-class="{error: isErrorPresent('creditCard.securityCode')}"
                       data-ng-model="form.securityCode"
                       required>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('creditCard.securityCode')">
                    Invalid security code
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('creditCard.securityCode', 'required')">
                    Missing security code
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="firstName" data-translate>First name</label>
            <div class="controls">
                <input type="text"
                       id="firstName"
                       name="firstName"
                       placeholder="First name"
                       size="50"
                       data-translate="placeholder"
                       data-ng-class="{error: isErrorPresent('billToContact.firstName')}"
                       data-ng-model="form.firstName"
                       required>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('billToContact.firstName')">
                    Invalid first name
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('billToContact.firstName', 'required')">
                    Missing first name
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lastName" data-translate>Last name</label>
            <div class="controls">
                <input type="text"
                       id="lastName"
                       name="lastName"
                       placeholder="Last name"
                       size="50"
                       data-translate="placeholder"
                       data-ng-class="{error: isErrorPresent('billToContact.lastName')}"
                       data-ng-model="form.lastName"
                       required>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('billToContact.lastName')">
                    Invalid last name
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('billToContact.lastName', 'required')">
                    Missing last name
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="span6">
        <legend>Billing	 information</legend>
        <div class="control-group">
            <label class="control-label inline" for="useExisting" data-translate>Use contact info</label>
            <input type="checkbox" id="useExisting" data-ng-model="useExisting" />
        </div>
        <div class="control-group">
            <label class="control-label" for="addressLine1" data-translate>Address line 1</label>
            <div class="controls">
                <input type="text"
                       id="addressLine1"
                       name="addressLine1"
                       data-ng-class="{error: isErrorPresent('addressLine1')}"
                       data-ng-model="form.cardHolderInfo.addressLine1"
                       size="255"
                       data-ng-disabled="useExisting">
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('addressLine1')">
                    Invalid address 1 line
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('addressLine1', 'required')">
                    Missing address 1 line
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addressLine2">Address line 2</label>
            <div class="controls">
                <input type="text"
                       id="addressLine2"
                       name="addressLine2"
                       data-ng-class="{error: isErrorPresent('addressLine2')}"
                       data-ng-model="form.cardHolderInfo.addressLine2"
                       size="255"
                       data-ng-disabled="useExisting">
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('addressLine2')">
                    Invalid address 2 line
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('addressLine2', 'required')">
                    Missing address 2 line
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="country" data-translate>Country</label>
            <div class="controls">
                <select  id="country"
                         name="country"
                         data-ng-class="{error: isErrorPresent('country')}"
                         data-ng-model="form.cardHolderInfo.country"
                         data-ng-options="country.iso3 as country.name for country in countries| orderBy: 'name'"
                         required
                         data-ng-disabled="useExisting">
                </select>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('country')">
                    Invalid country
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('country', 'required')">
                    Missing country
                </div>
            </div>
        </div>
        <div class="control-group" data-ng-show="!stateSel">
            <label class="control-label" for="state" data-translate>State</label>
            <div class="controls">
                <input type="text"
                       id="state"
                       name="state"
                       placeholder="State"
                       data-translate="placeholder"
                       data-ng-class="{error: isErrorPresent('state')}"
                       data-ng-model="form.cardHolderInfo.state"
                       required
                       data-ng-disabled="useExisting">
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('state')">
                    Invalid state
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('state', 'required')">
                    Missing state
                </div>
            </div>
        </div>
        <div class="control-group" data-ng-show="stateSel">
            <label class="control-label" for="stateSel" data-translate>State</label>
            <div class="controls">
                <select id="stateSel"
                        name="state"
                        data-ng-class="{error: isErrorPresent('state')}"
                        data-ng-model="form.cardHolderInfo.state"
                        required
                        data-ng-disabled="useExisting">
                    <option data-ng-repeat="(k, v) in stateSel" value="{{k}}">{{v}}</option>
                </select>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('state')">
                    Invalid state
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('state', 'required')">
                    Missing state
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="city" data-translate>City</label>
            <div class="controls">
                <input type="text"
                       id="city"
                       name="city"
                       size="40"
                       placeholder="City"
                       data-translate="placeholder"
                       data-ng-class="{error: isErrorPresent('city')}"
                       data-ng-model="form.cardHolderInfo.city"
                       required
                       data-ng-disabled="useExisting">
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('city')">
                    Invalid city
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('city', 'required')">
                    Missing city
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="zipCode" data-translate>Zip code</label>
            <div class="controls">
                <input type="text"
                       id="zipCode"
                       name="zipCode"
                       placeholder="Zip"
                       data-translate="placeholder"
                       data-ng-pattern="/^(\d+)$/"
                       data-ng-class="{error: isErrorPresent('zipCode')}"
                       data-ng-model="form.cardHolderInfo.zipCode"
                       required
                       data-ng-disabled="useExisting">
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('zipCode')">
                    Invalid Zip code
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('zipCode', 'required')">
                    Missing Zip code
                </div>
                <div class="error"
                     data-translate
                     data-ng-show="isErrorOf('zipCode', 'pattern')">
                    Invalid symbols (numbers only)
                </div>
            </div>
        </div>
    </fieldset>
    <div class="clearfix"></div>
    <div>
		<div class="clearfix" data-ng-show="currentStep"></div>
		<hr data-ng-show="currentStep" />
		<a data-ng-show="currentStep" data-ng-click="signOut()" class="pull-left note text-small" data-translate>Click here to return to homepage</a>

        <button class="pull-right btn btn-success" data-ng-click="submitForm()" data-ng-disabled="paymentForm.$invalid || isSaving">Submit</button>
    </div>

</form>
