<div class="{{summary && ' ' || '' }}" data-ng-show="creditCard">
    <div class="{{summary && 'text-medium' || 'separation-container' }}" data-ng-show="creditCard.cardNumber">
        <p class="field">
            <span class="name" data-translate>Card type</span>
            <span class="value">{{creditCard.cardType}}</span>
        </p>
        <p class="field">
            <span class="name" data-translate>Card No</span>
            <span class="value">{{creditCard.cardNumber}}</span>
        </p>
        <p class="field">
            <span class="name" data-translate>Exp. Date</span>
            <span class="value">{{creditCard.expirationMonth}}/{{creditCard.expirationYear}}</span>
        </p>
        <p class="field">
            <span class="name" >Name</span>
            <span class="value">{{creditCard.cardHolderInfo.cardHolderName}}</span>
        </p>
    </div>
    <div data-ng-show="!provisionEnabled" class="field">
        <span class="no-billing-text" data-translate>
            Payment method is not yet provided
        </span>
    </div>
    <div data-ng-show="provisionEnabled && !creditCard.cardNumber" class="name" data-translate>
        Alternative Payment Method on File
    </div>
    <!-- {{creditCardJSON}} -->
</div>