<button role="button"
        data-ng-disabled="isDisabled(object) || object.state == 'provisioning' || object.state == 'creating'"
        data-ng-click="doAction(object)"
        data-ng-class="getClass(object) || 'pull-left'"
        data-ng-show="show(object)"
        data-toggle="tooltip"
        data-tooltip-on-click
        data-placement="top"
        data-html="true"
        data-original-title="{{getTooltip(object) || tooltip}}"
        data-translate-attributes="data-original-title"
        data-translate-value>
    {{getLabel(object) || label}}
</button>