<div>
    <ul class="breadcrumb">
        <li><a href="#!/compute">Compute</a></li>
    </ul>
    <div class="container-min-width">
        <h3 class="page-title no-breadcrumb-line" data-translate>
            Create Instance
        </h3>
        <div data-ng-hide="loading || datasetsLoading">
            <div class="wizard-first-step row">
                <div data-ng-hide="isCurrentLocation('compute/container/create|compute/docker/welcome')">
                    <span class="select-name">Data Center:</span>
                    <div class="btn-group">
                        <div class="loading-medium loading-medium-inline" data-ng-show="datasetsLoading"></div>
                        <ui-select data-ng-model="data.datacenter"
                                   ng-disabled="datasetsLoading || currentPageIndex"
                                   theme="select2"
                                   search-enabled="true"
                                   class="datacenter-select">
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="datacenter.name as datacenter in datacenters | orderBy: $index | filter: $select.search">
                                {{datacenter.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="hotlinks">
                    <create-instance-link path="create/simple"
                                          action="clickBackToQuickStart()">
                    </create-instance-link>
                    <create-instance-link path="create/custom"
                                          type="custom"
                                          action="selectInstanceType(type)">
                    </create-instance-link>
                    <create-instance-link path="container/create"
                                          data-ng-if="dockerHostsAvailable"
                                          type="container"
                                          action="setCreateInstancePage(type)">
                    </create-instance-link>
                    <create-instance-link path="create/native-container"
                                          type="native-container"
                                          action="selectInstanceType(type)">
                    </create-instance-link>
                    <create-instance-link path="create/virtual-machine"
                                          data-ng-show="hasVmImages"
                                          type="virtual-machine"
                                          action="selectInstanceType(type)">
                    </create-instance-link>
                </div>
            </div>
        </div>
    </div>
</div>
