<div>
    <ul class="breadcrumb">
        <li><a href="#!/compute">Compute</a></li>
    </ul>
    <div class="container-min-width">
        <h3 class="page-title no-breadcrumb-line container-min-width" data-translate>
            Create Instance
        </h3>
        <div>
            <div class="wizard-first-step row">
                <div data-ng-hide="isCurrentLocation('compute/container/create|compute/docker/dashboard')">
                    <span class="select-name">Data Center:</span>
                    <div class="btn-group">
                        <div class="loading-medium loading-medium-inline" data-ng-show="datasetsLoading"></div>
                        <select type="hidden" data-select-two id="selectDatacenter" width="110" data-ng-model="data.datacenter"
                                data-fn="selectDatacenter" data-select="data.datacenter" placeholder="No matches found"
                                data-select2-disabled="datasetsLoading || currentPageIndex">
                            <option value=""></option>
                            <option data-ng-repeat="datacenter in datacenters | orderBy:$index" value="{{datacenter.name}}">
                                {{datacenter.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="hotlinks">
                    <create-instance-link path="create/simple"
                                          action="clickBackToQuickStart()">
                    </create-instance-link>
                    <create-instance-link path="container/create"
                                          data-ng-if="features.docker == 'enabled'"
                                          type="container"
                                          action="setCreateInstancePage(type)">
                    </create-instance-link>
                    <create-instance-link path="create/native-container"
                                          data-ng-show="isCurrentLocation('compute/container/create|docker/dashboard') || isSdcDatacenter"
                                          type="native-container"
                                          action="selectInstanceType(type)">
                    </create-instance-link>
                    <create-instance-link path="create/virtual-machine"
                                          type="virtual-machine"
                                          action="selectInstanceType(type)">
                    </create-instance-link>
                </div>
            </div>
        </div>
    </div>
</div>
