<div class="container" data-ng-controller="Machine.DetailsController">
    <div data-breadcrumb></div>
    <div data-notification></div>

    <div class="page-header">
        <div class="row">
            <div class="span10">
                <h1 class="pull-left machine-name hide-overflow" data-ng-class="renameClass()" data-ng-show="!changingName || features.instanceRename == 'disabled'" data-ng-click="enableRename(machine.name)">{{machine.name}}</h1>
                <form name="instanceRename" class="machine-edit-form">
                    <div class="error"
                         data-ng-show="instanceRename.instanceRename.$error.machineName && changingName && newInstanceName != machine.name"
                         data-translate>
                        Invalid machine name
                    </div>

                    <div class="error"
                         data-ng-show="instanceRename.instanceRename.$error.machineUnique && changingName && newInstanceName != machine.name"
                         data-translate>
                        Machine name is already in use
                    </div>
                    <div class="pull-left machine-edit" data-ng-show="changingName">
                        <input class="machine-name-edit" id="instanceRename" name="instanceRename" data-ng-model="newInstanceName" type="text" data-machine-name data-machine-unique/>
                        <div class="btn-group machine-edit-buttons">
                            <button class="btn" data-ng-click="clickRename()" data-ng-disabled="instanceRename.$invalid || newInstanceName.length <= 0 || newInstanceName==machine.name || renaming" type="button"><i class="icon-ok"/></button>
                            <button class="btn" data-ng-click="cancelRename()" data-ng-disabled="renaming" type="button"><i class="icon-remove"/></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span2">
                <div data-object-state data-object="machine" class="pull-right" data-type="machine"></div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="machine span8 listing text-medium">
            <fieldset data-ng-show="machine">
                <legend data-translate>Overview</legend>
                <div class="row-fluid">
                    <div class="span11">
                        <div class="row-fluid">
                            <span class="span4 key" data-translate>UUID</span>
                            <span class="span8 value pull-right">{{machine.id}}&nbsp;</span>
                        </div>
                        <div data-ng-show="machine.name" class="row-fluid">
                            <span class="key span4" data-translate>Instance name</span>
                            <span class="value span8 pull-right hide-overflow">{{machine.name}}&nbsp;</span>
                        </div>

                        <div class="row-fluid">
                            <span class="key span4" data-translate>Type</span>
                            <span class="value span8 pull-right">{{machine.type}}&nbsp;</span>
                        </div>

                        <div class="row-fluid">
                            <span class="key span4" data-translate>Image UUID</span>
                            <span class="value span8 pull-right">{{machine.image}}&nbsp;</span>
                        </div>

                        <div class="row-fluid">
                            <span class="key span4" data-translate>Image</span>
                            <span class="value span8 pull-right">{{dataset.name}}&nbsp;</span>
                        </div>

                        <div class="row-fluid">
                            <span class="key span4" data-translate>Image version</span>
                            <span class="value span8 pull-right">{{dataset.version}}&nbsp;</span>
                        </div>

                        <div class="row-fluid">
                            <span class="key span4" data-translate>Memory</span>
                            <span class="value span8 pull-right">{{machine.memory | sizeFormat}}&nbsp;</span>
                        </div>

                        <div class="row-fluid">
                            <span class="key span4" data-translate>Disk</span>
                            <span class="value span8 pull-right">{{machine.disk | sizeFormat}}&nbsp;</span>
                        </div>

                        <div class="row-fluid" data-ng-show="machine.ips">
                            <span class="key span4" data-translate>IP addresses</span>
                             <span class="value span8 pull-right">
                                 <span data-ng-repeat="ip in machine.ips">{{ip}}&nbsp;</span>
                             </span>
                        </div>

                        <div class="row-fluid" data-ng-show="machine.created">
                            <span class="key span4" data-translate>Created</span>
                                            <span class="value span8 pull-right">
                                                {{machine.created | dateTime:'MMM Do'}}&nbsp;
                                            </span>
                        </div>

                        <div class="row-fluid" data-ng-show="machine.datacenter">
                            <span class="key span4" data-translate>Datacenter</span>
                            <span class="value span8 pull-right">{{machine.datacenter}}&nbsp;</span>
                        </div>

                        <div class="row-fluid" data-ng-show="machine.primaryIp">
                            <span class="key span4" data-translate>Login</span>
                            <span class="value span8 pull-right" data-ng-show="machine.os != 'windows'">ssh {{defaultSshUser}}@{{machine.primaryIp}}&nbsp;</span>
                            <span class="value span8 pull-right" data-ng-show="machine.os == 'windows'">Use remote desktop to connect to {{machine.primaryIp}}&nbsp;</span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset data-ng-show="machine.metadata.credentials">
                <legend data-translate>Credentials</legend>

                <table class="table table-striped text-medium">
                    <thead>
                        <th data-translate>System</th>
                        <th data-translate>Username</th>
                        <th data-translate>Password</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tr data-ng-repeat="(key,credential) in machine.metadata.credentials">
                        <td>{{credential.system}}</td>
                        <td>{{credential.username}}</td>
                        <td><span data-ng-show="isPasswordVisible(key)">************</span><span data-ng-hide="isPasswordVisible(key)">{{credential.password}}</span></td>
                        <td nowrap>
                            <a class="show-password" data-translate data-ng-click="togglePassword(key)" data-ng-show="isPasswordVisible(key)">[ Show ]</a>
                            <a class="show-password" data-translate data-ng-click="togglePassword(key)" data-ng-show="!isPasswordVisible(key)">[ Hide ]</a>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <div data-ng-show="machine && features.imageCreate == 'enabled'">
                <legend>
                    <span data-translate>Create Image</span>
                    <div class="beta-sticker pull-right beta"></div>

                </legend>

                <p class="text-small muted" data-ng-show="machine.state != 'stopped' && !imageCreateNotSupported" data-translate>
                    Instance needs to be stopped before creating an image.
                </p>

                <p class="text-samll muted" data-ng-show="imageCreateNotSupported">
                    {{imageCreateNotSupported}}
                </p>

                <div class="clearfix"></div>

                <div>
                    <form name="imageForm">
                        <div class="error"
                             data-ng-show="imageForm.imageName.$error.imageUnique"
                             data-translate>
                            Image name is already in use
                        </div>
                        <div class="error"
                             data-ng-show="imageForm.imageName.$error.machineName"
                             data-translate>
                            Invalid image name
                        </div>
                        <div>
                            <input type="text"
                                placeholder="Image name"
                                name="imageName"
                                data-ng-model="imageName"
                                data-ng-disabled="imageJob && !imageJob.finished"
                                data-machine-name
                                data-image-unique
                                value=""/>
                            <input type="text" placeholder="Image description (optional)"
                                name="imageDescription"
                                data-ng-model="imageDescription"
                                data-ng-disabled="imageJob && !imageJob.finished"
                                value="" />
                        </div>
                        <button class="btn btn-joyent-blue pull-right"
                                data-ng-click="clickCreateImage()"
                                data-translate
                                data-ng-disabled="(imageJob && !imageJob.finished) || imageForm.$invalid">
                            Create Image
                        </button>
                        <div class="loading-medium span1 pull-right"
                             data-ng-show="imageJob && !imageJob.finished"></div>
                    </form>
                    <br />
                    <div class="pull-right"><a class="tiny-link-text" href="#!/images">My images list</a></div>
                </div>
            </div><br/>
            <fieldset data-ng-show="machine && features.instanceTagging == 'enabled'">
                <legend>
                    <span data-translate>Tags</span>
                    <small data-translate>Add tags for convenient instance searching</small>
                </legend>

                <p class="text-small muted" data-translate>
                    Tags are metadata stored as key-value pairs to make it easier for you to find, sort,
                    and identify your instances.
                </p>

                <div data-machine-collection
                     data-collection="tagsArray"
                     data-collection-name="'tags'"
                     data-machine="machine">
                </div>

                <div class="clearfix"></div>
            </fieldset>
            <fieldset data-ng-show="machine && features.instanceMetadata == 'enabled'">
                <legend>
                    <span data-translate>Metadata</span>
                </legend>

                <div data-machine-collection
                     data-collection="metadataArray"
                     data-collection-name="'metadata'"
                     data-machine="machine">
                </div>

                <div class="clearfix"></div>
            </fieldset>
            <fieldset data-ng-show="networks.length >= 1">
                <legend>
                    <span data-translate>Networks</span>
                    <small data-translate>Instance networks</small>
                </legend>

                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Public</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="network in networks" data-ng-show="network.id">
                            <td>{{$index+1}}.</td>
                            <td>{{network.name}}</td>
                            <td>{{network.id}}</td>
                            <td>{{network.public}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>

            <span data-ng-switch="features.firewall">
                <div data-ng-show="machine" data-ng-switch-when="enabled">
                    <legend>
                        <span data-translate>Cloud Firewall</span>
                        <div class="beta-sticker pull-right beta"></div>
                    </legend>

                    <div data-ng-show="machine.type == 'virtualmachine'">
                        <div class="text-small muted">
                        {{machine.type}} instances are not yet supported by the FWAPI.
                        </div>
                    </div>
                    <div data-ng-show="machine.type != 'virtualmachine'">
                        <div class="text-small muted">
                            ICMP 8:0 is always open. With Firewall Rules enabled:
                            <ul>
                                <li>Block all inbound traffic</li>
                                <li>Allow all outbound traffic</li>
                            </ul>
                            The default rules are overridden by your own rules. There is no ordering to your own rules. For incoming traffic, the least restrictive rule wins. For outgoing traffic, the most restrictive rule wins.  
                        </div>
                        <div data-ng-show="firewallRules.length >= 1">
                            <div class="span12">
                                <div data-grid-view
                                     data-props="gridProps"
                                     data-objects="firewallRules"
                                     data-paginated="false"
                                     data-order="gridOrder"
                                     data-filter-all="{{query}}"
                                     data-objects-type="firewall"></div>
                            </div>
                        </div>
                        <div data-ng-show="firewallRules.length < 1"><br/><br/>
                            <div class="alert alert-info" data-translate>You have no firewall rules that would apply to this machine</div>
                        </div>
                        <div class="row text-right">
                            <a class="editLink" href="#!/firewall">Edit</a>
                            <button class="pull-right btn margin-top-10"
                                    data-ng-class="{'btn-success': !machine.firewall_enabled, 'btn-danger': machine.firewall_enabled}"
                                    data-ng-disabled="fireWallActionRunning || machine.state == 'provisioning'"
                                    data-ng-show="firewallChangeable()"
                                    data-ng-click="toggleFirewallEnabled()"
                                    data-translate-value>{{machine.firewall_enabled && 'Disable' || 'Enable'}}</button>
                            <div class="pull-right loading-medium loading-30 margin-top-10" data-ng-show="fireWallActionRunning"></div>
                        </div>
                    </div>
                </div>
            </span>

            <div class="clearfix"></div>
        </div>

        <div class="span4 pull-right" style="margin-top:40px">
            <div class="well well-small shadow">
            <div class="row-fluid">
                <button role="button"
                        data-ng-disabled="(machine.job && !machine.job.finished) || machine.state != 'stopped'"
                        data-ng-click="clickStart(machine.id)"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        data-original-title="Instance configuration and data is preserved when instances are stopped. Use start to restart your instance."
                        data-translate
                        data-ng-class="{'btn-success': !((machine.job && !machine.job.finished) || machine.state != 'stopped')}"
                        class="btn btn-small span3 tooltip-hover">Start</button>
                <button role="button"
                        data-ng-disabled="(machine.job && !machine.job.finished) || machine.state != 'running'"
                        data-ng-click="clickStop(machine.id)"
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        data-original-title="Stopping an instance does not stop billing. You can restart your instance after you stop your machine."
                        data-translate
                        data-ng-class="{'btn-danger': !((machine.job && !machine.job.finished) || machine.state != 'running')}"
                        class="btn btn-small span3 tooltip-hover">Stop</button>

                <button role="button"
                        data-ng-disabled="(machine.job && !machine.job.finished) || machine.state != 'stopped'"
                        data-ng-click="clickDelete(machine.id)"
                        data-translate
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        data-original-title="You will lose all information and data on this instance if you delete an instance. Deleting an instance also stops billing."
                        data-ng-class="{'btn-danger': !((machine.job && !machine.job.finished) || machine.state != 'stopped')}"
                        class="btn btn-small span3 tooltip-hover">Delete</button>

                <button role="button"
                        data-ng-disabled="(machine.job && !machine.job.finished) || machine.state != 'running'"
                        data-ng-click="clickReboot(machine.id)"
                        data-toggle="modal"
                        data-translate
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        data-original-title="Click here to reboot your instance."
                        data-ng-class="{'btn-warning': !((machine.job && !machine.job.finished) || machine.state != 'running')}"
                        class="btn btn-small span3 tooltip-hover">Reboot</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="alert alert-success shadow">
                <h4 data-translate>Need help?</h4>
                <p data-translate>Help will open in new window</p>
                <form class="form-search" method="GET" action="http://www.joyent.com/developers/search" target="_blank">
                    <div class="input-append">
                        <input type="text" name="q" class="span10 search-query" placeholder="Search">
                        <button type="submit" class="btn" data-translate>Search</button>
                    </div>
                </form>
            </div>
            <div class="alert shadow" style="">
                <h4 data-translate>Analytics</h4>
                <p data-translate>Examine system performance.</p>
                <a href="#!/cloudAnalytics/{{machine.id}}" class="btn btn-warning pull-right">Start Analytics</a>
                <div class="clearfix"></div>
                <a href="#!/cloudAnalytics/{{machine.id}}"><img src="/static/img/analytics-small.png" hspace="10" vspace="20" border="0"></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <br/>
    <div class="row-fluid" data-ng-show="machine">
        <div class="span12">
            <fieldset>
                <legend data-translate>Resize Instance</legend>
                <p class="text-small muted" data-translate>
                    It may not always be possible to resize based on the constraints of your current server location.
                </p>

                <p data-ng-show="datasetType != 'smartos' && machine.type != 'smartmachine' " data-translate>
                    To resize Linux or Windows instances, you will need to create a instance, migrate and then stop the old instance.
                </p>

                <div data-ng-show="datasetType == 'smartos' || machine.type == 'smartmachine' " class="row-fluid well" data-ng-class="{'loading-medium-tr': isResizing}">
                    <div class="span6 arrow-to" data-ng-show="currentPackage">
                        <div>
                            <h6 data-translate>Current Instance type</h6>
                                <span data-ng-show="currentPackage.group">
                                    <span  data-ng-show="currentPackage.description">{{currentPackage.description}}</span><br />
                                    <span data-translate>Type</span>:
                                    <span>{{currentPackage.group}}</span>
                                </span><br />
                            <span data-translate>Memory</span>:
                            <span>{{currentPackage.memory | sizeFormat}}</span><br />
                            <span data-translate>Disk</span>:
                            <span>{{currentPackage.disk | sizeFormat}}</span><br />
                            <span data-ng-show="currentPackage.vcpus" data-translate>vCPUs</span>:
                            <span data-ng-show="currentPackage.vcpus">{{currentPackage.vcpus}}</span><span data-ng-show="datasetType == 'smartos'"> and bursting</span>
                        </div>
                    </div>

                    <div class="span6" >
                        <h6 class="control-label" data-translate>Resize Instance type</h6>
                        <select name="resize" ui-select2="{ width: 375}" data-ng-model="selectedPackageName" data-placeholder="Select package to resize to">
                            <option value=""></option>
                            <option data-ng-show="machine" data-ng-repeat="package in packages | orderBy:sortPackages | filter:filterPackages"
                                    value="{{package.name}}" class="text-medium">
                                Mem: {{package.memory | sizeFormat}}
                                Disk: {{package.disk | sizeFormat}}
                                <span data-ng-show="package.vcpus">VCPU: {{package.vcpus}}</span><span data-ng-show="datasetType == 'smartos'"> and bursting</span>
                            </option>
                        </select>

                        <div class="control-group align-right resize-button">
                            <button class="btn btn-joyent-blue" type="submit" data-ng-click="clickResize()" data-ng-disabled="!selectedPackage || isResizing" data-translate>Resize</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </fieldset>
        </div>
    </div>
</div>
