<div class="container_details " data-ng-controller="Machine.DetailsController">

<ul class="breadcrumb">
    <li><a href="#!/compute"> Instances</a> /</li>
    <li> Instance Details</li>
</ul>

<h3 class="page-title" data-ng-show="!changingName" data-ng-click="enableRename(machine.name)"><div class="loading-medium wait_rename" data-ng-show="loadingNewName"></div>{{machine.name}}</h3>
<form name="instanceRename" class="machine-edit-form">
    <div class="error"
         data-ng-show="instanceRename.instanceRename.$error.machineName && changingName && newInstanceName != machine.name"
         data-translate>
        Invalid machine name
    </div>

    <div class="error"
         data-ng-show="instanceRename.instanceRename.$error.machineUnique && changingName && newInstanceName != machine.name"
         data-translate>
        Machine name is already in use
    </div>
    <div class="pull-left machine-edit" data-ng-show="changingName">
        <input class="span2 machine-name-edit" id="instanceRename" name="instanceRename" data-ng-model="newInstanceName" type="text" data-machine-name data-machine-unique/>
        <div class="btn-group machine-edit-buttons">
            <button class="btn" data-ng-click="clickRename()" data-ng-disabled="instanceRename.$invalid || newInstanceName.length <= 0 || newInstanceName==machine.name" type="button"><i class="icon-ok"/></button>
            <button class="btn" data-ng-click="cancelRename()" type="button"><i class="icon-remove"/></button>
        </div>
    </div>
</form>

<div class="portlet-body pb-top">
<div class="inst_left">
<div class="accordion" id="accordion1">
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-ng-class="{active: accordionIcon[0] }" data-ng-click="collapseTrigger(0)" data-toggle="collapse" data-parent="#accordion1"
           href="#collapse_1">
            <i class=""></i>
            Meta Data
        </a>
    </div>
    <div id="collapse_1" class="accordion-body collapse in">
        <div class="accordion-inner">
            <p>
            <table>
                <tr>
                    <td style="width:140px">UUID</td>
                    <td style="color:#333333;font-weight: bold;">{{machine.id}}</td>
                </tr>
                <tr>
                    <td>Instance name</td>
                    <td>{{machine.name}}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{machine.type}}</td>
                </tr>
                <tr>
                    <td>Images<i class="details-images-icon"></i></td>
                    <td>{{dataset.name}}</td>
                </tr>
                <tr>
                    <td>Image version</td>
                    <td>{{dataset.version}}</td>
                </tr>
                <tr>
                    <td>Memory</td>
                    <td>{{machine.memory | sizeFormat}}</td>
                </tr>
                <tr>
                    <td>Disk</td>
                    <td>{{machine.disk | sizeFormat}}</td>
                </tr>
                <tr>
                    <td>IP addresses</td>
                    <td>
                        <span data-ng-repeat="ip in machine.ips">{{ip}}{{{true: '', false: ', '}[$last]}}</span>
                    </td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>{{machine.created | dateTime:'MMM Do'}}</td>
                </tr>
                <tr>
                    <td>Datacenter</td>
                    <td>{{machine.datacenter}}</td>
                </tr>
                <tr data-ng-show="machine.primaryIps.length">
                    <td>login</td>
                    <td data-ng-show="machine.os != 'windows'">ssh root@{{machine.primaryIps[0]}}</td>
                    <td data-ng-show="machine.os == 'windows'">Use remote desktop to connect to {{machine.primaryIps[0]}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-ng-class="{active: accordionIcon[1] }" data-ng-click="collapseTrigger(1)" data-toggle="collapse" data-parent="#accordion1"
           href="#collapse_2">
            <i class=""></i>
            Tags
        </a>
    </div>
    <div id="collapse_2" class="accordion-body collapse">
        <div class="accordion-inner">
            <p>
                Add tags for convenient instance searching
                Tags are metadata stored as key-value pairs to make it easier for you to find, sort, and
                identify your instances.
            </p>
            <div data-tags machineid="machineid"></div>
        </div>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-ng-class="{active: accordionIcon[2]}" data-ng-click="collapseTrigger(2)" data-toggle="collapse" data-parent="#accordion1"
           href="#collapse_3">
            <i class=""></i>
            Resize Instance
        </a>
    </div>
    <div id="collapse_3" class="accordion-body collapse">
        <div class="accordion-inner">
            <p class="text-small muted" data-translate>
                It may not always be possible to resize based on the constraints of your current server location.
            </p>

            <p data-ng-show="datasetType != 'smartos' && machine.type != 'smartmachine' " data-translate>
                To resize Linux or Windows instances, you will need to create a instance, migrate and then stop the old instance.
            </p>

            <div data-ng-show="datasetType == 'smartos' || machine.type == 'smartmachine' " class="row-fluid " data-ng-class="{'loading-medium': isResizing}">
                <div class="pull-left" data-ng-show="currentPackage">
                    <div>
                        <p data-translate><b>Current Instance type</b></p>
                    <span data-ng-show="currentPackage.group">
                        <span  data-ng-show="currentPackage.description">{{currentPackage.description}}</span><br />
                        <span data-translate>Type</span>:
                        <span>{{currentPackage.group}}</span>
                    </span><br />
                        <span data-translate>Memory</span>:
                        <span>{{currentPackage.memory | sizeFormat}}</span><br />
                        <span data-translate>Disk</span>:
                        <span>{{currentPackage.disk | sizeFormat}}</span><br />
                        <span data-ng-show="currentPackage.vcpus" data-translate>vCPUs</span>:
                        <span data-ng-show="currentPackage.vcpus">{{currentPackage.vcpus}}</span><span data-ng-show="datasetType == 'smartos'"> and bursting</span>
                    </div>
                </div>

                <div class="pull-left resize_block">
                    <p class="control-label" data-translate><b>Resize Instance type</b></p>
                    <select name="resize" ui-select2="{ width: 375}" data-ng-model="selectedPackageName">
                        <!--<option value=""></option>-->
                        <option data-ng-show="machine" data-ng-repeat="package in packages | orderBy:sortPackages | filter:filterPackages"
                                value="{{package.name}}" class="text-medium">
                            Mem: {{package.memory | sizeFormat}}
                            Disk: {{package.disk | sizeFormat}}
                            <span data-ng-show="package.vcpus">VCPU: {{package.vcpus}}</span><span data-ng-show="datasetType == 'smartos'"> and bursting</span>
                        </option>
                    </select>

                    <div class="control-group resize-button">
                        <button class="btn light" type="submit" data-ng-click="clickResize()" data-ng-disabled="!selectedPackage || isResizing" data-translate>Resize</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-ng-class="{active: accordionIcon[3]}" data-ng-click="collapseTrigger(3)" data-toggle="collapse" data-parent="#accordion1"
           href="#collapse_4">
            <i class=""></i>
            Image
        </a>
    </div>
    <div id="collapse_4" class="accordion-body collapse">
        <div class="accordion-inner">
            <fieldset data-ng-show="canCreateImage(currentPackageName) && features.imageCreate != 'disabled'">
                <legend>
                    <span data-translate>Create Image</span>
                </legend>

                <p class="text-small muted" data-translate>
                    Instance needs to be stopped before creating an image.
                </p>

                <div class="clearfix"></div>

                <div>
                    <div class="loading-small span1 pull-right"
                         data-ng-show="imageJob && !imageJob.finished"></div>
                    <form name="imageForm">
                        <input type="text" placeholder="Image name" name="imageName" data-ng-model="imageName" value="" />
                        <input type="text" placeholder="Image description (optional)"
                               name="imageDescription"
                               data-ng-model="imageDescription"
                               value="" />
                        <br />
                        <button class="btn light pull-right"
                                data-ng-click="clickCreateImage()"
                                data-translate
                                data-ng-disabled="(imageJob && !imageJob.finished) || (machine.job && !machine.job.finished) || machine.state != 'stopped'">
                            Create Image
                        </button>
                        <div class="loading-small span1 pull-right"
                             data-ng-show="imageJob && !imageJob.finished"></div>
                    </form>
                    <br />
                    <div class="pull-right"><a class="tiny-link-text" href="#!/images">My images list</a></div>
                </div>
            </fieldset>
            <p>
                When creating an image from an instance, the image creation process is as follows:
            </p>

            <p>
                1. Stop Instance<br>
                2. Create Snapshot/Backup of master instance<br>
                3. Remove all instance specific information from the instance<br>
                4. Create the Image<br>
                5. Restore the instance specific information to the master instance.<br>
            </p>

            <p>

            <div>
                <label class="control-label">Image Name</label>
                <input type="text" class="span3" name="iname"/><br>
                <a class="btn light" data-toggle="modal" href="" data-ng-click="messageDialog()">Create
                    Image</a>
            </div>
        </div>
    </div>
</div>
<div class="accordion-group" data-ng-show="machine.metadata.credentials">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-ng-class="{active: accordionIcon[4]}" data-ng-click="collapseTrigger(4)" data-toggle="collapse" data-parent="#accordion1"
           href="#collapse_5">
            <i class=""></i>
            Credentials
        </a>
    </div>
    <div id="collapse_5" class="accordion-body collapse">
        <div class="accordion-inner" data-ng-show="machine.metadata.credentials">
            <div class="accordiaon-line">
                <table data-ng-repeat="(key,credential) in machine.metadata.credentials">
                    <tr>
                        <td style="width:140px">System</td>
                        <td >{{credential.system}}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>{{credential.username}}</td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td style="min-width: 260px;"><span data-ng-show="isPasswordVisible(key)">************</span><span data-ng-hide="isPasswordVisible(key)">{{credential.password}}</span></td>
                        <td nowrap>
                            <a class="btn light show-hide" data-translate data-ng-click="togglePassword(key)" data-ng-show="isPasswordVisible(key)">Show</a>
                            <a class="btn light show-hide" data-translate data-ng-click="togglePassword(key)" data-ng-show="!isPasswordVisible(key)">Hide</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="accordion-inner" data-ng-hide="machine.metadata.credentials">
            <p>There is no credentials for this instance.</p>
        </div>
    </div>
</div>
<!--<div class="accordion-group">-->
<!--<div class="accordion-heading">-->
<!--<a class="accordion-toggle collapsed" data-ng-class="{active: accordionIcon[4] }" data-ng-click="collapseTrigger(4)" data-toggle="collapse" data-parent="#accordion1"-->
<!--href="#collapse_5">-->
<!--<i class=""></i>-->
<!--Firewall Rules-->
<!--</a>-->
<!--</div>-->
<!--<div id="collapse_5" class="accordion-body collapse">-->
<!--<div class="accordion-inner">-->
<!--<p>-->
<!--Details about the specific firewall rules for this instance-->
<!--</p>-->

<!--<p>-->
<!--<a class="btn light" data-toggle="modal" href="" data-ng-click="messageDialog()">Activate-->
<!--Firewall Rules</a>-->
<!--</p>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
</div>
</div>
<div class="pull-left">
    <div class="details_btn_block">
            <span class="status label label-info pull-left"
                  data-ng-class="{'btn-success': machine.state == 'running'}"
                  data-ng-show="machine.state.length">
                <span class="loading-small pull-left" data-ng-show="machine.job && !machine.job.finished"></span>
                <i class="icon-ok" data-ng-show="(machine.state == 'running' && !machine.job) || (machine.state == 'running' && machine.job.finished)"></i>
                <i class="warn_icon" data-ng-show="(machine.state == 'stopped' && !machine.job) || (machine.state == 'stopped' && machine.job.finished)"></i>
                <span data-translate>{{(machine.state == 'stopped' && 'paused') || machine.state}}</span>
            </span>

        <button data-ng-disabled="(machine.job && !machine.job.finished) || machine.state != 'stopped'"
                data-ng-show="machine.state == 'stopped'"
                data-ng-click="clickStart(machine.id)"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                data-original-title="Instance configuration and data is preserved when instances are stopped. Use start to restart your instance."

                class="state btn orange font_size tooltip-hover btn-machine-ctrl">
            <i class="icon-play"></i>
            <p data-translate>Start</p>
        </button>

        <button data-ng-disabled="(machine.job && !machine.job.finished) || machine.state != 'running'"
                data-ng-show="machine.state == 'running'"
                data-ng-click="clickStop(machine.id)"
                data-translate-attributes="data-original-title"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                data-original-title="Stopping an instance does not stop billing. You can restart your instance after you stop your machine."
                data-ng-class="{'btn-danger': !((machine.job && !machine.job.finished) || machine.state != 'running')}"
                class="state btn orange font_size tooltip-hover btn-machine-ctrl">
            <i class="pause_icon"></i>
            <p data-translate>Pause</p>
        </button>

        <button data-ng-disabled="(machine.job && !machine.job.finished) || machine.state != 'stopped'"
                data-ng-click="clickDelete(machine.id)"
                data-translate-attributes="data-original-title"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                data-original-title="You will lose all information and data on this instance if you delete an instance. Deleting an instance also stops billing."
                data-ng-class="{'btn-danger': !((machine.job && !machine.job.finished) || machine.state != 'stopped')}"
                class="state btn orange font_size tooltip-hover btn-machine-ctrl">
            <i class="stop_icon"></i>
            <p data-translate>Delete</p>
        </button>

        <button data-ng-disabled="(machine.job && !machine.job.finished) || machine.state != 'running'"
                data-ng-click="clickReboot(machine.id)"
                data-toggle="modal"
                data-translate-attributes="data-original-title"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                data-original-title="Click here to reboot your instance."
                data-ng-class="{'btn-warning': !((machine.job && !machine.job.finished) || machine.state != 'running')}"
                class="state btn orange font_size tooltip-hover btn-machine-ctrl">
            <!--<span class="loading-small pull-left" data-ng-show="machine.job && !machine.job.finished"></span>-->
            <i class="reboot_icon"></i>
            <p data-translate>Reboot</p>
        </button>
    </div>
    <div data-ng-controller="cloudController">
        <div class="detail_chart" >
            <div class="loading-small" data-ng-hide="cpuGraphs && memGraphs"></div>
            <graph data-ng-repeat="i in cpuGraphs" options="i" style="max-width: 480px;"></graph>
        </div>

        <div class="detail_chart">
            <graph data-ng-repeat="i in memGraphs" options="i" style="max-width: 480px;"></graph>
        </div>
        <a href="#!/cloudAnalytics/{{machine.id}}" class="btn light pull-right"><i class="chart-icon"></i>View Detailed Analytics</a>
    </div>

</div>
</div>
</div>