<div class="item-list-container">

    <div class="item header row-fluid machine-list-item">
        <span data-ng-repeat="prop in props | orderBy:sequence"
              class="text-medium sortable"
              data-ng-class="prop.getClass('header') || {span3: $first, 'span1 pull-right state-sortable-header': $last, span2: (!$first && !$last)}"
              data-ng-click="orderGridMachinesBy(prop)">
            <span class="pull-left machines-list-header" data-translate-value>{{prop.name}}</span>
            <i class="icon-arrow-up" data-ng-show="order.indexOf(prop.rorder) != -1"></i>
            <i class="icon-arrow-down" data-ng-show="order.indexOf(prop.order) != -1"></i>
        </span>

    </div>

    <div data-ng-repeat="object in objects | orderBy:order | filter:matchesFilter" data-ng-show="isOnPage($index)" class="item row-fluid">
        <span class="text-medium crop"
              data-ng-class="prop.getClass('body') || {'span3 machine-list-content': $first, 'pull-right machine-list-state state pointer': $last, 'span2  machine-list-content': ($index > 0 && !$last)}"
              data-ng-repeat="prop in props | orderBy:sequence | filter:{active:true}" data-ng-switch="prop.id">
            <a data-ng-switch-when="label" href="#!/compute/instance/{{object.id}}">{{object.label}} <div class="tooltip-hover" data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="This instance has been scheduled for <br />maintenance on <b>{{object.maintenanceStartTime}}</b>" style="float:right;"><i data-ng-show="object.maintenanceStartTime" class="icon-warning-sign"></i></div></a>
            <span data-ng-switch-when="state" data-ng-click="toggleDetails(object.id)">
                <div data-object-state data-object="object" data-type="{{objectsType}}"></div>
            </span>
            <span data-ng-switch-when="created" data-ng-show="object[prop.id]">{{object[prop.id] | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            <span data-ng-switch-default data-ng-switch="prop.type">
                <span data-ng-switch-when="button">
                    <div data-action-button data-label-fn="prop.btn.getLabel" data-action-fn="prop.btn.action" data-class-fn="prop.btn.getClass" data-show-fn="prop.btn.show" data-disabled-fn="prop.btn.disabled" data-label="prop.btn.label" data-tooltip-text="prop.btn.tooltip" data-object="object"></div>
                </span>
                <span data-ng-switch-when="html" data-ng-bind-html-unsafe="prop._getter(object)"></span>
                <span data-ng-switch-default>
                    {{prop._getter && prop._getter(object) || prop.id2 && object[prop.id][prop.id2] || object[prop.id]}}
                </span>
            </span>
        </span>

        <div class="clearfix"></div>

        <div class="toolbox-help text-small span8"
             data-ng-hide="object.state != 'stopped'">
            <span class="text-error" data-translate>
                Machine is stopped, but billing will continue. You have to delete machine to cancel billing
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div data-ng-show="areDetailsShown(object.id)" class="toolbox">
            <div class="item machine-details-info" data-ng-class="{span10: getActionButtons(object).length, span12: !getActionButtons(object).length}">
                <div data-ng-repeat="prop in detailProps | orderBy:sequence" class="row-fluid">
                    <span class="text-medium key span4" data-ng-class="{last: $last }" data-translate-value>{{prop.name}}</span>
                    <span class="text-medium value span6" data-ng-class="{last: $last }" data-ng-switch="prop.id">
                        <span data-ng-switch-when="memory">{{object.memory | sizeFormat}}&nbsp;</span>
                        <span data-ng-switch-when="disk">{{object.memory | sizeFormat}}&nbsp;</span>
                        <span data-ng-switch-when="ips">
                            <span data-ng-repeat="ip in object.ips">
                                <div>{{ip}}</div>
                            </span>
                        </span>
                        <span data-ng-switch-default>{{prop.id2 && object[prop.id][prop.id2] || object[prop.id]}}</span>
                    </span>
                </div>
            </div>

            <div class="pull-right action-container span2" data-ng-show="getActionButtons(object).length">
                <div data-ng-repeat="btn in getActionButtons(object) | orderBy:sequence">
                    <div data-action-button data-action-fn="btn.action" data-class-fn="btn.getClass" data-show-fn="btn.show" data-disabled-fn="btn.disabled" data-label="btn.label" data-tooltip-text="btn.tooltip" data-object="object"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row-fluid" data-ng-show="paginated">
        <div class="span3 pagination pagination-small pagination-centered">
            <ul class="pagination grid-view-pagination pull-left" data-ng-show="perPage < 9000" >
                <li data-ng-click="showAll();" data-translate>Show All</li>
            </ul>
            <ul class="pagination grid-view-pagination pull-left" data-ng-show="perPage > 9000" >
                <li data-ng-click="showPaginated();" data-translate>Show Paginated</li>
            </ul>
        </div>
        <div class="span6 pagination pagination-small pagination-centered" style="text-align: center;">
            <div class="grid-view-pagination" data-pagination data-num-pages="lastPage" data-current-page="page" data-max-size="showPages" data-on-select-page="changePage(page)"></div>
        </div>
        <div class="span3 pull-right pagination">
            <div class="btn-group pull-right" data-ng-show="exportFields">
                <!--<button class="btn btn-mini"-->
                        <!--data-translate-attributes="data-original-title"-->
                        <!--data-toggle="tooltip"-->
                        <!--data-placement="right"-->
                        <!--data-html="true"-->
                        <!--data-original-title="Export machine list in .json"-->
                        <!--data-ng-click="export('json')"-->
                        <!--data-translate>JSON</button>-->
                <button class="btn btn-mini"
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="right"
                        data-html="true"
                        data-original-title="Export machine list in .csv"
                        data-ng-click="export('csv')"
                        data-translate>Export .csv</button>
            </div>
        </div>
    </div>
    <div style="display:none;" data-ng-bind-html-unsafe="iframe"></div>
</div>
