<div class="container-grid">
<div class="loading-large row-fluid" data-ng-show="loading"></div>
<div data-ng-hide="loading">
    <div class="row-fluid">
        <div class="page-row-info" data-ng-show="paginated">
            <span class="grid-small-font">
                Showing <span data-ng-hide="pageNumFirst == pageNumLast || pageNumSum == 0"> {{pageNumFirst}} -</span> {{pageNumLast}} of {{pageNumSum}} entries
            </span>
            <form class="grid-small-font" data-ng-show="searchForm">
                <div class="search-field">
                <input type="search"
                       name="search"
                       id="search"
                       class="filter-field"
                       placeholder="{{placeHolderText}}"
                       data-ng-model="filterAll"
                       data-translate="placeholder"
                       data-ng-change="resetFilteredItemsSelection()" />
                </div>
            </form>
        </div>
        <div class="actions pull-right" data-ng-show="controls" data-ng-class="{'actions-down': tabFilterField}">
            <div class="btn-group">
                <a id="button-actions" class="btn dropdown-toggle grid-small-font" data-toggle="dropdown" href="#" data-ng-hide="!getActionButtons(object).length | orderBy:'sequence'">
                    Actions
                    <i class="icon-drop-down"></i>
                </a>
                <ul id="option-list-actions" class="dropdown-menu grid-action-btn" data-ng-hide="!getActionButtons(object).length | orderBy:'sequence'">
                    <li data-ng-repeat="btn in getActionButtons(object) | orderBy:'sequence'">
                        <a data-action-button data-action-fn="btn.action" data-show-fn="btn.show" data-label="btn.label" data-object="object" class="grid-action-btn grid-small-font"></a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn grid-small-font btn-original-text" data-ng-hide="hideExport" data-ng-click="export('csv')">Export.csv</button>
                <div style="display:none;" data-ng-bind-html-unsafe="exportIframe"></div>
            </div>
            <div class="btn-group" data-ng-show="areColumnsEnabled()">
                <a id="button-columns" class="btn grid-small-font" href="#" data-toggle="dropdown" data-ng-click="noClose()">
                    Columns
                    <i class="icon-drop-down"></i>
                </a>
                <div id="checkbox-list-columns" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                    <div data-ng-repeat="prop in props | orderBy:'sequence'">
                        <label class="dpl-inline">
                            <div class="checker" data-ng-class="{hover:show}" data-ng-mouseenter="show = true" data-ng-mouseleave="show = false">
                            <span data-ng-class="{checked: prop.active}">
                                <input data-ng-click="selectColumnsCheckbox(prop.id)" type="checkbox" checked="" data-column="prop">
                            </span>
                            </div>
                        </label>
                        <div class="grid-small-font dpl-inline">{{prop.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item header machine-list-item item-list-container">
        <div class="grid-tabs-container" data-ng-show="tabFilterField">
            <span class="grid-tabs-title">{{tabFilterField}}:</span>
            <span data-ng-repeat="filter in tabFilters">
                <input type="radio"
                       name="filter"
                       id="filter{{$index}}"
                       class="grid-tab-radio"
                       data-ng-model="$parent.tabFilter"
                       data-ng-change="unSelectAllCheckbox()"
                       value="{{filter}}"
                        />
                <label for="filter{{$index}}" class="grid-tab">{{filter}}</label>
            </span>
        </div>
            <table class="table table-striped table-bordered table-hover table-full-width"
                   data-ng-class="{'grid-view-table': tabFilterField}"
                   data-ng-show="pageNumSum"
                   id="insTable">
                <thead>
                    <th class="hidden-480" data-ng-show="enabledCheckboxes">
                        <label class="checkbox" >
                            <div class="checker" data-ng-class="{hover:shows}" data-ng-mouseenter="shows = true" data-ng-mouseleave="shows = false">
                                    <span data-ng-click="selectAllCheckbox()" data-ng-class="{checked: checkedAllCheckBox}" data-ng-disabled="isCheckedAllCheckBoxDisabled">
                                        <input type="checkbox" class="group-checkable" data-set=".checkboxes" value="">
                                    </span>
                            </div>
                        </label>
                    </th>
                    <th data-ng-repeat="prop in props | orderBy:'sequence'"
                        class="table-title sortable"
                        data-ng-class="{active: prop.columnActive}"
                        data-ng-click="orderGridMachinesBy(prop)"
                        data-ng-show="prop.active">
                        <div data-ng-show="!prop.hideSorter">
                            <i class="icon-sort-up" data-ng-show="order.indexOf(prop.rorder) != -1"></i>
                            <i class="icon-sort-down" data-ng-show="order.indexOf(prop.order) != -1"></i>
                            <i class="icon-sort-both" data-ng-show="order.indexOf(prop.order) == -1 && order.indexOf(prop.rorder) == -1"></i>
                        </div>
                        <div class="block" data-translate-value>{{prop.name}}</div>
                    </th>
                </thead>
                <tbody id="grid-instances">
                    <tr data-ng-repeat="object in pagedItems" style="font-weight: 400;">
                        <td width="10" data-ng-show="enabledCheckboxes">
                            <label class="checkbox">
                                <div class="checker" data-ng-class="{hover:show}" data-ng-mouseenter="show = true" data-ng-mouseleave="show = false">
                                <span data-ng-click="selectCheckbox(object)" data-ng-class="{checked: object.checked}" data-ng-disabled="(object.fireWallActionRunning) || (object.job && !object.job.finished)">
                                    <input type="checkbox" class="group-checkable" data-set=".checkboxes" value="">
                                </span>
                                </div>
                            </label>
                        </td>
                        <td data-ng-repeat="prop in props | orderBy:'sequence' | filter:{active:true}" data-ng-switch="prop.id" data-ng-class="prop.columnClass">
                            <span data-ng-show="object.maintenanceStartTime && !object.compute_node" class="tooltip-hover warn-sign" data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="This instance has been scheduled for <br />maintenance on <b>{{object.maintenanceStartTime}}</b>"><i class="warn-yellow"></i></span>
                            <div data-ng-switch-when="name"  style="min-width: 140px;">
                                <a href="" data-ng-show="location.path().search('images')==1">{{object.name}}</a>
                            </div>
                            <span data-ng-switch-when="state" data-ng-click="toggleDetails(object.id)">
                                <div data-object-state data-object="object" data-type="{{itemsType}}" class="grid-small-font"></div>
                            </span>
                            <span data-ng-switch-when="actionButtons">
                                <div data-ng-show="getActionButtons(object).length && imageButtonShow">
                                    <div class="grid-small-font" data-ng-repeat="btn in getActionButtons(object) | orderBy:sequence">
                                        <div data-action-button data-action-fn="btn.action" data-class-fn="btn.getClass" data-show-fn="btn.show" data-disabled-fn="btn.disabled" data-label="btn.label" data-tooltip-text="btn.tooltip" data-object="object"></div>
                                    </div>
                                </div>
                            </span>
                            <span data-ng-switch-when="ips">
                                <span data-ng-repeat="ip in object.ips">{{ip}}{{{true: '', false: ', '}[$last]}}</span>
                            </span>
                            <span data-ng-switch-default data-ng-switch="prop.type">
                                <span data-ng-switch-when="button">
                                    <div class="grid-small-font" data-action-button data-label-fn="prop.btn.getLabel" data-action-fn="prop.btn.action" data-class-fn="prop.btn.getClass" data-show-fn="prop.btn.show" data-disabled-fn="prop.btn.disabled" data-label="prop.btn.label" data-tooltip-text="prop.btn.tooltip" data-object="object"></div>
                                </span>
                                <span data-ng-switch-when="html" data-ng-bind-html-unsafe="prop._getter(object)"></span>
                                    <span data-ng-switch-when="firewall_state">
                                        <span data-ng-show="(object.fireWallActionRunning) || (object.job && !object.job.finished)" class="loading-small loading-small-firewall pull-left"></span>
                                        <span data-ng-bind-html-unsafe="prop._getter(object)"></span>
                                    </span>
                                <span data-ng-switch-when="date">{{object[prop.id] | date:'yyyy-MM-dd HH:mm'}}</span>
                                <span data-ng-switch-when="async">
                                    <span class="loading-small" data-ng-hide="prop._getter(object) || prop._getter(object) == 0"></span>
                                    {{prop._getter && prop._getter(object)}}
                                </span>
                                <span data-ng-switch-default>
                                    {{prop._getter && prop._getter(object) || prop.id2 && object[prop.id][prop.id2] || object[prop.id]}}
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="grid-no-entries" data-ng-hide="pageNumSum"><hr />No entries found.</div>
        </div>

        <div class="row-fluid" data-ng-show="paginated && pageNumSum">
            <div class="pull-left select_position grid-small-font">
                <select ui-select2="{minimumResultsForSearch: -1}" data-ng-model="perPage" value="25" class="no-search-box" style="width: 65px !important;">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <!--TODO get rid of 10k items per page, it will become a problem on manta jobs-->
                    <option value="10000">All</option>
                </select>
                <span class="grid-small-font">&nbsp;records per page</span>
            </div>
            <div class="pagination pagination-right grid-small-font">
                <div class="grid-view-pagination" data-pagination data-num-pages="lastPage" data-current-page="page" data-max-size="showPages" data-on-select-page="changePage(page)"></div>
            </div>
        </div>
        <div style="display:none;" data-ng-bind-html-unsafe="iframe"></div>
    </div>
</div>
