<div>
    <div class="row-fluid well" style="padding: 5px 0;">
        <div style="text-align: center;">
            <button class="btn btn-link" data-ng-click="showProps()" data-translate>Properties</button>
        </div>
        <hr data-ng-show="propOn" />
        <div class="span3" data-ng-repeat="prop in props | orderBy:sequence" data-ng-show="propOn" style="margin-left:15px;">
            <div>
                <label class="checkbox" style="padding-left:30px;">
                    <input type="checkbox" data-ng-model="prop.active" />
                    <span data-translate-value>{{prop.name}}</span>
                </label>
            </div>
            <div class="input-append" data-ng-show="prop.active">
                <input class="input-mini" type="text" data-ng-model="prop.filter"/>
                <button class="btn" data-ng-click="orderGridMachinesBy(prop, false)" data-ng-class="{active: order.indexOf(prop.order) != -1}"><i class="icon-arrow-up"></i></button>
                <button class="btn" data-ng-click="orderGridMachinesBy(prop, true)" data-ng-class="{active: order.indexOf(prop.rorder) != -1}"><i class="icon-arrow-down"></i></button>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-bordered">
                <thead>
                <th>#</th>
                <th data-ng-repeat="prop in props | orderBy:sequence | filter:{active:true}" style="vertical-align: middle; text-align: center;">
                    <span data-translate>{{prop.name}}</span>
                </th>
                </thead>
                <tbody>
                <tr data-ng-repeat="object in objects | orderBy:order | filter:matchesFilter" data-ng-show="isOnPage($index)">
                    <td>{{$index +1}}</td>
                    <td data-ng-repeat="prop in props | orderBy:sequence | filter:{active:true}" data-ng-switch="prop.id">
                        <div data-ng-switch-when="state" data-machine-status machine="object"></div>
                        <div data-ng-switch-when="created">{{object[prop.id] | dateTime}}</div>
                        <div data-ng-switch-when="ips">{{object[prop.id] | jsonArray}}</div>
                        <div data-ng-switch-default>{{prop.id2 && object[prop.id][prop.id2] || object[prop.id]}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 offset3" style="text-align: center;">
            <div style="margin:0;" data-pagination data-num-pages="lastPage" data-current-page="page" data-max-size="showPages" data-on-select-page="changePage(page)"></div>
        </div>
        <div class="span3 pull-right">
            <div class="btn-group pull-right">
                <button class="btn" data-ng-click="export('json')" data-translate>JSON</button>
                <button class="btn" data-ng-click="export('csv')" data-translate>CSV</button>
            </div>
        </div>
    </div>
    <div style="display:none;" data-ng-bind-html-unsafe="iframe"></div>
</div>