<div class="container-fluid container-position" data-ng-controller="Machine.ImageDetailsController">

    <ul class="breadcrumb">
        <li><a href="#!/compute">Compute</a></li>
        <li><a href="#!/images">Images</a></li>
    </ul>
    <h3 class="page-title">
        Image Details
    </h3>

    <div class="inl-table">
        <div class="left-part">
            <div class="panel-group" id="imageDetails">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-parent="#imageDetails"
                           data-target="#summary">
                            Summary
                        </a>
                    </div>
                    <div id="summary" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form name="imageForm">
                                <div class="form-group">
                                    <span class="edit-name" data-translate>UUID</span>
                                    <span class="edit-value">
                                        <input type="text"
                                               name="id"
                                               data-ng-model="currentImage.id"
                                               disabled/>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="edit-name" data-translate>Image name</span>
                                    <span class="edit-value">
                                        <input type="text"
                                               value=""
                                               name="imageName"
                                               data-machine-name="'image'"
                                               data-ng-model="currentImage.name"/>
                                    </span>
                                    <span class="edit-error">
                                        <div class="error"
                                             data-ng-show="imageForm.imageName.$error.imageName"
                                             data-translate>
                                            Image name&nbsp;can contain only letters, digits and signs like '.' and '-'.
                                        </div>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="edit-name" data-translate>Version</span>
                                    <span class="edit-value">
                                        <input type="text"
                                               value=""
                                               name="imageVersion"
                                               data-machine-name="'image'"
                                               data-ng-model="currentImage.version"/>
                                    </span>
                                    <span class="edit-error">
                                        <div class="error"
                                             data-ng-show="imageForm.imageVersion.$error.imageName"
                                             data-translate>
                                            Image version&nbsp;can contain only letters, digits and signs like '.' and '-'.
                                        </div>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="edit-name description-label" data-translate>Description</span>
                                    <span class="edit-value edit-description">
                                        <textarea type="text"
                                                  name="description"
                                                  data-ng-model="currentImage.description"></textarea>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="edit-name" data-translate>Type</span>
                                    <span class="edit-value">
                                        <input type="text"
                                               name="type"
                                               data-ng-model="currentImage.type"
                                               disabled/>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="edit-name" data-translate>Published</span>
                                    <span class="edit-value">
                                        <input type="text"
                                               name="published_at"
                                               value="{{currentImage.published_at| date:'yyyy-MM-dd HH:mm'}}"
                                               disabled/>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="edit-name" data-translate>Datacenter</span>
                                    <span class="edit-value">
                                        <input type="text"
                                               name="datacenter"
                                               data-ng-model="currentImage.datacenter"
                                               disabled/>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="edit-name" data-translate>State</span>
                                    <span class="edit-value">
                                        <input type="text"
                                               name="state"
                                               data-ng-model="currentImage.state"
                                               disabled/>
                                    </span>
                                </div>
                                <div class="pull-right">
                                    <div class="loading-medium loading-medium-inline" data-ng-show="currentImage.state == 'deleting' || loading"></div>
                                    <button class="btn light effect-orange-button" data-ng-click="cancel()" data-ng-disabled="loading">Cancel</button>
                                    <button class="btn light effect-orange-button" data-ng-click="deleteImage()" data-ng-disabled="currentImage.state !== 'active' || loading">Delete</button>
                                    <button class="btn orange" data-ng-click="updateImage()" data-ng-disabled="loading || imageForm.imageName.$error.imageName || imageForm.imageVersion.$error.imageName || currentImage.state !== 'active'">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle collapsed toggle-icon" data-toggle="collapse" data-parent="#imageDetails"
                           data-target="#instances">
                            Instances
                        </a>
                    </div>
                    <div id="instances" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div data-grid-view
                                 data-user-config="machinesGridUserConfig"
                                 data-props="machinesGridProps"
                                 data-items="machines"
                                 data-order="machinesGridOrder"
                                 data-export-fields="machinesGridExportFields"
                                 data-items-type="object">
                            </div>
                            <button data-ng-disabled="currentImage.state !== 'active'" data-ng-click="createInstance()" class="pull-right btn orange">
                                Create Instance
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-part"></div>
    </div>
</div>