<div class="item-list-container">

    <div class="item header row-fluid machine-list-item">
                        <span class="span3 text-medium sortable"
                              data-ng-click="sortBy('label')"
                              data-ng-switch on="sortIcon.label">
                            <span class="pull-left machines-list-header" data-translate>Name</span>
                            <i class="icon-arrow-up" data-ng-switch-when="up"></i>
                            <i class="icon-arrow-down" data-ng-switch-when="down"></i>
                        </span>


                        <span class="span2 text-medium sortable"
                              data-ng-click="sortBy('datacenter')"
                              data-ng-switch on="sortIcon.datacenter">
                            <span class="pull-left machines-list-header" data-translate>Datacenter</span>
                            <i class="icon-arrow-up" data-ng-switch-when="up"></i>
                            <i class="icon-arrow-down" data-ng-switch-when="down"></i>
                        </span>

                        <span class="span2 text-medium sortable"
                              data-ng-click="sortBy('created')"
                              data-ng-switch on="sortIcon.created">
                            <span class="pull-left machines-list-header" data-translate>Created</span>
                            <i class="icon-arrow-up" data-ng-switch-when="up"></i>
                            <i class="icon-arrow-down" data-ng-switch-when="down"></i>
                        </span>

        				<span class="span2 text-medium machines-list-header" data-translate>IP</span>

                        <span class="span1 text-medium pull-right sortable"
                              data-ng-click="sortBy('state')"
                              data-ng-switch on="sortIcon.state">
                            <span class="pull-left machines-list-header" data-translate>State</span>
                            <i class="icon-arrow-up" data-ng-switch-when="up"></i>
                            <i class="icon-arrow-down" data-ng-switch-when="down"></i>
                        </span>
    </div>

	
    <div data-ng-repeat="machine in pagedMachines[currentPage] | orderBy:sortingOrder:reverse" class="item row-fluid">
        <span class="span3 text-medium crop machine-list-content">
            <a href="#!/instance/details/{{machine.id}}">{{machine.label}}</a>
        </span>
r
        <span class="span2 text-medium machine-list-content">{{machine.datacenter}}</span>
            <span class="span2 text-medium crop machine-list-content" alt="{{machine.created | fromNow}}"
                  title="{{machine.created | fromNow}}">
                {{machine.created | fromNow}}
            </span>

            <span data-ng-show="machine.primaryIps.length">
                <span class="span2 text-medium crop machine-list-content">{{machine.primaryIps[0]}}</span>
            </span>

            <span data-ng-show="!machine.primaryIps.length && machine.ips.length">
                <span class="span2 text-medium crop machine-list-content">{{machine.ips[0]}}</span>
            </span>

            <span class="pull-right machine-list-state state pointer" data-ng-click="toggleMachine(machine.id)">
                <div data-machine-status machine="machine"></div>
            </span>
        <div class="clearfix"></div>

        <div class="toolbox-help text-small span8"
             data-ng-hide="machine.state != 'stopped'">
            <span class="text-error" data-translate>
                Machine is stopped, but billing will continue. You have to delete machine to cancel billing
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div data-ng-hide="isCollapsed(machine.id)" class="toolbox">
            <div class="item span10">
                <div class="row-fluid">
                    <span class="text-medium key span4 data-translate">Memory</span>
                    <span class="text-medium value span6">{{machine.memory | sizeFormat}}&nbsp;</span>
				</div>
				<div class="row-fluid">
                    <span class="text-medium key span4 data-translate">Disk</span>
                    <span class="text-medium value span6">{{machine.disk | sizeFormat}}&nbsp;</span>
				</div>
				<div class="row-fluid">
                    <span class="text-medium key span4 data-translate">Image</span>
                    <span class="text-medium value span6">{{machine.dataset.name}}</span>
				</div>
				<div class="row-fluid">
                    <span class="text-medium key span4 last" data-translate>IP(s)</span>
					<span class="text-medium value span6 last">
						<span data-ng-repeat="ip in machine.ips">
							<div>{{ip}}</div>
						</span>
					</span>
				</div>
            </div>

            <div class="pull-right action-container span2">
                <button role="button"
                        class="btn btn-mini button tooltip-hover"
                        data-ng-disabled="machine.state == 'running' || (machine.job && !machine.job.finished)"
                        data-ng-click="startMachine(machine.id)"
                        data-toggle="tooltip"
                        data-placement="right"
                        data-html="true"
                        data-original-title="Instance configuration and data is preserved when instances are stopped. Use start to restart your instance."
                        data-translate-attributes="data-original-title"
                        data-translate>Start</button>
                <div class="clearfix"></div>

                <button role="button"
                        class="btn btn-mini button tooltip-hover"
                        data-ng-disabled="machine.state == 'stopped' || (machine.job && !machine.job.finished)"
                        data-ng-click="stopMachine(machine.id)"
                        data-translate
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="right"
                        data-html="true"
                        data-original-title="Stopping an instance does not stop billing. You can restart your instance after you stop your machine.">Stop</button>
                <div class="clearfix"></div>

                <button role="button"
                        class="btn btn-mini button tooltip-hover"
                        data-ng-disabled="machine.state != 'stopped' || (machine.job && !machine.job.finished)"
                        data-ng-click="deleteMachine(machine.id)"
                        data-translate
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="right"
                        data-html="true"
                        data-original-title="You will lose all information and data on this instance if you delete an instance. Deleting an instance also stops billing.">Delete</button>
                <div class="clearfix"></div>

                <button role="button"
                        class="btn btn-mini button tooltip-hover"
                        data-ng-disabled="machine.state != 'running' || (machine.job && !machine.job.finished)"
                        data-ng-click="rebootMachine(machine.id)"
                        data-translate
                        data-translate-attributes="data-original-title"
                        data-toggle="tooltip"
                        data-placement="right"
                        data-html="true"
                        data-original-title="Click here to reboot your instance.">Reboot</button>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>