<div class="row">
    <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <span data-translate>Properties</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li data-ng-repeat="prop in gridProps | orderBy:sequence">
                <label class="checkbox" style="padding-left:30px;">
                    <input type="checkbox" data-ng-model="prop.active" />
                    <span data-translate-value>{{prop.name}}</span>
                </label>
            </li>
        </ul>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <th>#</th>
        <th data-ng-repeat="prop in gridProps | orderBy:sequence | filter:{active:true}" style="vertical-align: middle; text-align: center;">
                <table class="table table-condensed">
                    <tr>
                        <td data-translate-value style="border:0px; text-align:center; vertical-align: middle;">{{prop.name}}</td>
                        <td style="border:0px; text-align:center; vertical-align: middle;">
                            <div class="btn-group">
                                <button class="btn" data-ng-click="orderGridMachinesBy(prop, false)" data-ng-class="{active: gridOrder.indexOf(prop.order) != -1}"><i class="icon-arrow-up"></i></button>
                                <button class="btn" data-ng-click="orderGridMachinesBy(prop, true)" data-ng-class="{active: gridOrder.indexOf(prop.rorder) != -1}"><i class="icon-arrow-down"></i></button>
                            </div>
                        </td>
                    </tr>
                </table>
            <input type="text" data-ng-model="prop.filter"/>
        </th>
    </thead>
    <tbody>
        <tr data-ng-repeat="object in gridMachines | orderBy:gridOrder | filter:matchesFilter" data-ng-show="isOnPage($index)">
            <td>{{$index +1}}</td>
            <td data-ng-repeat="prop in gridProps | orderBy:sequence | filter:{active:true}" data-ng-switch="prop.id">
                <div data-ng-switch-when="state" data-machine-status machine="object"></div>
                <div data-ng-switch-default>{{prop.id2 && object[prop.id][prop.id2] || object[prop.id]}}</div>
            </td>
        </tr>
    </tbody>
</table>
<div data-pagination data-num-pages="lastPage" data-current-page="gridPage" data-max-size="gridMaxPages" data-on-select-page="changePage(page)"></div>
<div class="btn-group">
    <button class="btn" data-ng-click="export('json')" data-translate>JSON</button>
    <button class="btn" data-ng-click="export('csv')" data-translate>CSV</button>
</div>
<div style="display:none;" data-ng-bind-html-unsafe="iframe"></div>