<div class="item-list-container thumbnail">
    <div class="row-fluid">
        <span data-ng-repeat="(key, machine) in pagedMachines[currentPage] | orderBy:sortingOrder:reverse">
            <div class="pointer item span4 {{$index%3 == 2 && 'last' || ''}}">
				<div class="ribbon-wrapper pull-right">
                    <div class="ribbon ribbon-green"
                         data-ng-show="machine.state == 'running'"
                         data-translate>
                        Running
                    </div>
                </div>

                <div class="ribbon-wrapper pull-right">
                    <div class="ribbon ribbon-blue"
                         data-ng-show="machine.state == 'stopped'"
                         data-translate>
                        Stopped
                    </div>
                </div>

                <div class="ribbon-wrapper pull-right">
                    <div class="ribbon ribbon-blue"
                         data-ng-show="machine.state != 'running' && machine.job.error"
                         data-translate>
                        Failed
                    </div>
                </div>

                <span class="text-large crop">
                    <a href="#!/instance/details/{{machine.id}}"><b>{{machine.label}}</b></a>
                </span>

                <span class="text-medium">{{machine.datacenter}}</span>
                <span class="text-medium crop" alt="{{machine.created | fromNow}}"
                      title="{{machine.created | fromNow}}">
                          {{machine.created | fromNow}}
                </span>

                <span data-ng-show="machine.primaryIps.length">
                    <span class="text-medium crop">{{machine.primaryIps[0]}}</span>
                </span>

                <span data-ng-show="!machine.primaryIps.length && machine.ips.length">
                    <span class="text-medium crop">{{machine.ips[0]}}</span>
                </span>

                <span class="text-medium">Mem: {{machine.memory | sizeFormat}}&nbsp;</span><br />
                <span class="text-medium">Disk: {{machine.disk | sizeFormat}}&nbsp;</span><br />
                <span class="text-medium">Image: {{machine.dataset.name}}</span><br />
                <div class="clearfix"></div>

                <div class="action-container top-line-colorful">
                    <button role="button"
                            class="btn btn-mini tooltip-hover"
                            data-ng-disabled="machine.state == 'running' || (machine.job && !machine.job.finished)"
                            data-ng-click="startMachine(machine.id)"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            data-original-title="Instance configuration and data is preserved when instances are stopped. Use start to restart your instance."
                            data-translate-attributes="data-original-title"
                            data-translate>Start</button>

                    <button role="button"
                            class="btn btn-mini tooltip-hover"
                            data-ng-disabled="machine.state == 'stopped' || (machine.job && !machine.job.finished)"
                            data-ng-click="stopMachine(machine.id)"
                            data-translate
                            data-translate-attributes="data-original-title"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            data-original-title="Stopping an instance does not stop billing. You can restart your instance after you stop your machine.">Stop</button>

                    <button role="button"
                            class="btn btn-mini tooltip-hover"
                            data-ng-disabled="machine.state != 'stopped' || (machine.job && !machine.job.finished)"
                            data-ng-click="deleteMachine(machine.id)"
                            data-translate
                            data-translate-attributes="data-original-title"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            data-original-title="You will lose all information and data on this instance if you delete an instance. Deleting an instance also stops billing.">Delete</button>

                    <button role="button"
                            class="btn btn-mini tooltip-hover"
                            data-ng-disabled="machine.state != 'running' || (machine.job && !machine.job.finished)"
                            data-ng-click="rebootMachine(machine.id)"
                            data-translate
                            data-translate-attributes="data-original-title"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            data-original-title="Click here to reboot your instance.">Reboot</button>
                    <div class="clearfix"></div>
                    <!-- <div class="toolbox-help text-small"
                         data-ng-hide="machine.state != 'stopped'">
                                        <span class="text-error" data-translate>
                                            Machine is stopped, but billing will continue. You have to delete machine to cancel billing
                                        </span>
                        <div class="clearfix"></div>
                    </div> -->
                </div>
                <div class="clearfix"></div>
            </div>
        	<div data-ng-show="$index%3 == 2" class="clearfix"></div>
		</span>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>