<div data-ng-form="collectionForm">
    <div class="controls" data-ng-show="internalCollection.length > 1">
        <div class="key key-width tags-title">Key</div>
        <div class="value value-width tags-title">Value</div>
    </div>
    <div data-ng-click="editItem(item)" data-ng-repeat="item in internalCollection">
        <div data-ng-show="!item.edit">
            <div class="controls">
                <div class="key key-width">{{item.key}}</div>
                <div class="value value-width">{{item.val}}</div>
                <div class="remove-icon delete pull-right tags-delete-pos"
                     data-ng-click="removeItem(item)"
                     data-ng-show="!saving">
                </div>
            </div>
        </div>

        <div class="tag editable" data-ng-show="item.edit">
            <div class="tag row-fluid">
                <div class="control-group">
                    <div class="dpl-inline">
                        <input type="text"
                               placeholder="Key"
                               data-translate="placeholder"
                               data-ng-model="item.key"
                               data-ng-required="!review"
                               data-ng-disabled="saving"
                               class="key-width">
                    </div>
                    <div class="dpl-inline">
                        <input type="text"
                               placeholder="Value"
                               data-translate="placeholder"
                               data-ng-model="item.val"
                               data-ng-required="!review"
                               data-ng-disabled="saving"
                               class="value-width"/>
                    </div>
                    <div class="spacer-input"></div>
                    <button class="btn light tag-add-btn"
                            data-ng-click="addItem()"
                            data-translate
                            data-ng-disabled="!item.val || !item.key || saving">{{item.isNew && 'Add' || 'Save'}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tags row-fluid">
        <div class="pull-right loading-small" style="width:30px; height:30px;min-width:30px;min-height:30px;" data-ng-show="saving"></div>
    </div>
</div>