<div data-ng-form="collectionForm">
    <div class="tags" data-ng-repeat="(key, o) in collection">
        <div class="tag row-fluid" data-ng-show="!o.edit">
            <span class="key span5"
                  data-ng-click="edit(key)"
                  data-ng-class="{error: o.conflict}">{{o.key}}</span>

            <span class="value span5"
                  data-ng-click="edit(key)"
                  data-ng-class="{error: o.conflict}">{{o.val}}</span>

            <span class="icon-trash pull-left delete"
                  data-ng-click="remove(key)"
                  data-ng-show="!collectionSaving">
            </span>
        </div>

        <div class="tag editable" data-ng-show="o.edit">
            <div data-ng-class="{error: o.conflict}" class="tag row-fluid control-group">
                <span class="key span5">
                    <span class="span3 tag-label">
                        <label>Key <span class="required-asterix">*</span></label>
                    </span>
                    <span class="span9">
                        <input type="text"
                               placeholder="Key"
                               data-machine-collection-value
                               data-translate="placeholder"
                               data-ng-model="o.key"
                               data-ng-disabled="collectionSaving">
                    </span>
                </span>

                <span class="value span5">
                    <span class="span3 tag-label">
                        <label>Value <span class="required-asterix">*</span></label>
                    </span>
                    <span class="span9">
                        <input type="text"
                               placeholder="Value"
                               data-machine-collection-value
                               data-translate="placeholder"
                               data-ng-model="o.val"
                               data-ng-disabled="collectionSaving">
                    </span>
                </span>

                <span class="icon-trash pull-left delete"
                      data-ng-click="remove(key)"
                      data-ng-show="!collectionSaving">
                </span>
            </div>
        </div>
    </div>
    <div class="tag tag-add row-fluid">
        <div class="key span5"></div>
        <div class="value span5">
            <button class="btn btn-joyent-blue pull-right"
                    data-ng-show="showCollectionSave"
                    data-ng-click="save()"
                    data-translate
                    data-ng-disabled="!(machine.state == 'running' || machine.state == 'stopped') || !collectionSaveOk || collectionSaving">Save</button>
            <div class="pull-right loading-medium loading-30" data-ng-show="collectionSaving"></div>
            <div class="btn btn-link pull-right" data-ng-click="add()" data-translate>+ Add New {{singleCollectionName()}}</div>
        </div>
    </div>
</div>