<div data-ng-form="collectionForm">
    <div class="controls" data-ng-show="internalCollection.length > 1">
        <div class="key key-width tags-title">Key</div>
        <div class="value value-width tags-title">Value</div>
    </div>
    <div data-ng-click="editItem(item)" data-ng-repeat="item in internalCollection">
        <div data-ng-show="!item.edit">
            <div class="controls">
                <div class="key key-width crop">{{item.key}}</div>
                <div class="value value-width crop">{{item.val}}</div>
                <div class="remove-icon delete pull-right tags-delete-pos"
                     data-ng-click="removeItem(item)"
                     data-ng-show="!item.saving">
                </div>
                <div class="pull-right loading-medium item" data-ng-show="item.saving">
                </div>
            </div>
        </div>

        <div class="tag editable" data-ng-show="item.edit" data-ng-form="itemForm">
            <span class="key-container">
                <input type="text"
                    name="key"
                    placeholder="Key"
                    data-translate="placeholder"
                    data-ng-model="item.dirtyKey"
                    data-ng-required="!review"
                    data-ng-pattern="/^[a-zA-Z0-9\._\-]+$/"
                    data-ng-disabled="item.saving || saving"
                    class="key-width">
            </span>

            <div class="pull-right">
                <button class="btn tag-add-btn"
                        data-ng-click="addItem(item)"
                        data-translate
                        data-ng-disabled="saving || !item.dirtyVal || !item.dirtyKey || item.saving">{{item.isNew &&
                    'Add' || 'Save'}}
                </button>
                <div class="loading-medium" ng-style="{visibility: item.saving && 'visible' || 'hidden'}"></div>
            </div>
            <span class="value-container">
                <input type="text"
                    placeholder="Value"
                    data-translate="placeholder"
                    data-ng-model="item.dirtyVal"
                    data-ng-required="!review"
                    data-ng-disabled="item.saving || saving"
                    class="value-width"/>
                <textarea type="text"
                     placeholder="Value"
                     data-translate="placeholder"
                     data-ng-model="item.dirtyVal"
                     data-ng-required="!review"
                     data-ng-disabled="item.saving || saving"
                     class="value-width"
                     rows="8"></textarea>
            </span>
            <div class="error" data-ng-show="itemForm.key.$error.pattern">
                {{$parent.collectionName === 'tags' ? 'Tag' : 'Metadata'}} key must be alphanumeric
            </div>
        </div>
    </div>
</div>