<div class="container-fluid content-container" data-ng-controller="Machine.ProvisionController">
	<div class="loading-medium" data-ng-show="loading" style="height:60px;width:100%"></div>
    <div class="container content-container-inner" data-ng-hide="loading">
        <div class="row-fluid" data-ng-show="keys.length">
            <div data-breadcrumb></div>
            <div data-notification></div>

            <div class="page-header">
                <h1 data-translate>Create Instance</h1>
            </div>

            <div class="row-fluid">
            <div class="span4 pull-right">
                <div data-ng-show="showReConfigure" class="alert alert-joyent-gray row-fluid reconfigure" id="pricing" style="padding-bottom:10px !important;">
                    <div class="reconfigure-box">

                        <h4 data-translate>Selected configuration</h4>
                        <div id="selected-image" class="text-small">{{selectedDataset.description}}</div>
                        <br/>

                        <div data-ng-show="selectedPackageInfo" id="selected-size" class="text-small">
                            <div class="row-fluid">
                                <b style="width:90px;display:inline-block" data-translate>Datacenter</b> {{data.datacenter}}<br/>
                                <b style="width:90px;display:inline-block" data-translate>Memory</b> {{selectedPackageInfo.memory | sizeFormat}}<br/>
                                <b style="width:90px;display:inline-block" data-translate>Disk</b> {{selectedPackageInfo.disk | sizeFormat}}<br />
                                    <span data-ng-show="selectedPackageInfo.vcpus">
                                        <b style="width:90px;display:inline-block" data-translate>vCPUs</b> {{selectedPackageInfo.vcpus}}<span data-ng-show="selectedPackageInfo.type == 'smartos'"> and bursting</span><br />
                                    </span>
                            </div>

                            <div class="row-fluid price-container">
                                <div class="span6 text-center">
                                    <h5 data-translate>Hourly $</h5>
                                    <b style="font-size:26px">{{selectedPackageInfo.full_price || selectedPackageInfo.price}}</b>
                                    <!-- <span data-translate>USD</span><br/> -->
                                </div>
                                <div class="span6 text-center">
                                    <h5 data-translate>Est. Monthly $</h5>
                                    <b style="font-size:26px">
                                        {{selectedPackageInfo.full_price_month || selectedPackageInfo.price_month}}</b> <!-- <span data-translate>USD</span><br/> -->
                                </div>
                            </div>
                        </div>


                        <a class="btn pull-left reconfigure-btn" data-ng-click="reconfigure()" href="#myCarousel" id="prev" data-slide="prev">&#171; Change Configuration</a>
                        <div id="step-configuration" class="text-small  none" style="margin-top:10px;">
                        </div>

                    </div>


                </div>

                <div id="network-configuration" class="alert alert-joyent-blue reconfigure row-fluid none">
                    <div class="reconfigure-box">
                        <div class="accordion" id="networkAccordion">
                            <div class="accordion-group" id="network-configuration-accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#networkAccordion" href="#collapseOne">
                                        <h4>Configure networks +</h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                            <span data-ng-repeat="network in networks">
                                                <input type="checkbox" value="{{network.id}}" name="{{network.name}}" data-ng-model="selectedNetworkId" data-ng-disabled="selectedNetworks.length == 2 && selectedNetworks.indexOf(network.id) == -1" data-ng-change="selectNetwork(network.id);" />
                                                    <span data-ng-class="{disabledNetworkSelection: (selectedNetworks.length == 2 && selectedNetworks.indexOf(network.id) == -1)}">{{network.name}}</span><br />
                                            </span>
                                    </div>
                                </div>
                            </div>
                            Only 2 networks allowed. By default machines have one public and one private network.
                        </div>
                    </div>
                </div>



                <div id="finish-configuration" data-ng-show="showFinishConfiguration" class="alert alert-joyent-blue reconfigure row-fluid">
                    <div class="reconfigure-box">
                        <form name="provisionForm">
                            <h4 data-translate>Name your instance.</h4>
                            <span data-translate>This is optional.</span>
                            <div class="error"
                                 data-ng-show="provisionForm.machineName.$error.machineName"
                                 data-translate>
                                Invalid machine name
                            </div>

                            <div class="error"
                                 data-ng-show="provisionForm.machineName.$error.machineUnique"
                                 data-translate>
                                Machine name is already in use
                            </div>
                            <br />
                            <input name="machineName"
                                   type="text"
                                   placeholder="Name of your instance"
                                   data-ng-model="data.name"
                                   data-machine-name
                                   data-machine-unique />

                            <button class="btn btn-joyent-blue"
                                    data-ng-disabled="provisionForm.$invalid"
                                    data-ng-click="clickProvision()"
                                    data-translate>Create instance</button>
                        </form>
                    </div>
                </div>
            </div>

                <div class="span8 provisioning-carousel-span">
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner item-list-container provisioning-carousel-inner-box" data-ng-class="{'loading-medium':reloading}">
                            <div class="active item outer-provisioning-item">
                                <div class="item provisioning-item  header row-fluid">
                                    <div class="provisioning-header-left-button btn-group tooltip-hover span3"
                                         data-html="true"
                                         data-toggle="tooltip"
                                         data-placement="bottom"
                                         data-original-title="Filter by zone"
                                            style="padding-bottom: 10px">
                                        <span class="text-medium" style="line-height: 30px">
                                            Data Center<br/>
                                        </span>
                                        <button class="btn" data-ng-show="data.datacenter">{{data.datacenter}}</button>
                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li data-ng-repeat="datacenter in datacenters">
                                                <a data-ng-click="selectDatacenter(datacenter.name)">{{datacenter.name}}</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="btn-group tooltip-hover span3 hidden-phone"
                                         data-html="true"
                                         data-toggle="tooltip"
                                         data-placement="bottom"
                                         data-original-title="Filter by operating system">
                                        <span class="text-medium" style="line-height: 30px">
                                            Operating System<br/>
                                        </span>
                                        <button class="btn" data-ng-show="data.opsys">{{data.opsys}}</button>
                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li data-ng-repeat="opsys in operating_systems">
                                                <a data-ng-click="selectOpsys(opsys)">{{opsys}}</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="btn-group tooltip-hover span2 hidden-phone"
                                         data-html="true"
                                         data-toggle="tooltip"
                                         data-placement="bottom"
                                         data-original-title="Filter by visibility">
                                        <span class="text-medium" style="line-height: 30px">
                                            Image Type<br/>
                                        </span>
                                        <button class="btn">{{visibilityFilter}}</button>
                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <!-- <li><a data-ng-click="selectVisibility(null);">All</a></li> -->
                                            <li><a data-ng-click="selectVisibility(true);">Public</a></li>
                                            <li><a data-ng-click="selectVisibility(false);">Private</a></li>
                                        </ul>
                                    </div>

                                    <div class="span3 offset1 provisioning-header-search">
                                        <input type="text" class="span12" placeholder="Search image" data-ng-model="searchText" data-translate="placeholder" />
                                    </div>
                                </div>
                                <div class="item-scrolling">
                                    <div class="item provisioning-item row-fluid" data-ng-hide="reloading" data-ng-repeat="dataset in (datasets | orderBy:['type','name']) | filter:filterDatasets | filter:filterDatasetsByOS | filter:filterDatasetsByVisibility">
                                            <div class="span1 provisioning-carousel-padding-left">
                                                <input class="pull-left"
                                                       type="radio"
                                                       id="dataset-{{dataset.id}}"
                                                       name="dataset"
                                                       value="{{selectedVersions[dataset.name].id || dataset.id}}"
                                                       data-ng-checked="selectedDataset.id == dataset.id"
                                                       data-ng-click="selectDataset((selectedVersions[dataset.name].id || dataset.id))" />
                                            </div>
                                            <div class="span10 provisioning-carousel-padding-left">
                                                <label for="dataset-{{dataset.id}}" class="span12 text-medium">
                                                    <p class="name">
                                                        {{selectedVersions[dataset.name].name || dataset.name}}
                                                    </p>

                                                    <span class="text-small">
                                                        {{selectedVersions[dataset.name].description || dataset.description}}
                                                    </span>

                                                    <div class="text-small image-container" data-ng-show="manyVersions[dataset.name]">
                                                        <span class="span3 label-margin-fix">
                                                            <strong data-translate>Choose image version</strong>
                                                        </span>

                                                        <div class="btn-group pull-left">
                                                            <button class="btn btn-mini" data-ng-show="selectedVersions[dataset.name]">
                                                                {{selectedVersions[dataset.name].version}}
                                                            </button>

                                                            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                                                <span class="caret"></span>
                                                            </button>

                                                            <ul class="dropdown-menu">
                                                                <li data-ng-repeat="version in versions[dataset.name]">
                                                                    <a data-ng-click="selectVersion(dataset.name, version)">
                                                                        {{version.version}}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="image-container text-small" data-ng-hide="manyVersions[dataset.name]">
                                                        <span class="span3 label-margin-fix">
                                                            <strong data-translate>Image version</strong>
                                                            {{dataset.version}}
                                                        </span>
                                                    </div>
                                                </label>
                                            </div>

                                            <span class="span1 provisioning-carousel-padding-left item-select pointer provisioning-arrows hidden-phone" data-ng-click="selectDataset((selectedVersions[dataset.name].id || dataset.id))">
                                                &raquo;
                                            </span>

                                    </div>
                                </div>
                            </div>

                            <div class="item outer-provisioning-item">
                                <div class="item provisioning-item header row-fluid">
                                    <div class="provisioning-header-left-button btn-group pull-left tooltip-hover span3"
                                         data-toggle="tooltip"
                                         data-placement="right"
                                         data-original-title="Filter by instance type">
                                        <button class="btn" data-translate data-ng-show="!packageType">Package Types</button>
                                        <button class="btn" data-ng-show="packageType">{{packageType}}</button>

                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu">
                                            <li data-ng-repeat="package in packageTypes">
                                                <a data-ng-click="selectPackageType(package)">{{package}}</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="span3 offset6 provisioning-header-search">
                                            <input type="text"
                                                   class="span12"
                                                   placeholder="Search image"
                                                   data-ng-model="searchPackages"
                                                   data-translate="placeholder" />
                                    </div>
                                </div>
                                <div class="item-scrolling">
                                    <div class="item provisioning-item pointer row-fluid"
                                         data-ng-repeat="package in (packages | orderBy:sortPackages) | filter:filterPackages">
                                        <div class="span12">
                                            <div class="span1 provisioning-carousel-padding-left">
                                                <input class="pull-left"
                                                       type="radio"
                                                       name="tmp"
                                                       id="package-{{package.id}}"
                                                       value="{{package.id}}"
                                                       data-ng-checked="selectedPackage.id == package.id"
                                                       data-ng-click="selectPackage(package.id)"
                                                       data-ng-model="selectedPackage"/>
                                            </div>

                                            <label for="package-{{package.id}}">
                                            <span class="span9 text-medium provisioning-carousel-padding-left">
                                                <p class="name">
                                                    {{package.short_name}}
                                                </p>

                                                <span class="text-small">
                                                    {{package.description}}
                                                </span>
                                            </span>

                                            <span class="price span2 text-medium align-right provisioning-carousel-padding-left">
                                                <p class="size b">${{package.full_price || package.price}}</p>
                                                <p class="text-small text-gray" data-translate>per hour</p>
                                            </span>

                                            </label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="alert alert-joyent-blue alert-global" data-ng-show="keys.length == 0">
            <div class="pull-left">
                <h4>Hello there!</h4>
                <div data-translate>I see you have no SSH keys configured.</div>
            </div>
            <a class="btn btn-joyent-blue pull-right alert-global" href="#!/account/ssh" data-translate>Add a SSH key</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>