<div>
    <h3 class="page-title" data-ng-click="enableRename(object.name)" data-ng-show="!changingName && !renaming">
        {{ newName || object.name }}
        <div class="edit-text-icon" data-ng-show="isRenameAvailable()"></div>
    </h3>
    <div class="loading-medium wait_rename" data-ng-show="loadingNewName"></div>
    <form name="renameForm" class="machine-edit-form">
        <div class="pull-left machine-edit" data-ng-show="changingName && !renaming">
            <input class="col-md-2 machine-name-edit pull-left" id="renameObject" name="renameObject" data-ng-model="newName" type="text" data-machine-name="type" data-unique="type"/>
            <div class="btn-group machine-edit-buttons">
                <button class="btn btn-height" data-ng-click="clickRename()" data-ng-disabled="renameForm.renameObject.$invalid || newName.length <= 0 || newName==object.name" type="button"><i class="glyphicon glyphicon-ok"/></button>
                <button class="btn" data-ng-click="cancelRename()" type="button"><i class="glyphicon glyphicon-remove"/></button>
            </div>
        </div>

        <div class="pull-left error"
             data-ng-show="renameForm.renameObject.$error[type + 'Name'] && changingName && newName != object.name"
             data-translate>
            {{type | capitalize}} name&nbsp;can contain only letters, digits and signs like '.' and '-'.
        </div>
        <div class="pull-left error"
             data-ng-show="renameForm.renameObject.$error.nameFirstLastChar && changingName && newName != object.name"
             data-translate>
            The instance name cannot start or end with '.' or '-'.
        </div>
        <div class="pull-left error"
             data-ng-show="renameForm.renameObject.$error.nameContainDotDash && changingName && newName != object.name"
             data-translate>
            Instance name should not contain '..' and '.-' or '-.'
        </div>
        <div class="pull-left error"
             data-ng-show="renameForm.renameObject.$error.exceedsMaxLength && changingName && newName != object.name"
             data-translate>
            The maximum length of machine name is 189 characters
        </div>
        <div class="pull-left error"
             data-ng-show="renameForm.renameObject.$error[type + 'Unique'] && changingName && newName != object.name"
             data-translate>
            {{type | capitalize}} name&nbsp;is already in use
        </div>
    </form>
</div>
