<div class="container-fluid container-position" data-ng-controller="Machine.ProvisionController">
    <div data-breadcrumbs></div>
    <div class="loading-large col-md-12" data-ng-show="loading"></div>
    <div class="" data-ng-hide="loading">
        <div class="container-min-width">
            <h3 class="page-title no-breadcrumb-line container-min-width" data-translate>Quick Start: Create Instance</h3>
            <div class="ci-desc">Get started with Joyent by selecting an instance below and start computing.</div>
            <div class="wizard-first-step row">
                <span class="select-name">Data Center:</span>
                <div class="btn-group">
                    <select type="hidden" data-select-two id="selectDatacenter" data-ng-model="data.datacenter" data-fn="selectDatacenter" data-select="data.datacenter" data-ng-options="datacenter.name as datacenter.name for datacenter in datacenters" data-placeholder="No matches found">
                        <option></option>
                    </select>
                    <div class="loading-medium loading-medium-inline" data-ng-show="datasetsLoading"></div>
                </div>
                <div class="hotlinks pull-right">
                    <span data-ng-show="isMantaEnabled && isRecentInstancesEnabled && recentInstances.length > 0">
                        <a href="#!/compute/create/recent" data-ng-click="setCreateInstancePage('recent')">Recent</a> |
                    </span>
                    <span data-ng-show="features.imageUse != 'disabled'">
                        <a href="#!/compute/create/custom" data-ng-click="selectInstanceType('Saved')"> Saved</a> |
                    </span>
                    <span>
                        <a href="#!/compute/create" id="link-more-images" data-ng-click="selectInstanceType('Public')">All Public Images </a> |
                    </span>
                    <span>
                        <span class="active-link">
                            Quick
                        </span>
                    </span>
                </div>
            </div>

            <div class="row images-wrapper">
                <div class="simple-image" data-ng-repeat="image in simpleImages | filter: filterSimpleImagesByDatacenter" data-ng-class="image.className" ng-click="image.limit && goTo('/limits') || !image.limit && createSimple(image.imageData)">
                    <div class="name">
                        <p data-tooltip-full-text data-original-title="{{image.name}}">{{image.name}}</p>
                    </div>
                    <div class="description">
                        <p data-tooltip-full-text data-original-title="{{image.description.text}}">{{image.description.text}}</p>
                    </div>
                    <div class="info">
                        <p>MEMORY</p><span><p>{{ image.description.memory }} GB</p></span>
                    </div>
                    <div class="info">
                        <p>vCPUs</p><span><p>{{ image.description.cpu }}</p></span>
                    </div>
                    <div class="info">
                        <p>Disk</p><span><p>{{ image.description.disk }} GB</p></span>
                    </div>
                    <div data-ng-show="image.imageData.freetier && !image.limit" class="freetier-info">
                        <span>Free Dev Tier is valid until {{image.imageData.freeTierValidUntil | date:'yyyy-MM-dd'}}</span>
                    </div>

                    <div class="btn-block" data-ng-class="{'freetier-btn-block': image.imageData.freetier || image.limit}">
                        <div data-ng-hide="image.limit">
                            <span class="price">{{ image.imageData.freetier && 'FREE' || '$' + image.description.price }}</span>
                            <span class="hour">{{ image.imageData.freetier && 'dev tier' || 'per hour' }}</span>
                            <button type="button"
                                    class="btn select-btn small">
                                    <b>Launch</b>
                            </button>
                        </div>
                        <div data-ng-show="image.limit" class="hotlinks limit-links">
                            <a href="#!/limits" class="">Provisioning limit is reached</a>
                        </div>
                    </div>
                </div>

                <div data-ng-click="selectInstanceType('Public')" class="simple-image joyent-logo">
                    <div class="browse">
                        <div class="title">
                            Browse our<br/>complete image<br/>library
                        </div>
                        <div class="description">
                            Instances suitable for specific<br/>applications, database, traffic<br/>management and more.
                        </div>
                    </div>
                    <div class="btn-block">
                        <button class="btn orange btn-browse">View More Images</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
