<div>
    <span class="status label label-info pull-left"
          data-ng-class="labelForState(machine.state)"
          data-ng-show="machine.state.length">
        <span class="loading-small pull-left" data-ng-show="machine.job && !machine.job.finished"></span>
        <i class="icon-ok" data-ng-show="machine.state == 'running'"></i>
        <i class="warn_icon" data-ng-show="machine.state == 'stopped'"></i>
        <span data-translate>{{machine.state}}</span>
    </span>

    <span class="status label label-info pull-left"
          data-ng-class="btn-danger"
          data-ng-show="machine.job && machine.job.err">
        <i class="icon-warning-sign icon-white" data-ng-show="machine.job.err"></i>
        <span data-translate>error</span>
    </span>
</div>