<div>
    <ui-select data-ng-model="data.dataset"
               data-ng-if="selectedImage || selectedVersions[selectedImage.name]"
               theme="select2"
               search-enabled="false"
               class="dataset-select"
               on-select="selectVersion()">
        <ui-select-match>{{$select.selected.version}}</ui-select-match>
        <ui-select-choices repeat="version.id as version in filteredVersions">
            {{version.version}}
        </ui-select-choices>
    </ui-select>
</div>