<div class="item provisioning-item header row">
        <div data-ng-show="selectedPackageInfo" class="preselected pull-right">
            <div class="info small-icon"
                 data-ng-class="selectedImage.name | logo">
                <p>IMAGE:</p>
                <button class="btn small" data-ng-hide="isChangeImageDenied()" data-ng-click="reconfigure(STEP_INDEX.image)" id="prev" data-slide="prev">Change</button>
                <div class="section-title">{{selectedImage.name}}</div>
                <div class="dataset-desc crop text-wrap">{{selectedImage.description}}</div>

                <p data-ng-show="manyVersions[selectedImage.visibility][selectedImage.name]">IMAGE VERSION:</p>
                <div class="image-container" data-ng-if="manyVersions[selectedImage.visibility][selectedImage.name]">
                    <div data-versions class="btn-group pull-left"></div>
                </div>
                <div class="dataset-cost cost" data-ng-show="features.billing == 'enabled'">
                    <p>EST. MONTHLY COST:</p>
                    <span class="price-current">${{selectedPackageInfo.full_price_month || selectedPackageInfo.price_month}}</span>
                </div>
                <div class="pull-right">
                    <button type="button" id="button-review" class="btn orange review-btn" data-ng-click="goToReviewPage()">Next</button>
                </div>
            </div>
        </div>
    <div class="filter-container">
        Filter:
        <div class="btn-group btn-group-filter">
            <ui-select data-ng-model="filterModel.key"
                       theme="select2"
                       search-enabled="false"
                       data-ng-disabled="instanceType == 'container'"
                       class="filter-prop-select"
                       on-select="selectFilterType($select.selected)">
                <ui-select-match>{{$select.selected | uppercase}}</ui-select-match>
                <ui-select-choices repeat="prop in filterProps">
                    {{prop | uppercase}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="btn-group btn-group-filter" data-ng-show="filterModel.key != 'No filter'">
            <ui-select data-ng-model="filterModel.value"
                       theme="select2"
                       search-enabled="false"
                       class="filter-key-select"
                       on-select="selectFilterValue($select.selected)">
                <ui-select-match>{{formatFilterValue($select.selected)}}</ui-select-match>
                <ui-select-choices repeat="prop in filterValues[filterModel.key]">
                    {{formatFilterValue(prop)}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="accordion-container">
        <div class="accordion-package-title">
            <span class="span-name">NAME</span>
            <span class="span-specification">SPECIFICATION</span>
            <span class="span-price" data-ng-show="features.billing == 'enabled'">PRICE</span>
        </div>
        <div class="panel-group accordion-package-select" id="packagesAccordion">
            <div class="panel panel-default" data-ng-repeat="packageGroup in packageGroups | filter:filterPackageGroups(datasetType)">
                <div class="panel-heading">
                    <a class="accordion-toggle collapsed toggle-icon" data-toggle="collapse" data-parent="#packagesAccordion"
                       data-target="#collapse_{{$index}}" data-ng-click="changeSelectedPackage($event, packageGroup)">
                        {{packageGroup}}
                        <span class="accordion-package-count">{{(packages | filter:filterPackagesByProp | filter:filterPackages(packageGroup)).length}}</span>
                    </a>
                </div>
                <div id="collapse_{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="package-info" data-ng-repeat="package in (packages | filter:filterPackagesByProp | orderBy:sortPackages) | filter:filterPackages(packageGroup)"
                             data-ng-click="selectPackage(package.id)"
                             data-ng-checked="selectedPackage == package.id"
                             data-ng-class="{active: selectedPackage == package.id}">
                            <div class="short-name">{{package.short_name}}</div>
                            <div class="memory"><p data-ng-show="package.memory < 1024">Micro </p> {{package.memory | sizeFormat}} RAM</div>
                            <div class="cpu">{{package.vcpus}} vCPUs</div>
                            <div class="disk">{{package.disk | sizeFormat}} Disk</div>
                            <div class="price" data-ng-if="features.billing == 'enabled'">${{package.full_price || package.price}} <p data-translate>per hour</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
