<div class="item provisioning-item header row">
        <div data-ng-show="selectedPackageInfo" class="preselected pull-right">
            <div class="info small-icon"
                 data-ng-class="selectedDataset.name | logo">
                <p>IMAGE:</p><button class="btn small-btn effect-orange-button" data-ng-click="reconfigure(0)" id="prev" data-slide="prev">Change</button>
                <span><h2>{{selectedDataset.name}}</h2></span>
                <div class="dataset-desc crop text-wrap">{{selectedDataset.description}}</div>

                <p data-ng-show="manyVersions[selectedDataset.visibility][selectedDataset.nam]">INSTANCE VERSION:</p>
                <div class="text-small image-container" data-ng-show="manyVersions[selectedDataset.visibility][selectedDataset.name]">
                    <div class="btn-group pull-left">
                        <select data-select-two id="selectVersion" data-item="version" data-select="selectedDataset.version" data-fn="selectVersion" data-ng-show="selectedDataset || selectedVersions[selectedDataset.name]">
                            <option data-ng-repeat="version in filteredVersions" value="{{version}}">
                                {{version.version}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="dataset-cost cost">
                    <p>EST. MONTHLY COST:</p>
                    <h3>${{selectedPackageInfo.full_price_month || selectedPackageInfo.price_month}}</h3>
                </div>
                <div class="pull-right">
                    <button type="button" id="button-review" class="btn orange review-btn" data-ng-click="reviewPage()">Next</button>
                </div>
            </div>
        </div>
    <div class="filter-container">
        Filter:
        <div class="btn-group btn-group-filter">
            <select type="hidden" data-select-two id="filterProperty" class="filter-select" data-item="prop" data-select="filterModel.key" data-fn="selectFilterType">
                <option data-ng-repeat="prop in filterProps" value="{{prop}}">
                    {{prop | uppercase}}
                </option>
            </select>
        </div>
        <div class="btn-group btn-group-filter" data-ng-show="filterModel.key != 'No filter'">
            <select type="hidden" data-select-two id="filterPropertyValue" class="filter-select" data-item="prop" data-select="filterModel.value" data-fn="selectFilterValue">
                <option data-ng-repeat="prop in filterValues[filterModel.key]" value="{{prop}}">
                    {{formatFilterValue(prop)}}
                </option>
            </select>
        </div>
    </div>
    <div>
        <div class="accordion-package-title">
            <span class="span-name">NAME</span>
            <span class="span-specification">SPECIFICATION</span>
            <span class="span-price">PRICE</span>
        </div>
        <div class="panel-group accordion-package-select" id="packagesAccordion">
            <div class="panel panel-default" data-ng-repeat="packageType in packageTypes | filter:filterPackageTypes(datasetType)">
                <div class="panel-heading">
                    <a class="accordion-toggle collapsed toggle-icon" data-toggle="collapse" data-parent="#packagesAccordion"
                       data-target="#collapse_{{$index}}" data-ng-click="changeSelectedPackage($event, packageType)" data-ng-class="{'filter-on': filterModel.key != 'No filter'}">
                        {{packageType}}
                        <span class="accordion-package-count">{{(packages | filter:filterPackagesByProp | filter:filterPackages(packageType)).length}}</span>
                    </a>
                </div>
                <div id="collapse_{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="package-info" data-ng-repeat="package in (packages | filter:filterPackagesByProp | orderBy:sortPackages) | filter:filterPackages(packageType)"
                             data-ng-click="selectPackage(package.id)"
                             data-ng-checked="selectedPackage == package.id"
                             data-ng-class="{active: selectedPackage == package.id}">
                            <div class="short-name">{{package.short_name}}</div>
                            <div class="memory"><p data-ng-show="package.memory < 1024">Micro </p> {{package.memory | sizeFormat}} RAM</div>
                            <div class="cpu">{{package.vcpus}} vCPUs</div>
                            <div class="disk">{{package.disk | sizeFormat}} Disk</div>
                            <div class="price">${{package.full_price || package.price}} <p data-translate>per hour</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
