<div class="content-container-inner" data-ng-controller="Fileman.IndexController" xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">
        <div class="page-header">
            <h3 class="page-title">Manta - File Manager</h3>
        </div>
    </div>

    <div id="folder" class="folder-container" data-path="{{ currentPath }}">
        <div data-ng-repeat="i in filesTree" class="finder-column">
            <div data-ng-repeat="path in i"  class="finder-elements" data-ng-class="{active: path.active}">
                <a href="JavaScript:{}" data-ng-click="setCurrentPath('/' + path.parent.split('/').slice(2).join('/') + '/' + path.path,1)">
                    <img data-ng-src="fileman/static/img/{{ path.type }}.png" alt="{{ path.name }}" style="width: 25px;height: 25px;"/>
                    {{ path.name }}
                </a>
            </div>
        </div>
    </div>
    <div id="address">
        <form name="uploadForm" action="fileman/upload" enctype="multipart/form-data" method="post" target="uploadFrame">
            <input type="file" id="uploadInput" name="uploadInput" onchange="uploadForm.submit();" style="display: none" multiple/>
            <input type="hidden" name="path" value="{{ currentPath }}"/>
            <label type="button" for="uploadInput" class="btn orange pull-left">Add files</label>
        </form>
        <iframe src="about:blank" style="display: none;" name="uploadFrame" onload="uploadForm.reset();"></iframe>
    </div>
</div>
