<div class="container" data-ng-controller="Fileman.IndexController" xmlns="http://www.w3.org/1999/html">
    <div id="address">
        <form name="uploadForm" action="fileman/upload" enctype="multipart/form-data" method="post" target="uploadFrame">
            <input type="file" id="uploadInput" name="uploadInput" onchange="uploadForm.submit();" style="display: none"/>
            <input type="hidden" name="path" value="{{ currentPath }}"/>
            <label type="button" for="uploadInput" class="btn btn-joyent-blue pull-right">Add files</label>
        </form>
        <iframe src="about:blank" style="display: none;" name="uploadFrame" onload="uploadForm.reset();angular.element(this).scope().setCurrentPath();"></iframe>
        <ul>
            <li data-ng-repeat="path in splittedCurrentPath">
                <a href="JavaScript:{}" data-ng-click="setCurrentPath()">{{ path.name }}</a>
            </li>
        </ul>
    </div>
    <div id="folder" data-path="{{ currentPath }}">
        <div data-ng-repeat="path in files">
            <a href="JavaScript:{}" data-ng-click="setCurrentPath()">
                <img data-ng-src="fileman/static/img/{{ path.type }}.png" alt="{{ path.name }}" style="width: 25px;height: 25px;"/>
                {{ path.name }}
            </a>
        </div>
    </div>
</div>
