<div class="container-fluid container-position container-min-width" data-ng-controller="Fileman.IndexController">
    <div data-breadcrumbs></div>

    <div class="page-header row-fluid">
        <h3 class="page-title">Manta - File Manager</h3>
    </div>

    <div class="loading-large span12" data-ng-show="loading"></div>

    <div class="header-btn-panel" data-ng-hide="loading">
        <!--<form class="pull-left">
            <input type="search"
                   name="search"
                   id="search"
                   placeholder="search files"
                   data-ng-model="filterAll"
                   data-translate="search files"
                   data-ng-click="construction()"/>
        </form>-->
        <div id="address" class="upload-btn">
            <input type="file" id="uploadInput" name="uploadInput" style="display: none" multiple
                   data-fileman-upload="currentPath">
            <input type="hidden" name="path" value="{{ currentPath }}"/>
            <label type="button" for="uploadInput" class="btn light pull-left"><i class="plus-icon"></i>Add
                files</label>
        </div>
        <button class="btn light" data-ng-click="createFolder()"><i class="plus-icon"></i>New Folder</button>
        <button class="btn light" data-ng-click="downloadFile()"><i class="download-icon"></i>Download</button>
        <button class="btn light" data-ng-click="getInfo()"><i class="info-icon"></i>Get Info</button>
        <!--<button class="btn light" data-ng-click="construction()"><i class="share-icon"></i>Share</button>
        <button class="btn light" data-ng-click="construction()"><i class="key-icon"></i>mLogin</button>-->
        <button class="btn light" data-ng-click="deleteFile()"><i class="delete-icon"></i>Delete</button>
    </div>

    <div id="folder" class="folder-container" data-path="{{ currentPath }}" data-ng-hide="loading">
        <div class="folder-container-sub">
            <div data-ng-repeat="i in filesTree" class="{{getColumnClass($index)}}">
                <div class="files-box">
                    <div class="loading-medium-transparent" data-ng-show="refreshingFolder && $last" data-ng-class="{overlay: refreshingFolder && $last}"></div>
                    <div data-ng-repeat="path in i"  class="finder-elements" data-ng-class="{active: path.active}">
                        <a href="JavaScript:{}" data-ng-click="setCurrentPath(path, true)">
                            <div class="{{path.type}} path-name"></div>
                            <div class="path-name">{{ path.name }}</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="finder-column" data-ng-show="loadingFolder">
                <div class="files-box">
                    <div class="loading-medium-transparent"></div>
                </div>
            </div>
        </div>
        <!--<div class="drag-files" data-ng-click="construction()">
            <div class="line-bg"><i class="upload-icon-grey"></i>Drag files to upload<i class="upload-icon-grey"></i></div>
        </div>-->

    </div>

</div>
