<div class="container-fluid container-position">
    <div class="loading-large span12" data-ng-show="loading"></div>
    <div class="row" data-ng-hide="loading">
        <div class="page-header row">
            <h3 class="page-title">{{package.title}}</h3>
        </div>
        <div data-ng-show="package.templateUrl.length" data-ng-include="package.templateUrl"></div>
        <div class="holders-container">
           <div class="package-holder" data-ng-class="{active: packageHolder.levelSupport < levelSupport || packageHolder.active}" data-ng-repeat="packageHolder in packageHolders" data-ng-show="packageHolders" data-equal-height=".package-holder .header, .control">
                <div class="header">
                    <div class="brim">
                        <h4>{{packageHolder.title}}<a class="info" data-ng-show="packageHolder.info" href="{{packageHolder.url}}" target="_blank">i</a></h4>
                        <span>{{packageHolder.description}}</span>
                    </div>
                </div>
                <div class="control">
                    <div class="brim">
                        <div class="cost-fixed">
                            <p data-ng-show="packageHolder.timePeriod.length">{{packageHolder.timePeriod}}</p>
                            <h3><p data-ng-show="packageHolder.costSign">{{packageHolder.costSign}}</p>{{packageHolder.cost}}<span>{{packageHolder.costText}}</span></h3>
                            <p class="fees">{{packageHolder.fees}}</p>
                        </div>
                        <span data-ng-show="packageHolder.active && packageHolder.ratePlanId != 'phone' && (packageHolder.levelSupport == levelSupport)" class="btn pull-right">Current Level</span>
                        <span data-ng-show="packageHolder.ratePlanId != 'phone' && (packageHolder.levelSupport < levelSupport)" class="btn pull-right">Included</span>
                        <button data-ng-show="!packageHolder.active && !packageHolder.phone && levelSupport > 0 && (packageHolder.levelSupport > levelSupport)" data-ng-disabled="subscribingInProgress" class="btn pull-right" data-ng-click="clickSignUp(packageHolder, true)">Upgrade<i class="arrow-right"></i></button>
                        <button data-ng-show="!packageHolder.active && !packageHolder.phone && levelSupport == 0" data-ng-disabled="subscribingInProgress" class="btn pull-right" data-ng-click="clickSignUp(packageHolder)">Sign Up<i class="arrow-right"></i></button>
                        <button data-ng-show="packageHolder.phone" data-ng-disabled="subscribingInProgress" class="btn pull-right" data-ng-click="clickCallSales(packageHolder)">Call Sales<i class="arrow-right"></i></button>
                    </div>
                </div>
                <div class="desc">
                    <div class="brim">
                        <p data-ng-repeat="service in packageHolder.services">{{service}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

