<div data-ng-controller="Dtrace.IndexController" class="page-title-btn">
    <div class="control-panel">
        <span>Data Center:</span>
        <div class="provisioning-header-left-button btn-group">
            <ui-select data-ng-model="data.datacenter"
                       ng-disabled="!data.datacenter"
                       theme="select2"
                       search-enabled="true"
                       class="datacenter-select">
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="datacenter.name as datacenter in datacenters | orderBy: $index | filter: $select.search">
                    {{datacenter.name}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <button data-ng-disabled="!data.imageId" data-ng-click="createDtrace()" type="button" class="btn big orange"><i class="plus-btn-icon"></i>Create DTrace Host</button>
</div>
