<div data-ng-controller="Dtrace.IndexController" class="page-title-btn">
    <div class="control-panel">
        <span>Data Center:</span>
        <div class="provisioning-header-left-button btn-group">
            <select type="hidden" data-select-two id="selectDockerDatacenter" width="110" data-ng-model="data.datacenter" data-select="data.datacenter" placeholder="No matches found">
                <option value=""></option>
                <option data-ng-repeat="datacenter in datacenters | orderBy:$index" value="{{datacenter.name}}">
                    {{datacenter.name}}
                </option>
            </select>
        </div>
    </div>
    <button data-ng-disabled="!data.imageId" data-ng-click="createDtrace()" type="button" class="btn btn-big orange text-to-left"><i class="plus-btn-icon"></i>Create DTrace Host</button>
</div>
