<div data-ng-controller="DTrace.DtraceController" class="container-fluid container-position">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="#!/dtrace">DTrace</a></li>
        </ul>
        <h3 class="page-title">{{title}}</h3>
        <create-dtrace-button data-ng-show="hosts && !hosts.length"></create-dtrace-button>
        <div class="beta-sticker">beta</div>

        <div data-ng-hide="loading || !hosts.length" class="heatmap-wrapper">
            <table class="heatmap-controls">
                <tr>
                    <td class="medium" data-ng-class="{triple: !processes}">
                        <select ui-select2="{minimumResultsForSearch: -1, width: '100%'}" id="hostSelect" data-ng-model="host" data-ng-change="changeHost()" data-ng-disabled="loadingHostScripts">
                            <option data-ng-repeat="host in hosts" value="{{host}}">
                                {{host.name}}
                            </option>
                        </select>
                    </td>
                    <td class="medium" data-ng-class="{triple: !processes}">
                        <select ui-select2="{minimumResultsForSearch: -1, width: '100%'}" id="scriptSelect" data-ng-model="scriptName" ng-change="changeScript()" data-ng-disabled="loadingHostScripts">
                            <option data-ng-repeat="script in scripts" value="{{script.name}}">
                                {{script.name}}
                            </option>
                        </select>
                    </td>
                    <td data-ng-show="processes && processes.length" class="big">
                        <select ui-select2="{minimumResultsForSearch: -1, width: '100%'}" id="pidSelect" data-ng-model="pid" >
                            <option data-ng-repeat="process in processes" value="{{process.pid}}">
                                {{process.name}}
                            </option>
                        </select>
                    </td>
                    <td class="small">
                        <button data-ng-click="start()" data-ng-disabled="loadingHostProcesses || !scriptName" class="btn grey-new effect-orange-button heatmap-button" data-ng-hide="starting">Start</button>
                        <button data-ng-click="stop()" class="btn orange heatmap-button" data-button-focus="true" data-ng-show="starting">Stop</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="loading-large col-md-12" data-ng-show="loading || options.loading"></div>
        <div data-ng-show="!loading && !hosts.length" class="grid-no-entries">You do not have any DTrace hosts.</div>
        <div data-ng-show="!options.loading && options.isDataOk" class="heatmap-wrapper" data-ng-if="!loading && title === 'Heatmap'">
            <heatmap data-options="options" data-status="starting"></heatmap>
        </div>
        <div class="heatmap-wrapper" data-ng-if="!loading && title === 'Flamegraph'">
            <flamegraph data-options="options" data-status="starting"></flamegraph>
        </div>
    </div>
</div>
