<div data-ng-controller="DTrace.DtraceController" class="container-fluid container-position">
    <div class="row">
        <ul class="breadcrumb">
            <li><a data-ng-href="{{devToolsPath}}">Dev Tools</a></li>
        </ul>
        <h3 class="page-title">{{title}}</h3>
        <create-dtrace-button data-ng-show="hosts && !hosts.length"></create-dtrace-button>
        <div data-ng-hide="loading || !hosts.length" class="heatmap-wrapper">
            <table class="heatmap-controls">
                <tr>
                    <td class="medium" data-ng-class="{triple: !processes || title === 'Core Dump'}">
                        <ui-select data-ng-model="host"
                                   theme="select2"
                                   search-enabled="false"
                                   class="full-width"
                                   on-select="changeHost($select.selected)">
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="$index as host in hosts">
                                {{host.name}}
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td class="medium" data-ng-class="{triple: !processes}" data-ng-show="title === 'Heatmap'">
                        <ui-select data-ng-model="scriptName"
                                   theme="select2"
                                   search-enabled="true"
                                   class="full-width"
                                   ng-disabled="loadingHostProcesses"
                                   on-select="changeScript($select.selected.name)">
                            <ui-select-match>
                                <span ng-hide="$select.selected.type == 'remote'">{{$select.selected.name}}</span>
                                <span ng-show="$select.selected.type == 'remote'">{{$select.selected.owner + ' / ' + $select.selected.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="script.name as script in scripts | filter: $select.search | orderBy: ['-group','name']" group-by="'type'">
                                <span ng-hide="script.type == 'remote'">{{script.name}}</span>
                                <span ng-show="script.type == 'remote'">{{script.owner + ' / ' + script.name}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td data-ng-show="processes && processes.length" class="big">
                        <ui-select data-ng-model="pid"
                                   theme="select2"
                                   search-enabled="true"
                                   class="full-width"
                                   on-select="changeProcess($select.selected)">
                            <ui-select-match>
                                {{$select.selected.group == 'pid' ? $select.selected.name : $select.selected.execname}}
                            </ui-select-match>
                            <ui-select-choices repeat="(process.group == 'execname' ? process.execname : progress.name)
                                                        as process in processes |
                                                        filter: $select.search |
                                                        orderBy: ['group','name']"
                                               group-by="'group'">
                                {{process.group == 'pid' ? process.name : process.execname}}
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td class="small" nowrap>
                        <a class="btn light dpl-inline effect-orange-button refresh-btn" data-ng-show="processes" data-ng-disabled="loadingHostProcesses || processing" data-ng-click="refreshScripts()"><i class="glyphicon glyphicon-refresh"></i></a>
                        <button data-ng-click="start()" data-ng-disabled="loadingHostProcesses || !scriptName || processing" class="btn orange heatmap-button" data-ng-hide="isRunning">Start</button>
                        <button data-ng-click="stop()" class="btn orange heatmap-button" data-button-focus="true" data-ng-show="isRunning" data-ng-disabled="processing">Stop</button>
                    </td>
                </tr>
            </table>
            <div data-ng-show="loadingHostProcesses">
                <div class="pull-left loading-medium-transparent"></div>
                <div class="pull-left dtrace-loading-processes">Loading processes from "{{host.name}}"</div>
            </div>
        </div>
        <div class="loading-large col-md-12" data-ng-show="loading || options.loading"></div>
        <div data-ng-show="!loading && !hosts.length" class="grid-no-entries">You do not have any DTrace hosts.</div>
        <div data-ng-show="!options.loading && isRunning" class="heatmap-wrapper" data-ng-if="title === 'Heatmap'">
            <heatmap data-options="options" data-data="data"></heatmap>
        </div>
        <div class="heatmap-wrapper" data-ng-show="!loading" data-ng-if="title === 'Flame Graph'">
            <flamegraph data-options="options" data-data="data"></flamegraph>
        </div>
        <div class="heatmap-wrapper" data-ng-if="!loading && title === 'Core Dump'">
            <core-dump data-options="options" data-data="data"></core-dump>
        </div>
    </div>
</div>
