<div data-ng-controller="DTrace.DtraceController" class="container-fluid container-position">
    <div class="row">
        <ul class="breadcrumb">
            <li><a data-ng-href="{{devToolsPath}}">Dev Tools</a></li>
        </ul>
        <h3 class="page-title">{{title}}</h3>
        <create-dtrace-button data-ng-show="hosts && !hosts.length"></create-dtrace-button>
        <div class="preview-sticker">Preview</div>
        <div data-ng-hide="loading || !hosts.length" class="heatmap-wrapper">
            <table class="heatmap-controls">
                <tr>
                    <td class="medium" data-ng-class="{triple: !processes || title === 'Core Dump'}">
                        <select ui-select2="{minimumResultsForSearch: -1, width: '100%'}"
                                id="hostSelect"
                                data-ng-model="selectedHostIndex"
                                data-ng-change="changeHost()"
                                data-select2-disabled="loadingHostProcesses">
                            <option data-ng-repeat="host in hosts" value="{{$index}}">
                                {{host.name}}
                            </option>
                        </select>
                    </td>
                    <td class="medium" data-ng-class="{triple: !processes}" data-ng-show="title === 'Heatmap'">
                        <select ui-select2="{width: '100%'}" id="scriptSelect" data-ng-model="scriptName" data-ng-change="changeScript()" data-select2-disabled="loadingHostProcesses">
                            <option data-ng-repeat="script in scripts" value="{{script.name}}">
                                {{script.name}}
                            </option>
                        </select>
                    </td>
                    <td data-ng-show="processes && processes.length" class="big">
                        <select ui-select2="{width: '100%'}" id="pidSelect" data-ng-model="pid" >
                            <optgroup data-ng-if="hasExecname" label="execname">
                                <option data-ng-repeat="process in processes | unique:'execname'" value="{{process.execname}}">
                                    {{process.execname}}
                                </option>
                            </optgroup>
                            <optgroup data-ng-if="hasPid" label="pid">
                                <option data-ng-repeat="process in processes" value="{{process.pid}}">
                                    {{process.name}}
                                </option>
                            </optgroup>
                        </select>
                    </td>
                    <td class="small" nowrap>
                        <a class="btn light dpl-inline effect-orange-button refresh-btn" data-ng-show="processes" data-ng-disabled="loadingHostProcesses || processing" data-ng-click="refreshScripts()"><i class="glyphicon glyphicon-refresh"></i></a>
                        <button data-ng-click="start()" data-ng-disabled="loadingHostProcesses || !scriptName || processing" class="btn orange heatmap-button" data-ng-hide="isRunning">Start</button>
                        <button data-ng-click="stop()" class="btn orange heatmap-button" data-button-focus="true" data-ng-show="isRunning" data-ng-disabled="processing">Stop</button>
                    </td>
                </tr>
            </table>
            <div data-ng-show="loadingHostProcesses">
                <div class="pull-left loading-medium-tr"></div>
                <div class="pull-left dtrace-loading-processes">Loading processes from "{{host.name}}"</div>
            </div>
        </div>
        <div class="loading-large col-md-12" data-ng-show="loading || options.loading"></div>
        <div data-ng-show="!loading && !hosts.length" class="grid-no-entries">You do not have any DTrace hosts.</div>
        <div data-ng-show="!options.loading" class="heatmap-wrapper" data-ng-if="title === 'Heatmap'">
            <heatmap data-options="options" data-data="data"></heatmap>
        </div>
        <div class="heatmap-wrapper" data-ng-show="!loading" data-ng-if="title === 'Flame Graph'">
            <flamegraph data-options="options" data-data="data"></flamegraph>
        </div>
        <div class="heatmap-wrapper" data-ng-if="!loading && title === 'Core Dump'">
            <core-dump data-options="options" data-data="data"></core-dump>
        </div>
    </div>
</div>
