<div data-ng-controller="DTrace.HeatmapController" class="container-fluid container-position">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="#!/dtrace">DTrace</a></li>
        </ul>
        <h3 class="page-title white-line">Heatmap</h3>
        <div class="beta-sticker">beta</div>
        <div class="loading-large col-md-12" data-ng-show="loading"></div>

        <div data-ng-hide="loading" class="heatmap-wrapper">

            <select ui-select2="{minimumResultsForSearch: -1, width: '200px'}" id="hostSelect" data-ng-model="hostIp" ng-change="changeScript()" data-ng-disabled="loadingHostScripts" >
                <option data-ng-repeat="host in hosts" value="{{host.primaryIp}}">
                    {{host.name}}
                </option>
            </select>

            <select ui-select2="{minimumResultsForSearch: -1, width: '250px'}" id="scriptSelect" data-ng-model="scriptName" ng-change="changeScript()" data-ng-disabled="loadingHostScripts" >
                <option data-ng-repeat="script in scripts" value="{{script.name}}">
                    {{script.name}}
                </option>
            </select>

           <select data-ng-show="processes && processes.length" ui-select2="{minimumResultsForSearch: -1, width: '450px'}" id="pidSelect" data-ng-model="pid" >
                <option data-ng-repeat="process in processes" value="{{process.pid}}">
                    {{process.name}}
                </option>
            </select>

            <button data-ng-click="start()" data-ng-disabled="loadingHostProcesses || !scriptName" class="btn grey-new effect-orange-button heatmap-button" data-ng-hide="starting">Start</button>
            <button data-ng-click="stop()" class="btn orange heatmap-button" data-button-focus="true" data-ng-show="starting">Stop</button>
        </div>
        <div class="heatmap-wrapper" data-ng-if="!loading">
            <heatmap  data-options="heatmapOptions" data-status="starting"></heatmap>
        </div>
    </div>
</div>
