<div data-ng-controller="Dtrace.IndexController" class="container-fluid container-position">
    <div class="row">
        <ul class="breadcrumb" data-ng-show="devToolsPath.search('/mdb') != -1">
            <li><a data-ng-href="{{devToolsPath}}">Dev Tools</a></li>
        </ul>
        <h3 class="page-title">DTrace Dashboard</h3>
        <create-dtrace-button></create-dtrace-button>
    </div>
    <div class="loading-large" data-ng-show="loading"></div>
    <div class="row" data-ng-show="dtraceMachines.length >= 1 && !loading">
        <div class="dtrace-wrapper" data-ng-repeat="machine in dtraceMachines" data-ng-click="navigateMachine(machine)">
            <div class="name">
                <p data-tooltip-full-text data-original-title="{{machine.name}}">{{machine.name}}</p>
            </div>
            <div class="info">
                <span>DC: </span>
                <span>{{machine.datacenter}}</span>
            </div>
            <div class="info">
                <span>IP: </span>
                <span>{{machine.primaryIp}}</span>
            </div>
            <div class="info info-status">
                <span>Status: </span>
                <span>{{states[machine.id] || 'initializing'}}</span>
                <div data-ng-show="states[machine.id] == 'initializing'" class="loading-medium-tr"></div>
            </div>
        </div>
    </div>
    <div data-ng-show="!loading && !dtraceMachines.length" class="grid-no-entries">
        <p class="page-heading">Welcome to DTrace</p>
        <div class="page-subheading">DTrace is a performance analysis and troubleshooting tool that instruments ALL SOFTWARE safely and in production. <a href="http://dtrace.org/blogs/about/" target="_blank">Read more...</a></div>
        <div class="page-subheading">Now it is possible to set up a DTrace probe module on a host, submit DTrace scripts to that host and view the probe data coming back live.</div>
    </div>
</div>

