<div data-ng-controller="Dtrace.IndexController" class="container-fluid container-position">
    <div class="row">
        <h3 class="page-title">Dtrace Dashboard</h3>
        <create-dtrace-button></create-dtrace-button>
    </div>
    <div class="beta-sticker">beta</div>
    <div class="loading-large" data-ng-show="loading"></div>
    <div class="row" data-ng-show="dtraceMachines.length >= 1 && !loading">
        <div class="dtrace-wrapper" data-ng-repeat="machine in dtraceMachines" data-ng-click="navigateMachine(machine)">
            <div class="name">
                <p data-tooltip-full-text data-original-title="{{machine.name}}">{{machine.name}}</p>
            </div>
            <div class="info">
                <span>DC: </span>
                <span>{{machine.datacenter}}</span>
            </div>
            <div class="info">
                <span>IP: </span>
                <span>{{machine.primaryIp}}</span>
            </div>
            <div class="info info-status">
                <span>Status: </span>
                <span>{{states[machine.id] || 'initializing'}}</span>
                <div data-ng-show="states[machine.id] == 'initializing'" class="loading-medium-tr"></div>
            </div>
        </div>
    </div>
    <div data-ng-show="!loading && !dtraceMachines.length" class="grid-no-entries">You do not have any DTrace hosts.</div>
</div>

