<div data-ng-controller="Dtrace.IndexController" class="container-fluid container-position">
    <div class="row">
        <h3 class="page-title">Dtrace Dashboard</h3>
        <div class="page-title-btn">
            <div class="control-panel">
                <span>Data Center:</span>
                <div class="provisioning-header-left-button btn-group">
                    <select type="hidden" data-select-two id="selectDockerDatacenter" data-ng-model="data.datacenter" data-select="data.datacenter" placeholder="No matches found">
                        <option value=""></option>
                        <option data-ng-repeat="datacenter in datacenters | orderBy:$index" value="{{datacenter.name}}">
                            {{datacenter.name}}
                        </option>
                    </select>
                </div>
            </div>
            <button data-ng-disabled="!data.imageId" data-ng-click="createDtrace()" type="button" class="btn btn-big orange text-to-left"><i class="plus-btn-icon"></i>Create Dtrace Host</button>
        </div>
    </div>
    <div class="beta-sticker">beta</div>
    <div class="loading-large" data-ng-show="loading"></div>
    <div class="row" data-ng-show="dtraceMachines.length >= 1 && !loading">
        <div class="dtrace-wrapper" data-ng-repeat="machine in dtraceMachines" data-ng-click="navigateMachine(machine)">
            <div class="name">
                <p data-tooltip-full-text data-original-title="{{machine.name}}">{{machine.name}}</p>
            </div>
            <div class="info">
                <span>DC: </span>
                <span>{{machine.datacenter}}</span>
            </div>
            <div class="info">
                <span>IP: </span>
                <span>{{machine.primaryIp}}</span>
            </div>
            <div class="info info-status">
                <span>Status: </span>
                <span>{{states[machine.id] || 'initializing'}}</span>
                <div data-ng-show="states[machine.id] == 'initializing'" class="loading-medium-tr"></div>
            </div>
        </div>
    </div>

</div>

