.machinedetails td {
   white-space:nowrap
}

.table#machinelist {
    font-size:11px;
}

.table#machinelist thead {
    color: #0088cc;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.table#machinelist thead th {
    text-align:left;
    vertical-align: middle;
}


.controls {
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    height: 40px;
}

.controls .buttons {
    position: absolute;
    display: inline-block;
    width: 30%;
}

.controls .group {
    position: absolute;
    display: inline-block;
    width: 40%;
}

.controls .filter {
    position: absolute;
    display: inline-block;
    width: 30%;
    right: 0;
    text-align: right;
}

