.no-corner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.table {
	display:table;
}
.table td {
	padding:4px;
	line-height:20px;
	margin-top:0px;
	vertical-align: middle;
	border-top: 1px solid #dddddd;
}
.table .sortable{
	cursor:pointer;
}
.table thead {
	color: #0088cc;
	font-weight:bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.table thead th {
	text-align:left;
	vertical-align: middle;
}
.text-small {
	font-size:11px;
}
.text-medium {
	font-size:12px;
}
.search-query {
	margin:7px 7px 0 10px;
}
.search-options {
	margin:7px 7px 0 10px;
}
.gray {
	background-color:#eee;
	border:1px solid #ddd;
	padding:0px 5px 5px 5px;
}
.alert,.glass {
	background-image: url(/machine/static/img/bg-glass.png);
	background-repeat:repeat-x;
	background-position:0px 40%;
}

/**************************************************************/


.container-pad {
	margin:20px 0px 0px 20px;
}
.row {
/*	border:1px solid blue;*/
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #fff #fff #dddddd;
}
.text-medium {
	font-size:12px;
}

fieldset > legend {
	padding-left:20px;
}
.side-margin .nav{
	margin:100px 2px 0px 0px;
}
.table td {
/*	padding:4px 1px 2px 1px;*/
/*	line-height:14px;*/
/*	margin-top:0px;*/
	vertical-align: middle;
	border-top: 1px solid #dddddd;
}
.key,.value {
	padding:4px;
}
.key{
	border-bottom:1px solid #ddd;
	color:#888;
}
.margin5right {
	margin-right:5px;
}
.value{
	text-align:left !important;
	margin-left:10px;
	border-bottom:1px solid #ddd;
	min-width:300px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #fff #fff #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff !important;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.table thead th {
	text-align:left;
	vertical-align: middle;
}

.icon.icon-large {
	background-image:none;
	border:1px solid #999;
	text-align:center;
	background-position:50% 0px;
	width:150px;
	display:block;
	padding-top:100px;
}

.nav {
    margin: 0px;
}

h4 {
    margin-left: 3px;
}

.none {
  display: none;
}
