.JoyentPortal-module-machine .machines {
  display: table;
  margin: 0 auto;
}
.JoyentPortal-module-machine .machines .container {
  border: 1px solid #b7b7b7;
  padding: 0;
  margin: 0;
}
.JoyentPortal-module-machine .machines .machine {
  display: table-row;
}
.JoyentPortal-module-machine .machine.odd {
  background-color: #f5f5f5;
}
.JoyentPortal-module-machine .machine.even {
  background-color: #fefefe;
}
.JoyentPortal-module-machine .machine .selection,
.JoyentPortal-module-machine .header .selection {
  padding: 20px;
  border-top: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
}
.JoyentPortal-module-machine .header .selection {
  border-top: 0;
}
.JoyentPortal-module-machine .controls {
  position: relative;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
}
.JoyentPortal-module-machine .controls .buttons {
  position: absolute;
  display: inline-block;
  width: 30%;
}
.JoyentPortal-module-machine .controls .group {
  position: absolute;
  display: inline-block;
  width: 40%;
}
.JoyentPortal-module-machine .controls .filter {
  position: absolute;
  display: inline-block;
  width: 30%;
  right: 0;
  text-align: right;
}
.JoyentPortal-module-machine .machines .header {
  background-color: #fefefe;
  display: table-row;
}
.JoyentPortal-module-machine .machine .field {
  color: #989898;
  font-size: 12px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px 0 15px 10px;
  display: table-cell;
  border-top: 1px solid #b7b7b7;
}
.JoyentPortal-module-machine .field.selection {
  width: 40px;
  height: 40px;
}
.JoyentPortal-module-machine .field.name {
  color: #70a9dd;
  width: 350px;
  max-width: 350px;
}
.JoyentPortal-module-machine .field.type {
  width: 100px;
  max-width: 100px;
}
.JoyentPortal-module-machine .field.network {
  width: 100px;
  max-width: 100px;
}
.JoyentPortal-module-machine .field.memory {
  width: 90px;
  max-width: 90px;
  padding-left: 20px;
}
.JoyentPortal-module-machine .field.age {
  width: 110px;
  max-width: 110px;
}
.JoyentPortal-module-machine .title {
  padding: 15px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  display: table-cell;
}
.JoyentPortal-module-machine .title.name {
  width: 350px;
  max-width: 350px;
}
.JoyentPortal-module-machine .title.type {
  width: 100px;
  max-width: 100px;
}
.JoyentPortal-module-machine .title.network {
  width: 100px;
  max-width: 100px;
}
.JoyentPortal-module-machine .title.memory {
  width: 90px;
  max-width: 90px;
}
.JoyentPortal-module-machine .title.age {
  width: 110px;
  max-width: 110px;
}
