#finish-configuration .error {
    margin: 10px 0 10px 0;
    color: red;
}

.machines button.create-instance {
    margin-bottom: 20px;
    width: 100%;

}

.machines button.list-my-images {
    margin-bottom: 20px;
    width: 100%;

}

.item label p.name {
    font-weight: bold;
    margin-bottom: 2px;
}

.item label p.size {
    font-weight: bold;
    font-size: 20px;
}

.item label span.price {
    padding-top: 10px;
}

.item .state {
    min-width: 60px;
}

.status {
    padding: 5px 10px 5px 10px;
    min-width: 85px;
}

.status.label {
    text-transform: capitalize;
}

.machine fieldset {
    margin-bottom: 20px;
}

.machine fieldset table thead {
    width: 115px !important;
}

.tags {

}

.tags .tag {

}

.tag.editable {
    margin-top: 10px;
}
.delete {
    margin-top: 8px;
}
.delete:hover {
    cursor: pointer;
}

.label-margin-fix {
    margin-left: 0px;
}

.list-controls {
    margin-right: 55px;
    margin-bottom: 20px;
}

.list-controls .sort-control {
    width: 90px;
}

.sort-control-container {
    margin-top: 2px;
}

.sort-control .order-icon {
    position: absolute;
    right: 1px;
}

.sort .item .order-icon {
    position: absolute;
    right: 10px;
}

.accordion-group-borderless {
    border:none;
}

.disabledNetworkSelection {
    color:#b3b3b3;
}

.machines-list-header {
    padding: 5px;
}

.machine-list-content {
    padding-top:5px;
    padding-left:5px;
}
.machine-list-state {
    padding-right:5px;
    padding-top:2px;
}

.provisioning-carousel-inner-box {

}
.provisioning-item {
    /*padding: 5px;*/
    /*max-width: 750px;*/
}
.reconfigure-btn {
    margin-top:10px;
}
.item-scrolling {
    min-height: 470px;
    max-height: 470px;
    overflow-y: auto;
    overflow-x: hidden;
}

.outer-provisioning-item {

}

.provisioning-carousel-span {
    margin-left: 0px;
}

.provisioning-carousel-padding-left {
    padding-left:10px;
}

.provisioning-arrows {
    line-height: 1.7;
}

.provisioning-header-left-button {
    padding-left:9px;
}

.provisioning-header-search {
    padding-right:9px;
    padding-left:9px;
}

.reconfigure {
    padding: 0px;
}

.reconfigure-box {
    padding: 15px;
}

.machine-name {
    margin:2px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    border: 1px solid #ffffff;
    width: 100%;
    max-width: 700px;
}

.machine-name-rename:hover {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.machine-name-edit {
    margin:2px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: inherit;
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    color: inherit;
    text-rendering: optimizelegibility;
    line-height: 40px;
    font-size: 38.5px;
    height:40px;
    width: 100%;
    max-width: 700px;
    border-radius: 4px 4px 0px 4px;
}

.machine-edit-form {
    margin: 0px;
    padding: 0px;
}

.machine-edit {
    width: 100%;
    max-width: 700px;
    position: relative;
}

.machine-edit-buttons {
    background: white;
    border: #d3d3d3 solid 1px;
    border-top: 0px;
    padding:3px;
    border-radius: 0px 0px 4px 4px;
    position: absolute;
    right: 2px;
    top: 100%;
}

.resize-button {
    margin-top:78px;
    margin-bottom:0px;
}

.pagination-show-all {
    font-size:11px;
    cursor: pointer;
    text-decoration: underline;
    color:#30566a;
}

.machine-details-info {
    padding-left:5px;
    border: none;
}

.state-sortable-header {
    margin-right: 15px;
}

.export-csv-button {
    float:right;
}

.grid-view-pagination {
    margin:0;
}
.key {
    border-bottom:1px solid #ddd;
    color:#888;
    margin-left:0px;
}

.value {
    text-align: left !important;
    border-bottom: 1px solid #ddd;
    min-width: 220px;
}

.key.error, .value.error {
    border-bottom: 1px solid #b94a48;
    color: #b94a48;
}

.key, .value {
    padding: 3px 0px 3px 0px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag.editable input, .tag.editable textarea{
    width: 85%;
}

.tag.editable .key, .tag.editable .value {
    border-bottom: none;
    min-width: 257px;
}

.tag-label {
    color: #000;
    padding-top: 5px;
    width: 47px;
}

.tag.tag-add .span5 {
    border-bottom: 0;
}

.required-asterix {
    color : #ff6600;
}

.padding-5 {
    padding: 5px;
}
.hide-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.margin-top-10 {
    margin-top: 10px;
}

.images .action-container {
    width: 110px;
}

.carousel-inner .item:hover {
    background:none !important;
}
.margin10{
    margin: 10px;
}
.editLink {
    display: inline-block;
    margin-top: 15px;
    margin-right: 5px;
}