<div class="container-fluid container-position" data-ng-controller="LimitsController">
    <div class="row">
        <h3 class="page-title">Provisioning Limits</h3>
    </div>
    <div class="loading-large col-md-12" data-ng-show="loading"></div>
    <div class="row">
        <div data-ng-hide="loading || limits.length">
            You can currently provision two instances per data center. Please contact support to have your provisioning increased.
        </div>
        <div data-ng-show="limits.length">
            <div data-grid-view
                 data-user-config="gridUserConfig"
                 data-props="gridProps"
                 data-columns-button="columnsButton"
                 data-image-button-show="false"
                 data-items="limits"
                 data-multisort="false"
                 data-order="gridOrder"
                 data-export-fields="exportFields"
                 data-paginated="false"
                 data-tab-filter-field="tabFilterField"
                 data-tab-filter-default="tabFilterDefault"
                 data-no-entries-message-error-type="billingUnreachable">
            </div>
        </div>
    </div>
</div>
