.utilization {
    display: inline-table;
    margin-bottom: 30px;
    width: 100%;
}

.utilization .tile {
    min-width: 200px;
    cursor: pointer;
    display: table-cell;
    vertical-align: top;
}

.utilization .tile h4 {
    font-size: 16px;
    font-weight: 300;
    color: white;
    padding: 15px;
}

.utilization .tile .left-block,
.utilization .tile .right-block {
    float: left;
    padding-left: 15px;
    padding-right: 10px;
    display: inline-block;
    line-height: 20px;
    margin-top: 5px;
}

.utilization .tile .left-block {
    width: 100%;
}

.utilization .tile .left-block .desc,
.utilization .tile .right-block .desc {
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    padding-bottom: 10px;
}

.desc.small {
    font-size: 12px !important;
}

.left-block .desc {
    color: #fff;
}

.tile.orange .right-block .desc {
    color: #333;
}

.tile.blue .right-block .desc {
    color: #00096B;
}

.utilization,
.utilization .tile {
    max-height: 250px;
}

.utilization .tile.orange {
    background-color: #f60;
}

.utilization .tile.blue {
    background-color: #589dbe;
}

.sub-line {
    border-left: solid 1px white;
}

.left-block .num {
    color: white;
}

.tile.orange .right-block .num {
    color: #333333;
}

.tile.blue .right-block .num {
    color: #00096B;
}

.left-block .num,
.right-block .num {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.left-block .num.small,
.right-block .num.small {
    font-size: 14px !important;
}

.chart .chart-line {
    width: 10px;
    height: 160px;
    background-color: #f60;
    margin-top: -175px;
    margin-right: 5px;
    display: inline-block;
}

.orange-chart {
    background: url("../img/orange-chart.png") no-repeat;
}

.blue-chart {
    background: url("../img/blue-chart.png") no-repeat;
}

.orange-chart,
.blue-chart {
    background-size: 323px 224px;
    width: 416px;
    height: 224px;
    margin-left: 47px;
}

.chart-nums {
    font-size: 12px;
    display: inline-block;
    padding-right: 10px;
    opacity: 0.5;
    width: 12px;
    text-align: center;
}

.top-line {
    border-top: solid 1px #ccc;
    position: relative;
    top: 10px;
    left: 50px;
    margin-right: 70px;
}

.top-line .text {
    width: 53px;
    height: 45px;
    position: relative;
    float: right;
    line-height: 15px;
    font-size: 12px;
    color: #999;
    top: 5px;
}

.btn-group-chart {
    padding-bottom: 10px;
}

.grid-holder {
    width: 100%;
    height: auto;
}

.grid-title {
    background-color: #fef1d2;
    padding: 10px;
    font-size: 16px;
}

.grid-holder .container-grid {
    padding: 10px 0 0;
}

.back-btn {
    margin-bottom: 30px;
}

.chart-container {
    display: table-cell;
    padding-top: 20px;
    background-color: #f5f5f5;
    height: 230px;
    overflow: hidden;
}

.rickshaw_graph {
    display: table-cell;
}

.y-axis {
    max-width: 70px;
    display: table-cell;
    vertical-align: top;
}

.y-axis svg {
    height: 230px;
    width: 70px;
}

.x-axis {
    width: 570px;
    float: left;
    padding-left: 70px;
    margin-top: -35px;
    background-color: transparent;
}

.x-axis svg{
    height: 20px !important;
}

.separator-block {
    padding-left: 5px;
    padding-right: 5px;
}

.rickshaw_legend {
    color: #000 !important;
    background: inherit !important;
    vertical-align: top;
    float: left;
    margin-top: -250px;
    margin-left: 650px;
}

.loading-medium-transparent {
    height: 230px;
    min-width: 760px;
}