.fw-description {
    width: 100%;
    margin-top: 1px;
}

.value-field.fw-description-field {
    width: 65%;
}

.controls-wrapper.fw-description-field {
    width: 40%;
}

select.port {
    width: 100%;
}

td.remove {
    width: 20px;

    text-align: center;
}

th.protocol {
    padding: 4px;
}

.notice-block-wrapper {
    width: 50%;
}

.notice-block {
    margin-bottom: 15px;

    color: #000;
}

.description {
    width: 50%;
}

.rules-content {
    background-color: #eee;
}

.control-label {
    font-weight: bold;
}

.fw-controls {
    margin-left: 80px;
}

.fw-controls input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;

    text-indent: 6px;

    font-size: 14px;
}

.fw-port-controls {
    margin-left: 45px;
}

.fw-control-label {
    float: left;

    padding: 5px 0 0 5px;

    text-align: right;

    font-size: 14px;
    font-weight: bold;
}

.fw-controls select {
    width: 100%;
    height: 30px;

    border-radius: 5px;
}

.padding-5 {
    padding: 5px;
}

.row-height {
    height: 200px;
}

.firewall-container {
    overflow: hidden;

    width: 1000px;
    padding-left: 20px;
}

.progress-small {
    padding-right: 8px;
}

.status-column {
    width: 126px;
}

.item {
    border: 0;
}

.name-field {
    font-size: 16px;
    font-weight: 400;
}

.value-field {
    display: inline-block;

    width: 50%;
    padding-left: 20px;

    vertical-align: top;
}
.controls-wrapper .value-field {
    margin-top: 2px;
}

.title-rule {
    width: 100%;
}

.firewall-table {
    width: 100%;
    min-width: 725px;

    background-color: #fef1d2;
}

.container-fluid-firewall {
    min-width: 725px;
}

.firewall-table thead {
    border-bottom: 2px solid white;
    background-color: #eee;
}

.firewall-table tfoot td {
    float: right;

    padding: 15px 2.5%;
}

.firewall-table td.column {
    display: inline-block;

    box-sizing: content-box;
    width: 22%;
    padding: 0 1% 10px 1%;

    vertical-align: top;
}

.firewall-table td.column legend,
.legend-line {
    border-bottom: 1px solid #cbc1a8;
}

td.column.column-big {
    width: 26.4%;
}

td.column.column-small {
    width: 11%;
}

.bg-grey td.column {
    padding: 10px;
}

.form-horizontal {
    padding-bottom: 30px;
}

.form-horizontal .control-label {
    width: 80px;

    text-align: left;
}

.form-horizontal .controls {
    min-height: 200px;
    margin-left: 90px;
}

.yellow-bg {
    margin-bottom: 2px;
    padding: 10px;

    border-bottom: 0;
    background-color: #fef1d2;
}

.f-name {
    display: inline-block;

    width: 76px;
}

.f-value {
    display: inline-block;
}

.form-group {
    margin: 0;
    padding: 0;
}

.remove-icon {
    width: 13px;
    height: 13px;
    margin-top: 5px;

    cursor: pointer;
    vertical-align: middle;

    background-image: url(../img/remove-icon.png);
    background-repeat: no-repeat;
}

.f-result {
    display: block;
    overflow: hidden;

    padding-top: 5px;
    padding-bottom: 5px;

    white-space: nowrap;
    text-overflow: ellipsis;

    border-bottom: 1px solid #cbc1a8;
}

.uuid-text {
    display: inline-block;

    color: rgb(51, 51, 51);

    font-size: 14px;
}

.item-list-container {
    overflow: auto;
}

.results-group {
    padding-top: 40px;
}

.result-width {
    float: left;
    overflow: hidden;

    width: 90%;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.fixed-height {
    min-height: 120px;
    max-height: 120px;
}

.min-height-table {
    min-height: 300px;
}

.add-rule-btn {
    margin-bottom: 20px;
}

.no-rules {
    margin-top: 70px;
    margin-bottom: 0;
}

hr {
    margin-top: 0;

    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.add-rule-title {
    color: #333;

    font-size: 21px;
    line-height: 55px;
}

.fw-input-container {
    min-height: 150px;
}

.fw-horizontal-group {
    margin-top: 15px;
}

.fw-buttons-row {
    margin-top: 50px;
}

.fw-form-buttons {
    line-height: 60px;
}



code.plain {
    color: #000;
    border: none;
    background-color: transparent;
}

.controls-wrapper {
    float: left;

    padding: 10px;
}

.padding-ten {
    padding: 10px;
}

.value-field .select2-choice span {
    margin-right: 35px;
}
