<div>
    <div class="modal-header">
        <h1>Enter certificate passphrase</h1>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Passphrase</label>
            <div class="controls">
                <input type="text" class="span5" data-ng-model="passphrase" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="close()" class="btn pull-left">Cancel</button>
        <button ng-click="close(passphrase)" class="btn btn-joyent-blue">OK</button>
    </div>
</div>
