div.JoyentPortal-module-menu {
    height: 100%;
    background-image: url('/static/img/stripes-colorful-vertical.gif');
    background-position: top right;
    background-repeat: repeat-y;
    margin-left: 0px;
}

.subview{
    margin-top: 20px;
}

.container-fluid {
    padding-left: 0px;
}