.breadcrumb {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;

    background-color: transparent;
}

.breadcrumb > li {
    color: #a9a9a9;

    font-weight: 300;
}

.breadcrumb li a {
    color: #f60;
}

.breadcrumb > li + li:before {
    display: none;
}

.breadcrumb > li:after {
    padding: 0 0 0 5px;

    content: '/\00a0';

    color: #a9a9a9;
}
