body {
    background-color: #fff;
}
input {
    height: 26px;
}
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='color'],
.uneditable-input {
    padding: 0 0 0 10px;

    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fafcfd;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    font-size: 16px;
    font-weight: 300;
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0 none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
}

input[disabled],
input:disabled {
    background-color: #eee;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus,
input.ng-invalid:focus,
textarea.ng-invalid:focus {
    border-color: #e9322d;
    box-shadow: 0 0 6px #f8b9b7;
}

textarea {
    padding-left: 6px;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;

    vertical-align: middle;

    border: 0;
}

label {
    font-weight: normal;
}

.row {
    margin: 0;
}

.content-container > div {
    min-height: 100%;
}

h1,
h2 {
    font-weight: normal;
}

h4 {
    padding-top: 5px;
}

.content-container {
    padding: 0 0 50px 0;
}

.content-container-inner {
    height: 100%;
    min-height: 100%;
    padding-bottom: 50px;
}

.popover-content,
.top-line-colorful {
    border-top: none;
    background: url('../img/stripes-colorful.gif') repeat-x 0 0;
    background-size: 100% 2px;
}

.rickshaw_graph {
    max-width: 600px !important;
}

.rickshaw_legend {
    padding: 0;

    cursor: default;

    color: #333;
    background-color: transparent;
}

.rickshaw_legend .line .swatch {
    cursor: default;
    vertical-align: middle;

    border-radius: 0 !important;
}

label.control-label,
.rickshaw_legend .line,
.rickshaw_legend label,
.rickshaw_legend .label {
    cursor: text !important;
}


label.control-label,
.rickshaw_legend .line,
.rickshaw_legend label,
.rickshaw_legend .label {
    cursor: text !important;
}

.label {
    display: block;

    width: auto;
    margin-top: 1px;
    padding: 5px;

    text-align: center;

    font-size: 11px;
    font-weight: normal;
}

.state-label {
    text-align: left;
    text-indent: -7px;

    color: #333;
    background-color: transparent;
    text-shadow: none;
}

.text-small,
.crop.crop-long:before {
    font-size: 11px;
}

.text-medium,
.btn.text-medium,
.license-eula p,
.accordion-package-select .panel-body span.ng-scope,
.accordion-package-title,
.dtrace-wrapper .name .label,
.docker-wrapper .name .label,
.status.label:not(.label-machine-details) {
    font-size: 12px;
}

.text-large,
.required-text,
.label,
.no-ssh-key-message,
.no-billing-text,
.key-hash,
.preview-sticker,
.select-datacenter,
.filter-container,
.tooltip-inner,
.alert-info p,
.hotlinks,
.info-table tr td.current-path-info,
.panel-body table td,
.tags-title {
    font-size: 14px;
}


th {
    text-align: left;
}

input.error,
select.error,
textarea.error {
    -webkit-box-shadow: 0 0 6px #f8b9b7;
       -moz-box-shadow: 0 0 6px #f8b9b7;
            box-shadow: 0 0 6px #f8b9b7;
}

.account fieldset {
    margin-bottom: 20px;
    padding-left: 5px;
}

.account .field {
    height: 34px;
    margin-bottom: 2px;
}

.account .field .name {
    display: inline-block;

    width: 120px;

    font-weight: 300;
}

.account .field .value {
    float: none;

    padding: 0;

    text-decoration: none;

    border: none;
}

.ssharea {
    resize: none;
}

.page-header span.name {
    margin-left: 10px;
    padding-top: 21px;

    font-size: 28px;
}

.ssh-add-button {
    margin-bottom: 10px;
}

.item-list-container .item {
    margin-bottom: 5px;

    border-top: 1px solid #ddd;
}

.orange-asterix::after,
.orange-asterix-left::before {
    color: #f60;
}

.orange-asterix::after {
    content: ' *';
}

.orange-asterix-left::before {
    content: '* ';
}

.paymentForm tr td {
    padding: 10px;
}

.paymentForm .edit-error {
    display: block;

    margin-right: 115px;
}

.paymentForm .error {
    color: #f60;
}

.paymentForm input[type='text']:focus:invalid {
    border-color: #f60;
}

.ssh-download-link {
    float: left;

    width: 380px;
    margin-top: 28px;
}

.account legend {
    margin-left: -2px;
    padding-top: 5px;

    letter-spacing: .6px;

    color: #333;
    border-bottom: 0;

    font-size: 19px;
    font-weight: 600;
    line-height: 18px;
}

.account .line,
.account.line {
    width: 725px;

    border-bottom: 1px solid #ccc;
}

.fieldset-spacer {
    padding-top: 25px;
}

.cell-link {
    padding: 0;

    cursor: pointer;

    color: #375675;
    border: 0;
    background: none;
}

.edit-name {
    display: inline-block;

    box-sizing: content-box;
    width: 125px;
    height: 28px;
    padding-right: 15px;

    text-align: right;
    vertical-align: top;

    color: #7d7d7d;
}

.edit-value {
    display: inline-block;

    width: 459px;
}

.edit-value input {
    box-sizing: content-box;
}

.edit-value input,
.edit-value textarea {
    width: 445px;
    height: 26px;
}

.edit-value textarea {
    height: 90px;
    padding: 5px 0 0 10px;
}

.edit-value-two .select2-container,
.edit-value .select2-container {
    display: inline-block;

    height: 32px;
}

.input-group .add-on:first-child,
.input-group .btn:first-child,
.input-group-addon {
    float: left;

    width: 50px;

    color: #333;
    border-radius: 4px 0 0 4px;
    text-shadow: none;
}

.input-group input {
    text-indent: 4px;

    border-radius: 0 4px 4px 0;
}

.phone-code {
    width: 50px;

    text-align: left;
}

.edit-error {
    text-align: right;

    line-height: 14px;
}

.edit-error .error,
.edit-error.error {
    display: block;

    margin-top: 5px;
    padding-right: 5px;
}

.error-push-image {
    width: 530px;
    margin-top: 3px;
}

.edit-country,
.edit-state {
    width: 457px;
    padding: 0;
}

.edit-expiration-month,
.edit-expiration-year {
    width: 224px;
}

.selects-spacer {
    display: inline-block;

    padding-right: 5px;
}

.required-txt {
    display: inline-block;

    margin-right: 20px;

    vertical-align: middle;
}

.message-box {
    float: right;

    width: 253px;
    height: 400px;
    margin-top: 10px;
    margin-left: 20px;

    background-color: #e8f0f7;
}

.first-block {
    display: inline-block;

    width: 725px;
}

.item-list-container {
    overflow: auto;

    min-width: 100%;
    max-width: 600px;
    min-height: 40px;
}

.item {
    border: 0;
}

.provisioning-item {
    padding-top: 5px;
}

.item-list-container .item:hover {
    background: #f8f8f8;
}

.item-list-container .item:hover .item,
.item-list-container .item:hover .item:hover {
    background: #fff;
}

.carousel-inner .item:hover {
    background: #fff;
}

.carousel-inner .item.header:hover {
    background-color: #fcfcfc;
}

.carousel-inner .item.header {
    min-height: 680px;
    padding-top: 10px;
}

/*
	ribbon begin
*/

.ribbon-wrapper {
    position: absolute;

    overflow: hidden;

    width: 85px;
    height: 88px;
    margin-top: -7px;
    margin-left: 128px;
}

.ribbon {
    position: relative;
    top: 15px;
    left: -5px;

    width: 120px;
    padding: 7px 0;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    text-align: center;

    color: #333;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fefefe));
    background-image: -webkit-linear-gradient(top, #fff, #fefefe);
    background-image:    -moz-linear-gradient(top, #fff, #fefefe);
    background-image:     -ms-linear-gradient(top, #fff, #fefefe);
    background-image:      -o-linear-gradient(top, #fff, #fefefe);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
            box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;

    font: bold 12px Sans-Serif;
}

.ribbon:before,
.ribbon:after {
    position: absolute;
    bottom: -3px;

    content: '';

    border-top: 3px solid #999;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}

.ribbon :before {
    left: 0;
}

.ribbon:after {
    right: 0;
}

.ribbon-green {
    color: #6a6340;
    background-color: #bfdc7a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bfdc7a), to(#8ebf45));
    background-image: -webkit-linear-gradient(top, #bfdc7a, #8ebf45);
    background-image:    -moz-linear-gradient(top, #bfdc7a, #8ebf45);
    background-image:     -ms-linear-gradient(top, #bfdc7a, #8ebf45);
    background-image:      -o-linear-gradient(top, #bfdc7a, #8ebf45);
}

.ribbon-green:before,
.ribbon-green:after {
    border-top: 3px solid #933a1b;
}

.ribbon-red:before,
.ribbon-red:after {
    border-top: 3px solid #933a1b;
}

.ribbon-red {
    color: #f9dad3;
    background-color: #933a1b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ef6a3b), to(#cd3612));
    background-image: -webkit-linear-gradient(top, #ef6a3b, #cd3612);
    background-image:    -moz-linear-gradient(top, #ef6a3b, #cd3612);
    background-image:     -ms-linear-gradient(top, #ef6a3b, #cd3612);
    background-image:      -o-linear-gradient(top, #ef6a3b, #cd3612);
    text-shadow: rgba(0, 0, 0, .2) 0 1px 0;
}

.ribbon-orange:before,
.ribbon-orange:after {
    border-top: 3px solid #8e4c11;
}

.ribbon-orange {
    color: #8e4c11;
    background-color: #ef9514;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbc47), to(#ef9514));
    background-image: -webkit-linear-gradient(top, #ffbc47, #ef9514);
    background-image:    -moz-linear-gradient(top, #ffbc47, #ef9514);
    background-image:     -ms-linear-gradient(top, #ffbc47, #ef9514);
    background-image:      -o-linear-gradient(top, #ffbc47, #ef9514);
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
}

.ribbon-blue:before,
.ribbon-blue:after {
    border-top: 3px solid #8e4c11;
}

.ribbon-blue {
    color: #f2f9ff;
    background-color: #496782;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5688a1), to(#496782));
    background-image: -webkit-linear-gradient(top, #5688a1, #496782);
    background-image:    -moz-linear-gradient(top, #5688a1, #496782);
    background-image:     -ms-linear-gradient(top, #5688a1, #496782);
    background-image:      -o-linear-gradient(top, #5688a1, #496782);
    text-shadow: rgba(0, 0, 0, .2) 0 1px 0;
}

/*
	ribbon end
*/

.crop {
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.crop.crop-long {
    margin-left: -57px;
    padding-right: 80px;
}

.crop.crop-long:before {
    position: relative;
    top: 0;
    left: 100%;

    content: 'Read more';

    text-shadow: 1px 1px 1px #fff;

    font-weight: bold;
}

/* Makes word wrapping in a proper way */

.text-wrap {
    word-break: break-all;
    /* Non supported by Chrome now */
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;

    -epub-hyphens: auto;
        -ms-hyphens: auto;
}

.margin-mini {
    margin-top: -10px;
}

.form-group .key,
.form-group .value {
    border-bottom: none;
}

.form-group .key {
    padding-right: 20px;
}

.form-group .value {
    text-align: right;
}

.carousel-inner {
    overflow: visible;

    min-height: 560px;
    max-height: 560px;
    margin-bottom: 30px;
}

.selector-container {
    border: none;
    background-color: #fff;
}

.page-header {
    margin: 0;
    padding-bottom: 6px;

    border-bottom: none;
}

.sortable,
a {
    cursor: pointer;
}

.wrap {
    display: block;

    word-wrap: break-word;
    word-break: break-all;
}

.status {
    padding: 5px;
}

#zenbox_tab {
    width: 42px;

    border: none;
}

.ssh .new-key-button {
    margin-top: 20px;
}

.new-key-button {
    margin-top: 20px;
}

.key-name {
    overflow: hidden;

    max-width: 250px;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-weight: 500;
}

.no-ssh-key-message,
.no-billing-text {
    line-height: normal;
}

.accordion-ssh-package-title {
    height: 40px;
    padding-left: 40px;

    border: 1px solid #dadcdd;
}

.accordion-ssh-package-title .key-name {
    line-height: 35px;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
}

.accordion-ssh-keys .panel.panel-default {
    margin: 0;

    border: 1px solid #ddd;
    border-top: none;
}

.accordion-ssh-keys .panel-body {
    background-color: #f3f7fb;
}

.accordion-ssh-keys .panel-heading {
    padding: 0;

    background-color: white;
}

.accordion-ssh-keys .panel-heading .accordion-toggle {
    background-color: #f3f7fb;
}

.accordion-ssh-keys .accordion-toggle.collapsed .btn.small {
    display: none;
}

.accordion-ssh-keys .panel-heading .accordion-toggle.collapsed {
    background-color: white;
}

.txt-name span,
.txt-value,
.ssh-key-value {
    display: inline-block;

    padding-top: 7px;
}

.txt-name span {
    width: 100px;

    font-weight: 500;
}

.txt-value,
.ssh-key-value {
    width: 560px;
    padding: 7px 15px;

    vertical-align: top;

    border: 1px solid #e0e3e5;
    background-color: #fafcfd;
}

.txt-value {
    display: inline-block;

    height: 36px;

    font-weight: 300;
}

.ssh-key-container {
    padding-bottom: 20px;
}

.ssh-key-value {
    word-wrap: break-word;
}

.key-hash {
    font-weight: 300;
}

.key-info-content {
    padding-left: 28px;
}

.key-info-content .row:first-child {
    margin-bottom: 20px;
}


.qr-image {
    margin: 15px;
    padding-left: 20px;
}

.separation-container {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.separation-container-top {
    border-left: none;
}

iframe {
    margin: 0;
    padding: 0;

    border: 0;
}

.video {
    position: absolute;
    top: 10%;
    left: 50%;

    margin-left: -320px;
}

.error {
    color: #f60;
}

@font-face {
    font-family: 'Inconsolata';
    font-weight: 400;
    font-style: normal;

    src: local('Inconsolata'), url('../fonts/inconsolata-v7.woff') format('woff');
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;

    display: inline-block;

    padding-right: 2px;

    font-family: 'Glyphicons Halflings';
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-off:before {
    content: '\e017';
}

.glyphicon-question-sign:before {
    content: '\e085';
}

.glyphicon-info-sign:before {
    content: '\e086';
}

.glyphicon-warning-sign:before {
    content: '\e107';
}

.glyphicon-earphone:before {
    content: '\e182';
}

i.glyphicon-earphone {
    line-height: 21px;
}

i.glyphicon-info-sign,
i.glyphicon-warning-sign {
    padding-right: 7px;
}

i.glyphicon-info-sign,
i.glyphicon-warning-sign,
i.glyphicon-question-sign {
    height: 16px;

    vertical-align: middle;
}

.no-breadcrumb-line {
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 10px;

    border-bottom: 1px solid #ccc;
}


.in-line,
.input-group-inline,
.finder-column .finder-elements .path-name {
    display: inline-block;
}

.arrow {
    display: inline-block;

    width: 20px;
    height: 14px;

    background: url(../img/arrow.png) no-repeat 0 0;
}

/* promo iframe */

.edit-value-tfa {
    width: 150px;
}

.edit-error-tfa {
    position: absolute;

    display: inline-block;

    width: 160px;
    margin-top: 3px;
    margin-left: 20px;

    color: #f60;

    line-height: 27px;
}

.remove-icon {
    width: 13px;
    height: 13px;
    margin-top: 5px;

    cursor: pointer;
    vertical-align: middle;

    background: url('../img/remove-icon.png') no-repeat;
}

.toggle-graf-btn,
.toggle-graf-btn:active,
.toggle-graf-btn:focus {
    width: 100%;
    height: 36px;

    text-align: left;
}

.toggle-graf-width {
    width: 94%;
}

.toggle-graf-width button {
    border: 0;
    background-color: #e9eff4;
}

.del-btn-graf {
    width: 43px;
    height: 36px;
    margin-right: -42px;
}

.toggle-btn-bg,
.toggle-btn-bg:hover,
.toggle-btn-bg:focus,
.toggle-btn-bg.disabled {
    padding-left: 0;

    text-align: left;

    color: #333;
    background-color: #e9eff4;
}

.toggle-btn-bg.disabled {
    opacity: 1;

    filter: alpha(opacity=100);
}

.toggle-btn-bg:focus {
    outline: 0 none;
    outline-offset: 0;
}

.toggle-btn-bg p {
    display: inline-block;
    overflow: hidden;

    width: 95%;
    margin: 0;

    vertical-align: top;
    text-overflow: ellipsis;
}
.graf-radio-btn,
.graf-radio-btn:hover,
.graf-radio-btn.active,
.graf-radio-btn:active
.graf-radio-btn:focus
.graf-radio-btn.active:focus
.graf-radio-btn:active:focus {
    margin: 2px;
    padding: 3px 10px;

    color: #333;
    border: 0;
    outline: 0 none;
}

.graf-radio-btn,
.graf-radio-btn:hover {
    background-color: #d6dce0;
}

.graf-radio-btn.active,
.graf-radio-btn:active
.graf-radio-btn:focus
.graf-radio-btn.active:focus
.graf-radio-btn:active:focus {
    background-color: #fff;
}

.toggle-icon,
.toggle-icon.collapsed {
    padding-left: 40px;
}
.toggle-icon {
    background: url('../img/accord_i_plus.png') no-repeat 13px center;
}

.toggle-icon.collapsed {
    background-image: url('../img/accord_i_down.png');
}

.container-min-width {
    width: 1000px;
}

.edit-text-icon {
    display: inline-block;

    width: 24px;
    height: 20px;
    padding-left: 6px;

    cursor: pointer;

    opacity: .5;
    background: url('../img/pencil.png') no-repeat 50% 50%;
    background-size: 24px;
}

.page-title {
    display: block;

    min-width: 650px;
    max-width: 2000px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 4px;

    color: #3d3d3d;
    border-bottom: 1px solid #ccc;

    font-weight: 200;
}

.page-title:hover .edit-text-icon {
    opacity: 1;
}

.page-row-info form {
    display: inline-block;

    margin: 0 0 0 10px;
}



.btn-group + .btn-group {
    margin-left: 0;
}

.checkbox input[type='checkbox'] {
    float: left;

    margin-right: 3px;
    margin-left: 0;
}

div.selector,
div.selector span,
div.checker span,
.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
    background: url('../img/sprite.png') no-repeat;

    -webkit-font-smoothing: antialiased;
}

div.checker {
    position: relative;
}

div.checker,
div.checker span,
div.checker input {
    width: 19px;
    height: 19px;
}

div.checker span[disabled] {
    cursor: default;

    opacity: .35;
}

div.checker span[disabled] input,
div.checker[disabled],
a[disabled] {
    cursor: default;
}

div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;

    text-align: center;

    background-position: 0 -260px;
}

div.checker span.checked {
    background-position: -76px -260px;
}

div.checker input {
    display: inline-block;

    opacity: 0;
    border: none;
    background: none;
}

div.checker.active span {
    background-position: -19px -260px;
}

div.checker.active span.checked {
    background-position: -95px -260px;
}

div.checker.hover span,
div.checker.focus span {
    background-position: -38px -260px;
}

div.checker.hover span.checked,
div.checker.focus span.checked {
    background-position: -114px -260px;
}

div.checker.hover.active span,
div.checker.focus.active span {
    background-position: -57px -260px;
}

div.checker.hover.active span.checked,
div.checker.focus.active span.checked {
    background-position: -133px -260px;
}

div.checker.disabled,
div.checker.disabled.active {
    background-position: -152px -260px;
}

div.checker.disabled span.checked,
div.checker.disabled.active span.checked {
    background-position: -171px -260px;
}

label.checkbox {
    margin-bottom: 0;
}

.dropdown-menu input[type='checkbox'] {
    margin: 0;
}

.dropdown-menu {
    min-width: 98%;
    margin-top: 0;
    padding: 0;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.dropdown-checkboxes label {
    margin-top: 0;
    margin-bottom: 0;

    color: #333;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-checkboxes {
    padding: 5px 9px 5px 5px;
}

.dropdown-checkboxes .dropdown-checkboxes-item {
    white-space: nowrap;
}

.dropdown-checkboxes-item .in-line {
    vertical-align: bottom;
}

.dropdown-menu > li {
    background-color: white;
}

.dropdown-menu > li > a {
    display: block;
    clear: both;

    padding: 2px 10px;

    text-align: left;
    white-space: nowrap;
    text-decoration: none;

    color: #333;

    font-weight: normal;
}

.dropdown-menu > li > a:hover {
    color: #333;
    background-color: #eee;
    background-image: none;
}
.user .dropdown-menu > li > a {
    min-width: 250px;
    padding: 6px 0 6px 12px;

    line-height: 18px;
}
.icon-drop-down {
    display: inline-block;

    width: 10px;
    height: 12px;
    margin-top: 0;

    background: transparent url('../img/toggler-drop-down.png') no-repeat -1px 5px;
}

.plus-btn-icon,
.chart-btn-icon,
.view-btn-icon {
    position: relative;
    left: 3px;

    float: left;

    width: 20px;
    height: 20px;
    margin-top: 0;
}

.plus-btn-icon {
    margin-right: 10px;

    background: url('../img/plus_icon.png') no-repeat;
}

.chart-btn-icon {
    background: url('../img/chart-icon.png') no-repeat;
    background-size: 20px;
}

.view-btn-icon {
    background: url('../img/view-btn-icon.png') no-repeat;
    background-size: 20px;
}

.checked-icon {
    padding-right: 20px;

    background: url('../img/checked.png') no-repeat;
    background-size: 15px 14px;
}

.hide {
    display: none;
}

.preview-sticker {
    box-sizing: content-box;
    width: 110px;
    height: 21px;
    margin-top: -15px;
    padding-top: 3px;
    padding-left: 10px;

    color: white;
    background: url('../img/pr-sticker.png') no-repeat 0 0;
    background-size: 78px 24px;

    font-weight: 300;
}

.preview-sticker.tab,
.page-title .preview-sticker {
    position: absolute;
}
.preview-sticker.tab {
    right: -40px;

    margin-top: -4px;
}
.page-title .preview-sticker {
    margin-top: 5px;
    margin-left: 10px;
}

.feedback-tab {
    position: fixed;
    z-index: 10000;
    top: 23%;
    right: 0;

    width: 42px;
    height: 108px;
    margin-top: 160px;

    background: #ccc url('../img/feedback-tab.png') 0 0 no-repeat;
}

.feedback-tab-link {
    display: block;

    height: 100%;
}

.middle {
    vertical-align: middle;
}

/* Buttons */



.btn.old-style,
.btn.old-style:hover {
    height: 28px;
    margin-right: 10px;
    padding: 0 14px;

    color: #fff;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    border-bottom: 1px solid #28445e;
    border-radius: 4px;
    outline: 0 none;
    background-color: #f60;
    text-shadow: 1px 1px 1px #375775;
}



.create-key-btn {
    margin: 2px 0 0 20px;
}

.btn-key-delete {
    margin-top: 1px;
}

.basic-instance-box:hover .btn-browse {
    color: white;
    background-color: #f60;
}


.btn-machine-ctrl,
.btn-edit {
    min-width: 94px;
    padding: 8px 18px;
}

.add-rule-btn:hover,
.add-rule-btn:focus {
    -webkit-transition: background-position .1s linear;
       -moz-transition: background-position .1s linear;
         -o-transition: background-position .1s linear;
            transition: background-position .1s linear;
    text-decoration: none;

    color: #fff;
    background-position: 50% 50%;
}

.select-position {
    padding-top: 20px;

    color: #666;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
            border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
            border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
}

.info-table tr td {
    line-height: 28px;
}

.info-table tr td:first-child {
    padding-right: 20px;

    vertical-align: top;

    color: #5d80a7;
}

.info-table tr td:nth-child(2) {
    overflow: hidden;

    max-width: 390px;

    word-wrap: break-word;

    color: #7d7d7d;

    font-weight: 300;
}

.actions-down {
    position: relative;
    top: 43px;
}

.select-datacenter {
    width: 105px;
}

.filter-container {
    margin-bottom: 20px;
}

.btn-group-filter {
    margin-right: 15px;
}

/* Tooltips */

.tooltip {
    z-index: 9999990;
}

.tooltip.left {
    margin-left: -12px;
}

.tooltip-inner {
    overflow: hidden;

    white-space: normal;
    word-wrap: break-word;

    color: #020001;
    border: 1px solid #f60;
    border-radius: 0;
    background-color: #fff2d2;
}

.tooltip.in {
    opacity: 1;
}

.tooltip.top .tooltip-inner {
    border-bottom-width: 3px;
}

.tooltip.left .tooltip-inner {
    border-right-width: 3px;
}

.tooltip.right .tooltip-inner {
    border-left-width: 3px;
}

.tooltip.bottom .tooltip-inner {
    border-top-width: 3px;
}

.tooltip.top .tooltip-arrow {
    border-width: 5px 5px 1px;
    border-top-color: #f60;
}

.tooltip.right .tooltip-arrow {
    border-width: 5px 5px 5px 1px;
    border-right-color: #f60;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #f60;
}

.tooltip.bottom .tooltip-arrow {
    border-width: 1px 5px 5px;
    border-bottom-color: #f60;
}

/* hack to remove weird line under the tab according to PIRANHA-1520 */

#zenbox_tab img {
    max-width: inherit;
}

.left-part,
.right-part {
    display: table-cell;

    min-width: 485px;

    vertical-align: top;
}

.left-part {
    padding-right: 20px;
}

.inl-table {
    display: inline-table;

    width: 100%;
}

.table-row {
    display: table-row;
}

.cancel-icon,
.delete-icon,
.download-icon,
.info-icon,
.plus-icon,
.share-icon,
.upload-icon,
.tag-icon {
    float: left;

    width: 18px;
    height: 18px;
    margin-top: 1px;
    margin-right: 5px;

    vertical-align: middle;

    background: no-repeat 50%;
    background-size: 18px;
}

.cancel-icon {
    background-image: url('../img/cancel-icon.png');
}

.delete-icon {
    background-image: url('../img/delete-icon.png');
}

.download-icon {
    background-image: url('../img/download-icon.png');
}

.info-icon {
    background-image: url('../img/info-icon.png');
}

.plus-icon {
    background-image: url('../img/plus-icon.png');
}

.share-icon {
    background-image: url('../img/share-icon.png');
}

.upload-icon {
    background-image: url('../img/upload-icon.png');
}

.tag-icon {
    background-image: url('../img/tag-icon.png');
}

.btn:hover .delete-icon {
    background-image: url('../img/delete-icon-white.png');
}

.btn:hover .download-icon {
    background-image: url('../img/download-icon-white.png');
}

.btn:hover .info-icon {
    background-image: url('../img/info-icon-white.png');
}

.btn:hover .plus-icon {
    background-image: url('../img/plus-icon-white.png');
}

.btn:hover .tag-icon {
    background-image: url('../img/tag-icon-white.png');
}

.upload-icon-grey {
    position: relative;

    display: inline-block;

    width: 14px;
    height: 35px;
    margin-right: 14px;
    margin-left: 14px;

    background: url('../img/upload-icon-grey.png') no-repeat 50% 50%;
    background-size: 14px 14px;
}

.popup-file-path {
    width: 530px;
}

/*  FILEMAN  */

.folder-container {
    overflow-x: auto;
    overflow-y: hidden;

    width: 1000px;
    height: 100%;
    padding-bottom: 30px;
}

.general-column {
    position: relative;

    display: table-cell;

    min-width: 90px;
    max-width: 90px;
    height: 100%;

    vertical-align: top;

    border-right: 1px solid #666;
}

.finder-column {
    display: table-cell;
    overflow: auto;

    height: 390px;

    vertical-align: top;

    background-color: #fafafa;
}

.finder-column-loader {
    position: relative;

    overflow: visible;
}

.finder-column-loader .files-box {
    position: absolute;
    left: -226px;
}

.finder-column .finder-elements {
    display: block;

    margin: 5px 0;
    padding-right: 10px;
}

.general-column .finder-elements {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;

    text-align: center;

    border-radius: 5px;
    background-color: #f7f7f7;
}

.finder-elements > span {
    margin-left: 5px;

    cursor: pointer;
    white-space: nowrap;
}

.finder-elements.active {
    background-color: #fef1d2;
}

.img-icon {
    width: 25px;
    height: 20px;
}

.blank,
.compressed,
.css,
.developer,
.excel,
.fireworks,
.flash,
.html,
.illustrator,
.image,
.keynote,
.movie,
.music,
.numbers,
.object,
.pages,
.pdf,
.photoshop,
.powerpoint,
.text,
.word {
    width: 25px;
    height: 25px;

    background-repeat: no-repeat;
    background-size: 25px;
}

.blank {
    background-image: url('../img/fileman/blank.png');
}

.compressed {
    background-image: url('../img/fileman/compressed.png');
}

.css {
    background-image: url('../img/fileman/css.png');
}

.developer {
    background-image: url('../img/fileman/developer.png');
}

.general-column .finder-elements .directory,
.general-column .finder-elements.active .directory {
    height: 29px;

    background-size: 43px 29px;
}

.finder-elements .directory {
    background: url('../img/fileman/folder.png') no-repeat 50%;
}

.finder-elements.active .directory {
    background: url('../img/fileman/folder-open.png') no-repeat 50%;
}

.finder-column .finder-elements .directory {
    width: 25px;
    height: 25px;

    background-size: 29px 20px;
}

.excel {
    background-image: url('../img/fileman/excel.png');
}

.fireworks {
    background-image: url('../img/fileman/fireworks.png');
}

.flash {
    background-image: url('../img/fileman/flash.png');
}

.html {
    background-image: url('../img/fileman/html.png');
}

.illustrator {
    background-image: url('../img/fileman/illustrator.png');
}

.image {
    background-image: url('../img/fileman/image.png');
}

.keynote {
    background-image: url('../img/fileman/keynote.png');
}

.movie {
    background-image: url('../img/fileman/movie.png');
}

.music {
    background-image: url('../img/fileman/music.png');
}

.numbers {
    background-image: url('../img/fileman/numbers.png');
}

.object {
    background-image: url('../img/fileman/object.png');
}

.pages {
    background-image: url('../img/fileman/pages.png');
}

.pdf {
    background-image: url('../img/fileman/pdf.png');
}

.photoshop {
    background-image: url('../img/fileman/photoshop.png');
}

.powerpoint {
    background-image: url('../img/fileman/powerpoint.png');
}

.text {
    background-image: url('../img/fileman/text.png');
}

.word {
    background-image: url('../img/fileman/word.png');
}

.path-name {
    overflow: hidden;

    max-width: 162px;

    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #969696;
}

.general-column .finder-elements .path-name {
    display: block;

    width: 80px;

    color: #333;
}

.finder-elements.active .path-name {
    color: #333;
}

.folder-container-sub {
    overflow-x: auto;
    overflow-y: hidden;

    width: 100%;
    height: 390px;
}

.files-box {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;

    height: 390px;
}

.files-box .loading-medium-transparent {
    width: 225px;
    height: 390px;
}

.general-column .files-box {
    width: 100px;
}

.finder-column .files-box {
    width: 225px;
    margin-left: -1px;

    border: 1px solid #666;
}

.finder-column-loader .column-folders,
.general-column.column-folders {
    margin-left: 0;

    border: 0 none;
}

.files-box.column-files {
    margin-left: 0;
}

.header-btn-panel {
    padding-bottom: 5px;
}

.header-btn-panel form {
    margin-right: 30px;
    margin-bottom: 0;
}

.header-btn-panel input:first-child {
    width: 150px;
    margin-top: 3px;
    padding-right: 30px;
    padding-left: 15px;

    color: #333;
    border: 0 none;
    border-radius: 18px;
    background: #f5f5f5 url('../img/fileman/table_i_search.png') no-repeat center right;
}

.line-bg {
    width: 100%;
    height: 35px;

    text-align: center;
    vertical-align: top;

    color: #666;
    background: url('../img/fileman/line-bg.png') repeat-x;

    font-weight: 200;
    line-height: 35px;
}

.upload-btn {
    display: inline-block;

    vertical-align: middle;
}

.blue-manta {
    margin-bottom: 60px;

    color: white;
    background: #13639e url('../img/fileman/background.jpg');
    background-size: 100% 100%;
}

.blue-manta .manta {
    float: right;

    width: 100%;
    margin-right: 20px;
    padding-bottom: 20px;
}

.blue-manta .content {
    width: 420px;
    padding: 8px 30px;
}

.blue-manta-header {
    padding-top: 10px;

    letter-spacing: 2px;

    font-weight: 100;
}

.module-error .container {
    margin-left: 10px;
}

.page-reloader {
    cursor: pointer;

    color: #08c;
}

.page-reloader:hover,
.page-reloader:focus {
    text-decoration: underline;

    color: #005580;
}

.pagination > .active > a,
.pagination > .active > a:hover {
    color: #999;
    border-color: #ddd;
    background-color: #f5f5f5;
}

.pagination > li:first-child > a,
.pagination > li:last-child > a {
    border-radius: 0;
}

.checkbox {
    margin-top: 0;
}
.machines .row {
    margin-left: 0;
}

.input-group-addon {
    padding: 3px 12px;
}

.input-group-inline .input-group-addon {
    width: 62px;
    margin-left: 10px;
    padding-left: 7px;

    line-height: 20px;
}

.control-label {
    font-weight: normal;
}

.select2-results ul.select2-result-sub {
    padding-left: 0;
}

.mfind-checkbox-title {
    margin-left: 5px;

    line-height: 18px;
}

.mfind-checkbox-title code {
    font-family: monospace;
    font-size: 100%;
}

.file-path {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;

    text-indent: 4px;
}

.folder-name {
    width: 220px;
    height: 30px;

    text-indent: 4px;
}

label.checkbox.folder-name-form-checkbox {
    margin-bottom: 5px;
    padding-left: 0;

    font-weight: normal;
}

.folder-name-form-checkbox,
.folder-name-form-checkbox code,
.folder-name-form-checkbox a {
    vertical-align: top;
}

.page-title-btn {
    float: right;

    margin-top: -70px;
}

.key-name-form .ssh-key-name {
    width: 418px;
}

.change-pass .name {
    width: 135px;
    height: 25px;

    vertical-align: middle;
}

.change-pass input {
    width: 375px;
    height: 30px;
}

.change-pass .edit-error {
    width: 375px;
    margin-top: -7px;
    padding-left: 135px;
}

.rule-error {
    overflow: auto;

    max-height: 300px;
}

.rule-error p {
    white-space: pre-line;

    font-family: monospace;
}

.leftPanel + div {
    padding-left: 147px;
}

.leftPanel.expanded + div {
    padding-left: 27px;
}

.container-fluid {
    box-sizing: content-box;
    min-width: 700px;
    margin-right: 0;
    margin-left: 0;
    padding-right: 30px;
    padding-left: 20px;
}

.popup-message {
    margin-bottom: 20px;
}

.description-column span {
    display: block;
    overflow: hidden;

    width: 200px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

#zenbox_overlay {
    position: fixed;
    z-index: 999999;

    overflow: hidden;

    height: 100%;
}

#zenbox_container {
    top: 50px;
}

.support-comments {
    width: 100%;
}

/* fix for scrollbar overlay in IE 10 */

@-ms-viewport {
    width: auto !important;
}

.license-eula-logo,
.logo-riverbed {
    width: 133px;
    height: 58px;

    background: url('../img/logo_riverbed.png') no-repeat;
}

.logo-riverbed {
    margin-top: -30px;

    background-size: 60%;
}

.license-eula {
    overflow: auto;

    padding: 7px;

    border: 1px solid #d4d7d8;
}

.jquery-notific8-notification {
    width: 24.5em !important;
    height: 6em !important;
    max-height: 6em !important;
}
.jquery-notific8-notification.success {
    color: #020001;
    border-color: #f60;
    background-color: #fff2d2;
}

.jquery-notific8-notification.success .jquery-notific8-close,
.jquery-notific8-notification.success .jquery-notific8-close-sticky {
    color: white;
    background-color: #f60;
}

.jquery-notific8-notification.error {
    color: white;
    border-color: #f60;
    background-color: #e9322d;
}

.jquery-notific8-notification.error .jquery-notific8-close,
.jquery-notific8-notification.error .jquery-notific8-close-sticky {
    color: white;
    background-color: #f60;
}

.right .jquery-notific8-close-sticky {
    top: 2em;

    width: 5.9em;
}

.configurationForm .edit-value,
.configurationForm .edit-value input {
    width: 395px;
}

.configurationForm .error {
    margin-bottom: 5px;
}

.configurationForm .form-group {
    margin-bottom: 10px;
}

.configurationForm .edit-name {
    width: 130px;
}

.apiKeyForm .edit-value,
.apiKeyForm .edit-value input {
    width: 465px;
}

.apiKeyForm .edit-name {
    width: auto;
}
.form-control.datepicker {
    width: 110px;
    height: 28px;
    padding: 2px 0 0 10px;

    border-radius: 4px 0 0 4px;

    font-weight: 200;
}
.input-group-addon.calendar {
    height: 28px;
    padding: 5px 12px;

    cursor: pointer;

    border-radius: 0 4px 4px 0;
}

progress {
    vertical-align: middle;
}

content {
    margin-top: 20px;
}

/*      Analytics    */

.charts-container {
    width: 700px;
    padding-bottom: 25px;
}

.alert-info {
    box-sizing: content-box;
    width: 210px;
    padding: 25px 20px;

    color: #000;
    border: 0;
    border-radius: 0;
    background: #fef1d2;
}

.alert-info select {
    width: 210px;
    height: 30px;
}

.alert-info .select2-container {
    margin-bottom: 10px;
}

.alert-info p {
    margin: 10px 0;

    text-shadow: none;

    font-weight: 300;
}

.btn.pull-right {
    clear: right;
}

.start-analytics-btn {
    width: 210px;
    margin-top: 5px;
    margin-bottom: 25px;

    text-align: left;
}
.hotlinks {
    color: #d3d3d3;

    line-height: 24px;
}

.hotlinks a,
.hotlinks a:hover,
.hotlinks a:visited,
.hotlinks a:focus,
.active-link,
.active-link:hover,
.active-link:visited,
.active-link:focus,
a.orange-link,
a.orange-link:hover,
a.orange-link:visited,
a.orange-link:focus {
    cursor: pointer;
    text-decoration: none;

    color: #f60;

    font-weight: 500;
}

.hotlinks a,
.hotlinks span.active-link,
a.orange-link {
    vertical-align: middle;
}

.hotlinks span.active-link {
    color: #333;
}

.form-add-tag input {
    width: 100%;
    height: 30px;
    padding-left: 10px;

    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fafcfd;
}
.form-add-tag td {
    width: 100%;
    height: 32px;
}
.form-add-tag td:first-child,
.form-add-tag td:last-child {
    width: 62px;
    min-width: 62px;
}
.form-add-tag td:first-child {
    color: #7d7d7d;
}
.form-add-tag .btn {
    min-width: 62px;
    height: 30px;
    margin-left: 15px;
    padding: 5px 0 7px 0;

    vertical-align: top;
}
.new-tag {
    margin-top: 10px;
}
.tag-row {
    border-bottom: 1px solid #e9e9e9;
}
.tag-list-note {
    margin-bottom: 10px;
}
.tag-list-wrapper {
    overflow: auto;

    width: 100%;
    max-height: 150px;
}

.info-table tr td.current-path-info {
    line-height: 20px;
}
.current-path-info input {
    width: 232px;
    height: 20px;
    margin-right: 5px;
    padding: 0 5px;

    line-height: 20px;
}
.detail-chart {
    width: 485px;
    padding-top: 7px;
}
.detail-chart .toggle-btn-bg p {
    width: 420px;
}

.page-subheading:not(.active-link),
.page-heading {
    font-weight: 300;
}

/*   Package accordion  */

.panel.panel-default {
    margin-bottom: 5px;

    border: 0 none;
}

.panel-heading {
    padding: 0;

    border-bottom: 0;
    background: #f5f5f5;
}

.panel-heading .accordion-toggle {
    position: relative;

    display: block;

    padding: 8px 15px 8px 40px;

    cursor: pointer;
}

.panel-heading a {
    text-decoration: none;

    color: black;

    font-weight: 500;
}

.details-accordion {
    margin-top: 3px;
    margin-left: -5px;
    padding-right: 5px;
}

.panel-body {
    position: relative;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0;
}

.collapse.in {
    height: auto;
}

.panel-body table td {
    color: #7d7d7d;

    line-height: 28px;
}

.panel-body table .credentials {
    font-family: 'Inconsolata';
}

.panel-body table td:first-child {
    color: #5d80a7;
}

.account .field,
.edit-name,
.input-group .add-on:first-child,
.input-group .btn:first-child,
.input-group-addon,
.key-name,
.txt-name span,
.txt-value,
.ssh-key-value,
.toggle-graf-btn,
.toggle-graf-btn:active,
.toggle-graf-btn:focus,
.info-table tr td:nth-child(2),
.general-column .finder-elements .path-name,
.form-control.datepicker,
.form-add-tag td:first-child,
.page-subheading,
.panel-heading a,
.panel-body table .credentials,
.notified-text {
    font-size: 16px;
}
.notified-text {
    font-weight: 500;
}
.accordion-package-count,
.accordion-package-select {
    font-size: 15px;
}
.accordion-package-select {
    width: 720px;

    color: #333;

    font-weight: 300;
}

.accordion-package-select .panel.panel-default {
    margin-bottom: 0;
}

.accordion-package-select .accordion-toggle {
    padding: 9px 15px 9px 40px;
}

.accordion-package-select .panel-body {
    padding: 0;
}

.accordion-package-select .panel-body .short-name,
.accordion-package-select .panel-body .memory,
.accordion-package-select .panel-body .memory p,
.accordion-package-select .panel-body .disk,
.accordion-package-select .panel-body .cpu,
.accordion-package-select .panel-body .price,
.accordion-package-select .panel-body .price p,
.accordion-package-select .panel-body span {
    display: inline-block;

    box-sizing: content-box;
}

.accordion-package-select .panel-body span.ng-scope {
    font-weight: 300;
}

.accordion-package-select .panel-body .short-name,
.accordion-package-select .panel-body .price {
    font-weight: 500;
}

.accordion-package-select .panel-body .short-name {
    padding-left: 40px;
}

.accordion-package-select .panel-body .short-name {
    width: 22%;
}

.accordion-package-select .panel-body .memory {
    width: 20%;
}
.accordion-package-select .panel-body .cpu {
    width: 14%;
}

.accordion-package-select .panel-body .disk {
    width: 17%;
}
.accordion-package-select .panel-body .price {
    max-width: 17%;
}

.accordion-package-select .package-info,
.accordion-package-title {
    width: 720px;
    height: 40px;

    border: 1px solid #dadcdd;
    border-top: 0;
}
.accordion-package-select .package-info .price,
.accordion-package-select .package-info .price p span {
    height: 38px;
}

.accordion-package-select .package-info {
    cursor: pointer;
    vertical-align: middle;

    line-height: 40px;
}

.accordion-package-select .package-info:hover {
    background-color: #f6f7f8;
}

.accordion-package-select .package-info.active {
    background-color: #fef1d2;
}

.accordion-package-select .panel-heading {
    border: 1px solid #dadcdd;
    border-top: 0;
}

.accordion-container > .accordion-package-title {
    border-top: 1px solid #dadcdd;
}

.accordion-package-title {
    margin-top: 0;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #7d7d7d;

    font-weight: 300;
}

.accordion-package-title .span-name,
.accordion-package-title .span-specification,
.accordion-package-title .span-price {
    display: inline-block;

    height: 40px;
    padding-right: 10px;

    text-align: left;
    vertical-align: middle;

    line-height: 40px;
}

.accordion-package-title .span-name {
    width: 100px;
    padding-left: 40px;
}

.accordion-package-title .span-specification {
    width: 400px;
    padding-left: 95px;
}

.accordion-package-title .span-price {
    width: 130px;
    padding-left: 70px;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.accordion-package-count {
    position: absolute;
    top: 5px;
    right: 0;

    width: 35px;

    text-align: center;

    line-height: 30px;
}

.accordion-package-count,
.accordion-toggle i {
    pointer-events: none;
}

.dtrace-wrapper .name .label,
.docker-wrapper .name .label {
    position: relative;
    top: -2px;

    display: inline-block;

    padding: 0 .6em .3em;

    cursor: pointer;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;

    color: #020001;
    border: none;
    border-radius: .25em;
    outline: 0 none;
    background-color: #f7f8f9;
    text-shadow: none;

    font-weight: 700;
    line-height: 1;
}

.nav-tabs.details {
    margin-bottom: 5px;
}

.tags-title {
    margin-top: 10px;

    color: #5d80a7;

    font-weight: 300;
    line-height: 15px;
}
.tag.editable {
    margin-top: 10px;
}
.detail-tags .key-container input {
    width: 160px;
    margin-right: 5px;
}

.detail-tags .value-width {
    width: 225px;
}
.accordion-max-width .value-container {
    display: inline-block;

    padding-right: 10px;

    vertical-align: top;
}
.key-width,
.value-width {
    display: inline-block;
    overflow: hidden;
}
.detail-tags .value-container textarea,
.create-tags .value-container textarea,
.detail-mdata .value-container input,
.create-mdata .value-container input,
.create-mdata .loading-medium,
.create-tags .loading-medium {
    display: none;
}
.btn.tag-add-btn {
    width: 62px;
    height: 26px;
    padding: 4px 14px;

    vertical-align: top;
}
.controls {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

    border-bottom: 1px solid #ddd;

    line-height: 20px;
}
.accordion-max-width {
    min-width: 507px;
    max-width: 465px;
}

.metadata .editable .value-width,
.metadata .editable .key-width {
    min-width: 395px;
    max-width: 395px;
}
.create-images input,
.create-images textarea {
    width: 394px;
    height: 30px;
    margin-bottom: 10px;
}
.create-images textarea {
    height: 180px;

    resize: vertical;
}
.create-images input {
    padding-left: 6px;
}

.create-tags .key-width,
.create-mdata .key.key-width,
.create-tags .value-width,
.create-mdata .value.value-width,
.detail-tags .key-width,
.detail-mdata .key.key-width,
.detail-tags .value-width,
.detail-mdata .value.value-width {
    vertical-align: middle;
}
.detail-tags .key-width,
.detail-mdata .key.key-width {
    width: 165px;
}
.detail-mdata .value.value-width,
.detail-tags .value.value-width {
    width: 270px;
}
.key,
.value {
    padding: 0;
}
.key {
    margin-left: 0;

    text-align: left;

    color: #888;
}
.value {
    text-align: left;
}
.key.error,
.value.error {
    color: #b94a48;
    border-bottom: 1px solid #b94a48;
}
.pass-field {
    min-width: 260px;
}
.system-field,
.id-section td:first-child,
.name-section td:first-child {
    width: 140px;
}
.id-section td:last-child {
    color: #333;

    font-weight: bold;
}


.indent-small {
    margin-top: 5px;
}
.indent-medium {
    margin-top: 10px;
}
.indent-big {
    margin-top: 15px;
}
.warn-icon {
    float: left;

    width: 14px;
    height: 14px;

    vertical-align: middle;

    background: url('../img/warn_icon.png') no-repeat;
}
.container-position {
    padding-top: 55px;
    padding-left: 48px;
}

.two-keys {
    display: inline-block;

    width: 14px;
    height: 14px;
    margin-top: 1px;
    margin-right: 2px;

    vertical-align: text-top;

    line-height: 14px;
}

.two-keys {
    background: url('../img/icon-keys.png') no-repeat 50% 50%;
}

.btn-machine-ctrl {
    margin-left: 5px;
}
.details-btn-block p {
    display: inline-block;

    height: 8px;

    vertical-align: top;
}
.details-btn-block .status {
    box-sizing: content-box;
    height: 16px;
    margin-top: 0;

    vertical-align: middle;

    line-height: 16px;
}

.details-btn-block .status .glyphicon-ok {
    width: 14px;
    height: 14px;
}

.details-btn-block .status .glyphicon-ok:before {
    position: absolute;
    left: -9px;

    font-size: 13px;
}

.glyphicon-pause:before,
.glyphicon-stop:before,
.glyphicon-play:before,
.glyphicon-ban-circle:before,
.glyphicon-refresh:before {
    margin-top: 1px;
    padding-right: 5px;

    color: white;
}

.status.label:not(.label-machine-details) {
    width: 110px;
    height: 22px;
    margin-top: 0;
    padding: 4px 8px;

    text-transform: none;
}
.label-info,
.badge-info {
    min-width: 94px;

    background-color: #999;
}
.btn-default,
.btn-success {
    cursor: default;
}
.btn-default,
.btn-default:hover {
    color: white;
    background-color: #999;
}

.btn-success,
.btn-success:hover {
    color: black;
    background-color: #afd46c;
}
.status {
    min-width: 85px;
}
.label {
    padding: 10px 14px;

    cursor: default;

    border: none;
    border-radius: 0;
    outline: 0 none;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
.page-title,
.page-heading,
.blue-manta-header {
    font-size: 30px;
}
.advanced-info .center,
.review .left,
.review .center,
.review .right {
    box-sizing: content-box;
    padding: 0 25px;
}
.advanced-info .center,
.review .center {
    width: 245px;
}
.advanced-info .center .package,
.review .center .package {
    padding-top: 4px;
}
.advanced-info .center p,
.preselected .info p,
.review .left p,
.review .center p,
.review .right p {
    display: inline-block;

    padding-right: 5px;

    font-size: 14px;
    font-weight: 300;
}
.package .value {
    font-size: 14px;
    font-weight: 500;
}
.package .name {
    float: left;

    width: 100px;

    font-size: 14px;
    font-weight: 300;
}
.cost {
    padding-top: 50px;
}
.cost p .footnote {
    display: block;

    font-size: 12px;
}
.dataset-cost h3 {
    display: inline-block;

    margin-top: 10px;
    padding-bottom: 10px;

    font-size: 24px;
    font-weight: 500;
    line-height: 0;
}
.small-text-info {
    padding-left: 10px;

    text-align: left;

    color: #000;

    font-size: 13px !important;
}
@media screen and (max-width: 775px) {
    .navbar .nav.pull-right {
        margin-right: 20px !important;
    }
}
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: absolute;

        float: none;

        width: auto;
        margin-top: 3px;

        border: 1px solid #ccc;
        background-color: #fff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
}
.instance-intro {
    min-height: 170px;
}

.docker-intro {
    min-height: 150px;
}

.intro-list {
    padding-left: 20px;
}

.intro-list li {
    padding-bottom: 5px;
}

.cli-intro {
    width: 550px;
    margin-left: 20px;
}

.intro-host-key {
    padding-left: 32px;
}

.intro-account {
    padding-left: 6px;
}

.code {
    margin: 10px 0;
    padding: 20px;

    border: 2px solid #e3e3e3;
    background: rgba(0,0,0,.07);
}

.intro-code {
    margin: 0;
    padding: 0 3px;
}

.code p {
    margin: 0;

    color: #000;

    font-family: Menlo, Menlo-Regular, Inconsolata, Monaco, monospace;
    font-size: 13px;
    font-weight: bold;
}
