
body {
    background-color: #fff;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.content-container > div {
    min-height: 100%;
}

.loading-medium.behind {
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.loading-medium-after-h1 {
    background-image: url('../img/icon-loading-medium.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 25px;
    height: 60px;
    padding-left: 15px;
    float: left;
}

.loading-30 {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
}

.nav-tabs > li {
}

.nav-tabs > li:hover, .nav-tabs > li a:hover {
    background-color: #fff;

}

.nav-tabs > li a:hover, .nav-tabs > li.active {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

}

.nav-tabs > li.active a {
    border-color: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
}

h1, h2 {
    font-weight: normal;
}

h4 {
    padding-top: 5px;
}

.content-container {
    padding-bottom: 50px;
    padding: 0;
}

.content-container-inner {
    padding-bottom: 50px;
    min-height: 100%;
    height: 100%;
}

.navbar-inner {
    border: none;
}

.footer .brand {
    background-image: url('../img/logo-gray.png');
    background-repeat: no-repeat;
    background-position: 50% 60%;
    width: 120px;
    height: 30px;
}

.footer {
    position: fixed;
    padding-top: 10px;
    margin-left: 175px;
    background-color: #ededed;
    height: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

.footer .nav {
    padding-top: 8px;
    font-size: 12px;
    margin-left: 28px;
    margin-right: 175px;
}

.footer .nav li {
    float: left;
}

.footer a {
    color: #999;
    background-color: transparent !important;
    padding-right: 20px;
    text-decoration: none;
}

.footer.leftpanel-small .nav {
    margin-right: 55px;
}

.settings {
    padding: 20px;
}

.breadcrumb {
    padding: 0;
    background-color: transparent !important;
    margin-top: 20px;
    margin-bottom: 10px !important;
}

.breadcrumb > li {
    color: #a9a9a9;
    font-weight: 300;
    text-shadow: none;
}

.breadcrumb li a {
    color: #ff6600;
    text-shadow: none;
}

.popover-content {
    border-top: none;
    background-image: url('../img/stripes-colorful.gif');
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: 100% 2px;
}

.top-line-colorful {
    border-top: none;
    background-image: url('../img/stripes-colorful.gif');
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: 100% 2px;
}

#image-version {
}

.circle {
    border-radius: 50%;
}

.circle.large {
    width: 150px;
    height: 85px;
    padding: 0px;
    padding-top: 65px;
}

.guest-container {
    background-color: #375675 !important;
    background-image: url('../img/top-shade.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.signin-container {
    position: absolute;
    top: 50%;
    width: 450px;
    left: 50%;
    margin-left: -225px;
    margin-top: -250px;
}

.signin-container .alert {
    background: -webkit-linear-gradient(top, #fff 0, #ddd 100%);
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0px, rgb(221, 221, 221) 100%);
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background: -moz-linear-gradient(top, #fff 0, #ddd 100%);
    background: -ms-linear-gradient(top, #fff 0, #ddd 100%);
    background: -o-linear-gradient(top, #fff 0, #ddd 100%);
    background: linear-gradient(top, #fff 0, #ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
    border: solid 1px #ddd;
    border-bottom: solid 1px #ccc;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.signin-container .alert h4 {
    font-weight: normal;
    font-size: 18px;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
}

.signin-container .alert a, .signin-container .alert label {
    color: #444;
    text-shadow: 1px 1px 1px #fff;
}

.label {
    text-align: center;
    display: block;
    font-weight: normal;
    /*padding:2px 5px 2px 5px;*/
    padding: 5px;
    font-size: 11px;
    width: auto;
    /*text-shadow:1px 1px 1px rgba(0,0,0,0.2);*/
    margin-top: 1px;
}

.arrow-to {
    min-height: 100px;
    min-width: 300px;
}

.arrow-to:after {
    content: ">";
    font-size: 60px;
    font-weight: bold;
    position: relative;
    top: -60px;
    left: 90%;
    opacity: 0.15;
    filter: alpha(opacity=15);
    text-shadow: 1px 1px 1px #fff;

}

.signin-container .form-actions {
    margin-left: -15px;
    margin-right: -35px;
    margin-bottom: -25px;
    background-color: transparent;
}

.add-machine {
    margin-top: -1px;
    font-size: 12px !important;
}

.navbar-static-bottom a {
    color: #999;
    background-color: transparent !important;
}

.navbar-static-bottom .span3:hover, .navbar-static-bottom .span3:hover a {
    color: #777;
    background-color: transparent !important;
}

.navbar-static-bottom .nav:hover a:hover {
    color: #111;
    background-color: transparent !important;
}

.border {
    border: 1px solid red !important;
}

.text-regular {
    font-weight: normal;
}

.row-fluid.text-small {

}

.row-border {
    border-bottom: 2px solid #ddd;
}

.none {
    display: none;
}

h5 small {
    font-size: 11px;
}

.text-small {
    font-size: 11px;
}

.text-medium {
    font-size: 12px;
}

.text-large {
    font-size: 14px;
}

.bg-blue-lite {
    background-color: rgb(247, 250, 252);
    background-image: -webkit-linear-gradient(left, rgb(247, 250, 252), rgb(242, 245, 246));
}

th {
    text-align: left;
}

.box {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.box-yellow {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fdf1d1;
    border: 1px solid #fce6ae;
}

.box-blue {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #dee4e9;
    border: 1px solid #d0ddea;
}

.box-blue h2 {
    color: #1c313d;
}

.box-blue .btn {
    background-color: #eee;
    border: 1px solid #949ca1;

}

.item-list-container {
    padding-right: 2px;
    overflow: auto;
}

.item-list-container .item.header {
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    border-top: 1px solid #ddd;
}

.item {
    border: 0;
    font-size: 12px;
}

.provisioning-item {
    padding-top: 5px;
}

.item-list-container .item.header {
    overflow: visible;
}

.item-list-container .item:hover {
    background: #f8f8f8;
}

.item-list-container .item:hover .item, .item-list-container .item:hover .item:hover {
    background: #fff;
}

.item-list-container .item .item > span {
}

.default-margin {
    margin: 5px;
}

.default-margin-mini {
    margin: 2px;
}

.item-list-container .item:hover .item.header, .item-list-container .item:hover .item.header:hover {
    background-color: #fcfcfc;
}

.item-list-container .item .item.header {
}

.item.selected {
    background: #f8f8f8;
}

.item-select {
    text-align: center;
    font-size: 44px;
    color: #ccc;
    padding-top: 10px;
}

.item-select:hover {
    color: #555;
}

.carousel-inner .item:hover {
    background: #fff;
}

.carousel-inner .item.header:hover {
    background-color: #fcfcfc;
}

.carousel-inner .item.header {
    min-height: 40px;
    padding-top: 10px;
}

.toolbox .button {
    width: 95%;
    margin-bottom: 3px;
    margin-top: 2px;
}

/*
	thumbnail begin
*/

.view-type-container {
    margin-top: -26px;
    padding: 0;

}

.view-type-container-top-fix {
    margin-top: -22px;
}

.item-list-container.thumbnail .item {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 2.127659574468085%;
    height: 150px;
    min-height: 200px;
}

.item-list-container.thumbnail .last {
    margin-right: 0;
}

.item-list-container.thumbnail .item.span4 {
    width: 31.861702127659576%;
    *width: 31.861702127659576%;
}

.item-list-container.thumbnail .item .action-container {
    margin: -5px;
    margin-top: 5px;
    padding: 10px;
}

.item-list-container.thumbnail .item .action-container button {
    display: inline-block;
}

/*
	thumbnail end
*/

/*
	ribbon begin
*/

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    margin-top: -7px;
    margin-left: 128px;
}

.ribbon {
    font: bold 12px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fefefe));
    background-image: -webkit-linear-gradient(top, #fff, #fefefe);
    background-image: -moz-linear-gradient(top, #fff, #fefefe);
    background-image: -ms-linear-gradient(top, #fff, #fefefe);
    background-image: -o-linear-gradient(top, #fff, #fefefe);
    color: #888;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon:before, .ribbon:after {
    content: "";
    border-top: 3px solid #999;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon :before {
    left: 0;
}

.ribbon:after {
    right: 0;
}

.ribbon-green {
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
}

.ribbon-green:before, .ribbon-green:after {
    border-top: 3px solid #933a1b;
}

.ribbon-red:before, .ribbon-red:after {
    border-top: 3px solid #933a1b;
}

.ribbon-red {
    text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
    background-color: #933a1b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ef6a3b), to(#cd3612));
    background-image: -webkit-linear-gradient(top, #ef6a3b, #cd3612);
    background-image: -moz-linear-gradient(top, #ef6a3b, #cd3612);
    background-image: -ms-linear-gradient(top, #ef6a3b, #cd3612);
    background-image: -o-linear-gradient(top, #ef6a3b, #cd3612);
    color: #f9dad3;
}

.ribbon-orange:before, .ribbon-orange:after {
    border-top: 3px solid #8e4c11;
}

.ribbon-orange {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    background-color: #ef9514;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbc47), to(#ef9514));
    background-image: -webkit-linear-gradient(top, #ffbc47, #ef9514);
    background-image: -moz-linear-gradient(top, #ffbc47, #ef9514);
    background-image: -ms-linear-gradient(top, #ffbc47, #ef9514);
    background-image: -o-linear-gradient(top, #ffbc47, #ef9514);
    color: #8e4c11;
}

.ribbon-blue:before, .ribbon-blue:after {
    border-top: 3px solid #8e4c11;
}

.ribbon-blue {
    text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
    background-color: #496782;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5688a1), to(#496782));
    background-image: -webkit-linear-gradient(top, #5688a1, #496782);
    background-image: -moz-linear-gradient(top, #5688a1, #496782);
    background-image: -ms-linear-gradient(top, #5688a1, #496782);
    background-image: -o-linear-gradient(top, #5688a1, #496782);
    color: #f2f9ff;
}

/*
	ribbon end
*/

.crop {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.crop.crop-long {
    padding-right: 80px;
    margin-left: -57px;
}

.crop.crop-long:before {
    content: "Read more";
    font-size: 11px;
    font-weight: bold;
    position: relative;
    top: 0px;
    left: 100%;
    text-shadow: 1px 1px 1px #fff;
}

/* Makes word wrapping in a proper way */
.text-wrap {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Only for webkit */
    word-break: break-word;

    /* Non supported by Chrome now */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

p.margin-mini {
    margin-top: -10px;
}

#package-selected p {
    width: 240px;
    clear: both;
}

#pricing {
}

.affix {
    position: fixed;
    top: 280px;
    bottom: auto;
}

.affix-bottom {
    position: fixed;
    top: auto;
    bottom: 395px;
}

.listing span2, .listing span5, .listing .container {
    padding: 0;
}

.control-group .key, .control-group .value {
    border-bottom: none;
}

.control-group .key {
    padding-right: 20px;
}

.control-group .value {
    text-align: right;
}

.gray {
    background-color: #eee;
    border: 1px solid #ddd;
}

.text-gray {
    color: #999;
}

.round {
    -webkit-border-radius: 4px;
}

.pricing h4 {
    margin-bottom: 5px;
}

.pricing {
    line-height: 1.1em;
}

.alert-muted {
    color: #666;
    background-color: #eee;
    border-color: #ccc;
}

.alert-muted h1, .alert-muted h2, .alert-muted h3, .alert-muted h4 {
    color: #444;
}

.align-right {
    text-align: right;
}

.noborder {
    border: none;
}

.affix {
    z-index: 1 !important;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.shadow {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.shadow-dark {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
}

.price-container {
    border-top: 1px solid rgba(155, 155, 155, 0.5);
    border-bottom: 1px solid rgba(155, 155, 155, 0.5);
    padding: 0px 0px 10px 0px;
    margin-top: 10px;
}

.text-fix {
    padding-top: 1px;
}

.icon {
    margin-top: -1px;
    margin-right: 3px;
}

.carousel-inner {
    min-height: 560px;
    max-height: 560px;
    overflow-y: auto;
}

.selector-container {
    background-color: #fff;
    border: none;
}

.slide-back {
    border: 1px solid red;
    height: 30px;
    width: 10px;
    position: absolute;
    top: 50%;
    z-index: 100000000;
    margin-left: -10px;
    background-color: blue;
}

#affix-pricing-container #pricing {
    position: fixed;
    z-index: 10;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#affix-pricing-container .affix {
    position: fixed;
    top: 40px;
    bottom: auto;
}

#affix-pricing-container .affix-bottom {
    position: fixed;
    top: auto;
    bottom: 595px;
}

div .disabled {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.package-selector > div {
    padding: 5px;
    margin-bottom: 5px;
}

.modal {
    z-index: 100000000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

[class^="icon-"],
[class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
}

.item.header [class^="icon-"],
.item.header [class*=" icon-"] {
    margin-top: 3px;
}

.page-header {
    padding-bottom: 6px !important;
    border-bottom: none !important;
    margin: 0;
}

.page-header form {
    padding-top: 20px;
    padding-bottom: 0;
}

.sortable, a {
    cursor: pointer;
}

.wrap {
    display: block;
    word-break: break-all;
    word-wrap: break-word;
}

.b {
    font-weight: bold;
}

.alert-global {
    margin-top: 10px;
}

.status {
    padding: 5px;
}

.divider.dark {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.last {
    border: none;
}

.hero-unit {
    padding: 25px;
    margin-right: 20px;
}

.fixed {
    position: fixed;
}

#zenbox_tab {
    width: 42px;
    border: none;
}

.sizebar-fix {
    margin-top: -31px;
    display: block;
}

.tabs-right .nav-tabs {
    margin: 0;
    width: 100%;
}

.tabs-right .nav-tabs li, .tabs-right .nav-tabs li a {

}

.loading-small {
    background-image: url('../img/ajax-loader.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: block;
}

.loading-medium {
    background-image: url('../img/icon-loading-medium.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 60px;
    max-width: 100%;
    min-width: 50px;
}

.loading-medium-transparent {
    background: transparent url("../img/spiner-transparent.gif") no-repeat 50% 50%;
    background-size: 24px 24px;
    min-width: 30px;
    min-height: 30px;
}

.loading-medium.item {
    margin-top: -4px;
    margin-right: -7px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}

.loading-medium.item-button {
    margin-top: 0;
    margin-right: 7px;
    display: inline-block;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}

.loading-medium-tr {
    margin-top: 2px;
    width: 30px;
    height: 30px;
    background-image: url('../img/icon-loading-medium-tr.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.modal-ssh {
    margin-left: -200px;
    width: 410px;
}

.control-group-ssh {
    margin-bottom: 0px;
}

textarea.ssharea {
    margin-bottom: 0px;
}

.modal-footer-ssh {
    height: 32px;
}

.modal-footer-ssh .btn {
    margin-left: 5px;
}

.loading-large {
    background-image: url('../img/icon-loading-large.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100px;
    min-height: 100px;
}

.slb-name {
    white-space: normal;
    line-height: 1.5;
}

/*
	from joyent com to dashboard
*/

.separation-container {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.separation-container-top {
    border-left: none;
}

.feature1 {
    background: url(../img/video-tile.jpg) no-repeat center bottom #99abba;
}

a .feature1 {
    color: #fff !important;
}

.feature1 > div {
    width: 85%;
    padding: 20px;
}

.feature1 > div h3 {
    font-family: Helvetica Neue;
    font-weight: normal;
}

.alert-joyent-blue {
    background: #eaf0f6;
    border: 1px solid #dee4ea;
    color: #30566a;
}

.alert-joyent-blue h1,
.alert-joyent-blue h2,
.alert-joyent-blue h3,
.alert-joyent-blue h4,
.alert-joyent-blue h5,
.alert-joyent-blue h6 {
    color: #30566a;
}

.alert-joyent-gray {
    background: #f5f5f5;
    border: 1px solid #ddd;
    color: #555;
}

.alert-joyent-gray h1,
.alert-joyent-gray h2,
.alert-joyent-gray h3,
.alert-joyent-gray h4,
.alert-joyent-gray h5,
.alert-joyent-gray h6 {
    color: #555;
}

.iframe-no-border {
    border: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

iframe {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.video {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 640px;
    margin-left: -320px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.notification-wrapper {
    padding-top: 15px;
}

/* add-credit-card directive CSS */

.red-asterix {
    color: red;
}

.error {
    color: #FF6600;
}

.asterix-info {
    color: #b3b3b3;
}

.modal-header.message, .modal-header.confirm {
    background-color: #ff6600;
}

.modal-header.error {
    background-color: #ff0000;
}

.modal-header {
    color: white;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}

.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    display: inline-block;
    padding-right: 2px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Glyphicons Halflings';
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-question-sign:before {
    content: "\e085";
}

.glyphicon-info-sign:before {
    content: "\e086";
}

.glyphicon-warning-sign:before {
    content: "\e107";
}

.glyphicon-earphone:before {
    content: "\e182";
}

i.glyphicon-earphone {
    line-height: 21px;
}

i.glyphicon-info-sign,
i.glyphicon-warning-sign {
    padding-right: 7px;
}

i.glyphicon-info-sign,
i.glyphicon-warning-sign,
i.glyphicon-question-sign {
    height: 16px;
    vertical-align: middle;
}

.content-container-inner {
    padding-bottom: 55px;
    padding-left: 45px;
    width: 1000px;
}

.select2-results .select2-result-label {
    padding-left: 10px;
}

.select2-choice span {
    color: rgb(51, 51, 51);
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.no-breadcrumb {
    padding-top: 41px;
    border-bottom: 1px solid #ffffff;
}

.no-breadcrumb-line {
    padding-top: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.table-bordered {
    border-collapse: separate;
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 !important;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
    font-size: 12px;
    overflow: auto;
}

.table-bordered th, .table-bordered td {
    padding-left: 15px;
    border-left: 0 none !important;
    border-right: 0 none !important;
}

.table th, .table td {
    padding-right: 25px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    border-top: none;
    white-space: nowrap;
}

.table td a {
    color: #375675;
    text-decoration: none;
}

.table .checkbox {
    padding-left: 2px;
}

.table .table-title {
    color: #666666;
    font-size: 12px;
}

.table .table-title.active {
    color: #000000;
}

.table > thead th {
    padding-top: 5px;
    padding-bottom: 5px;
}
.table > thead > tr.grid-small-font th {
    padding-top: 0;
    padding-bottom: 5px;
}

.table > tbody td {
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f4f4f4;
}

.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
    background-color: #f9f9f9;
}

.dpl-inline {
    display: inline-block !important;
}

select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none !important;
    appearance: none;
    overflow: hidden;
    background: url(../img/select-arrow.png) no-repeat right #ddd;
    border: 1px solid #ccc;
    background-color: #fafcfd;
    padding: 0 0 0 10px;
    font-size: 16px;
    text-indent: 0.01px;
    text-overflow: "";
    padding-right: 20px;
}

select option {
    background: white;
}

@-moz-document url-prefix() {
    select {
        padding: 3px 20px 0 10px;
    }
}

select::-ms-expand {
    display: none;
}

/* promo iframe */
.dashboard-splash {
    width: 620px;
    height: 340px;
}

.dashboard-splash-iframe {
    overflow: hidden;
}

.tfa-dialog {
    margin: 20px;
}

.two-keys {
    background: url('../img/icon-keys.png') no-repeat 50% 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
}

.edit-value-tfa {
    width: 150px;
    display: inline-block;
}

.edit-value-tfa input {
    padding: 0;
    width: 150px;
    border-radius: 0;
    height: 28px;
    border: 1px solid #ccc;
    background-color: #fafcfd;
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
}

.edit-error-tfa {
    width: 160px;
    display: inline-block;
    margin-left: 20px;
    position: absolute;
    line-height: 27px;
    color: #F60;
    margin-top: 3px;
}

.remove-icon {
    width: 13px;
    height: 13px;
    background-image: url("../img/remove-icon.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 5px;
}

.toggle-graf-btn {
    text-shadow: none !important;
    width: 100%;
    text-align: left;
    font-size: 16px !important;
    height: 36px;
}

.toggle-btn-bg, .toggle-btn-bg:hover, .toggle-btn-bg:focus, .toggle-btn-bg.disabled {
    background-color: #e9eff4 !important;
    padding-left: 0 !important;
}

.toggle-btn-bg.disabled {
    opacity: 1;
    filter: alpha(opacity=100);
}

.toggle-btn-bg:focus {
    outline: none !important;
    outline-offset: 0 !important;
}

.toggle-btn-bg p {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    width: 95%;
    vertical-align: top;
    margin: 0 !important;
}

.graf-radio-btn {
    background-color: #d6dce0 !important;
    padding: 3px 10px !important;
    text-shadow: none !important;
}

.graf-radio-btn.active {
    background-color: #ffffff !important;
}

.toggle-icon {
    background: url("../img/accord_i_plus.png") no-repeat 15px center;
    padding-left: 40px !important;
}

.collapsed.toggle-icon {
    background-image: url("../img/accord_i_down.png");
}

.grid-small-font, .grid-small-font span, .grid-small-font .dropdown-menu label, .network td {
    font-size: 12px !important;
}

.grid-small-font .label {
    padding: 4px 8px !important;
}

.grid-small-font.ci {
    padding: 1px 8px !important;
}

.container-min-width {
    width: 1000px !important;
}

.edit-text-icon {
    background: url('../img/pencil.png') no-repeat 50% 50%;
    width: 24px;
    height: 36px;
    display: inline-block;
    vertical-align: bottom;
    background-size: 24px;
    cursor: pointer;
    padding-left: 6px;
    opacity: 0.5;
}

.page-title:hover .edit-text-icon {
    opacity: 1;
}

.page-row-info {
    float: left;
    padding-bottom: 5px;
}

.page-row-info form {
    margin: 0;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.filter-field {
    margin: 0 !important;
    padding-right: 10px !important;
    padding-left: 25px !important;
    height: 16px !important;
    border: 0 none !important;
    border-radius: 18px !important;
    background: url('../img/filter-icon.png') 7px 7px no-repeat;
    background-color: #f5f5f5 !important;
    background-size: 12px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #666 !important;
    font-size: 12px;
}

.actions .btn-group .btn {
    padding: 2px 6px;
    color: #6d6d6d;
    background-color: #e5e5e5;
    text-shadow: none;
}

.btn-group + .btn-group {
    margin-left: 0;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 14px;
}

.checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
    margin-left: 0;
}

div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}

div.checker {
    position: relative;
}

div.checker, div.checker span, div.checker input {
    width: 19px;
    height: 19px;
}

div.checker span[disabled] {
    cursor: default !important;
    opacity: 0.35;
    filter: alpha(opacity=35);
}

div.checker span[disabled] input, div.checker[disabled] {
    cursor: default !important;
}

div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px;
}

div.checker span.checked {
    background-position: -76px -260px;
}

div.checker input {
    opacity: 0;
    border: none;
    background: none;
    display: inline-block;
}

div.checker.active span {
    background-position: -19px -260px;
}

div.checker.active span.checked {
    background-position: -95px -260px;
}

div.checker.hover span, div.checker.focus span {
    background-position: -38px -260px;
}

div.checker.hover span.checked, div.checker.focus span.checked {
    background-position: -114px -260px;
}

div.checker.hover.active span, div.checker.focus.active span {
    background-position: -57px -260px;
}

div.checker.hover.active span.checked, div.checker.focus.active span.checked {
    background-position: -133px -260px;
}

div.checker.disabled, div.checker.disabled.active {
    background-position: -152px -260px;
}

div.checker.disabled span.checked, div.checker.disabled.active span.checked {
    background-position: -171px -260px;
}

label.checkbox {
    margin-bottom: 0;
}

.dropdown-menu input[type="checkbox"] {
    margin: 0;
}

.dropdown-menu {
    margin-top: 0;
    padding: 0;
    min-width: 98% !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-checkboxes label {
    color: #333;
    margin-bottom: 0;
    margin-top: 0;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-checkboxes {
    padding: 5px 9px 5px 5px;
}

.dropdown-menu > li {
    background-color: white;
}

.dropdown-menu > li > a {
    display: block;
    clear: both;
    padding: 2px 10px;
    color: #333333;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    font-weight: normal;
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #d8d8d8;
    color: #333333;
}

.icon-drop-down {
    background-image: url("../img/toggler-drop-down.png");
    width: 10px;
    margin-top: 0;
    background-repeat: no-repeat;
    background-color: transparent !important;
    display: inline-block;
    background-position: -1px 5px;
}

.icon-sort-up, .icon-sort-down, .icon-sort-both {
    background-repeat: no-repeat;
    background-position: 0 1px;
    width: 12px;
    height: 16px;
    float: left;
    margin-left: -16px;
    margin-top: 0 !important;
}

.icon-sort-up {
    background-image: url("../img/sort_asc.png") !important;
}

.icon-sort-down {
    background-image: url("../img/sort_desc.png") !important;
}

.icon-sort-both {
    background-image: url("../img/sort_both.png");
}

.grid-action-btn {
    text-align: left;
}

.grid-action-btn button {
    width: 100px;
    outline: none;
    border: 0;
    border-radius: 0;
    background-color: #e5e5e5;
    color: #6d6d6d;
}

.grid-action-btn button:hover {
    background-color: #f60 !important;
    color: white !important;
}

.grid-enabled-text {
    color: #afd46c;
}

.grid-disable-text {
    color: #000000;
}
.plus-btn-icon,
.chart-btn-icon,
.view-btn-icon {
    position: relative;
    left: 3px;
    float: left;
    margin-top: 0;
    width: 20px;
    height: 20px;
}
.plus-btn-icon {
    background: url("../img/plus_icon.png") no-repeat;
}
.chart-btn-icon {
    background: url("../img/chart-icon.png") no-repeat;
    background-size: 20px;
}
.view-btn-icon {
    background: url("../img/view-btn-icon.png") no-repeat;
    background-size: 20px;
}
.checked-icon {
    padding-right: 20px;
    background: url("../img/checked.png") no-repeat;
    background-size: 16px 16px;
}
.margin-btn-dashboard {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
}

.hide {
    display: none !important;
}

.beta-sticker {
    background-image: url("../img/beta-sticker.png");
    background-position: -3px 0;
    background-repeat: no-repeat;
    color: white;
    width: 46px;
    height: 24px;
    margin-top: -15px;
    padding-top: 3px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 300;
}
.beta-sticker.tab {
    margin-top: -4px;
    right: 0;
    position: absolute;
}

.ribbon-wrapper-beta {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-beta {
    font-size: 14px;
    color: white;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 4px 0;
    left: 0;
    top: 12px;
    width: 120px;
    background-color: #999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C8C8C8), to(#828282));
    background-image: -webkit-linear-gradient(top,#C8C8C8,#828282);
    background-image:    -moz-linear-gradient(top,#C8C8C8,#828282);
    background-image:     -ms-linear-gradient(top,#C8C8C8,#828282);
    background-image:      -o-linear-gradient(top,#C8C8C8,#828282);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0 0 3px rgba(0,0,0,0.3);
    box-shadow:         0 0 3px rgba(0,0,0,0.3);
    z-index: 3000;
}

.ribbon-beta:before, .ribbon-beta:after {
    content: "";
    border-top:   3px solid #457b98;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-beta:before {
    left: 0;
}
.ribbon-beta:after {
    right: 0;
}

.feedback-tab {
    position: fixed;
    top: 23%;
    right: 0;
    width: 42px;
    height: 108px;
    margin-top: 160px;
    background: #999 url('../img/feedback-tab.png') 0 0 no-repeat;
    z-index: 10000
}
.feedback-tab-link {
    display: block;
    height: 100%;
}
.middle {
    vertical-align: middle;
}

/* Buttons */
.btn {
    padding: 7px 14px;
    outline: none;
    border: 0;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-image: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #333333;
    text-transform: capitalize;
    font-size: 14px;
    filter: none;
    cursor: pointer;
}
.btn-original-text {
    text-transform: none;
}
.btn[disabled],
.btn.disabled {
    background-color: #d8d8d8 !important;
    color: #333333;
    opacity: 0.35;
    filter: alpha(opacity=35);
    cursor: default !important;
}
.btn.submit-payment {
    text-transform: none;
}
.btn.red-stripe {
    border-left: 3px solid #d84a38;
}
.btn.blue-stripe {
    border-left: 3px solid #4d90fe;
}
.btn.purple-stripe {
    border-left: 3px solid #852b99;
}
.btn.green-stripe {
    border-left: 3px solid #35aa47;
}
.btn.yellow-stripe {
    border-left: 3px solid #ffb848;
}
.btn.light {
    outline: none;
    background-color: #f3f3f3 !important;
    color: #f60 !important;
    text-shadow: none;
    font-size: 16px !important;
}
.btn.light-small {
    padding-right: 10px !important;
    padding-left: 10px !important;
    width: auto;
    background-color: #f1f1f1;
    color: #ff6600;
    text-shadow: none;
    line-height: 6px !important;

}
.btn.light-small:hover,
.btn.light-small:focus,
.btn.light-small:active,
.btn.light-small.active,
.btn.light-small.disabled,
.btn.light-small[disabled] {
    background-color: #f1f1f1 !important;
    color: #ff6600 !important;
}
.btn.orange {
    min-width: 100px;
    outline: none;
    background-color: #ff6600;
    color: white;
    text-shadow: none;
}
.btn.orange:hover,
.btn.orange:focus,
.btn.orange:active,
.btn.orange.active,
.btn.orange.disabled,
.btn.orange[disabled] {
    background-color: #ff6600 !important;
    color: #fff !important;
}
.btn-stat {
    width: 240px !important;
    height: 55px;
}
/*  Red */
.btn.red,
.page-content .breadcrumb a.red,
.page-content .breadcrumb a.red i {
    background-color: #ff6600;
    color: white;
    text-shadow: none;
}
.btn.red:hover,
.btn.red:focus,
.btn.red:active,
.btn.red.active,
.btn.red[disabled],
.btn.red.disabled,
.page-content .breadcrumb a.red:hover,
.page-content .breadcrumb a.red:hover i,
.page-content .breadcrumb a.red:focus,
.page-content .breadcrumb a.red:focus i,
.page-content .breadcrumb a.red:active,
.page-content .breadcrumb a.red:active i {
    background-color: #ff6600 !important;
    color: #fff !important;
}
/*  Blue */
.btn.transparent {
    background-color: transparent;
    color: black;
    text-shadow: none;
}
.btn.blue {
    background-color: #94afca;
    color: white;
    text-shadow: none;
}
.btn.blue:hover,
.btn.blue:focus,
.btn.blue:active,
.btn.blue.active,
.btn.blue[disabled],
.btn.blue.disabled {
    background-color: #94afca !important;
    color: #fff !important;
}
/*  Green */
.btn.green {
    background-color: #afd46c;
    color: black;
    text-shadow: none;
}
.btn.green:hover,
.btn.green:focus,
.btn.green:active,
.btn.green.active,
.btn.green.disabled,
.btn.green[disabled] {
    background-color: #afd46c !important;
    color: #000 !important;
}
.btn.grey-new {
    background-color: #999999;
    color: white;
    text-shadow: none;
}
.btn.grey-new:hover,
.btn.grey-new:focus,
.btn.grey-new:active,
.btn.grey-new.active,
.btn.grey-new.disabled,
.btn.grey-new[disabled] {
    background-color: #999999 !important;
    color: #ffffff !important;
}
/*  Purple */
.btn.purple {
    background-color: #405f7c;
    color: white;
    text-shadow: none;
}
.btn.purple:hover,
.btn.purple:focus,
.btn.purple:active,
.btn.purple.active,
.btn.purple.disabled,
.btn.purple[disabled] {
    background-color: #405f7c !important;
    color: #fff !important;
}
.btn.btn-joyent-blue.disabled,
.btn.btn-joyent-blue[disabled],
.btn-joyent-blue,
.btn-joyent-blue:hover {
    border-bottom: 1px solid #28445e;
    background-image: url('../img/bg-button-blue.png');
    background-position: 50% 50%;
    background-repeat: repeat-x;
    color: #fff;
    text-shadow: 1px 1px 1px #375775;
}
.effect-orange-button:not([disabled="disabled"]):hover {
    background-color: #f60 !important;
    color: white !important;
    text-decoration: none;
}
.btn-big {
    width: 172px !important;
    height: 43px;
}
.btn-mini {
    padding: 0 6px !important;
}
.btn:focus {
    outline: none;
}
/* Account */
.edit-btn,
.small-btn {
    margin-left: 10px;
    width: 56px !important;
    height: 21px;
    border: 0;
    background-color: #ebebeb;
    color: #f60;
    text-shadow: none;
    font-weight: 500 !important;
    font-size: 12px !important;
}
.edit-btn {
    padding: 2px 6px;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;
}
.small-btn {
    display: none;
    margin-top: -3px;
    padding: 0;
}
.create-key-btn {
    margin: 2px 0 0 20px;
}
.btn-key-delete {
    margin: 15px 25px 0 0;
}

/* Dashboards */
.btn-browse {
    font-size: 15px !important;
}
.basic-instance-box:hover .btn-browse {
    background-color: #FF6600 !important;
    color: white !important;
}

/* Firewall */

.btn-warning,
.btn-default,
.btn-success,
.btn-danger,
.btn-edit {
    display: inline-block;
    min-width: 94px;
    outline: none;
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-image: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: white;
    vertical-align: middle;
    text-align: center;
    text-shadow: none !important;
    font-size: 16px;
    cursor: pointer;
}
.btn-default {
    background-color: #999999;
    color: white;
}
.btn-success {
    background-color: #afd46c;
    color: black;
}
.btn-warning {
    background-color: #f60;
    color: white;
}
.btn-danger {
    background-color: rgb(255, 73, 73);
    color: white;
}
.btn-edit {
    background-color: #7d7d7d;
    color: white;
}
.btn-minier {
    padding: 0 4px !important;
}
.btn-minier.btn-danger {
    padding: 0 3px !important;
}
.create-update-btn {
    margin-bottom: 20px;
    padding: 20px 26px 20px 0;
    background-color: #fef1d2;
    text-align: right;
}
.f-btn {
    margin-left: 240px;
}
.f-btn-two {
    margin-left: 135px;
}
.add-rule-btn:hover,
.add-rule-btn:focus {
    background-position: 50% 50%;
    color: #fff;
    text-decoration: none;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9992;
    top: 100%;
    background: #ffffff;
    color: #000;
    border: 1px solid #e5e5e5;
    border-top: 0;
}
.select2-dropdown-open .select2-choice, .select2-dropdown-open .select2-choice a {
    background-image: none !important;
    background-color: white !important;
}
.select_position {
    padding-top: 20px;
    color: #666;
}
.select2-container .select2-choice {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.select2-container .select2-choice div {
    display: block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #e5e5e5 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    background: #ffffff !important;
    background-image: none !important;
}
.select2-container .select2-choice {
    display: block;
    height: 25px;
    padding: 0 0 0 15px;
    padding-top: 3px;
    overflow: hidden;
    position: relative;
    border: 1px solid #e5e5e5;
    white-space: nowrap;
    line-height: 20px;
    color: #444;
    text-decoration: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none !important;
    background-color: #ffffff  !important;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
}
.info-table tr td {
    line-height: 28px;
}
.info-table tr td:first-child {
    color: #5D80A7;
    padding-right: 20px;
}
.info-table tr td:nth-child(2) {
    font-weight: 300;
    font-size: 16px;
    color: #7d7d7d;
}
.grid-view-table {
    padding-top: 25px;
}
.grid-tabs-container {
    padding-top: 10px;
}
.grid-tabs-title,
.grid-tab {
    display: inline-block;
    vertical-align: top;
}
.grid-tabs-title {
    padding: 3px 10px 0 0;
    text-transform: capitalize;
}
.grid-tab {
    padding: 3px 10px;
    margin: 0 2px -1px 0;
    background: #EBEBEB;
    border: 1px solid #cccccc;
}
.grid-tab-radio,
.filter-radio {
    position: absolute;
    left: -1000px;
    visibility: hidden;
}
.grid-tab-radio:checked + .grid-tab {
    background: #ffffff;
    border-color: #dddddd;
    border-bottom: 1px solid #ffffff;
}
.actions-down {
    position: relative;
    top: 38px;
}
.grid-no-entries {
    padding-bottom: 20px;
}
.grid-no-entries hr {
    margin-top: 0;
}

/* Machine */

.btn-back-quick {
    color: #ff6600;
    margin-right: 20px;
}
.filter-container {
    margin-bottom: 20px;
    font-size: 14px;
}
.filter-value {
    padding: 6px 0 6px 13px;
    margin-bottom: 0;
}
.filter-value:hover {
    background-color: #d8d8d8;
}
.btn-group-filter {
    margin-right: 15px;
}
.btn-group-filter .filter-select {
    min-width: 110px;
    text-align: left;
    text-transform: none;
}
.upload-key-label {
    margin-bottom: 0;
    padding: 7px 0;
    text-transform: capitalize;
}
.modal-footer-text {
    display: inline-block;
    padding: 0 10px;
}

/* Tooltips */

.tooltip {
    position: fixed;
}
.tooltip.left {
    margin-left: -12px;
}
.tooltip-inner {
    color: #020001;
    background-color: #fff2d2;
    border-radius: 0;
    border: 1px solid #ff6600;
}

.tooltip.top .tooltip-inner {
    border-bottom-width: 3px;
}
.tooltip.left .tooltip-inner {
    border-right-width: 3px;
}
.tooltip.right .tooltip-inner {
    border-left-width: 3px;
}
.tooltip.bottom .tooltip-inner {
    border-top-width: 3px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #ff6600;
    border-width: 5px 5px 1px;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #ff6600;
    border-width: 5px 5px 5px 1px;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #ff6600;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ff6600;
    border-width: 1px 5px 5px;
}

/* hack to remove weird line under the tab according to PIRANHA-1520 */
#zenbox_tab img {
    max-width: inherit;
}

.left-part,
.right-part {
    display: table-cell;
    vertical-align: top;
}
.left-part,
.right-part {
    min-width: 485px;
}
.left-part {
    padding-right: 20px;
}
.inl-table {
    display: inline-table;
    width: 100%;
}
.table-row {
    display: table-row;
}
.cancel-icon,
.delete-icon,
.download-icon,
.info-icon,
.plus-icon,
.share-icon,
.upload-icon {
    float: left;
    margin-top: 1px;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    background: no-repeat 50%;
    background-size: 18px;
    vertical-align: middle;
}
.key-icon {
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    width: 26px;
    height: 15px;
    background: url("../img/key-icon.png") no-repeat 50% 50%;
    background-size: 26px 15px;
    vertical-align: middle;
}
.cancel-icon {
    background-image: url("../img/cancel-icon.png");
}
.delete-icon {
    background-image: url("../img/delete-icon.png");
}
.download-icon {
    background-image: url("../img/download-icon.png");
}
.info-icon {
    background-image: url("../img/info-icon.png");
}
.plus-icon {
    background-image: url("../img/plus-icon.png");
}
.share-icon {
    background-image: url("../img/share-icon.png");
}
.upload-icon {
    background-image: url("../img/upload-icon.png");
}
.effect-orange-button:hover .delete-icon {
    background-image: url("../img/delete-icon-white.png");
}
.effect-orange-button:hover .download-icon {
    background-image: url("../img/download-icon-white.png");
}
.effect-orange-button:hover .info-icon {
    background-image: url("../img/info-icon-white.png");
}
.effect-orange-button:hover .plus-icon {
    background-image: url("../img/plus-icon-white.png");
}
.upload-icon-grey {
    position: relative;
    display: inline-block;
    margin-right: 14px;
    margin-left: 14px;
    width: 14px;
    height: 35px;
    background: url("../img/upload-icon-grey.png") no-repeat 50% 50%;
    background-size: 14px 14px;
}
.popup-file-path {
    width: 516px;
}
.container-grid {
    float: left;
    width: 100%;
}
