
body {
    background-color:#fff;
}
.content-container > div {
    min-height: 100%;
}

.loading-medium.behind {
	opacity: 0.65;
    filter: alpha(opacity=65);    
}

.loading-medium-after-h1 {
    background-image:url('../img/icon-loading-medium.gif');
    background-position:50% 50%;
    background-repeat:no-repeat;
    width:25px;
    height:60px;
    padding-left:15px;
    float:left;
}
.tabbable {
/*	border:none;*/
/*	margin-top:-31px;*/
}

.nav-tabs > li {
}
.nav-tabs > li:hover,.nav-tabs > li a:hover {
	background-color:#fff;
	
}

.nav-tabs > li a:hover,.nav-tabs > li.active {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

}

.nav-tabs > li.active a {
	border-color:#fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	background-color:#fff;
}

h1,h2 {
    font-weight:normal;
}
h4 {
    padding-top:5px;
}
.content-container {
    padding-bottom:50px;
    /*	border:1px solid;*/
    padding:0;
}

.content-container-inner {
    padding-bottom:50px;
    min-height: 100%;
    height: 100%;
}
.navbar-inner {
	border:none;
}

.footer .brand {
	background-image: url('../img/logo-gray.png');
    background-repeat:no-repeat;
    background-position:50% 60%;
    width:120px;
    height:30px;
}

.footer {
    position: fixed;
    padding-top: 10px;
    padding-left: 185px;
    background-color: #ededed;
    height: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
    bottom: 0;
}
.footer .nav {
	padding-top:8px;
    font-size:12px;
    margin-left: 28px;

}
.footer .nav li {
	float:left;
}
.footer a {
    color:#999;
    background-color:transparent !important;
	padding-right:20px;
    text-decoration: none;
}

.settings {
    padding:20px;
}

.breadcrumb {
    margin-bottom: 5px;
    background-color: transparent !important;
    padding: 10px 0 !important;
}
.breadcrumb >li {
    color: #a9a9a9;
    font-weight: 300;
    text-shadow: none;
}
.breadcrumb li a {
    color: #ff6600;
    text-shadow: none;
}
.popover-content {
    border-top:none;
    background-image:url('../img/stripes-colorful.gif');
    background-position:0px 0px;
    background-repeat:repeat-x;
    background-size:100% 2px;
}
.top-line-colorful {
	border-top:none;
    background-image:url('../img/stripes-colorful.gif');
    background-position:0px 0px;
    background-repeat:repeat-x;
    background-size:100% 2px;
}

#image-version {
}

.circle {
    border-radius: 50%;
}
.circle.large {
    width:150px;
    height:85px;
    padding:0px;
    padding-top:65px;
}


.guest-container {
    background-color:#375675 !important;
    background-image:url('../img/top-shade.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
}
.signin-container {
    position:absolute;
    top:50%;
    width:450px;
    left:50%;
    margin-left:-225px;
    margin-top:-250px;
    /*	padding-top:100px;*/
}
.signin-container .alert {
    background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0px, rgb(221, 221, 221) 100%);
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
    background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
    background: -o-linear-gradient(top,#fff 0,#ddd 100%);
    background: linear-gradient(top,#fff 0,#ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
    border: solid 1px #ddd;
    /*	border-right: solid 1px #eee;*/
    border-bottom: solid 1px #ccc;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.signin-container .alert h4 {
    font-weight:normal;
    font-size:18px;
    color:#444;
    text-shadow:1px 1px 1px #fff;
}
.signin-container .alert a,.signin-container .alert label {
    color:#444;
    text-shadow:1px 1px 1px #fff;
}

.label {
	text-align:center;
	display:block;
	font-weight:normal;
	padding:2px 5px 2px 5px;
	padding:5px;
	font-size:11px;
	width:auto;
	text-shadow:1px 1px 1px rgba(0,0,0,0.2);
	margin-top:1px;
}
.arrow-to {
	min-height:100px;
	min-width:300px;
}
.arrow-to:after {
	content:">";
	font-size:60px;
	font-weight:bold;
	position:relative;
	top: -60px;
	left:90%;
	opacity: 0.15;
    filter: alpha(opacity=15);
    text-shadow:1px 1px 1px #fff;

}
.signin-container .form-actions{
    margin-left:-15px;
    margin-right:-35px;
    margin-bottom:-25px;
    background-color:transparent;
}
.add-machine {
	margin-top:-1px;
	font-size:12px !important;
}
.navbar-static-bottom a {
    color:#999;
    background-color:transparent !important;
}
.navbar-static-bottom .span3:hover,.navbar-static-bottom .span3:hover a {
    color:#777;
    background-color:transparent !important;
}
.navbar-static-bottom .nav:hover a:hover {
    color:#111;
    background-color:transparent !important;
}


.border {
    border:1px solid red !important;
}

.text-regular {
	font-weight:normal;
}
.row-fluid.text-small {

}
.row-border {
    border-bottom:2px solid #ddd;
}
.none {
    display:none;
}
h5 small {
    font-size:11px;
}
.text-small {
    font-size:11px;
}
.text-medium {
	font-size:12px;
}
.text-large {
	font-size:14px;
}
.bg-blue-lite {
	background-color: rgb(247, 250, 252);
	background-image: -webkit-linear-gradient(left, rgb(247, 250, 252), rgb(242, 245, 246));
}

th {
    text-align:left;
}
.box {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
}
.box-yellow {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fdf1d1;
	border: 1px solid #fce6ae;
}

.box-blue {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #dee4e9;
	border: 1px solid #d0ddea;
}
.box-blue h2 {
	color:#1c313d;
}
.box-blue .btn{
	background-color: #eee;
	border: 1px solid #949ca1;
	
}


.item-list-container {
	/*border:3px solid rgba(135,135,135,0.1);*/
	padding-right:2px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.item-list-container .item.header {
	text-align:left;
    font-weight:bold;
    white-space: nowrap;
    background-color:#fcfcfc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	border-top:1px solid #ddd;
}

.item {
    border:1px solid #ddd;
    border-top:none;
    font-size:12px;
}
.provisioning-item {
    padding-top: 5px;
}
.item-list-container .item.header {
	overflow:visible;
}

.item-list-container .item:hover {
    background:#f8f8f8;
}
.item-list-container .item:hover .item,.item-list-container .item:hover .item:hover {
    background:#fff;
}
.item-list-container .item .item > span {
}
.default-margin {
	margin:5px;
}
.default-margin-mini {
	margin:2px;
}

.item-list-container .item:hover .item.header,.item-list-container .item:hover .item.header:hover {
	background-color:#fcfcfc;
}

.item-list-container .item .item.header {
}

.item.selected {
    background:#f8f8f8;
}

.item-select {
	text-align:center;
	font-size:44px;
	color:#ccc;
	padding-top:10px;
}
.item-select:hover {
	color:#555;
}
.carousel-inner .item:hover {
    background:#fff;
}
.carousel-inner .item.header:hover {
	background-color:#fcfcfc;
}
.carousel-inner > .item{
/*	border:none;*/
/*	border:1px solid red !important;*/
}
.carousel-inner .item.header {
	min-height:40px;
	padding-top:10px;
}

.fixed-position-fix {
/*	height:30px;*/
}

.toolbox .button {
	width:95%;
    margin-bottom:3px;
    margin-top:2px;
}
.toolbox{
/*	display:block;*/
}

/*
	thumbnail begin
*/

.view-type-container {
/*	border:1px solid red;*/
	margin-top:-26px;
	padding:0;
	
}
.view-type-container-top-fix {
	margin-top:-22px;
}


.item-list-container.thumbnail .item {
	border:1px solid #ddd;
	padding:5px;
    font-size:12px;
/*	float:left;*/
	margin-bottom:5px;
	margin-right:2.127659574468085%;
	height:150px;
	min-height:200px;
}
.item-list-container.thumbnail .last {
	margin-right:0;
}
.item-list-container.thumbnail .item.span4 {
	width: 31.861702127659576%;
  *width: 31.861702127659576%;
}

/*
*/

.item-list-container.thumbnail .item .action-container{
	margin:-5px;
	margin-top:5px;
	padding:10px;
/*	border:1px solid red;*/
}


.item-list-container.thumbnail .item .action-container button{
	display:inline-block;
}

/*
	thumbnail end
*/

/*
	ribbon begin
*/

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  margin-top: -7px;
  margin-left: 128px;
}
.ribbon {
	font: bold 12px Sans-Serif;
	color: #333;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	position: relative;
	padding: 7px 0;
	left: -5px;
	top: 15px;
	width: 120px;
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fefefe)); 
	background-image: -webkit-linear-gradient(top, #fff, #fefefe);
	background-image:    -moz-linear-gradient(top, #fff, #fefefe); 
	background-image:     -ms-linear-gradient(top, #fff, #fefefe); 
	background-image:      -o-linear-gradient(top, #fff, #fefefe); 
	color: #888;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon:before, .ribbon:after {
	content: "";
	border-top:   3px solid #999;   
	border-left:  3px solid transparent;
	border-right: 3px solid transparent;
	position:absolute;
	bottom: -3px;
}
.ribbon :before {
  left: 0;
}
.ribbon:after {
  right: 0;
}

.ribbon-green {
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
}
.ribbon-green:before, .ribbon-green:after {
  border-top:   3px solid #933a1b;   
}

.ribbon-red:before, .ribbon-red:after {
  border-top: 3px solid #933a1b;   
}

.ribbon-red {
	text-shadow: rgba(0,0,0,0.2) 0px 1px 0px;
	background-color: #933a1b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ef6a3b), to(#cd3612)); 
	background-image: -webkit-linear-gradient(top, #ef6a3b, #cd3612); 
	background-image:    -moz-linear-gradient(top, #ef6a3b, #cd3612); 
	background-image:     -ms-linear-gradient(top, #ef6a3b, #cd3612); 
	background-image:      -o-linear-gradient(top, #ef6a3b, #cd3612); 
	color: #f9dad3;
}

.ribbon-orange:before, .ribbon-orange:after {
  border-top: 3px solid #8e4c11;   
}

.ribbon-orange {
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	background-color: #ef9514;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbc47), to(#ef9514)); 
	background-image: -webkit-linear-gradient(top, #ffbc47, #ef9514); 
	background-image:    -moz-linear-gradient(top, #ffbc47, #ef9514); 
	background-image:     -ms-linear-gradient(top, #ffbc47, #ef9514); 
	background-image:      -o-linear-gradient(top, #ffbc47, #ef9514); 
	color: #8e4c11;
}

.ribbon-blue:before, .ribbon-blue:after {
  border-top: 3px solid #8e4c11;   
}

.ribbon-blue {
	text-shadow: rgba(0,0,0,0.2) 0px 1px 0px;
	background-color: #496782;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5688a1), to(#496782)); 
	background-image: -webkit-linear-gradient(top, #5688a1, #496782); 
	background-image:    -moz-linear-gradient(top, #5688a1, #496782); 
	background-image:     -ms-linear-gradient(top, #5688a1, #496782); 
	background-image:      -o-linear-gradient(top, #5688a1, #496782); 
	color: #f2f9ff;
}



/*
	ribbon end
*/

.crop {
	display:block;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.crop.crop-long {
	padding-right:80px;
	margin-left:-57px;
}

.crop.crop-long:before {
	content:"Read more";
	font-size:11px;
	font-weight:bold;
	position:relative;
	top: 0px;
	left:100%;
	text-shadow:1px 1px 1px #fff;
}

p.margin-mini {
	margin-top:-10px;
}

#package-selected p {
    width:240px;
    clear:both;
}
#pricing {
}


.affix { position:fixed; top:280px; bottom: auto;}
.affix-bottom { position: fixed; top: auto; bottom: 395px;}


.listing span2,.listing span5, .listing .container{
	padding:0px;
}
.control-group .key,.control-group .value{
    border-bottom:none;
}
.control-group .key {
    padding-right:20px;
}
.control-group .value {
    text-align:right;
}


.gray {
    background-color: #eee;
    border: 1px solid #ddd;	
}
.text-gray {
	color:#999;
}

.round {
	-webkit-border-radius: 4px;
}

.pricing h4 {
    margin-bottom:5px;
}
.pricing {
    line-height:1.1em;
}
.alert-muted {
    color: #666;
    background-color: #eee;
    border-color:#ccc;
}
.alert-muted h1,.alert-muted h2, .alert-muted h3,.alert-muted h4{
    color: #444;
}

.align-right {
    text-align:right;
}

.noborder {
    border:none;
}
.affix {
    z-index:1 !important;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.shadow{
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.shadow-dark{
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
}

.price-container {
	border-top:1px solid rgba(155, 155, 155,0.5);
	border-bottom:1px solid rgba(155, 155, 155,0.5);
	padding:0px 0px 10px 0px;
	margin-top:10px;
}

.text-fix {
	padding-top:1px;
}
.icon {
	margin-top:-1px;
	margin-right:3px;
}

.carousel-inner {
    min-height:560px;
    max-height:560px;
    overflow-y:auto;
}

.selector-container {
    background-color:#fff;
    border:none;
    /*	border:1px solid red;*/
}


.slide-back{
    border:1px solid red;
    height:30px;
    width:10px;
    position:absolute;
    top:50%;
    z-index:100000000;
    margin-left:-10px;
    background-color:blue;
}
#affix-pricing-container #pricing{
    position:fixed;
    z-index:10;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#affix-pricing-container .affix { position: fixed; top: 40px; bottom: auto; }
#affix-pricing-container .affix-bottom { position: fixed; top: auto; bottom: 595px; }

div .disabled{
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.package-selector > div {
    padding:5px;
    margin-bottom:5px;
}

.modal  {
	z-index:100000000;
}
[class^="icon-"],
[class*=" icon-"] {
	background-image: url("../img/glyphicons-halflings.png");
}
.item.header [class^="icon-"],
.item.header [class*=" icon-"] {
	margin-top:3px;
}

.state {
/*	margin-right:5px !important;*/
}
.btn-mini {
/*	width:50px !important;*/
	padding: 0 6px !important;
}
.page-header {
    padding-bottom: 6px !important;
    margin: 40px 0 -15px !important;
    border-bottom: none !important;
}
.page-header form {
	padding-top:20px;
	padding-bottom:0px;
	margin:0px;
}
.sortable, .pointer {
	cursor:pointer;
}

.wrap {
	display: block;
	word-break: break-all;
	word-wrap: break-word;
}

.b {
	font-weight:bold;
}
.alert-global {
	margin-top:10px;
}

.status {
    padding: 5px;
}

.divider.dark {
	*width: 100%;
	height: 1px;
	margin: 9px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}
.last {
	border:none;
}
.hero-unit {
	padding:25px;
	margin-right:20px;
}
.fixed {
	position:fixed;
}
#zenbox_tab {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	width:42px;
	border:none;
}
.sizebar-fix {
	margin-top:-31px;
	display:block;
}
.tabs-right .nav-tabs {
	margin:0;
	width:100%;
}
.tabs-right .nav-tabs li,.tabs-right .nav-tabs li a {
	
}
.loading-small {
	background-image:url('../img/ajax-loader.gif');
	background-position:50% 50%;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	display:block;
}

.loading-medium {
	background-image:url('../img/icon-loading-medium.gif');
	background-position:50% 50%;
	background-repeat:no-repeat;
	min-height:60px;
	max-width:100%;
	min-width:50px;
}
.loading-large {
	background-image:url('../img/icon-loading-large.gif');
	background-position:50% 50%;
	background-repeat:no-repeat;
	height:100px;
	min-height:100px;
	max-width:100%;
    min-width: 1000px;
}

/*
	from joyent com to dashboard
*/

.separation-container {
	/*padding:10px 5px 10px 5px;*/
	/*margin-left:-1px;*/
	border-top:1px solid rgba(0,0,0,0.1);
	border-left:1px solid rgba(0,0,0,0.1);
}
.separation-container-top {
	border-left:none;
}

.feature1{
	background:url(../img/video-tile.jpg) no-repeat center bottom #99abba;
}
a .feature1 {
	color:#fff !important;
}
.feature1 > div {
	width:85%;
	padding:20px;
}
.feature1 > div h3 {
	font-family: Helvetica Neue;
	font-weight: normal;
}
.btn.btn-joyent-blue.disabled,
.btn.btn-joyent-blue[disabled],
.btn-joyent-blue,
.btn-joyent-blue:hover {
	background-image:url('../img/bg-button-blue.png');
	background-position:50% 50%;
	background-repeat:repeat-x;
	color:#fff;
	text-shadow:1px 1px 1px #375775;
	border-bottom:1px solid #28445e;
}
.btn {
    background-image: none;
    filter: none;
    border: 0;
    padding: 7px 14px;
    /*font-family: "Segoe UI", Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn[disabled],
.btn.disabled {
    color: #333333;
    background-color: #d8d8d8 !important;
    cursor: default !important;
    opacity: 0.35;
    filter: alpha(opacity=35);
}

.btn.red-stripe
{
    border-left: 3px solid #d84a38;
}

.btn.blue-stripe
{
    border-left: 3px solid #4d90fe;
}

.btn.purple-stripe
{
    border-left: 3px solid #852b99;
}

.btn.green-stripe
{
    border-left: 3px solid #35aa47;
}

.btn.yellow-stripe {
    border-left: 3px solid #ffb848;
}
.btn.light-blue {
    color: #ff6600;
    text-shadow: none;
    font-weight: bold;
    background-color: #f1f1f1;
    width: auto;
    min-height: 20px ! important;
    line-height: 6px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;

}
.btn.light-blue:hover,
.btn.light-blue:focus,
.btn.light-blue:active,
.btn.light-blue.active,
.btn.light-blue.disabled,
.btn.light-blue[disabled] {
    background-color: #f1f1f1 !important;
    color: #ff6600 !important;
}

.btn.orange {
    color: white;
    text-shadow: none;
    background-color: #ff6600;
    min-width: 100px;
}
.btn.orange:hover,
.btn.orange:focus,
.btn.orange:active,
.btn.orange.active,
.btn.orange.disabled,
.btn.orange[disabled] {
    background-color: #ff6600 !important;
    color: #fff !important;
}

.btn.light {
    color: #ff6600;
    text-shadow: none;
    background-color: #f3f3f3;
    font-size: 16px;
}

.btn_stat{
    width: 240px !important;
    height: 55px;
}

/*  Red */
.btn.red,
.page-content .breadcrumb a.red, .page-content .breadcrumb a.red i
{
    color: white;
    text-shadow: none;
    /*background-color: #d84a38;*/
    background-color: #ff6600;
}
.btn.red:hover,
.btn.red:focus,
.btn.red:active,
.btn.red.active,
.btn.red[disabled],
.btn.red.disabled,
.page-content .breadcrumb a.red:hover, .page-content .breadcrumb a.red:hover i,
.page-content .breadcrumb a.red:focus, .page-content .breadcrumb a.red:focus i,
.page-content .breadcrumb a.red:active, .page-content .breadcrumb a.red:active i

{
    /*background-color: #bb2413 !important;*/
    background-color: #ff6600 !important;
    color: #fff !important;
}

/*  Blue */
.btn.transparent
{
    color: black;
    text-shadow: none;
    background-color: transparent;
}

.btn.blue
{
    color: white;
    text-shadow: none;
    background-color: #94afca;
}
.btn.blue:hover,
.btn.blue:focus,
.btn.blue:active,
.btn.blue.active,
.btn.blue[disabled],
.btn.blue.disabled {
    background-color: #94afca !important;
    color: #fff !important;
}

/*  Green */
.btn.green {
    color: black;
    text-shadow: none;
    background-color: #afd46c;
}
.btn.green:hover,
.btn.green:focus,
.btn.green:active,
.btn.green.active,
.btn.green.disabled,
.btn.green[disabled]{
    background-color: #afd46c !important;
    color: #000 !important;
}
.btn.grey_new {
    color: white;
    text-shadow: none;
    background-color: #999999;
}
.btn.grey_new:hover,
.btn.grey_new:focus,
.btn.grey_new:active,
.btn.grey_new.active,
.btn.grey_new.disabled,
.btn.grey_new[disabled]{
    background-color: #999999 !important;
    color: #ffffff !important;
}

/*  Purple */
.btn.purple {
    color: white;
    text-shadow: none;
    background-color: #405f7c;
}
.btn.purple:hover,
.btn.purple:focus,
.btn.purple:active,
.btn.purple.active,
.btn.purple.disabled,
.btn.purple[disabled] {
    background-color: #405f7c !important;
    color: #fff !important;
}

.alert-joyent-blue {
	background:#eaf0f6;
	border:1px solid #dee4ea;
	color:#30566a;
}
.alert-joyent-blue h1,
.alert-joyent-blue h2,
.alert-joyent-blue h3,
.alert-joyent-blue h4,
.alert-joyent-blue h5,
.alert-joyent-blue h6 {
	color:#30566a;
}

.alert-joyent-gray {
	background:#f5f5f5;
	border:1px solid #ddd;
	color:#555;
}
.alert-joyent-gray h1,
.alert-joyent-gray h2,
.alert-joyent-gray h3,
.alert-joyent-gray h4,
.alert-joyent-gray h5,
.alert-joyent-gray h6 {
	color:#555;
}

.iframe-no-border {
    border: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
iframe {
	border: 0px;
	padding:0px;
	margin:0px;
}


.video {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 640px;
    margin-left: -320px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.notification-wrapper {
    padding-top: 15px;
}

/* add-credit-card directive CSS */

.red-asterix {
    color: red;
}

.error {
    font-weight: bold;
    color: red;
}

.asterix-info {
    color: #b3b3b3;
}

.modal-header.message, .modal-header.confirm {
    background-color: #ff6600;
}
.modal-header.error {
    background-color: #ff0000;
}

.modal-header {
    color: white;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}
.icon-info-sign, .icon-warning-sign, .icon-question-sign{
    background-image: url(../../../../static/img/glyphicons-halflings-white.png) !important;
    padding-right: 2px;
}
.content-container-inner {
    padding-bottom: 55px;
    padding-left: 45px;
}
.select2-results .select2-result-label {
    padding-left: 10px;
}
.select2-choice span{
    color: rgb(51, 51, 51);
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.no-breadcrumb{
    padding-top: 41px;
    border-bottom: 1px solid #ffffff;
}
.no-breadcrumb-line{
    padding-top: 41px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.table-bordered {
    border-collapse: separate;
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 !important;
}
table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
    font-size: 16px;
    overflow: auto;
}
.table-bordered th, .table-bordered td {
    padding-left: 15px;
    border-left: 0 none !important;
    border-right: 0 none !important;
}
.table th, .table td {
    padding-right: 25px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    border-top: none;
    white-space: nowrap;
}
.table td a{
    color: #375675;
    text-decoration: none;
}
.table .checkbox{
    padding-left: 2px;
}
.table .table-title{
    color: #666666;
    font-size: 16px;
}
.table .table-title.active{
    color: #000000;
}
.table > thead th{
    height: 37px;
    padding-top: 12px;
    padding-bottom: 2px;
}
.table > tbody td{
    height: 38px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f4f4f4;
}
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
    background-color: #f9f9f9;
}