<div class="container-fluid content-container">
    <div class="container content-container-inner">
        <div class="container">

		<div data-ng-switch="subview">
			
		    <div data-ng-switch-when="index" data-ng-controller="cloudController">
				<data-breadcrumb></data-breadcrumb>
				<div class="page-header">
	                <h1 class="pull-left">Instance analytics <small>{{zoneId}}</small></h1>
					<div class="clearfix"></div>
	            </div>
	            
				<div class="container span8 listing text-medium">
					<div class="well well-small">
	                	<span class="span2 text-fix pointer text-small" data-ng-click="zoomIn()"><i class="icon icon-zoom-in" title="zoom in the graph"></i> Zoom In for closer look</span>
	                	<span class="span2 text-fix pointer text-small" data-ng-click="zoomOut()"><i class="icon icon-zoom-out" title="zoom out the graph"></i> Zoom Out for overview</span>
	                	<span class="span1 text-fix pointer text-small" data-ng-hide="frozen" data-ng-click="pause()"><i class="icon icon-pause" title="freeze the graph"></i> Pause</span>
	                	<span class="span2 text-fix pointer text-small" data-ng-show="frozen" data-ng-click="run()"><i class="icon icon-play" title="resume graph"></i> Run again</span>
					</div>
                    <div data-ng-show="help[current.metric.module]" class="alert alert-info text-small">
                        <span data-ng-show="help[current.metric.module].generic">
							<h6>{{current.metric.labelHtml.split(':')[0]}}</h6> 
							<p class="margin-mini crop crop-long pointer">{{help[current.metric.module].generic}}</p>

                        <span data-ng-show="help[current.metric.module][current.metric.module + '.' +current.metric.stat]">
								<h6>{{ current.metric.labelHtml }}</h6>
								<p class="margin-mini crop crop-long pointer">{{help[current.metric.module][current.metric.module + '.' +current.metric.stat]}}</p>
							</span>
                    </div>

		        	<graph data-ng-repeat="i in graphs" instrumentations="i.instrumentations" range="currentRange" frozen="frozen" endtime="endtime" graphtitle="i.title" ca="i.ca"></graph>
					<div class="clearfix"></div>
					
				</div>
				<div class="pull-right alert alert-info span3">
					<h5>Choose your components</h5>

					<select ng-show="zones.final" data-ng-model="zoneId" data-ng-options="item.id as item.name for item in zones">
	                    <option value="">-- Choose Instance --</option>
	                </select>
					<div class="clearfix"></div>
			            <!-- <span data-translate>Currently selected zone id</span>: {{zoneId}} -->
			        <select ng-show="metrics" data-ng-model="current.metric" data-ng-change="changeMetric()" ng-required data-ng-options="metric.labelHtml for metric in metrics">
			            <option value="">-- Choose Metric --</option>
			        </select>
					<div class="clearfix"></div>
			        <span class="nullable">
			            <select ng-show="current.metric" data-ng-model="current.decomposition.primary" data-ng-change="changeDecomposition()" data-ng-options="key as val for (key, val) in current.metric.fields">
			                <option value="">-- None --</option>
			            </select>
						<div class="clearfix"></div>
			        </span>
					<div class="clearfix"></div>
			        <span class="nullable">
			            <select ng-show="current.decomposition.primary" data-ng-model="current.decomposition.secondary" data-ng-options="key as val for (key, val) in current.decomposition.secondaryF">
			                <option value="">-- None --</option>
			            </select>
			        </span>
	                <div class="clearfix"></div>

					<button class="btn" data-ng-click="createInstrumentation()" data-ng-disabled="!zoneId || !current.metric">Create</button> 
					<button class="btn" data-ng-click="deleteAllInstrumentations()" data-ng-disabled="graphs.length == 0">Delete All</button>
					<h5>Use default instrumentation</h5>
					<p class="text-small">This is precompiled list of instrumntations and contains /../ </p>
					<button class="btn btn-info" data-ng-click="createDefaultInstrumentations()" data-ng-disabled="!zoneId">Create Defaults</button>
				</div>
				


		    </div>
		</div>
	</div>
	</div>
</div>