<div class="container-fluid content-container">
    <div class="container content-container-inner">
        <div class="container">

		<div data-ng-switch="subview">
			
		    <div data-ng-switch-when="index" data-ng-controller="cloudController">
				<data-breadcrumb></data-breadcrumb>

	            <div class="page-header">

	                <h1>Machine analytics <small>{{zoneId}}</small></h1>
	            </div>
                <select ng-show="zones.final" data-ng-model="zoneId" data-ng-options="item.id as item.name for item in zones">
                    <option value="">-- Choose Machine --</option>
                </select>
		            <!-- <span data-translate>Currently selected zone id</span>: {{zoneId}} -->
		        <select ng-show="metrics" data-ng-model="current.metric" data-ng-change="changeMetric()" ng-required data-ng-options="metric.labelHtml for metric in metrics">
		            <option value="">-- Choose Metric --</option>
		        </select>
		        <span class="nullable">
		            <select ng-show="current.metric" data-ng-model="current.decomposition.primary" data-ng-change="changeDecomposition()" data-ng-options="key as val for (key, val) in current.metric.fields">
		                <option value="">-- None --</option>
		            </select>
		        </span>
		        <span class="nullable">
		            <select ng-show="current.decomposition.primary" data-ng-model="current.decomposition.secondary" data-ng-options="key as val for (key, val) in current.decomposition.secondaryF">
		                <option value="">-- None --</option>
		            </select>
		        </span>
                <!--<br/>-->
                <!--Graph range:-->
                <!--<select data-ng-model="currentRange" data-ng-options="val as val for (key, val) in ranges">-->
                    <!--<option value="">-- Choose Range --</option>-->
                <!--</select>-->
                <!--<br/>-->
                <!--Frozen:-->
                <!--<input type="checkbox" data-ng-model="frozen">-->

                <br/><br/>
                <i class="icon-zoom-in" data-ng-click="zoomIn()" ></i>
                <i class="icon-zoom-out" data-ng-click="zoomOut()" ></i>
                <i class="icon-pause" data-ng-click="pause()" ></i>
                <i class="icon-play" data-ng-click="run()" ></i>
                <br/><br/>
		        <button data-ng-click="createInstrumentation()" data-ng-disabled="!zoneId || !current.metric">Create</button> <button data-ng-click="deleteAllInstrumentations()" data-ng-disabled="instrumentations.length == 0">Delete All</button>
                <button data-ng-click="createDefaultInstrumentations()" data-ng-disabled="!zoneId">Create default instrumentations</button>

		        <br/><br/><br/>
		        <graph data-ng-repeat="i in instrumentations" instrumentations="i.instrumentations" range="currentRange" frozen="frozen" endtime="endtime" graphtitle="i.title" ca="i.ca"></graph>
		    </div>
		</div>
	</div>
	</div>
</div>