doctype html
html(lang='en',data-ng-app='JoyentPortal')
    head
        meta(charset='utf-8')
        meta(name='fragment',content='!')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        case statusCode
            when 404
                title Page not found
            default
                title Internal server error

        link(rel='stylesheet',href='/static/css/error.css',type='text/css')
     body(class='error-body')
          div(class='error-brand')
          div(class='error-container')
           case statusCode
            when 404
                 h1(class='error-h1') 404 Error
                 p(class='error-p') Unfortunately the page you are<br />looking for could not be found.
            when 403
                 h1(class='error-h1') Access Denied
                 p(class='error-p') #{message}. See your administrator.
                 a(href="/") Try again
            default
                 h1(class='error-h1') General Error
                 p(class='error-p') Joyent cloud service is temporarily unavailable.<br/>We apologize for the inconvenience and suggest trying again in a few minutes.<br/>If the issue persists, please contact&nbsp;
                    a(href="https://help.joyent.com/anonymous_requests/new", target="_blank") Joyent Support
                    | .
          div(class='error-footer')
              a(href="http://www.joyent.com/", target="_blank") Joyent.com
              a(href="http://www.joyent.com/tos", target="_blank") Terms of Service
              a(href="http://www.joyent.com/company/policies", target="_blank") Policies
              a(href="http://www.joyent.com/company/security-and-compliance", target="_blank") Compliance
              a(href="https://help.joyent.com/forums/20715782-current-system-status", target="_blank") System Status
              a(href="http://apidocs.joyent.com/cloudapi/", target="_blank") API
              span &copy; #{currentYear} Joyent, Inc.