doctype 5
html(lang='en',data-ng-app='JoyentPortal')
  head
    meta(charset='utf-8')
    meta(name='fragment',content='!')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Browser not supported

    link(rel='stylesheet',href='/static/css/error.css',type='text/css')
    body(class='error-body')
      div(class='error-brand')
      div(class='error-container')
          h1(class='error-h1') General Error
          p(class='error-p') Your browser is not supported!
      div(class='error-footer')
        a(href="http://www.joyent.com/", target="_blank") Joyent.com
        a(href="http://www.joyent.com/tos", target="_blank") Terms of Service
        a(href="http://www.joyent.com/company/policies", target="_blank") Policies
        a(href="http://www.joyent.com/company/security-and-compliance", target="_blank") Compliance
        a(href="https://help.joyent.com/forums/20715782-current-system-status", target="_blank") System Status
        a(href="http://apidocs.joyent.com/cloudapi/", target="_blank") API
        a &copy; 2013 Joyent, Inc.
