doctype 5
html(lang='en',data-ng-app='JoyentPortal')
  head
    meta(charset='utf-8')
    meta(name='fragment',content='!')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Your browser is not supported!

    body
      div We are sorry to tell you this but the browser you are using is not supported by our site

