<div class="modal" tabindex="-1" data-backdrop="static" data-focus-on="button">
    <div class="modal-header confirm">
        <h5><i class="glyphicon glyphicon-question-sign"></i>  <b>{{ title }}</b></h5>
    </div>
    <div class="modal-body">
        <p data-ng-if="message.body" data-ng-bind-html="message.body"></p>
        <p data-ng-if="message.templatePath" data-ng-include="message.templatePath"></p>
        <p data-ng-if="!message.body && !message.templatePath" data-ng-bind-html="message.concatenated"></p>
    </div>
    <div class="modal-footer">
        <p data-ng-show="message.footer" data-ng-bind-html="message.footer"></p>
        <button data-tabindex="{{btn.datatabindex}}" data-button-focus="{{ btn.setFocus }}" ng-repeat="btn in buttons" ng-click="close(btn.result)" class="btn" ng-class="btn.cssClass">{{ btn.label }}</button>
    </div>
</div>