<div class="container-fluid container-position" data-ng-controller="mdbDetailController">
    <div data-breadcrumbs></div>
    <div class="row">
        <h3 class="page-title">Node.js Debugger</h3>
    </div>
    <div class="beta-sticker">beta</div>
    <div class="row" data-ng-show="!loading">
        <div class="column mdb-common-container">
            <table class="mdb-common-table">
                <tr>
                    <td class="mdb-column-label file-label">File:
                        <span data-ng-hide="inputFile.length" class="file-name">Not selected</span>
                        <span data-ng-repeat="file in inputFile"
                              data-ng-show="$last"
                              data-tooltip-full-text
                              data-type="dotdotdot"
                              data-original-title="{{file.filePath | name}}"
                              class="file-name">{{(file.filePath | name) || 'Not selected'}}</span>
                    </td>
                    <td>
                        <button class="btn effect-orange-button orange pull-right debugger-action-btn" data-ng-class="{'light' : objects.length || inputFile.length != 0}" data-select-file data-objects="inputFile" data-ng-click="selectFile()">Select File</button>
                    </td>
                </tr>
                <tr>
                    <td class="mdb-column-label">Status: {{status}}</td>
                    <td data-ng-if="!jobId && !objects.length">
                        <button class="btn orange pull-right debugger-action-btn"
                                data-ng-class='{"disabled grey-new": inputFile.length == 0}'
                                data-ng-click="process()">Process Now</button>
                    </td>
                    <td data-ng-if="jobId && !objects.length">
                        <button class="btn orange effect-orange-button pull-right debugger-action-btn"
                                data-ng-class='{"grey-new": inputFile.length == 0}'
                                data-ng-click="cancel()">Cancel</button>
                    </td>
                    <td data-ng-if="objects.length">
                        <button class="btn orange effect-orange-button pull-right debugger-action-btn"
                                data-ng-class='{"disabled": inputFile.length == 0}'
                                data-ng-click="process()">Re-Process</button>
                    </td>
                </tr>
                <tr><td colspan="2"><div class="estimate-time">Estimating processed time: {{estimateTime}} minutes</div></td></tr>
                <tr>
                    <td class="mdb-column-label">Node.js support status: {{supportStatus}}</td>
                    <td><button class="btn orange effect-orange-button grey-new pull-right debugger-action-btn" data-ng-click="clickSignup()">Signup for Node.js</button></td>
                </tr>

            </table>
        </div>
        <div class="column mdb-counters-container">
            <table class="mdb-counters-table">
                <tr class="mdb-counter-row" ng-repeat="(counter, nums) in counters">
                    <td>{{nums}}</td>
                    <td>{{counter}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="loading-large col-md-12" data-ng-show="loading"></div>
    <div class="row" data-ng-show="!loading">
        <div class="pull-left col-md-8">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_objects">
                            Debug Objects
                        </span>
                    </div>
                    <div id="collapse_objects" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div data-grid-view
                                     data-user-config="gridUserConfig"
                                     data-props="gridProps"
                                     data-columns-button="columnsButton"
                                     data-image-button-show="false"
                                     data-items="objects"
                                     data-multisort="false"
                                     data-order="gridOrder"
                                     data-paginated="true"
                                     data-perPage="25"
                                     data-export-fields="exportFields"
                                     data-tab-filter-field="tabFilterField"
                                     data-tab-filter-default="tabFilterDefault">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_modules">
                            Modules Tree
                        </span>
                    </div>
                    <div id="collapse_modules" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div data-tree data-objects="modules" data-array-name="'name'" data-no-checkbox></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
