<div class="container-fluid container-position" data-ng-controller="mdbController">
    <div class="page-header">
        <h3 class="page-title">Node.js Debugger Jobs</h3>
        <div class="beta-sticker left-part">beta</div>
        <div class="header-btn-ci create-new-job-btn-pos right-part">
            <a href="#!/mdb/create" class="btn btn-big orange align-text-btn" ><i class="plus-btn-icon"></i> Create
                New Debugger Job</a>
        </div>
    </div>
    <div class="row-fluid">
        <h3 class="page-title"></h3>
    </div>
    <div class="loading-large" data-ng-show="loading"></div>
    <div class="row-fluid">
        <div data-ng-hide="loading || objects.length">
            Standard limit of two instances per data center apply for you.
        </div>
        <div data-ng-show="objects.length">
            <div data-grid-view
                 data-user-config="gridUserConfig"
                 data-props="gridProps"
                 data-columns-button="columnsButton"
                 data-image-button-show="false"
                 data-items="objects"
                 data-multisort="false"
                 data-order="gridOrder"
                 data-export-fields="exportFields"
                 data-paginated="false"
                 data-tab-filter-field="tabFilterField"
                 data-tab-filter-default="tabFilterDefault">
            </div>
        </div>
    </div>
</div>
