<div class="container-fluid container-position" data-ng-controller="mdbController">
    <div class="page-header">
        <h3 class="page-title">Node.js Debugger Jobs</h3>
        <div class="beta-sticker">beta</div>
        <div class="page-title-btn" data-ng-hide="loading">
            <button type="button" data-ng-click="addNewJob()" class="btn btn-big orange align-text-btn"><i class="plus-btn-icon"></i>Create
                New Debugger Job</button>
        </div>
    </div>

    <div class="loading-large" data-ng-show="loading"></div>
    <div class="row">
        <div data-ng-show="!loading && !mantaUnavailable">
            <div data-grid-view
                 data-user-config="gridUserConfig"
                 data-props="gridProps"
                 data-columns-button="columnsButton"
                 data-image-button-show="false"
                 data-items="objects"
                 data-multisort="false"
                 data-order="gridOrder"
                 data-paginated="true"
                 data-perPage="25"
                 data-export-fields="exportFields"
                 data-tab-filter-field="tabFilterField"
                 data-tab-filter-default="tabFilterDefault"
                 data-enabled-checkboxes="enabledCheckboxes"
                 data-action-buttons="gridActionButtons"
                 data-no-entries-message="{{gridNoEntriesMessage}}"
                 data-checked-items="checkedItems">
            </div>
        </div>
    </div>
    <div data-ng-show="mantaUnavailable && !loading" class="grid-no-entries">{{gridNoEntriesMessage}}</div>
</div>
