div.debug{
    display:block;

    /*set the div in the bottom right corner*/
    position:absolute;
    bottom:0;
    right:0;
    width:400px;
    height:200px;

    /*give it some background and border*/
    background:#eee;
    border:1px solid #ddd;
}

div.jobs {
    width: 200px;
    overflow: scroll;
}

div.events{
    width: 200px;
    overflow: scroll;
}
