.caOverlaid {
	position: relative;
    width: 580px;
}

.caOverlaid * {
	position: absolute;
	top: 0;
	left: 0;
}
.breadcrumb {
    margin-bottom: 5px;
    background-color: transparent !important;
    padding: 10px 0 !important;
}
.breadcrumb > .active {
    color: #ff6600;
}
.breadcrumb > li {
    display: inline-block;
    text-shadow: none;
    color: #a9a9a9;
}
.alert-info{
    width: 210px;
    background: #fef1d2;
    border: 0;
    color: #000000;
    border-radius: 0;
    padding: 25px 20px 25px 20px;
}
.alert-info h5{
    text-shadow: none;
}
.alert-info .select2-container {
    margin-bottom: 10px;
}
.alert-info p{
    font-size: 14px;
    font-weight: 300;
    text-shadow: none;
}
.rickshaw_legend ul>li{
    margin-left: 20px !important;
}
.rickshaw_legend {
    padding: 12px 0;
}
.margin_btn_0{
    margin-bottom: 0 !important;
}
.start-analytics-btn{
    text-align: left;
    width: 210px;
    margin-bottom: 25px;
    margin-top: 5px;
}
.opt-title {
    padding-top: 20px;
    border-top: 1px solid #cbc1a8;
}

.icon-zoom-in,
.icon-zoom-out {
    width: 34px;
    height: 34px;
    background: no-repeat center center;
    background-size: 24px;
}
.icon-zoom-in:hover {
    background-image: url(../img/zoomin-white.png);
}
.icon-zoom-in,
.icon-zoom-in:disabled {
    background-image: url(../img/zoomin.png);
}
.icon-zoom-out:hover {
    background-image: url(../img/zoomout-white.png);
}
.icon-zoom-out,
.icon-zoom-out:disabled {
    background-image: url(../img/zoomout.png);
}
.options-ctrl{
    background-color: #fffbf2 !important;
    padding: 0 6px;
    min-width: 10px;
    text-shadow: none;
    color: #f60;
    height: 34px;
    margin-top: 1px;
}
.chart-info{
    display: block;
    padding-bottom: 10px;
}
.chart-info span{
    text-align: left;
}
.name-chart{
    width: 120px;
    color: #375675;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
}
.value-chart, .value-chart-in{
    display: inline-block;
    font-size: 15px;
    width: 500px;
}
.value-chart{
    color: #000;
    font-weight: 500;
}
.value-chart-in{
    color: #666;
    font-weight: 300;
}
.btid{
    text-decoration: none;
    color: #f60;
    font-size: 16px;
    font-weight: 500;
}
.toggle-graf-width{
    width: 94%;
}
.toggle-graf-width button{
    background-color: #e9eff4!important;
}
.del-btn-graf{
    width: 43px;
    height: 36px;
}
.rickshaw_legend{
    background-color: transparent;
    color: #333333;
    padding: 0;
    cursor: default;
}
.rickshaw_graph {
    max-width: 485px !important;
}
.rickshaw_legend .line .swatch {
    border-radius: 0 !important;
    vertical-align: middle;
    cursor: default;
}
.heatmap-pos{
    vertical-align: top;
    padding-left: 10px;
}
.graf-radio-group {
    padding-bottom: 44px;
    position: relative;
    float: right;
    margin-top: -44px;
    padding-right: 75px;
}
.chart-padding{
    padding-bottom: 7px;
}
.btn.grey {
    margin-top: 20px;
    background-color: #ebebeb;
    color: #f60;
    text-shadow: none;
    font-size: 15px;
}
.btn.pull-right {
    clear: right;
}

.charts-container {
    width: 700px;
    padding-bottom: 25px;
}

.separator-line {
    border-bottom: 1px solid #ccc;
}
