.caOverlaid {
    position: relative;

    width: 580px;
}

.rickshaw_legend ul > li {
    margin-left: 20px;
}

.rickshaw_legend {
    padding: 12px 0;
}

.below-zero {
    margin-bottom: 0;
}

.start-analytics-btn {
    width: 210px;
    margin-top: 5px;
    margin-bottom: 25px;

    text-align: left;
}

.opt-title {
    padding-top: 20px;

    border-top: 1px solid #cbc1a8;
}

.icon-zoom-in,
.icon-zoom-out {
    width: 34px;
    height: 34px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
}

.icon-zoom-in:hover {
    background-image: url(../img/zoomin-white.png);
}

.icon-zoom-in,
.icon-zoom-in:disabled {
    background-image: url(../img/zoomin.png);
}

.icon-zoom-out:hover {
    background-image: url(../img/zoomout-white.png);
}

.icon-zoom-out,
.icon-zoom-out:disabled {
    background-image: url(../img/zoomout.png);
}

.chart-info {
    display: block;

    padding-bottom: 10px;
}

.chart-info span {
    text-align: left;
}

.name-chart {
    display: inline-block;

    width: 120px;

    color: #375675;

    font-size: 15px;
    font-weight: 300;
}

.value-chart,
.value-chart-in {
    display: inline-block;

    width: 500px;

    font-size: 15px;
}

.value-chart {
    color: #000;

    font-weight: 500;
}

.value-chart-in {
    color: #666;

    font-weight: 300;
}

.btid {
    text-decoration: none;

    color: #f60;

    font-size: 16px;
    font-weight: 500;
}

.del-btn-graf {
    width: 43px;
    height: 36px;
    margin-right: -42px;
}

.heatmap-pos {
    padding-left: 35px;

    vertical-align: top;
}

.graf-radio-group {
    position: relative;

    float: right;

    margin-top: -44px;
    padding: 0 45px 44px 0;
}

.chart-padding {
    padding-bottom: 7px;
}

.btn.grey {
    margin-top: 20px;

    color: #f60;
    background-color: #ebebeb;
    text-shadow: none;

    font-size: 15px;
}

.btn.pull-right {
    clear: right;
}

.charts-container {
    width: 700px;
    padding-bottom: 25px;
}

.separator-line {
    border-bottom: 1px solid #ccc;
}

.cloud-container {
    box-sizing: content-box;
}
