<div class="modulizer-module-left ">
    <div class="page-sidebar nav-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-ng-click="sideBarMenu()">
        <li class="start active">
            <a href="#!/dashboard">
                <i class=""></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="second">
            <a href="#!/instance">
                <i class=""></i>
                <span class="title">Compute</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="three">
            <a href="#!/storage">
                <i class=""></i>
                <span class="title">Storage</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <div class="sidebar-toggler" data-ng-click="sideBarMin()"></div>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
</div>