<div class="modulizer-module-left" ng-class="{'sidebar-toggler-closed': sideBarMin}">
    <div class="page-sidebar nav-collapse collapse" ng-class="{'sidebar-toggler-closed': sideBarMin}">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li>
            <div class="sidebar-toggler" data-ng-class="{'sidebar-toggler-back': sideBarMin}" data-ng-click="toggleSideBar()"></div>
        </li>
        <li class="single dashboard-icon" ng-class="{active: location.path().search('dashboard') == 1, over: t_start && sideBarMin}" data-ng-mouseenter="t_start=true" ng-mouseleave="t_start=false">
            <a href="#!/dashboard">
                <i class=""></i>
                <span class="title" data-ng-show="!sideBarMin || t_start">Dashboard</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nested compute-icon" data-ng-class="{active: location.path().search('compute') == 1 ||
                                                   location.path().search('slb') == 1 ||
                                                   location.path().search('firewall') == 1 ||
                                                   location.path().search('images') == 1, over: t_second && sideBarMin, collapses: sideBarMin}" data-ng-mouseenter="t_second=true" ng-mouseleave="t_second=false">
                <a href="#!/compute/">
                <i class=""></i>
                <span class="title" data-ng-show="!sideBarMin || t_second">Compute</span>
                <span class="selected"></span>
            </a>
            <ul class="sub-menu">
                <li class="sub0" data-ng-class="{active: location.path().search('compute') == 1}">
                    <a href="#!/compute/">
                        <span class="titles" data-ng-show="!sideBarMin || t_second">Instances</span>
                        <span class="selected-sub"></span>
                    </a>
                </li>
                <li class="sub1" data-ng-class="{active: location.path().search('slb') == 1}" data-ng-show="features.slb != 'disabled'"><a href="#!/slb"><span class="titles" data-ng-show="!sideBarMin || t_second" data-translate>Load Balancers</span><span class="selected-sub"></span></a></li>
                <li class="sub2" data-ng-class="{active: location.path().search('firewall') == 1}" data-ng-show="features.firewall != 'disabled'"><a href="#!/firewall"><span class="titles" data-ng-show="!sideBarMin || t_second" data-translate>Firewall</span><span class="selected-sub"></span></a></li>
                <li class="sub3" data-ng-class="{active: location.path().search('images') == 1}" data-ng-show="features.imageUse != 'disabled'"><a href="#!/images"><span class="titles" data-ng-show="!sideBarMin || t_second">Images</span><span class="selected-sub"></span></a></li>
            </ul>
        </li>
        <li class="nested storage-icon" data-ng-class="{active: location.path().search('storage') == 1 ||
                                                  location.path().search('fileman') == 1, over: t_three && sideBarMin, collapses: sideBarMin}" data-ng-mouseenter="t_three=true" ng-mouseleave="t_three=false">
            <a href="#!/storage/">
                <i class=""></i>
                <span class="title" data-ng-show="!sideBarMin || t_three" >Storage</span>
                <span class="selected"></span>
            </a>
            <ul class="sub-menu" data-ng-show="features.manta == 'enabled'">
                <li class="sub0" data-ng-class="{active: location.path().search('storage') == 1 && location.path() != '/storage/history'}">
                    <a href="#!/storage/">
                        <span class="titles" data-ng-show="!sideBarMin || t_three">Manta</span>
                        <span class="selected-sub"></span>
                    </a>
                </li>
                <li class="sub0" data-ng-class="{active: location.path().search('storage.history') == 1}"><a href="#!/storage/history"><span class="titles" data-ng-show="!sideBarMin || t_three" data-translate>Job History</span><span class="selected-sub"></span></a></li>
                <li class="sub0" data-ng-class="{active: location.path().search('fileman') == 1}"><a href="#!/fileman"><span class="titles" data-ng-show="!sideBarMin || t_three" data-translate>File Manager</span><span class="selected-sub"></span></a></li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
</div>
