<div class="container">
    <h4>Load Balancer Controller is Running</h4>
    <table class="table table-striped table-bordered table-hover table-full-width">
    <thead>
        <tr>
            <th class="hidden-480 ">
                <label class="checkbox" >
                    <div class="checker" data-ng-class="{hover:shows}" data-ng-mouseenter="shows = true" data-ng-mouseleave="shows = false">
                        <span data-ng-click="selectAllCheckbox()" data-ng-class="{checked:checkedCheckBox}">
                            <input type="checkbox" class="group-checkable" data-set="#insTable .checkboxes"  value="">
                        </span>
                    </div>
                </label>
            </th>
                <th class="table-title sortable"><div class="block">Image Name</div>
                <th class="table-title sortable"><div class="block">Owner</div>
                <th class="table-title sortable"><div class="block">Status</div>
                <th class="table-title sortable"><div class="block">Health</div>
                <th class="table-title sortable"><div class="block">Creation Date</div>
                <th class="table-title sortable"><div class="block">TAG = Env</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <!--<tr data-ng-repeat="item in items">-->
            <td width="10"><input type="checkbox" class="group-checkable" value=""></td>
            <td ><a href="#">Web Server</a></td>
            <td>Joe</td>
            <td>Active</td>
            <td>4/4</td>
            <td>10-10-2014</td>
            <td>Production</td>
        </tr>
    </tbody>
    </table>
    <button data-ng-click="" class="btn btn-joyent-blue pull-right" data-translate="" style="margin: 0 0 20px 0;"><span class="ng-scope">Create New Load Balancer</span></button>

</div>