<form id="certificate_upload_form" action="elb/certificates?callback=window.top.window.__uploadCallback__"
      target="certificate_upload_target" enctype="multipart/form-data" method="post" style="margin: 0">
    <input id="certificate_upload_file" name="certificate" type="file" style="display: none">
    <label for="certificate_upload_file" id="certificate_upload_btn" data-ng-hide="model && model != '00000000-0000-0000-0000-000000000000'"
            data-ng-click="upload()" class="btn btn-joyent-blue pull-right">
        <span class="ng-scope" data-translate>Upload Certificate</span>
    </label>
    <button data-ng-show="model && model != '00000000-0000-0000-0000-000000000000'" data-ng-click="remove()"
            class="btn btn-joyent-blue pull-right">
        <span class="ng-scope" data-translate>Remove Certificate</span>
    </button>
</form>
<iframe id="certificate_upload_target" name="certificate_upload_target" src="/main/elb/blank"
        style="display: none"></iframe>