<div class="container">
    <div data-notification></div>
    <h4 data-ng-show="creating">Go get a coffee or two, might be ready when you come back.</h4>
    <div class="loading-large" data-ng-show="!loaded || creating"></div>
    <div class="span12" data-ng-show="loaded && !creating">
        <h3 data-translate>Do you want to enable the Load Balancer feature for your account?</h3>

        <div data-ng-include="'elb/static/templates/eula.html'"></div>
        <div class="accept-checkbox">
            <input type="checkbox" data-ng-click="licenseAccept()"/>
            <span data-translate>I accept the terms of the end user license agreement above.</span>
        </div>
        <span class="load-balancers">
            <button data-ng-click="enableElb()" data-ng-disabled="!licenseAcceptCheck"
                    class="btn light btn-medium"><span class="ng-scope" data-translate>Enable Load Balancing</span>
            </button>
        </span>
    </div>
</div>
