<div class="container" data-ng-controller="elb.ListController">
    <h4>Load Balancer Controller is Running</h4>
    <table class="table table-striped table-bordered table-hover table-full-width">
        <thead>
        <tr>
            <th class="hidden-480 ">
                <!--<label class="checkbox" >-->
                    <!--<div class="checker" >-->
                        <!--<input type="checkbox" class="group-checkable" value="">-->
                    <!--</div>-->
                <!--</label>-->
            </th>
            <th class="table-title sortable"><div class="block">Image Name</div>
            <th class="table-title sortable"><div class="block">Owner</div>
            <th class="table-title sortable"><div class="block">Status</div>
            <th class="table-title sortable"><div class="block">Health</div>
            <th class="table-title sortable"><div class="block">Creation Date</div>
            <th class="table-title sortable"><div class="block">TAG = Env</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="server in servers">
            <td width="10"><input type="checkbox" class="group-checkable" value=""></td>
            <td><a href="#!/elb/edit/{{server.id}}">{{server.name}}</a></td>
            <td>Jens</td>
            <td>Active</td>
            <td>4/4</td>
            <td>{{server.created}}</td>
            <td>Production</td>
        </tr>
        </tbody>
    </table>
    <p class="text-fix pull-right"><i class="icon icon-plus-sign" style="margin: 1px 0 0 0;"></i>&nbsp;<a href="#!/elb/edit/">Create New Load Balancer</a></p>
</div>