<div class="container" data-ng-controller="elb.ListController">
    <ul style="margin: 0;">
      <li><h4 class="pull-left">Load Balancer Controller is Running</h4></li>
      <li><p class="text-fix pull-right"><i class="icon icon-minus-sign" style="margin: 1px 0 0 0;"></i>&nbsp;<a href="">Disable Load Balancing</a></p></li>
    </ul>


    <table class="table table-striped table-bordered table-hover table-full-width">
        <thead>
        <tr>
            <th class="table-title sortable"><div class="block">Image Name</div>
            <th class="table-title sortable"><div class="block">Status</div>
            <th class="table-title sortable"><div class="block">Health</div>
            <th class="table-title sortable"><div class="block">Creation Date</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="server in servers">
            <td><a href="#!/elb/detail/{{server.id}}">{{server.name}}</a></td>
            <td>Active</td>
            <td>{{server.machinesUp.length}}/{{server.machines.length}}</td>
            <td>{{server.created}}</td>
        </tr>
        <tr data-ng-show="servers.length == 0">
            <td colspan="4">No balancers configured</td>
        </tr>
        </tbody>
    </table>
    <p class="text-fix pull-right"><i class="icon icon-plus-sign" style="margin: 1px 0 0 0;"></i>&nbsp;<a href="#!/elb/edit/">Create New Load Balancer</a></p>
</div>