.container-fluid {
    min-width: 790px;
}
.page-title-btn .control-panel {
    display: inline-block;

    padding: 8px 10px 0;
}
.date-error {
    margin-top: -2px;

    border: 2px solid red;
    border-radius: 5px;
}
.error {
    margin-left: 20px;
}
.manta-disclaimer-dashboard {
    padding-top: 10px;
}
.manta-disclaimer,
.dockers-wrapper {
    padding-bottom: 25px;
}
.docker-wrapper {
    position: relative;

    float: left;

    width: 240px;
    height: 215px;
    margin: 0 10px 10px 0;

    border-radius: 3px;
    background-color: #eef0f2;
}
.docker-wrapper .name {
    overflow: hidden;

    box-sizing: content-box;
    height: 35px;
    padding: 10px 15px 2px 15px;

    font-size: 16px;
    font-weight: bold;
}
.docker-wrapper .name p {
    overflow: hidden;

    width: 160px;
    height: 23px;

    cursor: pointer;
    vertical-align: top;
    text-overflow: ellipsis;
    word-wrap: break-word;

    color: #428bca;
}
.docker-host-title {
    display: inline;
}
.docker-wrapper .name p:hover {
    text-decoration: underline;

    color: #2a6496;
}
.docker-wrapper .info {
    overflow: hidden;

    width: 190px;
    padding: 0 15px;
}
.btn-wrapper {
    margin: 20px 0 0 15px;
}
.left-part {
    width: 100%;
    min-width: 600px;
    max-width: 600px;
}

.details-btn-block {
    overflow: hidden;

    box-sizing: content-box;
    min-width: 465px;
    max-width: 465px;
    padding: 18px 10px;

    background-color: #fef1d2;
}

.details-btn-block button {
    max-width: 110px;
}
.right-part .panel-default {
    margin-top: 7px;
}
.panel-body-log {
    padding: 15px 0;
}
.container-log {
    max-height: 1018px;
    padding: 0;

    white-space: nowrap;

    border: 1px solid #ccc;
}
.container-log p {
    margin-bottom: 0;
}
.right-part .panel {
    box-shadow: none;
}

.id-section td:first-child {
    width: 140px;
}

.btn-bottom-block {
    margin-bottom: 50px;
}
.date-range,
.date-range-from {
    font-size: 16px;
}
.date-range {
    padding: 3px 10px;
}
.date-range-from {
    padding: 3px 10px 3px 0;
}
.date-range-wrapper {
    height: 50px;
}
.page .chart_container {
    position: relative;

    display: inline-block;

    width: 450px;
    height: 150px;
    margin-bottom: 10px;
}

.rickshaw_legend {
    display: block;
    float: right;

    margin-top: 14px;
    padding: 0;

    cursor: default;

    color: #333;
    background-color: transparent;
}

.page .rickshaw_legend {
    display: inline-block;

    min-width: 100px;
    padding-left: 10px;

    vertical-align: top;
}

.rickshaw_graph {
    max-width: 485px;
    margin-bottom: 10px;
}
.chart.rickshaw_graph {
    left: 60px;
}

.rickshaw_legend .line .swatch {
    cursor: default;
    vertical-align: middle;

    border-radius: 0 !important;
}

.rickshaw_legend label,
.rickshaw_legend .label {
    padding: 0;

    vertical-align: middle;

    font-size: 12px;
}

.heatmap-pos {
    padding-left: 10px;

    vertical-align: top;
}
.btn-group-chart {
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.start-analytics-btn {
    width: 210px;
    margin-top: 5px;
    margin-bottom: 25px;

    text-align: left;
}

.block .toggle-graf-width,
.detail-chart .toggle-graf-width {
    width: 100%;
}

.graf-radio-group {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 45px;
}
.page .graf-radio-group {
    position: relative;

    float: right;

    margin-top: -51px;
    padding: 0 20px 44px 0;
}
.y-axis {
    position: absolute;
}
.chart-container {
    padding: 10px 0;
}
.utilization {
    margin: 10px 0;

    background-color: #e9eff4;
}

.loading-medium:not(.item) {
    min-height: 35px;
}
.registry-form .api-version {
    font-size: 16px;
}
.registry-form {
    padding-bottom: 25px;
}
.registry-form tr {
    border-bottom: solid white 10px;
}
.registry-form tr.has-error {
    border-bottom: none;
}
.registry-form td:first-child {
    padding-right: 20px;

    text-align: right;
    white-space: nowrap;
}
.registry-form tr.has-error td:first-child {
    padding-top: 5px;

    vertical-align: baseline;
}
.registry-form .btn-group,
.registry-form .api-version,
.registry-form tr,
.registry-form td:last-child,
.registry-form td:last-child input {
    width: 100%;
}
.registry-form input {
    height: 30px;
    padding: 0 10px;

    background-color: #fafcfd;
}
.alert-info,
.detailed-analytics-btn {
    margin-top: 10px;
}
.chart-info {
    display: block;

    padding-bottom: 10px;
}
.chart-info span {
    text-align: left;
}
.name-chart {
    display: inline-block;

    width: 120px;

    color: #375675;

    font-size: 15px;
    font-weight: 300;
}
.value-chart,
.value-chart-in {
    display: inline-block;

    width: 500px;

    font-size: 15px;
}
.value-chart {
    color: #000;

    font-weight: 500;
}
.value-chart-in {
    color: #666;

    font-weight: 300;
}
.separator-line {
    border-bottom: 1px solid #ccc;
}

.container-detailed-analytics-btn {
    padding-top: 10px;
    padding-bottom: 75px;
}
.edit-form .error {
    margin-left: 5px;

    line-height: 20px;
}
.info-images-label {
    margin-right: 5px;
}
.loading-images-count {
    margin-top: 3px;
}
.preview-sticker {
    margin-bottom: 5px;
}
.edit-error {
    width: 621px;
}
.registry-host .edit-error {
    position: relative;

    width: auto;
    margin: -3px 0 0 -17px;
}
.container-create-form .edit-error {
    width: 660px;
}
.progress-wrapper .cadvisor-unavailable {
    margin-top: 20px;
}
.container-cadvisor-unavailable {
    margin-top: 10px;

    color: #7d7d7d;

    font-size: 14px;
}
.analytics-cadvisor-unavailable {
    margin-top: 10px;

    color: #666;

    font-size: 15px;
    font-weight: 300;
}
.docker-icon-01,
.docker-icon-02,
.docker-icon-03,
.docker-icon-04,
.docker-icon-05,
.docker-icon-06 {
    min-width: 80px;
    max-width: 80px;
    min-height: 90px;
    max-height: 90px;

    background: no-repeat center center;
    background-size: 80px 80px;
}
.docker-icon-01 {
    background-image: url('../img/docker-icon-01.png');
}
.docker-icon-02 {
    background-image: url('../img/docker-icon-02.png');
}
.docker-icon-03 {
    background-image: url('../img/docker-icon-03.png');
}
.docker-icon-04 {
    background-image: url('../img/docker-icon-04.png');
}
.docker-icon-05 {
    background-image: url('../img/docker-icon-05.png');
}
.docker-icon-06 {
    background-image: url('../img/docker-icon-06.png');
}
.docker-info {
    margin: 35px 0 25px 10%;
}
.docker-info td {
    height: 92px;
    padding-left: 15px;
}
.list-title {
    font-weight: bold;
}
.list-description,
.list-title {
    margin-bottom: 0;

    font-size: 14px;
    line-height: 20px;
}
.images-graph {
    min-width: 1208px;
    padding-right: 50px;
}
.graph-title {
    clear: left;

    text-align: center;

    font-size: 28px;
    font-weight: 200;
}
#images-graph {
    display: inline-block;

    width: 800px;
}
.node circle {
    fill: #fff;
    stroke: #f60;
    stroke-width: 3px;
}
.node circle.active {
    fill: #f60 !important;
}
.node text {
    font: 12px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
.image-detail {
    display: inline-block;

    width: 350px;
    height: auto;
    min-height: 400px;
    margin-bottom: 50px;

    vertical-align: top;

    border: 2px solid #ccc;
}
.image-detail .loading-medium {
    height: 400px;
}
.image-detail .title,
.image-detail .image-info {
    padding: 5px 10px;
}
.image-detail .title {
    background: #ccc;
}
.image-info dd {
    margin: 5px 0 10px 0;
}
.image-info dd a,
.image-info dd a:hover {
    text-decoration: none;
}
.image-info .image-command {
    width: 300px;
    height: auto;
    min-height: 22px;
    padding: 1px 5px;

    border: 1px solid #ccc;
}
.exec .edit-value {
    width: 510px;
}
.exec .edit-value input {
    width: 495px;
}
.exec .terminal {
    width: 578px;
    height: auto;
    margin-top: 5px;
}
.block .del-btn-graf,
.detail-chart .del-btn-graf {
    display: none;
}
.last-graf {
    padding-bottom: 40px;
}
.nav-tabs {
    margin-bottom: 10px;
    padding-top: 10px;
}

.triton-btn {
    position: absolute;
    top: 163px;

    width: 220px;
    margin-left: -6px;
}
.triton-btn.req {
    padding-top: 11px;
    padding-left: 20px;
}
/* Container create form */
.container-create-form {
    display: inline-block;

    width: 650px;
    margin-left: 15px;
}
.group-label {
    margin-bottom: 5px;
}
.container-create-form input:not(.ui-select-search) {
    width: 98%;
}
.dropdown-select input:not(.ui-select-search) {
    width: 92%;
}
.container-create-form .edit-value {
    width: 485px;
}
.container-create-form div.edit-value {
    width: 100%;
}
.container-create-form input[type=checkbox] {
    width: 20px;
    height: 14px;
}
.container-create-form .select2-container .select2-choice {
    background-color: #fafcfd;
}
.container-create-form .select2-container .select2-choice div {
    right: 7px;
}
.form-group .edit-label {
    display: inline-block;

    width: 150px;
    margin: 0 10px 0 0;
}
.attach-name {
    font-size: 12px;
}
.attach-name,
.edit-label {
    text-transform: uppercase;
}
.form-group .edit-lxc-conf {
    vertical-align: top;
}
.form-group .edit-value textarea {
    min-width: 457px;
    max-width: 457px;
}
.digit-input {
    width: 255px;
}
.notation {
    position: relative;
    left: 165px;

    width: 485px;
}
.max-restart-wrapper {
    position: relative;

    display: inline-block;

    width: 40%;
}
.form-group .max-restart {
    width: 10%;
}
.container-create-form .restart-policy {
    float: left;

    min-width: 400px;
}
.attach-public-ip .btn.without-hover {
    min-width: 90px;
    min-height: 34px;
}
.container-create-form .max-retry-count,
.container-create-form .restart-name {
    width: 34%;
}
.container-create-form .max-retry-count {
    margin-left: 10px;

    vertical-align: middle;
}
.maximum-retry-error {
    position: absolute;
    left: 35px;
}
.misc-checkboxes,
.checker,
.details-info {
    display: inline-block;
}
.checker {
    width: 25px;

    vertical-align: top;
}
.misc-checkboxes {
    width: 24%;
}
.misc-checkboxes .tooltip-hover {
    display: inline;
}
.misc-checkboxes .tooltip {
    min-width: 200px;
}
.advanced-info {
    width: 270px;
    margin-top: 20px;
    padding: 15px 10px;

    word-break: break-word;

    background-color: #fef1d2;
}
.advanced-info.advanced-info-nosdc {
    min-height: 620px;
}
.package-widget {
    display: table;

    width: 100%;
    height: 75px;

    border: 1px solid #ccc;
    background-color: #fafcfd;
}
.price-info {
    position: relative;

    width: 25%;
    height: 100%;
    margin-right: 80px;

    background-color: #fef1d2;
}
.detail-info-column,
.price-info {
    display: table-cell;

    text-align: center;
    vertical-align: middle;
}
.price-info .month-price {
    font-size: 16px;
}
.price-info .package-price {
    font-weight: 500;
}
.price-info:after {
    position: absolute;
    top: 0;
    right: -25px;

    width: 0;
    height: 0;

    content: '';

    border-bottom: 75px solid transparent;
    border-left: 25px solid #fef1d2;
}
.details-info {
    width: 60%;
}
.detail-info-column {
    width: 20%;

    text-transform: uppercase;
}
span .tag-editor {
    width: 100%;
    min-height: 30px;
}

.package-select {
    position: relative;
}
.change-package {
    position: absolute;
    top: -25px;
    right: 0;

    cursor: pointer;

    color: #f60;
}
.dropdown-select {
    position: relative;

    display: table;

    width: 100%;
    height: 28px;
    padding: 0 0 0 10px;

    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fafcfd;
}
.datacenter-info {
    height: 42px;
}
.dropdown-select .selected,
.datacenter-info {
    display: table-cell;

    vertical-align: middle;
}
.datacenter-info .ubuntu-logo {
    display: inline-block;

    width: 35px;
    height: 35px;

    background-position: 0 3px;
}
.datacenter-name,
.datacenter-statistic {
    width: 250px;
}
.datacenter-statistic .progress-wrapper {
    width: 210px;
}
.datacenter-statistic .progress-wrapper,
.datacenter-statistic .progress-wrapper > div {
    display: inline-block;
    float: none;

    margin: 0;
}
.progress-wrapper.no-cadvisor {
    vertical-align: bottom;

    line-height: 40px;
}
.datacenter-statistic .title {
    width: 30px;

    font-size: 12px;
}
.datacenter-statistic .progress {
    width: 175px;
    height: 10px;
}
.datacenter-info.datacenter-containers {
    padding-left: 60px;

    text-align: center;

    background: url('../img/docker-containers.png') no-repeat center center;
}
.dropdown-select .arrow,
.dropdown-select-wrapper .action-button {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;

    margin: auto;

    cursor: pointer;

    font-weight: 700;
}
.dropdown-select .dropdown-menu {
    width: 100%;

    border-top: none;
}
.dropdown-select .dropdown-menu > li {
    padding: 5px 10px;

    cursor: pointer;
}
.dropdown-select .dropdown-menu > li:hover {
    background-color: #eee;
}
.volume-section .edit-label {
    height: 28px;
    margin: 0;
    padding-left: 10px;

    vertical-align: top;

    background: #c4e4ff;

    line-height: 28px;
}
.volume-section .edit-value {
    width: 500px;
}
.volume-section .dropdown-select {
    border: none;
}
.volume-section .dropdown-select-wrapper .results {
    position: relative;

    margin-right: 25px;

    background: #e9e9e9;
}
.volume-section .dropdown-select-wrapper .results:before {
    position: absolute;
    top: 0;
    left: -35px;

    width: 0;
    height: 0;

    content: '';

    border-top: 26px solid #e9e9e9;
    border-left: 35px solid transparent;
}
.dropdown-select-wrapper .results > div {
    position: relative;

    overflow: hidden;

    padding: 3px 20px 3px 5px;

    text-overflow: ellipsis;
    word-wrap: break-word;
}
.dropdown-select-wrapper .action-button {
    width: 13px;
    height: 80%;
}
.dropdown-select input,
.tag-editor input {
    border: none;
    box-shadow: none;
}
.dropdown-select input {
    width: 90%;
}

/* Slider */
.slider {
    position: relative;

    display: inline-block;

    vertical-align: middle;
}
.slider.slider-horizontal {
    width: 400px;
    height: 20px;
    margin-bottom: 5px;
}
.slider.slider-horizontal .slider-track {
    top: 50%;
    left: 0;

    width: 100%;
    height: 10px;
    margin-top: -5px;
}
.slider.slider-horizontal .slider-track.show-value {
    width: 80%;
}
.slider.slider-horizontal .current-value {
    position: absolute;
    top: 5px;
    right: 5px;
}

.slider.slider-horizontal .slider-selection {
    top: 0;
    bottom: 0;

    height: 100%;
}
.slider.slider-horizontal .slider-handle {
    margin-top: -5px;
    margin-left: -10px;
}
.slider.slider-horizontal .slider-handle.triangle {
    width: 0;
    height: 0;
    margin-top: 0;

    border-width: 0 10px 10px 10px;
    border-bottom-color: #0480be;
}
.slider.slider-vertical {
    width: 20px;
    height: 210px;
}
.slider.slider-vertical .slider-track {
    top: 0;
    left: 50%;

    width: 10px;
    height: 100%;
    margin-left: -5px;
}
.slider.slider-vertical .slider-selection {
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
}
.slider.slider-vertical .slider-handle {
    margin-top: -10px;
    margin-left: -5px;
}
.slider.slider-vertical .slider-handle.triangle {
    width: 1px;
    height: 1px;
    margin-left: 0;

    border-width: 10px 0 10px 10px;
    border-left-color: #0480be;
}
.slider input {
    display: none;
}
.slider .tooltip-inner {
    white-space: nowrap;
}
.slider-track {
    position: absolute;

    cursor: pointer;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #f7f7f7;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.slider-selection {
    position: absolute;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #fafcfd;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
       -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.slider-handle {
    position: absolute;

    width: 20px;
    height: 20px;

    opacity: 0.8;
    border: 0 solid transparent;
    background-color: #f60;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
            box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.slider-handle.hidden {
    display: none;
}

.slider .limit {
    position: absolute;
    top: 15px;
}
.slider .limit.low {
    left: 0;
}
.slider .limit.high {
    right: -15px;
}
.triton-type {
    padding: 3px 14px 2px;

    color: white;
    background: #56829d url('../img/triton-type.png') no-repeat 0 0;
    background-size: 24px;
}
.kvm-type {
    padding: 2px 13px 1px;

    color: black;
    border: 1px #4f81bd solid;
    background-color: white;
}
.kvm-type,
.triton-type {
    text-align: center;
}

.triton-btn .plus-btn-icon {
    left: -7px;

    margin-right: 0;
}
.triton-bg {
    background: url('../img/triton.png') no-repeat right top #eef0f2;
    background-size: 220px 185px;
}
.kvm-bg {
    background-image: url('../img/kvm.png');
    background-size: 165px 135px;
}
.triton-info {
    margin-left: 15px;
}
.triton-info .num {
    padding: 0 5px 0 8px;

    text-align: right;

    font-weight: bold;
}
.tabs-container .page-title-btn {
    margin-top: -58px;
}
.page-title-btn.icons {
    margin-top: -50px;
}
.pricing,
.terminal-icon,
.faq {
    display: inline-block;

    width: 26px;
    height: 24px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
}
.pricing {
    background-image: url('../img/usd.png');
}
.terminal-icon {
    background-image: url('../img/terminal-icon.png');
}
.faq {
    background-image: url('../img/faq.png');
}
.docker-options-title {
    font-size: 20px;
}
.chart-text {
    position: absolute;
    top: 20px;
    left: 30%;
}

.chart-loading {
    position: absolute;
    top: 15px;
    left: 15px;

    width: 30px;
    height: 30px;
}

.chart-wrapper {
    position: absolute;
    top: 47px;
    right: 20px;

    cursor: pointer;
}
.chart-wrapper .title {
    margin-top: -4px;

    text-align: center;
}
.btn-wrapper .cadvisor-unavailable {
    margin-top: -10px;
}
.metadata .editable .key-width {
    margin-bottom: 10px;
}
.pull-image {
    box-sizing: border-box;
    padding: 3px 7px;

    cursor: pointer;

    border: solid 5px white;
    border-top: none;
    background-color: #f4f4f4;
}
.pull-image:not(.image-pull-item) {
    cursor: default;
}
.tabs-wrapper .filter-label {
    width: 45px;

    vertical-align: middle;
}
