.container-fluid {
    min-width: 760px;
}
.page-title-btn .control-panel {
    display: inline-block;
    padding: 8px 10px 0;
}
.date-error {
    margin-top: -2px;
    border: 2px solid red;
    border-radius: 5px;
}
.error {
    margin-left: 20px;
}
.manta-disclaimer-dashboard {
    padding-top: 10px;
}
.manta-disclaimer,
.dockers-wrapper {
    padding-bottom: 25px;
}
.docker-wrapper {
    position: relative;
    float: left;
    margin: 0 10px 10px 0;
    width: 240px;
    height: 215px;
    border-radius: 3px;
    background-color: #eef0f2;
}
.docker-wrapper .name {
    overflow: hidden;
    box-sizing: content-box;
    padding: 10px 15px 2px 15px;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
}
.docker-wrapper .name p {
    color: #428bca;
    overflow: hidden;
    height: 23px;
    width: 160px;
    vertical-align: top;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.docker-wrapper .name p:hover {
    color: #2a6496;
    text-decoration: underline;
}
.docker-wrapper .name .label {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    position: relative;
    top: -2px;
    display: inline-block;
    padding: 0 .6em .3em;
    cursor: pointer;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    color: #020001;
    border: none;
    border-radius: .25em;
    outline: none;
    background-color: #f7f8f9;
    text-shadow: none;
}
.docker-wrapper .info {
    overflow: hidden;
    padding: 0 15px;
    width: 190px;
    font-size: 14px;
}
.btn-wrapper {
    margin: 20px 0 0 15px;
}
.left-part
{
    min-width: 600px;
    max-width: 600px;
    width: 100%;
}
.panel-heading
{
    border-bottom: 0;
    background: #f5f5f5;
}
.panel-heading .accordion-toggle
{
    position: relative;
    display: block;
    padding: 8px 15px;
    cursor: pointer;
}
.panel-heading a
{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.details-btn-block
{
    overflow: hidden;
    box-sizing: content-box;
    padding: 18px 10px;
    min-width: 465px;
    max-width: 465px;
    background-color: #fef1d2;
}
.details-btn-block .status.label
{
    box-sizing: content-box;
    margin-top: 0;
    line-height: 12px;
}
.details-btn-block .status.label .glyphicon-ok
{
    width: 14px;
    height: 14px;
}
.details-btn-block .status.label .glyphicon-ok:before
{
    position: absolute;
    left: -9px;
    font-size: 13px;
}
.details-btn-block p
{
    display: inline-block;
    height: 8px !important;
    vertical-align: top;
}

.details-btn-block button
{
    max-width: 110px;
}
.right-part .panel-default
{
    margin-top: 7px;
}
#collapse_summary .panel-body table td
{
    color: #7d7d7d;
    font-size: 14px;
    line-height: 28px;
}
.panel-body #insTable td {
    line-height: 16px;
}
#collapse_summary .panel-body table td:first-child
{
    color: #5d80a7;
}
#collapse_1 .panel-body table td + td
{
    overflow: hidden;
    max-width: 325px;
    font-weight: 300;
    font-size: 16px;
}
.panel-body-log
{
    padding: 15px 0;
}
.container-log
{
    overflow: auto;
    padding: 0 5px;
    max-height: 1018px;
    border: 1px solid #ccc;
    white-space: nowrap;
}
.container-log p
{
    margin-bottom: 0;
}
.right-part .panel
{
    box-shadow: none;
}
.delete-icon,
.reboot-icon,
.icon-play,
.stop-icon,
.pause-icon
{
    position: relative;
    left: -4px;
    float: left;
    box-sizing: content-box;
    margin-top: 3px;
    padding-right: 5px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    vertical-align: top;
    line-height: 14px;
}
.delete-icon
{
    margin-top: 1px;
    height: 18px;
    background-image: url('../img/btn_i_delete.png');
}
.reboot-icon
{
    background-image: url('../img/btn_i_reboot.png');
}
.pause-icon
{
    background-image: url('../img/btn_i_pause.png');
}
.stop-icon
{
    padding-right: 10px;
    background-image: url('../img/btn_i_stop.png');
}
.icon-play
{
    background-image: url(../../../../static/img/glyphicons-halflings-white.png) !important;
    background-position: -264px -72px;
}
.id-section td:first-child
{
    width: 140px;
}
.font_size
{
    text-align: left;
    font-size: 16px;
}
.status.label:not(.label-machine-details)
{
    margin-top: 0;
    width: 110px;
    height: 22px;
    text-transform: none;
}
.warn_icon
{
    float: left;
    width: 14px;
    height: 14px;
    background: url('../img/warn_icon.png') no-repeat;
    vertical-align: middle;
}
.label-info
{
    min-width: 94px;
    background-color: #999;
}
.label
{
    padding: 10px 14px;
    outline: none;
    border: none;
    border-radius: 0;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 16px;
    cursor: default;
}
.btn-success
{
    font-size: 16px;
    display: inline-block;
    min-width: 94px;
    cursor: pointer;
    vertical-align: middle;
    color: black;
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    outline: none;
    background-color: #afd46c;
    background-image: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none;
}
span.btn-success
{
    cursor: default;
}
.btn-machine-ctrl
{
    margin-left: 5px;
}
.docker-select-btn {
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 3px !important;
    background-color: #eee;
    text-transform: none;
}
.grid-mini-btn {
    padding: 0 10px;
    height: 20px;
    font-size: 12px;
}
.grid-mini-btn.view {
    margin-right: 10px;
    background-color: #ccc;
}
.grid-mini-btn.download {
    background-color: #E0E0E0;
}
.form-group span.edit-label {
    display: inline-block;
    margin-right: 10px;
    width: 150px;
    text-align: right;
}
.form-group .edit-lxc-conf {
    vertical-align: top;
}
.form-group .edit-value textarea {
    min-width: 457px;
    max-width: 457px;
}
.digit-input {
    width: 255px;
}
.notation {
    position: relative;
    left: 165px;
    width: 485px;
}
.btn-bottom-block {
    margin-bottom: 50px;
}
.date-range,
.date-range-from {
    font-size: 16px;
}
.date-range {
    padding: 3px 10px;
}
.date-range-from {
    padding: 3px 10px 3px 0;
}
.date-range-wrapper {
    height: 50px;
}
.loading-medium-tr {
    width: 210px;
    position: absolute;
    top: 150px;
}
.loading-medium-transparent {
    width: auto;
    height: 34px;
}
.page .chart_container {
    display: inline-block;
    height: 150px;
}

.rickshaw_legend
{
    display: block;
    float: right;
    margin-top: 14px;
    padding: 0;
    background-color: transparent;
    color: #333;
    cursor: default;
}

.page .rickshaw_legend {
    display: inline-block;
    padding-left: 10px;
    min-width: 100px;
    vertical-align: top;
}

.rickshaw_graph
{
    overflow: hidden;
    margin-bottom: 10px;
    max-width: 485px !important;
}

.rickshaw_legend .line .swatch
{
    border-radius: 0 !important;
    vertical-align: middle;
    cursor: default;
}

.rickshaw_legend label,
.rickshaw_legend .label
{
    padding: 0;
    vertical-align: middle;
    font-size: 12px;
}

.heatmap-pos
{
    padding-left: 10px;
    vertical-align: top;
}
.btn-group-chart
{
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.block .toggle-graf-width {
    width: 100%;
}
.graf-radio-btn {
    padding: 3px 10px !important;
    background-color: #d6dce0 !important;
    text-shadow: none !important;
}

.graf-radio-group {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 45px;
}
.page .graf-radio-group {
    position: relative;
    float: right;
    margin-top: -44px;
    padding: 0 20px 44px 0;
}
.y-axis {
    float: left;
}
.chart-container {
    padding: 10px;
}
.utilization {
    margin: 10px 0;
    background-color: #e9eff4;
}
.graf-radio-btn.active {
    background-color: #ffffff !important;
}
.loading-medium {
    min-height: 35px;
}
.registry-form .api-version
{
    font-size: 16px;
}
.registry-form {
    padding-bottom: 25px;
}
.registry-form tr {
    border-bottom: solid white 10px;
}
.registry-form tr.has-error {
    border-bottom: none;
}
.registry-form td:first-child {
    padding-right: 20px;
    text-align: right;
    white-space: nowrap;
}
.registry-form tr.has-error td:first-child {
    padding-top: 5px;
    vertical-align: baseline;
}
.registry-form .btn-group,
.registry-form .api-version,
.registry-form tr,
.registry-form td:last-child,
.registry-form td:last-child input {
    width: 100%;
}
.registry-form input {
    height: 30px;
    padding: 0 10px;
    background-color: #fafcfd;
}
.alert-info,
.detailed-analytics-btn {
    margin-top: 10px;
}
.chart-info {
    display: block;
    padding-bottom: 10px;
}
.chart-info span {
    text-align: left;
}
.name-chart {
    display: inline-block;
    width: 120px;
    color: #375675;
    font-weight: 300;
    font-size: 15px;
}
.value-chart,
.value-chart-in {
    display: inline-block;
    width: 500px;
    font-size: 15px;
}
.value-chart {
    color: #000;
    font-weight: 500;
}
.value-chart-in {
    color: #666;
    font-weight: 300;
}
.separator-line {
    border-bottom: 1px solid #ccc;
}
.options-ctrl {
    margin-top: 1px;
    padding: 0 6px;
    min-width: 10px;
    height: 34px;
    background-color: #fffbf2 !important;
    color: #f60;
    text-shadow: none;
}
.container-detailed-analytics-btn {
    padding-top: 10px;
    padding-bottom: 75px;
}
.edit-form .error {
    margin-left: 5px;
    line-height: 20px;
}
.info-images-label {
    margin-right: 5px;
}
.loading-images-count {
    margin-top: 3px;
}
.preview-sticker {
    margin-bottom: 5px;
}
.edit-error
{
    width: 621px;
}
.registry-host .edit-error {
    position: relative;
    margin: -3px 0 0 -17px;
    width: auto;
}
.container-cadvisor-unavailable {
    margin-top: 10px;
    color: #7d7d7d;
    font-size: 14px;
}
.analytics-cadvisor-unavailable {
    margin-top: 10px;
    color: #666;
    font-weight: 300;
    font-size: 15px;
}
.docker-icon-01,
.docker-icon-02,
.docker-icon-03,
.docker-icon-04,
.docker-icon-05,
.docker-icon-06
{
    min-width: 80px;
    min-height: 90px;
    max-width: 80px;
    max-height: 90px;
    background: no-repeat center center;
    background-size: 80px 80px;
}
.docker-icon-01
{
    background-image: url("../img/docker-icon-01.png");
}
.docker-icon-02
{
    background-image: url("../img/docker-icon-02.png");
}
.docker-icon-03
{
    background-image: url("../img/docker-icon-03.png");
}
.docker-icon-04
{
    background-image: url("../img/docker-icon-04.png");
}
.docker-icon-05
{
    background-image: url("../img/docker-icon-05.png");
}
.docker-icon-06
{
    background-image: url("../img/docker-icon-06.png");
}
.docker-info
{
    margin: 35px 0 25px 10%;
}
.docker-info td
{
    padding-left: 15px;
    height: 92px;
}
.list-title
{
    font-weight: bold;
}
.list-description,
.list-title
{
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
}
.graph-title
{
    font-size: 28px;
    font-weight: 200;
    text-align: center;
}
#images-graph
{
    display: inline-block;
    width: 800px;
}
.node circle
{
    fill: #fff;
    stroke: #f60;
    stroke-width: 3px;
}
.node circle.active
{
    fill: #f60 !important;
}
.node text
{
    font: 12px sans-serif;
}
.link
{
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
.image-detail
{
    display: inline-block;
    width: 350px;
    height: auto;
    min-height: 400px;
    margin-bottom: 50px;
    vertical-align: top;
    border: 2px solid #ccc;
}
.image-detail .loading-medium
{
    height: 400px;
}
.image-detail .title,
.image-detail .image-info
{
    padding: 5px 10px;
}
.image-detail .title
{
    background: #ccc;
}
.image-info dd
{
    margin: 5px 0 10px 0;
}
.image-info dd a,
.image-info dd a:hover
{
    text-decoration: none;
}
.image-info .image-command
{
    width: 300px;
    height: auto;
    min-height: 22px;
    padding: 1px 5px;
    border: 1px solid #ccc;
}
#collapse_exec .edit-value {
    width: 510px;
}
#collapse_exec .edit-value input {
    width: 495px;
}
#collapse_exec .terminal {
    margin-top: 5px;
    width: 578px;
}
.toggle-graf-width
{
    width: 100%;
}
.del-btn-graf
{
    display: none;
}
.last-graf
{
    padding-bottom: 40px;
}

.grid-tab.dashboard {
    margin: 0 2px -1px 0;
}
.nav-tabs {
    margin-bottom: 10px;
    padding-top: 10px;
}

.triton-btn,
.kvm-btn {
    position: absolute;
    top: 163px;
    width: 220px;
    margin-left: -6px;
}
.triton-btn.req {
    padding-top: 11px;
    padding-left: 20px;
}
.triton-type {
    padding: 3px 14px 2px;
    background: #56829d url("../img/triton-type.png") no-repeat 0 0;
    background-size: 24px;
    color: white;
}
.kvm-type {
    padding: 2px 13px 1px;
    background-color: white;
    border: 1px #4f81bd solid;
    color: black;
}
.kvm-type,
.triton-type {
    text-align: center;
}
.kvm-btn .plus-btn-icon {
    left: -3px;
    margin-right: 5px;
}
.triton-btn .plus-btn-icon {
    left: -7px;
    margin-right: 0;
}
.triton-bg {
    background: url("../img/triton.png") no-repeat right top #eef0f2;
    background-size: 220px 185px;
}
.kvm-bg {
    background-image: url("../img/kvm.png");
    background-size: 165px 135px;
}
.triton-info {
    margin-left: 15px;
}
.triton-info .num {
    padding: 0 5px 0 8px;
    text-align: right;
    font-weight: bold;
}
.nav-tabs .page-title-btn {
    margin-top: -25px;
}
.page-title-btn.icons {
    margin-top: -50px;
}
.pricing,
.terminal,
.faq {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
    width: 26px;
    height: 24px;
}
.pricing {
    background-image: url("../img/usd.png");
}
.terminal {
    background-image: url("../img/terminal.png");
}
.faq {
    background-image: url("../img/faq.png");
}
.docker-options-title {
    font-size: 20px;
}
.chart-text {
    position: absolute;
    top: 20px;
    left: 30%;
}
.chart-wrapper {
    position: absolute;
    right: 20px;
    top: 47px;
    cursor: pointer;
}
.chart-wrapper .title {
    text-align: center;
    margin-top: -4px;
}
.btn-wrapper .cadvisor-unavailable {
    margin-top: -10px;
}