.modal-header.message, .modal-header.confirm {
    background-color: #ff6600;
}
.modal-header.error {
    background-color: #ff0000;
}

.modal-header {
    color: white;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

