<div data-ng-switch="subview">

<div data-ng-switch-when="index"
     data-ng-controller="MachinesController">
    <div class="container-fluid content-container">
        <div class="container content-container-inner">
            <div class="machines container">
                <div class="page-header" style="margin-top:10px">
                    <h1 class="pull-left" data-translate>Machines</h1>
                    <button data-ng-click="changeLocation('/machine/add/')"
                            class="btn btn-success btn-large pull-right"
                            style="margin-top:10px"
                            data-translate>Add new Machine</button>
                    <div class="clearfix"></div>
                </div>

                <div class="pull-left">
                    <form class="form-search pull-left span9" style="margin-left:-0px">
                        <div class="pull-right">
                            <form class="navbar-form pull-left">
                                <input type="search" class="input-large"
                                       data-ng-model="query" data-ng-change="search()"
                                       placeholder="Search machines" name="search" id="search" data-translate="placeholder" />
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </form>

                    <div class="btn-group pull-right"></div>
                    <div class="clearfix"></div>

                    <div class="item header sortable" style="margin-bottom: -1px">
                        <span class="summary pull-left">&nbsp;</span>
                        <span class="span2 text-medium"
                              data-ng-click="sortBy('id')"
                              data-ng-switch on="sortIcon.id">
                            <span data-translate>Name</span>
                            <i class="icon-arrow-up" data-ng-switch-when="up"></i>
                            <i class="icon-arrow-down" data-ng-switch-when="down"></i>
                        </span>
                        <span class="span2 text-medium" data-translate>IP</span>
                        <span class="span1 text-medium"
                              data-ng-click="sortBy('datacenter')"
                              data-ng-switch on="sortIcon.datacenter">
                            <span data-translate>Datacenter</span>
                            <i class="icon-arrow-up" data-ng-switch-when="up"></i>
                            <i class="icon-arrow-down" data-ng-switch-when="down"></i>
                        </span>
                        <span class="span2 text-medium align-right"
                              data-ng-click="sortBy('created')"
                              data-ng-switch on="sortIcon.created">
                            <span data-translate>Created</span>
                            <i class="icon-arrow-up" data-ng-switch-when="up"></i>
                            <i class="icon-arrow-down" data-ng-switch-when="down"></i>
                        </span>
                        <span class="span1 text-medium pull-right"
                              data-ng-click="sortBy('state')"
                              data-ng-switch on="sortIcon.state">
                            <span data-translate>State</span>
                            <i class="icon-arrow-up" data-ng-switch-when="up"></i>
                            <i class="icon-arrow-down" data-ng-switch-when="down"></i>
                        </span>
                    </div>

					<div class="loading-medium">
						<!--
							@<kesiganes-implemendib>
							senikaua kuni sisu ei kuvata, peaks olema "loading-medium" class
							kui sisu on kuvatud/renderdatud ekraanile (ideaalis) siis eemaldatakse "loading-medium"
							kehtib 
								- alglaadimisel
								- eelmine, j2rgmine leht
								- otsimine
							
							juhul kui tulemuseks pole yhtegi masinat
								- error > kuvatakse veateade. kasutage hetkel kuhuiganes veateadet kuvatakse
								- masinaid pole - kuvatakse eraldi template/container. kogu olemasolev info (terve parent) tuleb replaceda teise sisuga (visuaalne osa tegemises @thomasm)
						-->
						
	                    <div data-ng-repeat="machine in pagedMachines[currentPage] | orderBy:sortingOrder:reverse"
	                         class="item">

	                        <span data-ng-click="toggleMachine(machine.id)">
	                            <span data-ng-class="{'icon-chevron-down': isCollapsed(machine.id), 'icon-chevron-up': !isCollapsed(machine.id)}"
	                                  class="summary  pull-left">&nbsp;</span>

	                            <span class="span2 text-medium">
	                                <a href="#!/machine/details/{{machine.id}}">{{machine.label}}</a>
	                            </span>

	                            <span class="span2 text-medium">
	                                <span data-ng-repeat="ip in machine.ips">{{ip}}</span>
	                            </span>

	                            <span class="span1 text-medium">{{machine.datacenter}}</span>
	                            <span class="span2 text-medium align-right">{{machine.created | fromNow}}</span>

	                            <span class="span1 pull-right state">
                                    <!--
	                                <a class="status btn btn-mini"
	                                   data-ng-class="{'btn-success': (machine.state == 'running')}"
	                                   >{{machine.state}}</a>
	                                -->
                                    <machine-status machine="machine"></machine-status>
	                            </span>
	                        </span>

	                        <div class="toolbox-help"
	                             data-ng-hide="machine.state != 'stopped'">
	                            <span class="text-error" data-translate>Machine is stopped, but billing will continue. You have to delete machine to cancel billing</span>
	                        </div>

	                        <div data-ng-hide="isCollapsed(machine.id)" class="toolbox">
	                            <div class="pull-left toolbox-list" style="width:575px">
	                                <span class="key span2" data-translate>Machine name</span>
	                                <span class="value span4">{{machine.label}}</span>
	                                <div class="clearfix"></div>

	                                <span class="key span2" data-translate>Type</span>
	                                <span class="value span4">{{machine.type}}</span>
	                                <div class="clearfix"></div>

	                                <span class="key span2" data-translate>IP(s)</span>

	                                <span class="value span4">
	                                    <span data-ng-repeat="ip in machine.ips">{{ip}}</span>
	                                </span>

	                                <div class="clearfix"></div>

	                                <span class="key span2 data-translate">Image</span>
	                                <span class="value span4">{{machine.dataset}}</span>
	                                <div class="clearfix"></div>

	                                <span class="key span2" data-translate>Created</span>
	                                <span class="value span4">{{machine.created}}</span>
	                                <div class="clearfix"></div>

	                                <span class="key span2 noborder" data-translate>Datacenter</span>
	                                <span class="value span4 noborder">{{machine.datacenter}}</span>
	                                <div class="clearfix"></div>
	                            </div>
	                            <div class="pull-right action-container">
	                                <button role="button"
	                                   class="btn btn-mini"
	                                   data-ng-disabled="machine.state == 'running'"
	                                   data-ng-click="startMachine(machine.id)"
	                                   data-toggle="modal"
	                                   data-translate>Start</button>
	                                <button role="button"
	                                   class="btn btn-mini"
	                                   data-ng-disabled="machine.state == 'stopped'"
	                                   data-ng-click="stopMachine(machine.id)"
	                                   data-translate>Stop</button>
	                                <button role="button"
	                                   class="btn btn-mini"
	                                   data-ng-click="deleteMachine(machine.id)"
	                                   data-toggle="modal"
	                                   data-translate>Delete</button>
	                                <button href="#!/machine/details/{{machine.id}}"
	                                   class="btn btn-mini btn-primary"
	                                   data-translate>Edit</button>
	                            </div>
	                            <div class="clearfix"></div>
	                        </div>
	                    </div>
					</div>

                    <div class="pagination pagination-small pagination-centered span8">
                        <ul>
                            <li data-ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()" data-translate>« Prev</a>
                            </li>
                            <li data-ng-repeat="n in range()"
                                data-ng-class="{active: n == currentPage}"
                                data-ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li data-ng-class="{disabled: currentPage == pagedMachines.length - 1}">
                                <a href ng-click="nextPage()" data-translate>Next »</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="span3 pull-right" style="margin:50px 0px 0px 0px">
                    <div class="alert alert-success shadow">
                        <h4 data-translate>Need help?</h4>
                        <p class="text-medium" data-translate>Help will open in new window</p>
                        <form class="form-search" method="GET" action="http://joyent.com/developers/search" target="_blank">
                            <div class="input-append">
                                <input type="text" name="q" class="input-small search-query" placeholder="Search help" data-translate="placeholder">
                                <button type="submit" class="btn" data-translate>Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div data-ng-switch-when="details"
     data-ng-controller="MachineController">
    <div class="container-fluid content-container">
        <div class="container content-container-inner">
            <div class="container form-horisontal">
                <div class="page-header">
                    <h1>{{machine.name}}</h1>
                </div>

                <div class="pull-left span7">
                    <fieldset>
                        <legend data-translate>Overview</legend>
                        <div class="container span7">
                            <span class="key span2" data-translate>UUID</span>
                            <span class="value span5 pull-right">{{machine.id}}</span>
                        </div>

                        <div data-ng-show="machine.name" class="container span7">
                            <span class="key span2" data-translate>Machine name</span>
                            <span class="value span5 pull-right">{{machine.name}}</span>
                        </div>

                        <div class="container span7">
                            <span class="key span2" data-translate>Type</span>
                            <span class="value span5 pull-right">{{machine.type}}</span>
                        </div>

                        <div class="container span7">
                            <span class="key span2" data-translate>Image</span>
                            <span class="value span5 pull-right">{{machine.dataset}}</span>
                        </div>

                        <div class="container span7">
                            <span class="key span2" data-translate>Memory</span>
                            <span class="value span5 pull-right">{{machine.memory | sizeFormat}}</span>
                        </div>

                        <div class="container span7">
                            <span class="key span2" data-translate>Disk</span>
                            <span class="value span5 pull-right">{{machine.disk | sizeFormat}}</span>
                        </div>

                        <div class="container span7">
                            <span class="key span2" data-translate>IP addresses</span>
                            <span class="value span5 pull-right">
                                <span data-ng-repeat="ip in machine.ips">{{ip}} <br /></span>
                            </span>
                        </div>

                        <div class="container span7">
                            <span class="key span2" data-translate>Created</span>
                            <span class="value span5 pull-right">
                                {{machine.created | date:'yyyy-MM-dd HH:mm:ss Z'}}
                            </span>
                        </div>
                        <div class="container span7">
                            <span class="key span2" data-translate>Datacenter</span>
                            <span class="value span5 pull-right">{{machine.datacenter}}</span>
                        </div>

                        <div class="container span7" data-ng-show="machine.primaryIps.length">
                            <span class="key span2" data-translate>Login</span>
                            <span class="value span5 pull-right">ssh root@{{machine.primaryIps[0]}}</span>
                        </div>
                    </fieldset>
                    <br />
                    <fieldset data-ng-show="machine.metadata.credentials">
                        <legend data-translate>Credentials</legend>

                        <table class="table table-striped text-medium">
                            <thead>
                            <th style="width:115px !important">System</th>
                            <th style="width:115px !important">Username</th>
                            <th style="width:155px !important">Password</th>
                            <th>&nbsp;</th>
                            </thead>
                            <tr data-ng-repeat="(key,credential) in machine.metadata.credentials">
                                <td>{{credential.system}}</td>
                                <td>{{credential.username}}</td>
                                <td>
                                    <span data-ng-show="isPasswordVisible(key)">************</span>
                                    <span data-ng-hide="isPasswordVisible(key)">{{credential.password}}</span>
                                </td>
                                <td nowrap>
                                    <a class="show-password" data-translate data-ng-click="togglePassword(key)">[ Show ]</a>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <br />
                    <fieldset>
                        <legend>
                            <span data-translate>Tags</span>
                            <small data-translate>Add tags for convenient searching</small>
                        </legend>
                        <p class="text-small muted" data-translate>
                            Tags are metadata stored as key-value pairs to make it easier for you to find, sort,
                            and identify your machines.
                        </p>
                        <div class="clearfix"></div>
                        <div class="container span7" data-ng-click="editTag(key)" data-ng-repeat="(key, o) in tagcloud">
                            <div data-ng-show="!o.edit">
                                <span class="key span3" data-ng-class="{error: o.conflict}">{{o.key}}</span>
                                <span class="value span4 pull-left" data-ng-class="{error: o.conflict}">
                                    {{o.val}}
                                    <span class="icon-trash pull-right"
                                          data-ng-click="removeTag(key)"
                                          style="margin-top:5px;margin-left:30px"></span>
                                    <div class="clearfix"></div>
                                </span>
                            </div>

                            <div class="muted clearfix" style="margin-top:10px" data-ng-show="o.edit">
                                <div class="controls control-group" data-ng-class="{error: o.conflict}">
                                    <input type="text"
                                           class="input-large"
                                           placeholder="Key" placeholder="Enter New Tag Key" data-ng-model="o.key">
                                    <input type="text"
                                           class="input-large span3"
                                           placeholder="Value" placeholder="Enter New Tag Value" data-ng-model="o.val" style="margin-left:10px">
                                    <span class="icon-trash pull-right"
                                          data-ng-click="removeTag(key)"
                                          style="margin-top:5px;margin-left:30px"></span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <button class="btn btn-primary" data-ng-click="clickSaveTags(machine.id)" data-translate>Save</button>
                    </fieldset>
                    <br />

                    <fieldset>
                        <legend data-translate>Resize machine</legend>
                        <p class="text-small muted" data-translate>
                            It may not always be possible to resize based on the constraints of your current server location.
                        </p>

                        <p data-ng-show="selectedPackage">
                            <span data-translate>Memory</span>:
                            <span data-translate>{{selectedPackage.memory | sizeFormat}}</span><br />
                            <span data-translate>Disk</span>:
                            <span data-translate>{{selectedPackage.disk | sizeFormat}}</span><br />
                            <span data-translate>vCPUs</span>:
                            <span data-translate>{{selectedPackage.vcpus}}</span>
                        </p>

                        <div class="control-group">
                            <label class="control-label" data-translate>New Package</label>

                            <div class="controls input-append">

                                <select name="resize"
                                        data-ng-model="resize"
                                        data-ng-options="package.name as package.name for package in packages"></select>
                                <br /><br />
                                <button class="btn btn-primary" type="submit"
                                        ng-click="clickResize(selectedmachine.id)" data-translate>
                                    Resize
                                </button>

                            </div>
                        </div>
                    </fieldset>

                    <div class="clearfix"></div>
                </div>

                <div class="span4 pull-right" style="margin-top:40px">
                    <div class="well shadow">
                        <button role="button"
                                data-ng-disabled="machine.job.running || machine.state != 'stopped'"
                                data-ng-click="clickStart(machine.id)"
                                data-toggle="modal"
                                data-translate
                                class="btn btn-small btn-success">Start</button>
                        <button role="button"
                                data-ng-disabled="machine.job.running || machine.state != 'running'"
                                data-ng-click="clickStop(machine.id)"
                                data-toggle="modal"
                                data-translate
                                class="btn btn-small">Stop</button>
                        <button role="button"
                                data-ng-disabled="machine.job.running || machine.state != 'stopped'"
                                data-ng-click="clickDelete(machine.id)"
                                data-translate
                                data-toggle="modal"
                                class="btn btn-small btn-danger">Delete</button>
                    </div>
                    <div class="clearfix"></div><br />
                    <div class="alert alert-success shadow">
                        <h4 data-translate>Need help?</h4>
                        <p data-translate>Help will open in new window</p>
                        <form class="form-search" method="GET" action="http://joyent.com/developers/search" target="_blank">
                            <div class="input-append">
                                <input type="text" name="q" class="span2 search-query" placeholder="Search">
                                <button type="submit" class="btn" data-translate>Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="alert shadow">
                        <h4 data-translate>Analytics</h4>
                        <p data-translate>Check out this machines analytics.</p>
                        <a href="#!/cloudAnalytics/{{machine.id}}"><img src="analytics.png" hspace="10" vspace="20" border="0"></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div data-ng-switch-when="provision"
     data-ng-controller="ProvisionController">

    <div class="container-fluid content-container">
        <div class="container content-container-inner">
            <div class="container">
                <div class="page-header">
                    <h1 data-translate>Create new machine</h1>
                </div>

                <div class="pull-left provision">
                    <form class="form-search pull-left">
                        <div class="btn-group pull-left">
                            <button class="btn" data-translate>Datacenters</button>
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="(name, url) in datacenters">
                                    <a data-ng-click="selectDatacenter(name)">{{name}}</a>
                                </li>
                            </ul>
                        </div>

                        <p class="pull-right none">
                            <a class="btn left" href="#myCarousel" id="prev" data-slide="prev">&lsaquo;</a>
                            <a class="btn right" href="#myCarousel" id="next" data-slide="next">&rsaquo;</a>
                        </p>

                        <div class="pull-right">
                            <form class="navbar-form pull-left">
                                <input type="text"
                                       class="span3"
                                       placeholder="Search image"
                                       data-ng-model="searchText"
                                       data-translate="placeholder" />
                            </form>
                        </div>

                        <div class="clearfix"></div>
                    </form>

                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <fieldset class="selector-container" id="package-selector">
                                    <div class="control-group" data-ng-repeat="dataset in datasets | filter:searchText">
                                        <div class="controls">
                                            <label class="radio text-small">
                                                <input type="radio"
                                                       name="dataset"
                                                       value="{{dataset.id}}"
                                                       data-ng-model="selectedDataset"
                                                       data-ng-change="selectDataset(dataset.id)" />
                                                <label class="control-label text-small">
                                                    <strong>{{dataset.name}}</strong>
                                                </label>

                                                <p data-translate="value">{{dataset.description}}</p>
                                                <div class="clearfix"></div>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="item">
                                <fieldset class="selector-container size" id="size-container">
                                    <div class="control-group"
                                         data-ng-click="selectPackage(package.id)"
                                         data-ng-repeat="package in packages | filter:searchText">

                                        <div class="controls">

                                            <label class="description pull-left">
                                                <label class="control-label text-small">
                                                    <strong>{{package.name}}</strong>
                                                </label>
                                                <p>
                                                    <span data-translate>RAM</span>: {{package.memory}}MB<br />
                                                    <span data-translate>Disk</span>: {{package.disk}}MB<br />
                                                    <span data-translate>vCPUs</span>: {{package.vcpus}}
                                                </p>
                                            </label>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span4 pull-right pricing shadow" id="affix-pricing-container" style="width:300px;">
                    <div class="alert alert-muted" id="pricing" style="width:250px;">

                        <h4 data-translate>Configuration</h4>
                        <div id="selected-image" class="text-small"></div>
                        <div id="selected-size" class="text-small"></div>
                        <div id="step-configuration" class="text-small  none" style="margin-top:10px;margin-bottom:10px;">
                            <h4 data-translate>You're almost done.</h4>
                            <p>
                                <span data-translate>Just select the size of your machine and</span>
                                <strong data-translate>Voila</strong>.
                            </p>
                            <div id="finish-configuration" class="none">
                                <input type="text"
                                       placeholder="Name of your machine"
                                       data-ng-model="data.name" />
                                <button class="btn btn-success"
                                        data-ng-click="clickProvision()"
                                        data-translate>Save machine</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

</div>
