<div class="modal-dialog">
    <div class="modal-content">
        <div tabindex="-1" data-backdrop="static" data-focus-on="button">
            <div class="modal-header message">
                <h5><i class="glyphicon glyphicon-info-sign"></i><b>{{ title }}</b></h5>
            </div>
            <div class="modal-body">
                <form name="apiKeyForm" class="apiKeyForm">
                    <div class="form-group">
                        <span class="orange-asterix edit-name">API Key</span>
                        <span class="edit-value">
                            <input type="text"
                                   id="apiKey"
                                   name="apiKey"
                                   data-ng-model="apiKey"
                                   autofocus
                                   required
                                   />
                        </span>
                    </div>
                    <div class="error"
                         data-ng-show="apiKeyForm.apiKey.$dirty && apiKeyForm.apiKey.$error.required"
                         data-translate>
                        Missing Api Key.
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-ng-click="close()" data-button-focus="false" data-label="Cancel" class="btn grey">Cancel</button>
                <button data-ng-click="action()" data-button-focus="false" data-ng-disabled="apiKeyForm.$invalid" data-ng-show="actionType === 'save'" class="btn orange">Save</button>
                <button data-ng-click="action()" data-button-focus="false" data-ng-disabled="apiKeyForm.$invalid" data-ng-show="actionType === 'update'" class="btn orange">Update</button>
            </div>
        </div>
    </div>
</div>