<div class="modal-dialog">
    <div class="modal-content">
        <div tabindex="-1" data-backdrop="static" data-focus-on="button">
            <div class="modal-header message">
                <h5><i class="glyphicon glyphicon-info-sign"></i><b>{{ title }}</b></h5>
            </div>
            <div class="modal-body">
                <form name="configurationForm" class="configurationForm">
                    <div class="form-group">
                        <span class="orange-asterix edit-name">Service Name</span>
                        <span class="edit-value">
                            <input type="text"
                                   id="name"
                                   name="name"
                                   data-ng-model="name"
                                   required
                                    />
                        </span>
                    </div>
                    <div class="error"
                         data-ng-show="configurationForm.name.$dirty && configurationForm.name.$error.required"
                         data-translate>
                        Missing Service Name.
                    </div>
                    <div class="form-group">
                        <span class="orange-asterix edit-name">Manta Directory</span>
                        <span class="edit-value">
                            <input type="text"
                                   id="directory"
                                   name="directory"
                                   data-ng-model="directory"
                                   required
                                   data-ng-pattern="/^\/public([a-zA-Z0-9\/\.\-]*)$/"
                                    />
                        </span>
                    </div>
                    <div class="error"
                         data-ng-show="configurationForm.directory.$dirty && configurationForm.directory.$error.required"
                         data-translate>
                        Missing Directory.
                    </div>
                    <div class="error"
                         data-ng-show="configurationForm.directory.$error.pattern"
                         data-translate>
                        Directory can begin with '/public' and contain only letters, digits, slashes and signs like '.' and '-'.
                    </div>
                    <div class="error"
                         data-ng-show="directory == directoryNotFound"
                         data-translate>
                        The directory path not found.
                    </div>
                    <div class="form-group">
                        <span class="orange-asterix edit-name">Domain</span>
                        <span class="edit-value">
                            <input type="text"
                                   id="domain"
                                   name="domain"
                                   data-ng-model="domain"
                                   data-ng-pattern="/^[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,6}$/"
                                   required
                                    />
                        </span>
                    </div>
                    <div class="error"
                         data-ng-show="configurationForm.domain.$dirty && configurationForm.domain.$error.required"
                         data-translate>
                        Missing Domain.
                    </div>
                    <div class="error"
                         data-ng-show="configurationForm.domain.$error.pattern"
                         data-translate>
                        Not a valid domain name.
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-ng-click="close()" data-button-focus="false" data-label="Cancel" class="btn grey">Cancel</button>
                <button data-ng-click="create()" data-button-focus="false" data-ng-disabled="configurationForm.$invalid" class="btn orange">Create</button>
            </div>
        </div>
    </div>
</div>