<div class="container-fluid container-position">
    <ul class="breadcrumb">
        <li><a href="#!/storage/intro">Storage</a></li>
    </ul>
    <div class="page-header">
        <h3 class="page-title">CDN Configurations</h3>
        <div class="beta-sticker">beta</div>
        <div class="header-btn-ci">
            <button type="button" class="btn btn-big orange align-text-btn">Set API Key</button>
        </div>
    </div>
    <div class="grid-no-entries">Integrate your Fastly account with Manta here. If you already have Fastly account, please use the button 'Set API Key' above, or you can create one <a href="https://www.fastly.com/signup/" target="_blank">here</a>.</div>
</div>
