<div class="branding-background"></div>
<form class="form-signin branding" data-ng-controller="TFAController">
    <h2 class="form-signin-heading orange" data-translate>Two Factor Authentication</h2>

    <input type="text" data-ng-model="otpass" class="input-block-level" placeholder="One time password">

    <p class="error orange-text alert-icon" data-ng-show="error"><i>{{error}}</i></p>
    <div class="footer">
        <button class="btn btn-large orange" type="submit" data-ng-click="login()" data-translate>Sign in</button>
    </div>
</form>