<div class="container-fluid content-container" data-ng-controller="DashboardAdmin.IndexController">
	<div class="loading-medium" data-ng-show="initializing" style="height:60px;width:100%"></div>
    <div class="container content-container-inner">
		<div>
			<ul class="breadcrumb">
				<li class="active"><span>Dashboard</span></li>
			</ul>
			<div class="page-header">
			    <h1 class="pull-left">Welcome {{account.firstName}} {{account.lastName}}</h1> 
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
        </div>
		
        <div class="row">
			<a href="#!/cmsadmin">CMS</a></br>
            <a href="#!/accountAdmin">Account</a>
		</div>
    </div>
</div>

