<div data-ng-controller="Signup.BillingController">
    <div class="content-container-signup-billing">
        <div class="page-title">Billing Information</div>
        <div class="wizard-steps">
            <div><p class="firststep">Account Details</p></div>
            <div data-ng-show="features.phoneVerification == 'enabled'"><p>Verification</p></div>
            <div class="active-step"><p>Billing Information
                <span data-ng-show="features.allowSkipBilling == 'enabled'"> (optional)</span>
            </p></div>
            <div><p>SSH Key (optional)</p></div>
            <div><p class="laststep"></p></div>
        </div>
        <div class="first-block" data-add-credit-card
             data-is-sign-up-form="true"
             data-sign-out="signOut()"
             data-skip-billing-fn="skipBilling()"
             data-skip-billing-visible="{{features.allowSkipBilling == 'enabled'}}"
             data-promocode-visible="{{features.promocode != 'disabled'}}"
             data-show-phone="{{features.showPhone != 'disabled'}}"
             data-skip-promo-confirmation="{{$scope.features.promoBillingConfirmation != 'enabled'}}"></div>
        <div class="billing-promo">
            <iframe src="https://www.joyent.com/portal/beta-payment.html"></iframe>
        </div>
    </div>
</div>
