<div class="signin-flow-container span9">
		<div class="brand pull-left"></div>
		<div class="clearfix"></div>
		<div class="alert">
			<form method="POST" class="form-horisontal span9">
				<div class="span4 container">
					<fieldset>
						<legend>Your information</legend>
						<div class="control-group">
							<label class="control-label" for="inputPassword">First name</label>
							<div class="controls">
								<input type="text" id="inputPassword" placeholder="First name">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputPassword">Last name</label>
							<div class="controls">
								<input type="text" id="inputPassword" placeholder="Last name">
							</div>
						</div>
					</fieldset>
					<fieldset>
					<legend>Credit Card Information</legend>
						<div class="control-group">
							<label class="control-label" for="inputEmail">Credit Card Number</label>
							<div class="controls">
								<input type="text" id="inputEmail"  placeholder="Number">
					    	</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputEmail">Card Expires</label>
							<div class="controls">
								<input type="text" id="inputEmail" maxlength="3" class="span1" placeholder="MM">
								<input type="text" id="inputEmail" maxlength="4" class="span2" placeholder="YYYY">
								<span data-toggle="tooltip" data-placement="right" class="-help icon-info-sign" title="Extension without + or 00"></span>
					    	</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="inputEmail">CCV</label>
							<div class="controls">
								<input type="text" id="inputEmail" maxlength="3" class="span1" placeholder="CCV">
								<span data-toggle="tooltip" data-placement="right" class="-help icon-info-sign" title="Extension without + or 00"></span>
					    	</div>
						</div>
						
					</fieldset>
				</div>

				<fieldset  class="span4">
					<legend>Billing Address</legend>
					<div class="control-group">
						<label class="control-label" for="inputPassword">Phone Number</label>
						<div class="controls">
							<input type="text" id="inputPassword" placeholder="Phone Number">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">Address 1</label>
						<div class="controls">
							<input type="text" id="inputPassword" placeholder="Address 1">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">Address 2</label>
						<div class="controls">
							<input type="text" id="inputPassword" placeholder="Address 2">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">City</label>
						<div class="controls">
							<input type="text" id="inputPassword" placeholder="City">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">Country</label>
						<div class="controls">
							<select>
							  <option>Country #1</option>
							  <option>Country #2</option>
							  <option>Country #3</option>
							  <option>Country #4</option>
							  <option>Country #5</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">State</label>
						<div class="controls">
							<select>
							  <option>State #1</option>
							  <option>State #2</option>
							  <option>State #3</option>
							  <option>State #4</option>
							  <option>State #5</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">Postal Code</label>
						<div class="controls">
							<input type="text" id="inputPassword" class="span2" placeholder="Postal Code">
						</div>
					</div>
					<div class="clearfix"></div>
				</fieldset>
				<div class="clearfix"></div>
			</form>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
</div>
