<div class="container-fluid" data-ng-controller="Signup.PhoneController">
    <div class="content-container-signup signup-progress-container">
        <div class="page-title">Identity Verification by Phone</div>
        <div class="wizard-steps">
            <div><p class="firststep">Account Details</p></div>
            <div class="active-step"><p>Verification</p></div>
            <div><p>Billing Information
                <span data-ng-show="features.allowSkipBilling == 'enabled'"> (optional)</span>
            </p></div>
            <div><p>SSH Key (optional)</p></div>
            <div><p class="laststep"></p></div>
        </div>
        <div class="message-box hide">
            <p style="color: #7C7C7C;padding-left: 70px;padding-top: 8px;font-size: 16px;">Marketing Info</p>
        </div>
        <div class="login-form first-block">
            <p data-translate>After you enter a phone number where you can be reached below, you will then be called by an automated system and provided a PIN number over the phone. Once completed, you’ll be able to proceed to finalize your registration process.</p>
            <form data-ng-submit="makeCall()">
                <table class="table">
                    <tr>
                        <td><label>Country</label></td>
                        <td>
                            <select
                                    data-ng-style="countryStyle"
                                    data-ng-model="country"
                                    name="countryCode"
                                    id="countryCode"
                                    data-ng-options="country as (country.name + ' (+' + country.areaCode + ')') group by country.group for country in countryCodes | filter:filterUndefinedAreas | orderBy: ['-group','name']">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Phone Number</label></td>
                        <td>
                            <div class="input-prepend">
                                <span class="add-on phone-code">+{{selectedCountryCode}}</span>
                                <input type="text"
                                       id="phone"
                                       class="phone-input"
                                       name="phone"
                                       data-ng-model="phone"
                                       required/>
                            </div>
                        </td>
                        <td>
                            <div data-ng-show="phoneError" class="error" style="margin-top: 4px;">
                                <span>{{phoneError}}</span>
                            </div>
                            <div data-ng-show="callInProgress" class="info info-icon" style="margin-top: 4px;">
                                <span>Calling...</span>
                            </div>
                        </td>

                    </tr>
                </table>
                <div class="phone-btn-pos pull-right"><button class="si-btn" data-ng-disabled="!phone || !country || callInProgress">Call Me Now</button></div>
            </form>
            <div class="line-st1"></div>
            <div style="padding-top: 42px;">
                <p>
                    A call will be placed to you at this number and a PIN number will be provided to you. Please enter the PIN number here to complete the verification process.
                </p>
                <form data-ng-submit="verifyPin()" style="padding-top: 21px;">
                    <table class="table">
                        <tr>
                            <td><label>PIN Number</label></td>
                            <td>
                                <input data-ng-model="pin" type="text" required>
                            </td>
                            <td>
                                <div data-ng-show="pinError" class="error pin-error">
                                    <span>{{pinError}}</span>
                                </div>
                                <div data-ng-show="pinIsInvalid" class="error pin-error">
                                    <span>Please use four-digit pins only</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="phone-btn-pos">
                        <button class="si-btn">Verify</button>
                    </div>
                </form>
            </div>
            <div class="line-st1"></div>
            <div style="padding:42px 0 42px 0">
                <div class="loading-medium loading-medium-signup" data-ng-show="navigating"></div>
                <button class="btn grey-btn effect-orange-button pull-right cancel-signup-btn" data-ng-show="currentStep" data-ng-click="signOut()" class="note text-small cancel-signup-link" data-translate>Cancel Signup Process</button>
            </div>

        </div>

    </div>
</div>