<!--data-translate and data-translate="value" attributes should be used to enable translation-->
<div class="container-fluid" data-ng-controller="PhoneController">
    <div class="container">
        <div class="row">
            <div class="span11">
                <h1>Identity Verification by Phone</h1>
                <p>After you enter a phone number where you can be reached below, you will then be called by an automated system and provided a PIN number over the phone. Once completed, you’ll be able to proceed to finalize your registration process.</p>
            </div>
        </div>
        <hr class="span11">
        <div class="row">
            <div class="span11">
                <p>Please enter your phone number and click the “Call Me Now” button.</p>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <div class="control-group">
                    <div class="controls">
                        <select
                                data-ng-style="countryStyle"
                                data-ng-model="account.country"
                                style="width: 245px"
                                name="countryCode"
                                id="countryCode"
                                data-ng-options="country as (country.name + ' (+' + country.areaCode + ')') group by country.group for country in countryCodes | filter:filterUndefinedAreas | orderBy: ['-group','name']">
                        </select>
                        <br />
                        <div class="input-prepend">
                            <span class="add-on" style="width:50px">(+{{selectedCountryCode}})</span>
                            <input style="width: 170px" type="text"
                                   id="phone"
                                   name="phone"
                                   data-ng-model="account.phone"
                                   required/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <button class="btn btn-joyent-blue span2" data-ng-click="makeCall()" data-ng-disabled="!account || !account.phone || !account.country || callInProgress">Call Me Now</button>
            </div>
        </div>
        <hr class="span11">
        <div class="row">
            <div class="span11">
                <p>A call will be placed to you at this number and a PIN number will be provided to you. Please enter the PIN number here to complete the verification process.</p>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <div class="control-group">
                    <div class="controls">
                        <input data-ng-model="pin" style="width: 230px" data-ng-disabled="!callInProgress" type="text" required>
                    </div>
                </div>
            </div>
            <div class="span6">
                <button class="btn btn-joyent-blue span2" data-ng-click="verifyPin()" data-ng-disabled="!callInProgress || !pin">Verify</button>
                <button class="btn btn-joyent-blue span2" data-ng-click="makeCall()" data-ng-disabled="!callInProgress">Call Me Again</button>
            </div>
        </div>
    </div>
</div>