<div class="wizard-steps">
    <div><p class="firststep">Account Details</p></div>
    <div data-ng-show="features.phoneVerification == 'enabled'"><p>Verification</p></div>
    <div><p>Billing Information
        <span data-ng-show="features.allowSkipBilling == 'enabled'"> (optional)</span>
    </p></div>
    <div class="active-step"><p>SSH Key (optional)</p></div>
    <div><p class="laststep"></p></div>
</div>
<div>
    <div class="page-title">Add SSH Key <small>You need this to create instances</small></div>
</div>
<div data-account-add-ssh-key class="content-container-ssh"></div>
