<div class="signin-flow-container span9" data-ng-controller="Signup.SSHController">
		<div class="brand pull-left"></div>
		<div class="clearfix"></div>
		<div class="alert">
			<form method="POST" class="form-horisontal span9">
				
				<fieldset class="pull-left">
					<legend>Add your SSH Key</legend>
						<div class="control-group">
				            <label class="control-label">Name</label>
				            <div class="controls">
				                <input type="text" class="span6" data-ng-model="data.keyName" placeholder="ssh key name" />
				            </div>
				        </div>

						<div class="control-group">
							<label class="control-label">SSH Key</label>
							<div class="controls">
				        		<textarea class="span6" rows="10" data-ng-model="data.keyData"></textarea><br />
							</div>
						</div>
				    <div class="align-right">
				        <button class="btn btn-success" data-ng-click="addKey()">Add SSH key</button>
				    </div>
				</fieldset>
				<div class="clearfix"></div>
			</form>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
</div>


