
<div data-ng-controller="TropoController">
    <div>
        <div class="page-header">
            <h1>Phone confirmation <small>You'll recieve a call. Enter the number below</small></h1>
        </div>
		<div class="alert alert-info" data-ng-show="tropoRunning">
			<!--
				
			-->
			<h5>Wait for a phone call.</h5>
			<p>If you should fail to receive a call please contact our <a href="">support</a></p>
		</div>
		
		<div class="alert alert-error" data-ng-show="error && !tropoRunning">
	        {{error}}
	    </div>
	<!--
	-->
		<div class="row-fluid">
			<div class="span6">
				<iframe allowtransparency="true" frameborder="0" scrolling="no" class="loading-medium pull-left" 
				src="http://joyent.com/portal/default-promo.html" style="width:475px; height:360px;"></iframe>
			</div>
			<div class="span5">
			<div class="control-group">
				<h4>Please enter your phone number</h4>
				After you enter your phone number, you will receive an automate call where you have to type in the confirmation code. Don't worry - no human contact.<br /><br />
		        <div class="controls">
		            <select data-ng-style="countryStyle" data-ng-model="account.country" class="span10" name="countryCode" id="countryCode">
		                <option data-ng-repeat="country in countryCodes | filter:filterUndefinedAreas | orderBy:'name'"
                                value="{{country.name}}"
                                data-ng-selected="country.name == account.country">
		                    {{country.name}} (+{{country.areaCode}})
		                </option>
		            </select>
		            <br />
		            <div class="input-prepend">
		                <span class="add-on" style="width:50px"><font data-ng-show="selectedCountryCode">(+{{selectedCountryCode}})</font></span>
		                <input style="width:225px" type="text"
		                       id="phone"
		                       name="phone"
		                       data-ng-model="account.phone"
		                       required/>
		            </div>
                    <span data-ng-show="currentStep" data-html="true" data-translate-attributes="data-original-title" data-toggle="tooltip" data-trigger="hover" data-placement="right" class="tooltip-hover icon-info-sign" data-original-title="Enter your full phone number with country code and area code. We use this number to verify your account."></span>
		        </div>
				
		        <button class="btn btn-success pull-right span4" style="margin-right:61px" data-ng-click="makeCall()" data-ng-show="!error && !tropoRunning && retriesLeft > 0" data-ng-disabled="!account || !account.phone || !account.country">Call</button>
		        <button class="btn btn-success pull-right span4" style="margin-right:61px" data-ng-click="makeCall()" data-ng-show="error && !tropoRunning && retriesLeft > 0" data-ng-disabled="!account || !account.phone || !account.country">Retry</button>
				<span class="text-gray text-small pull-left span5"  data-ng-show="error && !tropoRunning && retriesLeft > 0" style="margin-top:5px;">You have {{retriesLeft}} retries left</span>
				<div class="clearfix"></div>
				<br />
				<div class="well well-small align-center text-huge span10" data-ng-show="tropoRunning">
		            <b>{{randomNumber}}</b>
		        </div>
				<div class="clearfix"></div>
			<!--
				
			-->
				
		    </div>
		</div>
			<div class="clearfix"></div>
		</div>
		<hr />
		<a data-ng-show="currentStep" data-ng-click="signOut()" class="pull-left note text-small" data-translate>Click here to return to homepage</a>
		<div class="clearfix"></div>
		<hr />
    </div>
</div>
<div class="container loading-medium" style="padding-bottom:20px;margin-top:30px;">
	<iframe allowtransparency="true" frameborder="0" scrolling="no" class="" src="http://joyent.com/portal/default-toc.html" style="width:100%;"></iframe>
</div>
