<div data-ng-controller="TropoController">
	<div class="page-header">
	    <h1>Phone confirmation <small>You'll recieve a call. Enter the number below</small></h1> 
	</div>
	
		<div class="alert alert-error" data-ng-show="error">
			{{error}}
		</div>
        <div class="alert alert-info">
			<h5>Wait for a phone call.</h5>
				<p>You have {{retriesLeft}} retries left</p>
				<p>If you should fail to receive a call please contact our <a href="">support</a></p>
				
		</div>
		<div class="clearfix"></div>
		<div class="well well-small span6 align-center text-huge offset2">	
			<b>{{randomNumber}}</b>
		</div>
		<div class="clearfix"></div>
		<hr />
		<a data-ng-show="currentStep" data-ng-click="signOut()" class="pull-left note text-small" data-translate>Click here to return to homepage</a>
		<div class="clearfix"></div>
	</div>