.page-title-btn
{
    margin-top: -75px;
}

.page-title-btn .btn-big
{
    width: 235px !important;
}

.debugger-action-btn
{
    width: 153px;
}

.column-container
{
    white-space: nowrap;
}

.column
{
    display: inline-block;

    vertical-align: top;
}

.mdb-column-label
{
    min-width: 383px;
}

.mdb-common-container
{
    margin-bottom: 20px;
    padding: 0 20px 0 0;
}

.mdb-counters-container
{
    padding: 0 0 0 50px;

    border-left: 1px solid #ccc;
}

.mdb-common-table
{
    width: 100%;
}

.mdb-common-table td
{
    padding: 1px 0;
}

.mdb-counter-row td
{
    padding-top: 7px;
    padding-right: 10px;
}

.mdb-counter-row td:first-child
{
    font-weight: bold;

    text-align: right;
}

.estimate-time
{
    height: 34px;
}

#collapse_objects,
#collapse_modules
{
    padding-top: 0;
    padding-bottom: 0;
}

.page-header
{
    padding-top: 7px;
}

/* TODO: move it to main.css and remove hardcode from all modules which has accordion */

.panel-heading .accordion-toggle
{
    display: block;

    padding: 8px 15px;

    cursor: pointer;
}

.col-md-8,
.col-md-4
{
    padding-left: 0;
}

.file-label
{
    display: inline-flex;
    display: -ms-inline-flexbox;

    margin-top: 8px;
}

.file-name
{
    display: inline-block;
    overflow: hidden;

    max-width: 170px;

    text-overflow: ellipsis;
}