.new-debbuger-job-btn {
    margin-top: -85px;
}

.new-debbuger-job-btn .btn-big {
    width: 235px !important;
}

.header-btn-ci {
    position: relative;
    display: inline-block;
    float: right;
}

.debugger-action-btn {
    width: 153px;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.mdb-common-container {
    width: 50%;
    max-width: 600px;
    padding: 0 20px;
}

.mdb-counters-container {
    padding: 0 0 0 50px;
    border-left: 1px solid #ccc;
}

.mdb-common-table {
    width: 100%;
}

.mdb-counter-row td {
    padding-top: 7px;
    padding-right: 10px;
}

.mdb-counter-row td:first-child {
    font-weight: bold;
    text-align: right;
}

.estimate-time {
    height: 34px;
}