.error-body {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	position:absolute;
	background-color:#97abb6;
	background-image:url('../img/error-splash-bg.png');
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.splash {
	width:100%;
	height:100%;
	position:absolute;
	background-image:url('../img/error-splash.png');
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.error-404 {
	background-image:url('../img/error-splash-404.png');
}

.error-well {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-color:#666;
    background-color: #b3b3b3;
    -webkit-box-shadow: inset 1px 1px 6px 2px #666;
    box-shadow: inset 1px 1px 6px 2px #666;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width:380px;
    height:45px;
}

.error-text {
    color:#666;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 24px;
    line-height: 45px;
    width:330px;
    font-weight: bold;
    vertical-align: middle;
}