.error-body {
	padding:0;
	margin:0;
	background-color:#dee4e9;
	font-family:Helvetica,Arial;
	font-size:16px;
	color:#707478;
	text-shadow:1px 1px 1px #ebf1f5;
}
.brand {
	width:300px;
	height:120px;
	background-color:#949ca2;
	background-image: url('/static/img/logo-white.png');
    background-repeat:no-repeat;
    background-position:50% 50%;
	left:50%;
	margin-left:-150px;
	position:relative;
}

.content {
	text-align:center;
}

h1 {
	font-size:4em;
	font-weight:normal;
}
p {
	font-size:2em;
	margin-top:20px;
}
.footer {
	margin-top:100px;
	padding-top:10px;
	border-top:1px solid #d4d7d9;
	margin-bottom:45px;
	text-align:center;
/*	width:800px;*/
}
.footer:hover a{
	color:#777;
}
.footer a {
    color:#999;
    background-color:transparent !important;
	padding-right:20px;
	font-size:11px;
	text-decoration:none;
}
.footer a:hover{
	color:#444;
	text-decoration:underline;
}