.error-body {
	background-color:#dee4e9;
	font-family:Helvetica,Arial;
	font-size:16px;
	color:#707478;
	text-shadow:1px 1px 1px #ebf1f5;
	margin:0;
	padding:0;
}
.error-brand {
	width:300px;
	height:120px;
	background-color:#949ca2;
	background-image: url(../../static/img/logo-white.png);
    background-repeat:no-repeat;
    background-position:50% 50%;
	left:50%;
	margin-left:-150px;
	position:relative;
 }
 

.error-container {
	text-align:center;
 }
.error-container a {
    color:#999;
    text-decoration: none;
}
.error-container a:hover {
    color:#777;
    text-decoration:underline;
}

.error-h1 {
	font-size:3em;
	font-weight:normal;
}
.error-p {
	font-size:1em;
	margin-top:20px;
}
.error-footer {
	margin-top:100px;
	padding-top:10px;
	border-top:1px solid #d4d7d9;
	margin-bottom:45px;
	text-align:center;
}
.error-footer:hover a{
	color:#777;
}

.error-footer span,
.error-footer a {
    color:#999;
    background-color:transparent !important;
	padding-right:20px;
	font-size:11px;
	text-decoration:none;
}
.error-footer a:hover{
	color:#444;
	text-decoration:underline;
 }

.modal-header.message, .modal-header.confirm {
    background-color: #ff6600;
}
.modal-header.error {
    background-color: #ff0000;
}

.modal-header {
    color: white;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}