	<div class="container-fluid span6 offset2" data-ng-controller="LandingPageController" ng-cloack>
		<div class="brand pull-left"></div>
		<div class="clearfix"></div>
		<div class="signin-container">
			<hr class="dark" />
			<h3 class="text-regular" data-translate>Already a customer?</h3>
			<form method="POST" class="form-horisontal">
				<div class="control-group">
					<div class="controls">
						<input type="text" name="" class="span3" placeholder="Username" data-validate="required">
						<input type="password" name="" class="span3 pull-right" placeholder="Password" data-validate="required">
						<button  class="btn btn-joyent-blue btn-large pull-right" type="button" data-translate>Log In</button>
					</div>
					
				</div>
				<strong><a href="#" class="text-small pull-left" ng-click="passreset();" class="forgotPassword" data-translate>Forgot Password</a></strong>
				
				
				<div class="divider dark"></div>
				
			</form>
			<div class="clearfix"></div>
			<hr class="dark" />
			<font size="5">New to Joyent? <a href="#" ng-click="login();">Create an Account</a></font>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>