<div class="row" data-ng-controller="LandingPageController" data-ng-cloack data-ng-show="loaded">
    <div class="col-md-2 col-md-offset-5">
        <div class="brand"></div>
    </div>

    <div class="row">
        <div class="col-md-5 offset signin-form-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-10 col-md-offset-1">
                        <hr class="dark" />
                        <h3 class="text-regular pull-left" data-translate>Already a customer?</h3>
                        <button  class="btn btn-bottom btn-joyent-blue btn-large pull-right" data-ng-click="login();" type="button" data-translate>Sign in</button><br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-10 col-md-offset-1">
                        <hr class="dark" />
                        <h3 class="text-regular pull-left" data-translate>New to Joyent?</h3>
                        <h3 class="text-regular pull-right"><a class="landing-create-account-link" data-ng-click="signup();" data-translate>Create an Account</a></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-10 col-md-offset-1">
                        <hr class="dark" />
                        <a href="javascript:void(0)" class="text-small pull-right forgotPassword" data-ng-click="passreset();" data-translate>Forgot Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>