textarea,
input[type='text'],
input[type='password'],
input[type='email'],
.uneditable-input
{
    transition: border linear .2s,box-shadow linear .2s;

    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.loading-medium
{
    min-width: 50px;
    max-width: 100%;
    min-height: 60px;

    background-image: url('../img/icon-loading-medium.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.loading-medium-signup
{
    min-height: 30px;
}

input
{
    font-size: 16px;
}

select.date-month,
select.date-year
{
    width: 108px;
}

.ssh-download-link
{
    float: left;

    width: 380px;
    margin-top: 28px;
}

body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header
{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 53px;

    background-color: #ededed;
}

.logo
{
    width: 175px;
    height: 53px;

    background-image: url(../img/logo-orange.png);
}

.left
{
    position: fixed;
    z-index: 999999;
    top: 53px;
    left: 0;

    display: table;

    width: 175px;
    height: 100%;

    background-color: #3d3d3d;
}

.left div
{
    display: table-cell;

    padding-bottom: 55px;

    vertical-align: bottom;
}

.left ul
{
    margin: 0 0 10px 0;

    list-style: none;
}

.left p,
.left a
{
    font-size: 12px;

    margin: 0 0 10px 20px;

    text-decoration: none;

    color: #999;
}

.page-title
{
    font: 200 30px/30px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    display: block;

    width: 1005px;
    padding-bottom: 15px;

    color: #3d3d3d;
    border-bottom: 1px solid #ccc;
}

.main
{
    padding: 75px 0 60px 203px;
}

.login-form
{
    font-size: 16px;
    line-height: 24px;

    clear: both;

    width: 715px;

    letter-spacing: .03px;
}

.sigin
{
    margin-left: -3px;
    padding-top: 35px;
}

.login-form label
{
    font-size: 16px;

    float: right;

    padding-top: 5px;

    color: #3d3d3d;
}

.login-form .signin-inputs.usn
{
    margin-left: 14px;
}

.login-form .signin-inputs.psw
{
    margin-left: 19px;
}

.login-form .signin-inputs
{
    font-size: 15px;
    line-height: 20px;

    width: 205px;
    height: 20px;
    padding: 4px 6px;

    border: 1px solid #ccc;
    background-color: #fafcfd;
}

.login-form .signin-inputs.alert
{
    background-color: #fef1d2;
}

.position
{
    font-size: 16px;

    padding-top: 17px;
}

.position-si p
{
    display: inline-block;

    padding-left: 5px;

    color: #999;
}

.position-si a
{
    padding-right: 10px;
    padding-left: 10px;

    text-decoration: none;

    color: #f60;
}

.position-si
{
    padding-top: 8px;
    padding-left: 95px;
}

.position-rr
{
    padding-top: 15px;
    padding-left: 97px;
}

.si-btn
{
    font-size: 15px;
    font-weight: 600;

    display: block;
    float: right;

    min-width: 46px;
    padding: 5px 11px;

    cursor: pointer;

    color: white;
    border: none;
    background-color: #f60;
    text-shadow: none;
}

.grey-btn
{
    font-size: 15px;
    font-weight: 600;

    display: inline-block;

    min-width: 46px;
    padding: 7px 11px;

    cursor: pointer;
    text-decoration: none;

    color: #f60;
    border: none;
    background-color: #ededed;
    text-shadow: none;
}

.error
{
    display: inline-block;

    padding-left: 10px;
}

.error i
{
    font-size: 16px;

    padding-right: 10px;
    padding-left: 25px;

    color: #f60;
}

.error span
{
    font-size: 14px;
    font-weight: 300;

    color: #f60;
}

.info span
{
    font-size: 16px;
    font-weight: 300;

    margin-left: 23px;

    color: #3cc051;
}

.info-icon
{
    margin-left: 5px;

    background: url('../img/info-icon.png') no-repeat left;
}

.table td .alert-icon
{
    position: relative;

    width: 18px;
    height: 20px;
}

.table td .alert-icon span
{
    position: absolute;

    width: 240px;
}

.hide
{
    display: none;
}

.small-text
{
    font-size: 14px;

    color: #3d3d3d;
}

.table
{
    font-size: 16px;

    width: 996px !important;
    margin-top: 3px;
}

.table tr
{
    height: 43px;
}

.table td:first-child label
{
    font-size: 16px;
}

.table td:first-child
{
    min-width: 170px;
}

.table td
{
    float: left;

    padding: 0 10px 0 10px;

    border-top: none;
}

.login-form form
{
    margin: 0 14px 0 7px;
    padding-top: 1px;
}

.wizard-steps
{
    position: relative;

    display: inline-block;
    clear: both;
    overflow: hidden;

    width: 1005px;
}

.wizard-steps div
{
    position: relative;

    display: inline-block;
}

.wizard-steps p
{
    font-size: 16px;
    font-weight: 300;
    line-height: 34px;

    position: relative;

    display: block;
    float: left;

    height: 34px;
    margin-right: 17px;
    padding: 0 3px 0 10px;

    text-decoration: none;

    color: #333;
    background: #ededed;
}

.wizard-steps p:before
{
    position: absolute;
    top: 0;
    left: -17px;

    width: 0;
    height: 0;

    content: '';

    border-top: 17px solid #ededed;
    border-bottom: 17px solid #ededed;
    border-left: 17px solid transparent;
}

.wizard-steps p:after
{
    position: absolute;
    top: 0;
    right: -17px;

    width: 0;
    height: 0;

    content: '';

    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #ededed;
}

.wizard-steps p.laststep
{
    width: 3000%;
}

.wizard-steps p.laststep:after
{
    background-color: #ededed;
    background-size: 200px 34px;
}

.wizard-steps .active-step p
{
    font-weight: 300;

    color: white;
    background: #3d3d3d;
}

.wizard-steps .active-step p:before
{
    border-top: 17px solid #3d3d3d;
    border-bottom: 17px solid #3d3d3d;
}

.orange-asterix
{
    color: #f60;
}

.wizard-steps .firststep.active-step p:before
{
    border-right: 17px;
    border-left: 17px;
}

.wizard-steps .active-step p:after
{
    border-left: 17px solid #3d3d3d;
}

.wizard-steps .firststep p:before
{
    position: absolute;
    top: 0;
    left: -17px;

    width: 0;
    height: 0;

    content: '';

    border-top: 0;
    border-bottom: 0;
}

.position_ca
{
    padding-top: 30px;
}

.position_ca p
{
    font-size: 14px;

    display: inline-block;

    padding-left: 20px;

    color: #333;
}

.terms-txt
{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    max-width: 720px;
    padding-top: 28px;

    color: #333;
}

.position_ca a
{
    text-decoration: none;

    color: #f60;
}

.prom-code-box
{
    position: relative;

    width: 253px;
    height: 392px;
    margin-top: 20px;
    margin-left: 752px;

    border-top: 8px solid #f60;
    background-color: #e8f0f7;
}

.prom-code-box .textbox
{
    padding: 24px;
}

.prom-code-box .textbox p
{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    width: 210px;
    margin-top: -3px;

    letter-spacing: .1px;

    color: #333;
}

.prom-code-box .textbox h2
{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    margin-top: -17px;

    letter-spacing: .4px;

    color: #333;
}

.prom-code-box .textbox h1
{
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;

    margin-top: 4px;

    color: #f60;
}

.reset-psw
{
    padding-top: 10px;
}

.content-container-signup
{
    line-height: 21px;

    margin-top: 11px;
    margin-left: -12px;
}

.content-container-signup-billing .table td
{
    float: left;

    padding: 0 2px 0 10px;

    border-top: none;
}

.content-container-signup-billing,
.content-container-ssh
{
    line-height: 21px;

    width: 1005px;
    margin-top: 11px;
}

.blocked-info p
{
    font-size: 16px;
    line-height: 24px;
}

.blocked-info p a
{
    text-decoration: none;

    color: #f60;
}

legend
{
    font-size: 20px;
    font-weight: 500;

    margin-left: 3px;
    padding-top: 4px;

    border-bottom: none;
}

.orange-asterix
{
    font-size: 24px;

    color: #f60;
}

.lgn-blng
{
    margin-top: 42px;
}

.or-pos
{
    font-size: 15px;

    float: left;

    margin-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.mb-pos
{
    position: absolute;
    top: 153px;
}

.phone-btn-pos
{
    margin-top: -19px;
    padding-bottom: 35px;
}

.notification-wrapper
{
    max-width: 1010px;
}

.first-block
{
    display: inline-block;

    width: 725px;
}

.input-group .add-on:first-child,
.input-group .btn:first-child,
.input-group-addon
{
    font-size: 16px;

    float: left;

    width: 50px;

    color: #555;
    border-radius: 0;
    text-shadow: none;
}

.input-group-addon
{
    padding: 4px 12px;
}

.edit-value-double
{
    width: 457px !important;
}

.edit-value-double select
{
    width: 200px !important;
    height: 30px;

    vertical-align: top;
}

.input-group .add-on:first-child,
.input-group .btn:first-child,
.input-group-addon
{
    font-size: 16px;

    float: left;

    width: 50px;

    color: #555;
    border-radius: 4px 0 0 4px;
    text-shadow: none;
}

.cancel-signup-btn
{
    margin-right: 15px;
}

.legend-button
{
    font-weight: normal;

    margin-top: -5px;
    margin-right: -6px;
}

.signup-btn-group
{
    margin-bottom: 80px;
}

.pin-error
{
    margin-top: 4px;
}

.phone-input
{
    width: 150px;
}

.select2-container .select2-choice
{
    line-height: 21px;

    position: relative;

    display: block;
    overflow: hidden;

    height: 30px;
    padding: 0 0 0 15px;
    padding-top: 3px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
    text-decoration: none;

    color: #444;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fafcfd !important;
    background-image: none !important;
    background-clip: padding-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    filter: none;
    -webkit-touch-callout: none;
}

.select2-container .select2-choice div b
{
    display: block;

    width: 100%;
    height: 100%;

    background: #fafcfd url('../../../../apps/main/static/img/select2.png') no-repeat 0 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.select2-container .select2-choice span
{
    font-size: 16px;
    font-weight: 300;
}

.edit-value-two .select2-container
{
    padding-right: 0;
}

.edit-expiration-month,
.edit-expiration-year
{
    width: 106px;
}

.edit-country,
.edit-state
{
    width: 217px !important;
}

.edit-value-double .select2-container
{
    vertical-align: top;
}

.edit-value-double .input-group input
{
    width: 155px!important;
    height: 30px;

    text-indent: 4px;

    border: 1px solid #ccc;
}

.input-group input
{
    border-radius: 0 4px 4px 0;
}

.input-group-addon
{
    padding: 4px 12px;
}

.input-group-inline
{
    display: inline-block;
}

.input-group-inline .input-group-addon
{
    width: 62px;
    height: 30px;

    text-align: left;
}

.select2-results ul.select2-result-sub
{
    padding-left: 0;
}
