/*.navbar-inner {*/
	/*border:none;*/
/*}*/
/*.navbar-inner {*/
    /*-webkit-border-radius: 0px;*/
    /*-moz-border-radius: 0px;*/
    /*border-radius: 0px;*/
    /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);*/
    /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);*/

/*}*/

.loading-medium {
    background-image:url('../img/icon-loading-medium.gif');
    background-position:50% 50%;
    background-repeat:no-repeat;
    min-height:60px;
    max-width:100%;
    min-width:50px;
}

.loading-medium-signup {
    min-height:30px;
}

/*.navbar-inner .container {*/
    /*padding:10px;*/
/*}*/

/*.navbar-inverse,.navbar-inner  {*/
    /*background-color:#dee4e9 !important;*/
    /*border-bottom:1px solid #d7dee2 !important;*/
    /*color:#375775;*/
    /*margin-bottom:30px;*/
	/*overflow:hidden;*/
	/*height:80px;	*/
/*}*/

/*.navbar-inner .brand {*/
	/*position:absolute;*/
	/*z-index:10;*/
	/*background-color:#375775;*/
    /*background-image: url('../img/logo-white.png');*/
    /*background-repeat:no-repeat;*/
    /*background-position:50% 60%;*/
    /*width:190px;*/
    /*height:100px;*/
	/*margin-top:-15px;*/
	/*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
	/**/
/*}*/

/*.navbar-inner .top-menu span {*/
	/*padding-right:10px;*/
	/*padding-left:10px;*/
	/*text-transform:uppercase;*/
	/*font-size:12px;*/
	/*border-right:1px solid #375775;*/
/*}*/
/*.navbar-inner .top-menu span.last {*/
	/*border:none;*/
/*}*/
/*.navbar-inner .top-menu span a {*/
	/*color:#375775;*/
/*}*/
/*h1 {*/
	/*font-weight:normal;*/
/*}*/
/*.align-center {*/
	/*text-align:center;*/
/*}*/

/*.text-huge {*/
	/*font-size:80px;*/
	/*line-height:100px;*/
/*}*/
/*.text-small {*/
    /*font-size:11px;*/
/*}*/
/*.note {*/
    /*color:#888;*/
/*}*/


.footer .brand {
	background-image: url('../img/logo-gray.png');
    background-repeat:no-repeat;
    background-position:50% 60%;
    width:120px;
    height:30px;
}

.footer {
	padding-top:20px;
	margin-bottom:65px;
}
.footer .nav {
	padding-top:8px;
}
.footer .nav li {
	float:left;
	font-size:11px;
}
.footer a {
    color:#999;
    background-color:transparent !important;
	padding-right:20px;
}
input{
    border-radius: 0;
    font-size: 16px;
}
/*.none {*/
	/*display:none;*/
/*}*/
/*.nav.nav-tabs li.disabled:hover a{*/
	/*border:1px solid rgba(255,255,255,0);*/
/*}*/
/*.border {*/
	/*border:1px solid red !important;*/
/*}*/

/*.cancel-signup-link {*/
    /*cursor:pointer;*/
/*}*/

select.date-month, select.date-year {
    width: 108px;
}

/*#phone {*/
    /*width: 145px;*/
/*}*/
/*.orange-asterix {*/
    /*color:#ff6600;*/
/*}*/
/*.required-text {*/
    /*font-size: 14px;*/
/*}*/
/*#paymentForm tr td{*/
    /*padding:10px;*/
/*}*/

/*.btn-joyent-blue,*/
/*.btn-joyent-blue:hover {*/
    /*background-image:url('../img/bg-button-blue.png');*/
    /*background-position:50% 50%;*/
    /*background-repeat:repeat-x;*/
    /*color:#fff;*/
    /*text-shadow:1px 1px 1px #375775;*/
    /*border-bottom:1px solid #28445e;*/
/*}*/

.ssh-download-link {
    float:left;
    margin-top: 28px;
    width:380px;
}



body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header{
    position: fixed;
    display: block;
    width: 100%;
    height: 53px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ededed;
    z-index: 10;
}
.logo{
    background-image: url(../img/logo-orange.png);
    width: 175px;
    height: 53px;
}
.left {
    position: fixed;
    top: 53px;
    left: 0;
    z-index: 999999;
    width: 175px;
    height: 100%;
    background-color: #3d3d3d;
}
.page-title {
    display: block;
    padding-bottom: 15px;
    width: 1005px;
    border-bottom: 1px solid #ccc;
    color: #3d3d3d;
    font: 200 30px/30px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main {
    padding: 75px 0 60px 203px;
    min-height: 1000px;
}
.login-form{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03px;
    width: 715px;
    /*padding-top: 20px;*/
    /*float: left;*/
    clear: both;
}
.sigin{
    padding-top: 35px;
    margin-left: -3px;
}
.login-form label{
    float: right;
    font-size: 16px;
    color: #3d3d3d;
    padding-top: 5px;
}
.login-form .signin-inputs.usn{
    margin-left: 14px;
}
.login-form .signin-inputs.psw{
    margin-left: 19px;
}
.login-form .signin-inputs{
    border: 1px solid #ccc;
    width: 205px;
    height: 20px;
    padding: 4px 6px;
    line-height: 20px;
    font-size: 15px;
    background-color: #fafcfd;
}
.login-form .signin-inputs.alert{
    background-color: #fef1d2;
}
.position{
    padding-top: 17px;
    font-size: 16px;
}
.position-si p{
    display: inline-block;
    color: #999999;
    padding-left: 5px;
}
.position-si a{
    text-decoration: none;
    color: #f60;
    padding-right: 10px;
    padding-left: 10px;
}
.position-si{
    padding-top: 8px;
    padding-left: 95px;
}
.position-rr{
    padding-top: 15px;
    padding-left: 97px;
}
.si-btn {
    color: white;
    text-shadow: none;
    background-color: #f60;
    min-width: 46px;
    padding: 5px 11px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    float: right;
    border: none;
}
.grey-btn {
    display: inline-block;
    padding: 7px 11px;
    min-width: 46px;
    border: none;
    background-color: #ededed;
    color: #ff6600;
    text-decoration: none;
    text-shadow: none;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.error{
    display: inline-block;
    padding-left: 10px;
    /*margin: 0;*/
}
.error i{
    color: #f60;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 10px;
}
.error span{
    color: #f60;
    font-size: 14px;
    font-weight: 300;
}
.info span{
    color: #3cc051;
    font-size: 16px;
    font-weight: 300;
    margin-left: 23px;
}
.alert-icon{
    background-image: url("../img/alert-icon.png");
    background-repeat: no-repeat;
    margin-left: 5px;
    background-position: 0 3px;
}
.info-icon{
    background-image: url("../img/info-icon.png");
    background-repeat: no-repeat;
    margin-left: 5px;
    background-position: left;
    /*width: 18px;*/
    /*height: 16px;*/
}
.table td .alert-icon{
    position: relative;
    width: 18px;
    height: 20px;
}
.table td .alert-icon span{
    position: absolute;
    width: 240px;
}
.hide{
    display: none;
}
.small-text{
    font-size: 14px;
    color: #3d3d3d;
}
.table{
    margin-top: 3px;
    width: 996px !important;
    font-size: 16px;
}
.table tr{
    height: 43px;
}
.table td:first-child label{
    font-size: 16px;
}
.table td:first-child{
    min-width: 170px;
}
.table td{
    border-top: none;
    padding: 0 10px 0 10px;
    float: left;
}
.login-form form{
    margin: 0 14px 0 7px;
    padding-top: 1px;
}
.wizard-steps {
    width: 1005px;
    position: relative;
    clear: both;
    /*margin-top: 11px;*/
    display: inline-block;
    overflow: hidden;
}
.wizard-steps div {
    position:relative;
    display: inline-block;
}
.wizard-steps p {
    position: relative;
    display: block;
    height: 34px;
    margin-right: 17px;
    padding: 0 3px 0 10px;
    float: left;
    font-size: 16px;
    line-height: 34px;
    color: #333;
    background: #ededed;
    text-decoration: none;
    font-weight: 300;
}
.wizard-steps p:before {
    width:0;
    height:0;
    border-top: 17px solid #ededed;
    border-bottom: 17px solid #ededed;
    border-left:17px solid transparent;
    position: absolute;
    content: "";
    top: 0;
    left: -17px;
}
.wizard-steps p:after {
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left:17px solid #ededed;
    position: absolute;
    content: "";
    top: 0;
    right: -17px;
}
.wizard-steps p.laststep{
    width: 3000%;
}
.wizard-steps p.laststep:after{
    background-color: #ededed;
    backgroun-size: 200px 34px;
}

.wizard-steps .active-step p {
    color:white;
    background: #3d3d3d;
    font-weight: 300;
    /*padding-left: 10px;*/
}
.wizard-steps .active-step p:before {
    border-top: 17px solid #3d3d3d;
    border-bottom: 17px solid #3d3d3d;

}
.orange-asterix {
    color:#ff6600;
}
.wizard-steps .firststep.active-step p:before{
    border-right: 17px;
    border-left: 17px;
}
.wizard-steps .active-step p:after {
    border-left: 17px solid #3d3d3d;
}

.wizard-steps .firststep p:before{
    width:0;
    height:0;
    position: absolute;
    content: "";
    top: 0;
    left: -17px;
    /*border: 0;*/
    border-bottom: 0;
    border-top: 0;
}
.position_ca{
    padding-top: 30px;
}
.position_ca p{
    display: inline-block;
    padding-left: 20px;
    color: #333333;
    font-size: 14px;
}
.terms-txt{
    max-width: 720px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 28px;
    color: #333333;
}
.position_ca a{
    text-decoration: none;
    color: #f60;
}
/*.message-box{*/
    /*width: 253px;*/
    /*height: 400px;*/
    /*background-color: #e8f0f7;*/
    /*display: inline-block;*/
    /*float: right;*/
    /*margin-top: 10px;*/
/*}*/
.prom-code-box{
    width: 253px;
    height: 392px;
    border-top: 8px solid #ff6600;
    background-color: #e8f0f7;
    position: relative;
    margin-left: 752px;
    margin-top: 20px;
}
.prom-code-box .textbox{
    padding: 24px;
}
.prom-code-box .textbox p{
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: -3px;
    letter-spacing: 0.1px;
    width: 210px;
}

.prom-code-box .textbox h2{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    margin-top: -17px;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.prom-code-box .textbox h1{
    font-size: 36px;
    color: #f60;
    font-weight: 300;
    margin-top: 4px;
    line-height: 36px;
}
.reset-psw{
    padding-top: 10px;
}
.content-container-signup{
    margin-top: 11px;
    margin-left: -12px;
    line-height: 21px;
}
.content-container-signup-billing .table td{
    border-top: none;
    padding: 0 2px 0 10px;
    float: left;
}


.content-container-signup-billing,
.content-container-ssh {
    margin-top: 11px;
    width: 1005px;
    line-height: 21px;
}
.blocked-info p {
    font-size: 16px;
    line-height: 24px;
}
.blocked-info p a {
    color: #f60;
    text-decoration: none;
}
legend {
    border-bottom: none;
    font-weight: 500;
    font-size: 20px;
    margin-left: 3px;
    padding-top: 4px;
}
.orange-asterix{
    color: #f60;
    font-size: 24px;
}
.lgn-blng{
    margin-top: 42px;
}
.or-pos{
    float: left;
    margin-top: 5px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.mb-pos{
    position: absolute;
    top: 153px;
}
.phone-btn-pos {
    margin-top: -19px;
    padding-bottom: 35px;
}

.notification-wrapper {
    max-width: 1010px;
}
.first-block{
    width: 725px;
    display: inline-block;
}

.edit-value-double {
    width: 457px !important;
}
.edit-value-double select{
    width: 200px !important;
}

.edit-value-double .input-prepend input {
    width:155px !important;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child, .add-on{
    width: 50px;
    border-radius: 0;
    float: left;
    text-shadow: none;
    font-size: 16px;
    color: #555555;
}

.cancel-signup-btn {
    margin-right: 15px;
}
.legend-button {
    margin-top: -5px;
    margin-right: -6px;
    font-weight: normal;
}