html(lang='en',data-ng-app='JoyentPortal')
  head
    meta(charset='utf-8')
    meta(name='fragment',content='!')
    title(data-ng-bind='windowTitle') LOGIN
    each link in css
        link(rel='stylesheet',href='#{link._url}',type='text/css')
  body(class="JoyentPortal-module-login")

    div(data-main-menu, class="navbar")

    div(class="login-form")
    each link in js
      script(type='text/javascript',src='#{link._url}')