.loading-medium {
    float:left;
}

.os-btn{
    min-width: 90px;
    max-width: 90px;
    min-height: 60px;
    max-height: 60px;
    padding: 10px;
    font-size: 12px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    vertical-align: middle;
    margin: 3px 5px;
}
.one-line-text{
    margin-top: 20px;
}
/*my adds*/
.widget:before, .widget:after {
    display: table;
    line-height: 0;
    content: "";
}
.widget:after {
    clear: both;
}
.widget.grey {
    width: 240px;
    height: 145px;
    background-color: #767676;
}
.widget-block a {
    text-decoration: none;
}
.widget {
    margin-bottom: 5px;
    position: relative;
    background-position: top right;
}
.manta-icon{
    background-image: url("../img/manta_bg.png");
    background-repeat: no-repeat;
}
.instance-icon{
    background-image: url("../img/instances_bg.png");
    background-repeat: no-repeat;
}
.balancer-icon {
    background: url("../img/balancer-bg.png") no-repeat 140px 11px;
}
.utilization-icon {
    background: url("../img/utilization_bg.png") no-repeat right center;
}
.support-icon {
    background: url("../img/support-bg.png") no-repeat 162px 24px;
    background-size: 87px;
}
.host-icon {
    background: url("../img/host-bg.png") no-repeat 165px 34px;
    background-size: 70px;
}
.system-icon {
    background: url("../img/system-bg.png") no-repeat 150px 14px;
}
.system-list-icon {
    background: url("../img/system-bg2.png") no-repeat 157px 16px;
}
.warn-dash-icon{
    background-image: url("../img/warn.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: 155px 18px;
    background-color: #e9eff3;
    height: 205px;
    width: 240px;
}

.widget.grey h4 {
    color: white;
    padding-left: 15px;
    font-weight: 500;
    padding-top: 8px;
    font-size: 19px;
}

.widget .more {
    position: absolute;
    bottom: 0;
    display: block;
    float: left;
    clear: both;
    overflow: hidden;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: 5px 10px 5px 15px;
    width: 100%;
    background-color: #676767;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 11px;
    opacity: 0.7;
    -ms-box-sizing:border-box;
}

.widget.links2 .more i {
    float: right;
    margin-top: 3px;
    position: absolute;
    right: 7px;
}

.widget-btn {
    height: 55px;
    background: #767676;
}

.widget .details .number {
    font-size: 30px;
    letter-spacing: -1px;
}

.widget .details .number,
.widget .details .desc-title {
    text-align: left;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

.widget .details .bignumber {
    font-size: 42px;
    font-weight: 800;
    line-height: 40px;
    margin-right: 5px;
}

.widget .details .measure {
    font-size: 26px;
}

.widget .details-utilization .measure {
    font-size: 20px;
}

.widget .details .measure-number {
    font-size: 24px;
}
.widget .details .measure-usage {
    font-size: 15px;
    line-height: 15px;
}

.widget .details .desc,
.widget .details .desc a {
    max-width: 215px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 17px;
}

.widget .details .desc a.orange {
    color: #f60;
}

.widget .details .desc-title {
    font-size: 21px;
    letter-spacing: 0px;
}

.widget .details-subinfo.details-utilization .desc {
    line-height: 0;
    text-align: left;
}

.widget .details {
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-top: 5px;
    padding-right: 10px;
    padding-left: 15px;
    max-height: 84px;
    line-height: 14px;
}
.widget.system-icon h4,
.widget.system-icon .details .desc {
    margin-bottom: 3px;
}

.widget.system-icon .details {
    margin-top: 0;
    max-height: 106px;
}

.widget.system-icon .details .desc a {
    font-size: 12px;
    line-height: 12px;
}

.widget .details-utilization {
    padding: 0 7px;
    word-wrap: break-word;
    min-width: 30%;
    max-width: 40%;
    max-height: 90px;
}

.widget .details-utilization,
.widget .details-utilization .desc {
    text-align: right;
}

.widget .details-subinfo {
    border-left: 1px solid #979797;
    max-width: 48%;
}

.widget .details-subinfo.details-utilization {
    margin-top: 1px;
    padding-right: 5px;
}
.utilization-icon h4 {
    margin-bottom: 7px;
}

.m-icon-white-arrow {
    width: 15px !important;
    height: 15px !important;
    background-image: url(../img/r_arrow.png);
    cursor: pointer;
}

.margin-text-block h5 > a{
    color: #ff6600;
}

.margin-text-block h5{
    font-weight: normal !important;
    line-height: 11px !important;
    font-size: 15px;

}

.margin-text-block{
    padding-left: 22px;
    padding-top: 93px;
}

.align-text-btn {
    text-align: left !important;
}

.manta-ad-block {
    padding-left: 27px;
    padding-top: 13px;
}
.manta-ad-block h4 {
    line-height: 9px;
}
.manta-ad-block2 h5 {
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;;
}
.manta-ad-block2 {
    margin-left: 27px;
    margin-top: 17px;
}
.manta-ad-block3 a,
.manta-ad-block3 a * {
    color: #ff6600 !important;
    line-height: 7px;
    text-decoration: none;
}
.manta-ad-block3 {
    margin-left: 66px;
    margin-top: 24px;
}
.manta-ad {
    width: 490px;
    height: 280px;
    background-image: url("../img/manta_start.jpg");
    background-repeat: no-repeat;
}
.portlet-title-blog {
    margin-bottom: 0;
}
.portlet-title .caption {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    text-transform: uppercase;
    color: black;
}
.portlet-body a * {
    color: #0d638f;
}
.line-spacer {
    border-bottom: 1px solid #c2c2c2;
    padding-top: 5px;
    width: 480px;
}
.separation-container span > a,
.separation-container span,
.separation-container a,
.separation-container.row-fluid a,
.separation-container {
    color: #3d3d3d;
    text-decoration: none;
    min-height: 0 !important;
    font-size: 13px !important;
    border-top: none;
    line-height: 25px;
}

.span_date{
    width: 13%;
}

.widget-margin{
    margin: 7px 7px 7px 0;
}
.first-colums{
    width: 495px;
    padding-top: 35px;
}
.secont-colums{
    overflow: hidden;
    width: 485px;
    padding-top: 23px;
    padding-left: 20px;
}
.secont-colums .span{
    margin: 0;
}
.secont-colums .span h5{
    letter-spacing: 1px;
    margin-left: 0;
    margin-bottom: 5px;
    font-weight: bold;
}
.white-line{
    border-bottom: 1px solid #ffffff;
}

.details tr:first-child {
    border-bottom: 1px solid #979797;
}

.details tr:first-child td {
    padding-right: 10px;
}

.details tr {
    height: 30px;
}

.details td:last-child {
    padding-left: 10px;
    border-left: 1px solid #979797;
}

.host h4 {
    margin-bottom: 5px;
}

table.servers-bg {
    position: absolute;
    top: 38px;
    right: 3px;
    width: 75px;
}

.server .tooltip.in {
    opacity: 1;
}

.server .tooltip {
    font-size: 14px;
    font-weight: normal;
}
.server {
    display: block;
    overflow: hidden;
    margin-top: 2px;
    padding-left: 5px;
    height: 16px;
    border-radius: 3px;
    background-color: #959595;
    color: #646262;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    cursor: default;
}


.lightbulb {
    background-color: #767676;
    display: inline-block;
    float: right;
    margin-top: 4px;
    margin-right: 5px;
    width: 5px;
    height: 2px;
}

.lightbulb-enable {
    background-color: #F9FF69 !important;
}


