<div class="container-fluid container-position">
    <div class="row">
        <h3 class="page-title">Getting Started</h3>
        <p>The Joyent Cloud offers a high degree of security in various ways. Part of this security is tied into how you access your instances. Instead of a using a username/password combination for authentication, you will need to generate an SSH key, which is exponentially more secure. However, understanding how to work with SSH is a challenge if you are unfamiliar with the process.</p>
        <br/>
        <p>This section will guide you through the process of signing up for the Joyent Cloud including walking you through generation of an SSH key.</p>
        <br/>
        <p>In this section:</p>
        <ul class="faq-list">
            <li><a href="http://docs.joyent.com/public-cloud/getting-started" target="_blank">Your Joyent Cloud Account</a></li>
            <li><a href="http://docs.joyent.com/public-cloud/getting-started/ssh-keys" target="_blank">Generating an SSH Key</a></li>
            <li><a href="http://docs.joyent.com/public-cloud/getting-started/2fa" target="_blank">Security Using Two-Factor Authentication (2FA)</a></li>
            <li><a href="http://docs.joyent.com/public-cloud/containers" target="_blank">Provisioning a Container or Machine</a></li>
            <li><a href="https://apidocs.joyent.com/cloudapi/" target="_blank">CloudAPI</a></li>
            <li><a href="https://apidocs.joyent.com/docker" target="_blank">DockerAPI</a></li>
        </ul>
    </div>
</div>