<div class="container-fluid container-position">
    <div class="row">
        <h3 class="page-title">Getting Started</h3>
        <p>The Joyent Cloud offers a high degree of security in various ways. Part of this security is tied into how you access your instances. Instead of a using a username/password combination for authentication, you will need to generate an SSH key, which is exponentially more secure. However, understanding how to work with SSH is a challenge if you are unfamiliar with the process.</p>
        <br/>
        <p>This section will guide you through the process of signing up for the Joyent Cloud including walking you through generation of an SSH key.</p>
        <br/>
        <p>In this section:</p>
        <ul class="faq-list">
            <li><a href="https://docs.joyent.com/jpc/Your%20Joyent%20Cloud%20Account.html" target="_blank">Your Joyent Cloud Account</a></li>
            <li><a href="https://docs.joyent.com/jpc/Generating%20an%20SSH%20Key.html" target="_blank">Generating an SSH Key</a></li>
            <li><a href="https://docs.joyent.com/jpc/Provisioning%20a%20Machine.html" target="_blank">Provisioning a Machine</a></li>
            <li><a href="https://docs.joyent.com/jpc/Machine%20User%20Accounts.html" target="_blank">Machine User Accounts</a></li>
            <li><a href="https://docs.joyent.com/jpc/Connecting%20to%20Your%20Machine.html" target="_blank">Connecting to Your Machine</a></li>
        </ul>
    </div>
</div>