.lb-label {
    padding: 5px 0 0 0;

    line-height: 20px;
}

.lb-label-ip {
    padding-top: 0;
}

.protocol-input input {
    width: 60px;
}

.url-input {
    width: 80px;
    margin-left: -17px;
}

.protocol-block {
    margin-top: 10px;
}

.clb-input {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.name-input input {
    width: 256px;
    height: 30px;
    margin-left: 35px;
}

.short-input {
    width: 38px;
    margin-left: 35px;
}

.short-input-port {
    width: 55px;
}

.slb-select {
    width: 100px;
    height: 32px;

    background-color: white !important;
}

.lb-edit {
    width: auto;
    margin-bottom: 40px;
    padding: 15px;

    border: 2px solid #ececec;
}

.lb-edit input {
    margin-bottom: 10px;
    padding: 4px 6px;
}

.lb-line {
    width: 355px;
    margin-top: 10px;
    padding-bottom: 15px;

    border-top: 2px solid #ececec;
}

.lb-line-allwidth {
    width: 100%;

    border-bottom: 2px solid #ececec;
}

.certificate-upload,
.lb-edit input.group-checkable {
    margin: 0;
}

.img1 {
    width: 272px;
    height: 176px;

    background-repeat: no-repeat;
    background-position: 0 20px;
}

.img2 {
    width: 272px;
    height: 176px;
    margin-left: 120px;

    background-image: url('../img/img2.png');
    background-repeat: no-repeat;
    background-position: 0 20px;
}

.license-eula {
    width: 900px;
    height: 400px;
    padding: 10px;
}

.accept-checkbox {
    width: 900px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.dd-margin {
    margin-right: 10px;
    margin-left: -10px;
}

.dd-btn-small {
    min-width: 45px;
}

.dd-btn {
    min-width: 45px;
    max-width: 45px;
}

.table-pos {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-overflow {
    overflow: auto;

    text-overflow: ellipsis;
}

.table {
    white-space: nowrap;
}

.table td {
    overflow: hidden;

    max-width: 100px;

    text-overflow: ellipsis;
}

.upload-btn {
    display: inline-block;

    margin-left: 5px;

    vertical-align: middle;
}

input.ng-invalid-field {
    border-color: red;
    box-shadow: 0 0 6px -1px red;
}

.no-display {
    display: none;
}

.edit-btn-pos {
    margin: -20px 20px 30px 10px;
}

.balancer-id {
    padding-bottom: 10px;
    padding-left: 50px;
}

.protocol-pos {
    margin-left: -3px;
}

.int-port {
    margin-top: -10px;
}

.hc-conf {
    margin: 0 0 -10px 0;
}

.section-title {
    margin-left: 7px !important;

    font-weight: bold;
}

.timeout {
    margin: 0 0 0 20px;
}

.ht-btn-pos {
    margin-left: -27px;
}

.hc-interval {
    line-height: 30px;
}

.two-line {
    line-height: 15px;
}

.table-left-border {
    margin-left: 0;
    padding-left: 20px;

    border-left: 2px solid #ececec;
}

.table-right-border {
    margin-right: 0;
    padding: 0 20px 0 0;

    border-right: 2px solid #ececec;
}

.delete-btn-pos {
    margin: -20px 0 30px 10px;
}

.load-pos {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    margin-top: -20px;
}

.lb-contr {
    margin: 0;

    list-style-type: none;
}

.lb-disabled {
    margin-top: 20px;
}

.minus-icon-pos {
    margin: 1px 0 0 0;
}

.eula-space {
    padding-left: 10px;
}

.e-port {
    margin-top: 10px;
}

.port-m {
    margin-left: 3px;
}

.clear-link {
    text-decoration: none;

    color: #333;
}

.create-lb-btn,
.uninstall-lb-btn {
    font-size: 16px;
}

.table-bordered {
    border-top: 0;
    border-bottom: 0;
}

table.table {
    margin-bottom: 25px!important;
}

.bg-edit-create {
    display: inline-block;

    width: 406px;
    /*background-color: #FEF1D0;*/
    /*padding: 20px;*/
    padding: 0;
}

.edit-info-bar {
    padding-left: 15px;

    vertical-align: middle;

    background-color: #fef1d2;

    line-height: 35px;
}

.edit-info-bar-highlight .eula-space,
.load-balancer-highlight td,
.load-balancer-highlight .slb-name {
    color: #f60;
}

.edit-name {
    display: inline-block;

    width: 125px;
    height: 30px;
    padding-right: 15px;

    text-align: right;
    vertical-align: top;

    color: #7d7d7d;

    font-size: 16px;
    line-height: 30px;
}

.edit-value {
    display: inline-block;

    width: 262px;

    vertical-align: middle;

    font-size: 16px;
    line-height: 30px;
}

.edit-value input {
    width: 250px;
    height: 28px;
    padding: 0 0 0 10px;

    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fafcfd;

    font-size: 16px;
    font-weight: 300;
}

.edit-value-two input {
    display: inline-block;

    height: 30px;
}

.form-group {
    height: 40px;
    margin-top: 0;
}

legend {
    margin-left: -2px;
    padding-top: 5px;

    letter-spacing: .6px;

    color: #333;
    border-bottom: 0;

    font-size: 19px;
    font-weight: 600;
    line-height: 18px;
}

.btn-group > .btn + .dropdown-toggle {
    height: 32px;

    border: 1px solid #ccc;
}

.table > thead th {
    height: 28px;
}

.agreement-pos {
    display: inline-block;

    width: 650px;
    padding-right: 15px;

    vertical-align: top;
}

.datacenter-name {
    padding-top: 5px;
    padding-left: 13px;
}

.operation-box {
    padding: 20px;

    border: 1px solid #ccc;
    background-color: #ededed;
}

.operation-box p {
    margin: 0;

    color: #000;

    font-weight: 600;
}

.documentation-icon {
    position: relative;
    top: -2px;

    display: inline-block;

    box-sizing: content-box;
    width: 14px;
    height: 14px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 2px;

    text-align: center;
    vertical-align: bottom;
    text-decoration: none;

    color: #e9eff3;
    border-radius: 50%;
    background-color: #5d8096;

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.rickshaw_legend {
    position: absolute;
    top: 5px;
    left: 300px;

    color: #000 !important;
    background: inherit !important;
}

.port-input > input {
    width: 50px !important;
    margin: 10px 10px 10px 9px;
}

.breadcrumb > li + li:before {
    padding-left: 5px;
}

.red-text {
    color: red;
}
