.load-balancers{
    float: right;
    margin-top: 10px;
    margin-right: 80px;
}

.load-balancers select {
    margin: 0;
}

.lb-label{
    padding: 5px 0 0 0;
    line-height: 20px;
}

.protocol-input input{
    width: 60px;
}
.url-input{
    width: 80px;
    margin-left: -17px;
}
.port-input > input{
    width: 35px !important;
    margin: 10px;
}
.protocol-block {
    margin-top: 10px;
}
.clb-input{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.name-input input{
    /*width: 265px;*/
    /*margin-left: 14px;*/
    width: 242px;
    margin-left: 37px;
}
.short-input {
    width: 24px;
    margin-left: 37px;
}
.group-checkable{
    margin: 0;
}
.lb-edit{
    border: 2px solid #ececec;
    padding: 15px;
    margin-bottom: 40px;
    width: auto;
}
.lb-line{
    border-top: 2px solid #ececec;
    width: 355px;
    padding-bottom: 15px;
}
.lb-line-allwidth{
    border-bottom: 2px solid #ececec;
    width: 100%;
}
.logo-riverbed{
    background-image: url("../img/logo_riverbed.png");
    width: 133px;
    height: 58px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 14px;
    margin-top: -30px;
}
.img1{
/*
    background-image: url("../img/img1.png");
*/
    width: 272px;
    height: 176px;
    background-repeat: no-repeat;
    background-position: 0 20px;
}
.img2{
    background-image: url("../img/img2.png");
    width: 272px;
    height: 176px;
    background-repeat: no-repeat;
    background-position: 0 20px;
    margin-left: 120px;
}
.license-eula-logo{
    background-image: url("../img/logo_riverbed.png");
    width: 133px;
    height: 58px;
    background-repeat: no-repeat;
    /*background-size: 60%;*/
    /*background-position: 14px;*/
    /*margin-top: -30px;*/
}
.license-eula{
    width: 900px;
    height: 400px;
    overflow: auto;
    border: 1px solid #D4D7D8;
    padding: 10px;
}
.license-eula p{
    font-size: 12px;
}
.accept-checkbox input{
    margin-top: -3px;
    margin-right: 10px;
}
.accept-checkbox{
    padding-top: 20px;
    padding-bottom: 40px;
    width: 740px;
}
.dd-margin{
    margin-left: -10px;
    margin-right: 10px;
}
.dd-btn-small{
    min-width: 45px;
}
.dd-btn{
    min-width: 45px;
    max-width: 45px;
}
.table-pos{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.table-overflow{
    overflow: auto;
    text-overflow: ellipsis;
}
.table{
    white-space: nowrap;
}
.table td{
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.upload-btn{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
input.ng-invalid-port{
    border-color: red;
    box-shadow: 0px 0px 6px -1px red;
}
.no-display{
    display: none;
}
.edit-btn-pos{
    margin: -20px 20px 30px 10px;
}
.balancer-id{
    padding-left: 37px;
}
.protocol-pos{
    margin-left: 13px;
}
.int-port{
    margin-top: -10px;
}
.hc-conf{
    margin: 0 0 -10px 0;
}
.section-title {
    font-weight: bold;
    margin-left: 7px !important;
}
.timeout{
    margin: 0 0 0 20px;
}
.ht-btn-pos{
    margin-left: -27px;
}
.hc-interval{
    line-height: 30px;
}
.two-line{
    line-height: 15px;
}
.table-left-border{
    border-left: 2px solid #ececec;
    padding-left: 20px;
    margin-left: 0;
}
.table-right-border{
    border-right: 2px solid #ececec;
    padding-right: 20px;
    margin-right: 0;
}
.delete-btn-pos{
    margin: -20px 0 30px 10px;
}
.load-pos{
    width:30px;
    height:30px;
    min-width:30px;
    min-height:30px;
    margin-top:-20px
}
.lb-contr{
    margin: 0;
    list-style-type: none;
}
.lb-disabled{
    margin-top: 20px;
}
.minus-icon-pos{
    margin: 1px 0 0 0;
}
.eula-space{
    padding-left: 10px;
}
.e-port{
    margin-top: 10px;
}
.port-m{
    margin-left: 3px;
}

.instance_btn_icon{
    background-image: url("../img/plus_icon.png");
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    padding-right: 10px;
}

input {
    border-radius: 0;
}

.clear-link {
    color: #333333;
    text-decoration: none;
}

.dropdown-menu {
    border-radius: 0;
}
.font16{
    font-size: 16px;
}
.header-btn-ci {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: -60px;
}
.table-bordered{
    border-top: 0;
    border-bottom: 0;
}
table.table {
    margin-bottom: 25px!important;
}
.bg-edit-create{
    /*background-color: #FEF1D0;*/
    /*padding: 20px;*/
    padding: 0;
    width: 406px;
    display: inline-block;
}
.checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
    margin-left: 0;
}

div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased; }

div.checker {
    position: relative; }
div.checker, div.checker span, div.checker input {
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px;
}
div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px; }
div.checker span.checked {
    background-position: -76px -260px; }
div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; }
div.checker.active span {
    background-position: -19px -260px; }
div.checker.active span.checked {
    background-position: -95px -260px; }
div.checker.hover span, div.checker.focus span {
    background-position: -38px -260px; }
div.checker.hover span.checked, div.checker.focus span.checked {
    background-position: -114px -260px; }
div.checker.hover.active span, div.checker.focus.active span {
    background-position: -57px -260px; }
div.checker.hover.active span.checked, div.checker.focus.active span.checked {
    background-position: -133px -260px; }
div.checker.disabled, div.checker.disabled.active {
    background-position: -152px -260px; }
div.checker.disabled span.checked, div.checker.disabled.active span.checked {
    background-position: -171px -260px; }

label.checkbox {
    padding-left: 0;
    display: inline-block;
    vertical-align: middle;
}
.edit-info-bar{
    background-color: #fef1d2;
    vertical-align: middle;
    line-height: 35px;
    padding-left: 15px;
}
.edit-name{
    display: inline-block;
    width: 125px;
    text-align: right;
    padding-right: 15px;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #7d7d7d;
}
.edit-value{
    width: 262px;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    vertical-align: middle;
}
.edit-value input{
    padding: 0;
    width: 250px;
    border-radius: 0;
    height: 28px;
    border: 1px solid #ccc;
    background-color: #fafcfd;
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
}
.edit-value-two input{
    display: inline-block;
    height: 30px;
    border-radius: 0;
}
.control-group{
    height: 40px;
    margin-top: 0;
}
legend {
    border-bottom: 0;
    font-size: 19px;
    line-height: 18px;
    color: #333;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-left: -2px;
    padding-top: 5px;
}
.btn-group > .btn + .dropdown-toggle {
    border: 1px solid #cccccc;
    height: 32px;
}
.table > thead th {
    height: 28px;
}
.agreement-pos{
    display: inline-block;
    width: 900px;
    vertical-align: top;
    margin-top: 6px;
}
