.page-title-btn .control-panel {
    display: inline-block;
    padding: 8px 10px 0;
}
.dtrace-wrapper {
    position: relative;
    float: left;
    margin: 5px 10px 10px 0;
    padding: 10px 15px;
    width: 240px;
    height: 130px;
    border-radius: 3px;
    background-color: #eef0f2;
    cursor: pointer;
}
.dtrace-wrapper .name {
    overflow: hidden;
    box-sizing: content-box;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
}
.dtrace-wrapper .info-status {
    line-height: 30px;
}
.dtrace-wrapper .loading-medium-tr {
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
}
.full-width-form
{
    font-size: 16px;
    padding-bottom: 25px;

}

.full-width-form tr {
    border-bottom: solid white 15px;
}
.full-width-form tr.has-error {
    border-bottom: none;
}
.full-width-form td:first-child {
    padding-top: 5px;
    padding-right: 20px;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
}
.full-width-form tr.has-error td:first-child {
    padding-top: 5px;
    vertical-align: baseline;
}
.full-width-form .btn-group,
.full-width-form tr,
.full-width-form td:last-child,
.full-width-form td:last-child input {
    width: 100%;
}
.full-width-form input {
    height: 30px;
    padding: 0 10px;
    background-color: #fafcfd;
}