.page-title-btn .control-panel {
    display: inline-block;
    padding: 8px 10px 0;
}
.page-subheading {
    margin-bottom: 25px;
    padding-right: 30px;
}
.dtrace-wrapper {
    position: relative;
    float: left;
    margin: 5px 10px 10px 0;
    padding: 10px 15px;
    width: 240px;
    height: 130px;
    border-radius: 3px;
    background-color: #eef0f2;
    cursor: pointer;
}
.dtrace-wrapper .name {
    overflow: hidden;
    box-sizing: content-box;
    height: 35px;
    font-weight: bold;
    font-size: 16px;
}
.dtrace-wrapper .name p {
    overflow: hidden;
    width: 200px;
    height: 23px;
    vertical-align: top;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.dtrace-wrapper .info-status {
    line-height: 30px;
}
.dtrace-wrapper .loading-medium-tr {
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
}
.dtrace-loading-processes {
    padding-left: 5px;
    line-height: 34px;
}
.full-width-form
{
    font-size: 16px;
    padding-bottom: 25px;

}

.full-width-form tr {
    border-bottom: solid white 15px;
}
.full-width-form tr.has-error {
    border-bottom: none;
}
.full-width-form td:first-child {
    padding-top: 5px;
    padding-right: 20px;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
}
.full-width-form tr.has-error td:first-child {
    padding-top: 5px;
    vertical-align: baseline;
}
.full-width-form .btn-group,
.full-width-form tr,
.full-width-form td:last-child,
.full-width-form td:last-child input {
    width: 100%;
}
.full-width-form input {
    height: 30px;
    padding: 0 10px;
    background-color: #fafcfd;
}
.heatmap-wrapper {
    margin-top: 15px;
}
.heatmap-controls {
    width: 100%;
    min-width: 700px;
}
.heatmap-controls td {
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
}
.heatmap-controls td.medium,
.heatmap-controls td.big {
    padding: 0 1% 10px 0;
}
.heatmap-controls td.small {
    width: 9.5%;
}
.heatmap-controls td.medium {
    width: 23%;
}
.heatmap-controls td.big {
    width: 39.5%;
}
.heatmap-controls td.triple {
    width: 43.5%;
}

.heatmap-button {
    width: 100%;
    min-width: 100px;
    padding: 5px 0;
}

.flamegraph svg {
    padding-right: 47px;
}