<form name="subAccountForm">
    <div class="control-group">
        <span class="edit-name" data-translate>
            First Name
        </span>
        <span class="edit-value">
            <input type="text"
                   id="firstName"
                   name="firstName"
                   data-ng-maxlength="60"
                   data-ng-model="user.firstName"
                   data-ng-class="{error: isError('firstName')}"
                   ng-required="!!initial.firstName"
                   />
        </span>
        <span class="edit-error" data-ng-show="isFormSubmited || subAccountForm.firstName.$dirty">
            <div class="error"
                 data-translate
                 data-ng-show="subAccountForm.firstName.$error.required">
                Missing first name
            </div>
            <div class="error"
                 data-translate
                 data-ng-show="isError('firstName', 'maxlength')">
                First Name too long.
            </div>
        </span>
    </div>

    <div class="control-group">
        <span class="edit-name" data-translate>
            Last Name
        </span>
        <span class="edit-value">
             <input type="text"
                    id="lastName"
                    name="lastName"
                    data-ng-maxlength="60"
                    data-ng-model="user.lastName"
                    data-ng-class="{error: isError('lastName')}"
                    ng-required="!!initial.lastName"
                    />
        </span>
        <span class="edit-error" data-ng-show="isFormSubmited || subAccountForm.lastName.$dirty">
            <div class="error"
                 data-translate
                 data-ng-show="subAccountForm.lastName.$error.required">
                Missing last name
            </div>
            <div class="error"
                 data-translate
                 data-ng-show="isError('lastName', 'maxlength')">
                Last Name too long.
            </div>
        </span>
    </div>

    <div class="control-group">
        <span class="edit-name">Email Address</span>
        <span class="edit-value">
            <input type="email"
                   id="email"
                   name="email"
                   data-ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)+$/i"
                   data-ng-model="user.email"
                   data-ng-class="{error: isError('email')}"
                   required/>
        </span>
        <span class="edit-error" data-ng-show="isFormSubmited || subAccountForm.email.$dirty">
            <div class="error"
                 data-translate
                 data-ng-show="subAccountForm.email.$error.required">
                Missing email address
            </div>
             <div class="error"
                  data-translate
                  data-ng-show="!subAccountForm.email.$error.required && subAccountForm.email.$error.pattern">
                 Please provide valid email address.
             </div>
        </span>
    </div>

    <div class="control-group">
        <span class="edit-name">Company Name</span>
        <span class="edit-value">
            <input type="text"
                   id="companyName"
                   name="companyName"
                   data-ng-maxlength="50"
                   data-ng-model="user.companyName"
                   ng-required="!!initial.companyName"
                   />
        </span>
        <span class="edit-error" data-ng-show="isFormSubmited || subAccountForm.companyName.$dirty">
            <div class="error"
                 data-translate
                 data-ng-show="subAccountForm.companyName.$error.required">
                Missing company name
            </div>
            <div class="error"
                 data-translate
                 data-ng-show="isError('companyName', 'maxlength')">
                Company Name too long.
            </div>
        </span>
    </div>

    <div class="control-group">
        <span class="edit-name">Username</span>
        <span class="edit-value">
            <input type="text"
                   id="login"
                   name="login"
                   data-ng-class="{error: isError('login')}"
                   data-ng-model="user.login"
                   data-ng-pattern="/^[A-Za-z0-9]+[A-Za-z0-9\.\-\s]*$/"
                   data-ng-disabled="!!initial.login"
                   required/>
        </span>
        <span class="edit-error" data-ng-show="isFormSubmited || subAccountForm.login.$dirty">
            <div class="error"
                 data-translate
                 data-ng-show="subAccountForm.login.$error.required">Missing Username
            </div>
            <div class="error"
                 data-translate
                 data-ng-show="!subAccountForm.login.$error.minLength && !subAccountForm.login.$error.maxLength && subAccountForm.login.$error.pattern">
                 Must start with a letter, and contain letters &amp; numbers only.
            </div>
        </span>
    </div>


    <div ng-if="user.isNew">
        <div class="control-group">
            <span class="edit-name">Password</span>
            <span class="edit-value">
                <input type="password" data-ng-model="user.password"
                       id="password"
                       name="password"
                       data-ng-minlength="7"
                       data-ng-maxlength="60"
                       data-ng-pattern="/(?=.*[A-z])(?=.*[A-z])(?=.*[^A-z])/"
                       required/>
            </span>
            <span class="edit-error" data-ng-show="isFormSubmited || subAccountForm.password.$dirty">
                <div class="error" data-ng-show="subAccountForm.password.$error.required">Please enter password.</div>
                <div class="error" data-ng-show="!subAccountForm.password.$error.required && subAccountForm.password.$error.minlength">Password too short.</div>
                <div class="error" data-ng-show="!subAccountForm.password.$error.required && subAccountForm.password.$error.maxlength">Password too long.</div>
                <div class="error" data-ng-show="!subAccountForm.password.$error.required && !subAccountForm.password.$error.minlength && !subAccountForm.password.$error.maxlength && subAccountForm.password.$error.pattern ">Must contain letters and numbers.</div>
            </span>
        </div>

        <div class="control-group">
            <span class="edit-name">Repeat Password</span>
            <span class="edit-value">
                <input type="password" data-ng-model="user.password_confirmation"
                       id="password_confirmation"
                       name="password_confirmation"
                       data-password-verify="password"
                       required/>
            </span>
            <span class="edit-error" data-ng-show="isFormSubmited || subAccountForm.password_confirmation.$dirty">
                <div class="error" data-ng-show="subAccountForm.password_confirmation.$error.required">Please confirm your password.</div>
                <div class="error" data-ng-show="!subAccountForm.password_confirmation.$error.required && subAccountForm.password_confirmation.$error.passwordVerify">Passwords don't match.</div>
            </span>
        </div>
    </div>

    <div class="control-group">
        <span class="edit-name">Address</span>
        <span class="edit-value">
            <input type="text"
                   id="address"
                   name="address"
                   data-ng-model="user.address"
                   ng-required="!!initial.address"/>
        </span>
        <span class="edit-error" data-ng-show="isFormSubmited || subAccountForm.address.$dirty">
            <div class="error"
                 data-translate
                 data-ng-show="subAccountForm.address.$error.required">
                Missing address
            </div>
        </span>
    </div>

    <div class="control-group">
        <span class="edit-name">Country</span>
        <span class="edit-value">
            <select id="subCountry"
                    name="country"
                    data-ng-class="{error: isError('country')}"
                    data-ng-model="user.country"
                    data-ng-options="country.iso3 as country.name group by country.group for country in countries.data | orderBy: ['-group','name']"
                    >
            </select>
        </span>
        <span class="edit-error">
            <div class="error"
                     data-translate
                     data-ng-show="isError('country') || (formSubmitted && subAccountForm.country.$invalid && !subAccountForm.country.$error.required)">
                    Invalid country
                </div>
            <div class="error"
                     data-translate
                     data-ng-show="isError('country', 'required') || isError('country', 'submitRequired')">
                    Missing country
                </div>
        </span>
    </div>

    <div class="control-group">
        <span class="edit-name">City</span>
        <span class="edit-value">
            <input type="text"
                   id="subCity"
                   name="city"
                   data-ng-model="user.city"
                   ng-required="!!initial.city"/>
        </span>
        <span class="edit-error" data-ng-show="isFormSubmited || subAccountForm.city.$dirty">
            <div class="error"
                 data-translate
                 data-ng-show="subAccountForm.city.$error.required">
                Missing city
            </div>
        </span>
    </div>

    <div class="control-group">
        <span class="edit-name">State</span>
        <span class="edit-value">
            <input type="text"
                   id="subState"
                   name="state"
                   data-ng-model="user.state"/>
        </span>
        <span class="edit-error">
            <div class="error"></div>
        </span>
    </div>

    <div class="control-group">
        <span class="edit-name">Zip</span>
        <span class="edit-value">
            <input type="text"
                   id="subZip"
                   name="zipCode"
                   data-ng-class="{error: isError('zipCode')}"
                   data-ng-model="user.postalCode"
                   data-ng-maxlength="20"
                   ng-required="!!initial.postalCode"/>
        </span>
        <span class="edit-error" data-ng-show="isFormSubmited || subAccountForm.zipCode.$dirty">
            <div class="error"
                 data-translate
                 data-ng-show="isError('zipCode', 'maxlength')">
                Zip code is too long
            </div>
            <div class="error"
                 data-translate
                 data-ng-show="isError('zipCode', 'required') || isError('zipCode', 'submitRequired')">
                Missing zip code
            </div>
        </span>
    </div>

    <div class="control-group">
        <span class="edit-name">Phone Number</span>
        <div data-phone-number data-number="user.phone" data-country="{{user.country}}" data-is-error="isError(field, type)" data-skip="true"></div>
    </div>
</form>
