<div class="modal change-pass" tabindex="-1" data-focus-on="button">
    <div class="modal-header message">
        <h5><i class="glyphicon glyphicon-info-sign"></i><b>Change Password</b></h5>
    </div>
    <div class="modal-body">
        <form name="passForm">
            <label>Password must be at least 7 characters including letters and numbers.</label><br/>
            <div class="control-group">
                <label class="name dpl-inline">Password</label>
                <input type="password" data-ng-model="password"
                       id="password"
                       name="password"
                       data-ng-minlength="7"
                       data-ng-maxlength="50"
                       data-ng-pattern="/(?=.*[A-z])(?=.*[A-z])(?=.*[^A-z])/"
                       required/>
                <span class="edit-error" ng-show="passForm.password.$dirty">
                    <div class="error" ng-show="passForm.password.$error.required">Please enter new password.</div>
                    <div class="error" ng-show="!passForm.password.$error.required && passForm.password.$error.minlength">Password too short.</div>
                    <div class="error" ng-show="!passForm.password.$error.required && passForm.password.$error.maxlength">Password too long.</div>
                    <div class="error" ng-show="!passForm.password.$error.required && !passForm.password.$error.minlength && !passForm.password.$error.maxlength && passForm.password.$error.pattern">Must contain letters and numbers.</div>
                </span>
            </div>

            <div class="control-group">
                <label class="name dpl-inline">Repeat Password</label>
                <input type="password" data-ng-model="passwordVerify"
                       id="password_confirmation"
                       name="password_confirmation"
                       data-password-verify="password"
                       required/>
                <span class="edit-error">
                    <div class="error" ng-show="passForm.password_confirmation.$error.passwordVerify && passForm.password.$dirty">Passwords don't match.</div>
                </span>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button data-tabindex="{{btn.datatabindex}}"
                data-button-focus="{{ btn.setFocus }}"
                data-ng-repeat="btn in buttons"
                data-ng-click="buttonClick([password, passwordVerify], btn.result)"
                class="btn"
                data-ng-class="btn.cssClass">
            {{ btn.label }}
        </button>
    </div>
</div>