<div class="modal-dialog modal-dialog-pass">
    <div class="modal-content">
        <div class="change-pass" tabindex="-1" data-focus-on="button">
            <div class="modal-header message">
                <h5><i class="glyphicon glyphicon-info-sign"></i><b>Change Password</b></h5>
            </div>
            <div class="modal-body">
                <form name="passForm">
                    <label class="popup-message">Password must be at least 7 characters including letters and numbers.</label>
                    <div class="form-group">
                        <label class="name in-line">Password</label>
                        <input type="password" data-ng-model="changePassword.password"
                               id="password"
                               name="password"
                               data-ng-minlength="7"
                               data-ng-maxlength="50"
                               data-ng-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9])/"
                               required/>
                <div data-ng-show="isPassFormSubmited || passForm.password.$dirty">
                    <div class="error" data-ng-show="passForm.password.$error.required">Please enter new password.</div>
                    <div class="error" data-ng-show="!passForm.password.$error.required && passForm.password.$error.minlength">Password must be at least 7 characters long.</div>
                    <div class="error" data-ng-show="!passForm.password.$error.required && passForm.password.$error.maxlength">Password too long.</div>
                    <div class="error" data-ng-show="!passForm.password.$error.required && !passForm.password.$error.minlength && !passForm.password.$error.maxlength && passForm.password.$error.pattern">Passwords must have both alpha & numeric characters.</div>
                </div>
                    </div>

                    <div class="form-group">
                        <label class="name in-line">Repeat Password</label>
                        <input type="password" data-ng-model="changePassword.password_confirmation"
                               id="password_confirmation"
                               name="password_confirmation"
                               data-password-verify="password"
                               required/>
                <div data-ng-show="isPassFormSubmited || passForm.password_confirmation.$dirty">
                    <div class="error" data-ng-show="passForm.password_confirmation.$error.required">Please confirm your password.</div>
                    <div class="error" data-ng-show="!passForm.password_confirmation.$error.required && passForm.password_confirmation.$error.passwordVerify">Passwords don't match.</div>
                </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button data-tabindex="{{btn.datatabindex}}"
                        data-button-focus="{{ btn.setFocus }}"
                        data-ng-repeat="btn in buttons"
                        data-ng-click="buttonClick([changePassword.password, changePassword.password_confirmation], btn.result)"
                        class="btn"
                        data-ng-class="btn.cssClass">
                    {{ btn.label }}
                </button>
            </div>
        </div>
    </div>
</div>