<div class="modal change-pass" tabindex="-1" data-focus-on="button">
    <div class="modal-header message">
        <h5><i class="glyphicon glyphicon-info-sign"></i><b>Change Password</b></h5>
    </div>
    <div class="modal-body">
        <form name="passForm">
            <label>Password must be at least 7 characters including letters and numbers.</label><br/>
            <div class="control-group">
                <label class="name dpl-inline">Password</label>
                <input type="password"
                       data-ng-model="password"
                       id="pwd"
                       name="pwd"
                       data-ng-change="removeErrors()"/>
                <span class="edit-error">
                    <div class="error" data-ng-show="lengthError">Password too short.</div>
                    <div class="error" data-ng-show="charactersError && !lengthError">Must contain letters and numbers.</div>
                </span>
            </div>

            <div class="control-group">
                <label class="name dpl-inline">Repeat Password</label>
                <input type="password"
                       data-ng-model="passwordVerify"
                       id="confirm_pwd"
                       name="confirm_pwd"
                       data-ng-change="removeErrors()"/>
                <span class="edit-error">
                    <div class="error" data-ng-show="repeatError">Passwords don't match.</div>
                </span>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button data-tabindex="{{btn.datatabindex}}"
                data-button-focus="{{ btn.setFocus }}"
                data-ng-repeat="btn in buttons"
                data-ng-click="buttonClick([password, passwordVerify], btn.result)"
                class="btn"
                data-ng-class="btn.cssClass">
            {{ btn.label }}
        </button>
    </div>
</div>