<div data-ng-controller="rbac.PolicyController">
    <div class="container-fluid container-position container-min-width">
        <div data-breadcrumbs></div>
        <div class="page-header row-fluid">
            <h3 class="page-title" data-ng-show="model.policy.id">Edit Policy</h3>
            <h3 class="page-title" data-ng-hide="model.policy.id">Create Policy</h3>
        </div>
        <div class="loading-large span12" data-ng-show="loading"></div>

        <div class="row-fluid" data-ng-show="!loading">
            <div class="pull-left span6 policy">
                <div class="accordion" id="accordionPolicyLeft">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" href="#collapse_summary">
                                Summary
                            </a>
                        </div>
                        <div id="collapse_summary" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <form name="policyForm">
                                    <div class="error"
                                         data-ng-show="policyForm.policyName.$error.roleName"
                                         data-translate>
                                         Policy name can contain only letters, digits and signs like '.' and '-'.
                                    </div>
                                    <div>
                                        <label class="name dpl-inline">Name</label>
                                        <input type="text" class="policy-form" name="policyName" data-ng-model="model.policy.name" data-role-name/>
                                    </div>
                                </form>
                                <div class="control-group"><label class="name dpl-inline">Description</label>
                                    <div class="dpl-inline">
                                        <input type="text" class="policy-form" name="policyDescription" data-ng-model="model.policy.description"/>
                                    </div>
                                </div>
                                <div class="control-group"><label class="name dpl-inline">Policy Grouping</label>
                                    <div class="dpl-inline">
                                        <select id="policiesGrouping" class="policy-form">
                                            <option data-ng-repeat="group in policiesGrouping">{{group}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="span6">
                <div class="accordion" id="accordionPolicyRight">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" href="#collapse_summary">
                                Rules
                            </a>
                        </div>
                        <div id="collapse_summary" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div class="controls" data-ng-repeat="rule in model.policy.rules">
                                    <label class="name dpl-inline">Rule {{$index}}</label>
                                    <div class="policy-form dpl-inline">{{rule}}</div>
                                    <div class="remove-icon delete pull-right tags-delete-pos dpl-inline"
                                         data-ng-click="removeRule(rule)"
                                         data-ng-show="!saving">
                                    </div>
                                </div>
                                <div class="new-rule"><label class="name dpl-inline">Rule {{model.policy.rules.length}}</label>
                                    <div class="dpl-inline">
                                        <input type="text" class="policy-form" data-ng-model="model.newRule"/>
                                        <button class="btn orange add-btn" data-ng-click="addRule()">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-fluid btn-bottom-block" data-ng-show="!loading">
            <div class="pull-right" data-ng-hide="model.policy.id">
                <button class="btn light effect-orange-button" data-ng-click="cancel()">Cancel</button>
                <button class="btn orange" data-ng-click="createPolicy()" data-ng-disabled="policyForm.policyName.$error.roleName">Create Policy</button>
            </div>
            <div class="pull-right" data-ng-show="model.policy.id">
                <button class="btn orange" data-ng-click="updatePolicy()" data-ng-disabled="policyForm.policyName.$error.roleName">Save</button>
                <button class="btn orange" data-ng-click="">Export .csv</button>
                <button class="btn orange" data-ng-click="deletePolicy()">Delete</button>
                <button class="btn light effect-orange-button" data-ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
