<div data-ng-controller="rbac.PolicyController">
    <div class="container-fluid container-position container-min-width">
        <ul class="breadcrumb">
            <li><a href="#!/accounts">Accounts</a></li>
            <li><a href="#!/accounts/policies">Policies</a></li>
        </ul>
        <div class="page-header row">
            <h3 class="page-title" data-ng-show="model.policy.id">Policy Details</h3>
            <h3 class="page-title" data-ng-hide="model.policy.id">Create Policy</h3>
            <div class="beta-sticker">beta</div>
        </div>
        <div class="loading-large col-md-12" data-ng-show="loading"></div>

        <div class="row" data-ng-show="!loading">
            <div class="col-md-6 rbac-column policy">
                <div class="panel-group" id="accordionPolicyLeft">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse-policy-summary">
                                Summary
                            </a>
                        </div>
                        <div id="collapse-policy-summary" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group" data-ng-show="model.policy.id">
                                    <span class="edit-name">ID</span>
                                    <span class="edit-value">
                                        <input type="text" class="policy-form" name="policyId" value="{{ model.policy.id }}" disabled />
                                    </span>
                                </div>
                                <form name="policyForm" class="policy-form">
                                    <div class="form-group">
                                        <span class="edit-name orange-asterix">Name</span>
                                        <span class="edit-value">
                                            <input type="text"
                                                   class="policy-form"
                                                   name="policyName"
                                                   data-ng-model="model.policy.dirtyName"
                                                   data-ng-pattern="/^[A-Za-z0-9]+[A-Za-z0-9\.\-\s]*$/"
                                                   required />
                                        </span>
                                        <div data-ng-show="isFormSubmited || policyForm.policyName.$dirty">
                                            <div class="policy-form-error error edit-error"
                                                 data-translate
                                                 data-ng-show="policyForm.policyName.$error.required">Missing name
                                            </div>
                                            <div class="policy-form-error error edit-error"
                                                 data-ng-show="policyForm.policyName.$error.pattern"
                                                 data-translate>
                                                Name can contain only letters, digits, spaces and signs like "." and "-"
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="form-group">
                                    <span class="edit-name">Description</span>
                                    <span class="edit-value">
                                        <input type="text" class="policy-form" name="policyDescription" data-ng-model="model.policy.dirtyDescription"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 rbac-column">
                <div class="panel-group" id="accordionPolicyRight">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_summary">
                                Rules
                            </a>
                        </div>
                        <div id="collapse_summary" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div data-ng-repeat="rule in rules">
                                    <div class="controls rules" data-ng-show="!rule.edit">
                                        <span class="edit-name">Rule {{$index + 1}}</span>
                                        <div data-ng-click="editRule(rule)" class="policy-form">{{rule.rule}}</div>
                                        <div class="remove-icon delete pull-right dpl-inline"
                                             data-ng-click="removeRule(rule)"
                                             data-ng-show="!saving">
                                        </div>
                                    </div>
                                    <div class="rule-edit" data-ng-show="rule.edit">
                                        <span class="edit-name">Rule {{$index + 1}}</span>
                                        <span class="edit-value">
                                            <input type="text" class="policy-form" data-ng-model="rule.rule"/>
                                            <button class="btn orange add-btn pull-right" data-ng-click="saveRule(rule, $index)" data-ng-disabled="rule.rule.length == 0">Save</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="new-rule">
                                    <span class="edit-name">Rule {{rules.length + 1}}</span>
                                    <div class="dpl-inline pull-right" data-ng-click="focusOut()">
                                        <span class="edit-value">
                                            <input type="text" class="policy-form" data-ng-model="model.newRule"/>
                                        <button class="btn orange add-btn" data-ng-click="addRule()" data-ng-disabled="model.newRule.length == 0">Add</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row btn-bottom-block" data-ng-show="!loading">
            <span class="orange-asterix-left">required fields</span>
            <div class="pull-right" data-ng-hide="model.policy.id">
                <button class="btn light effect-orange-button" data-ng-click="cancel()">Cancel</button>
                <button class="btn orange" data-ng-click="createPolicy(true)">Create Policy</button>
            </div>
            <div class="pull-right" data-ng-show="model.policy.id">
                <button class="btn light effect-orange-button" data-ng-click="cancel()">Cancel</button>
                <button class="btn light effect-orange-button" data-ng-click="deletePolicy()">Delete</button>
                <button class="btn orange" data-ng-click="updatePolicy(true)">Save</button>
            </div>
        </div>
    </div>
</div>
