<div data-ng-controller="RBAC.RoleController">
    <div class="container-fluid container-position container-min-width">
        <div data-breadcrumbs></div>
        <div class="page-header row-fluid">
            <h3 class="page-title" data-ng-show="role.id">Edit Role</h3>

            <h3 class="page-title" data-ng-hide="role.id">Create Role</h3>
        </div>
        <div class="loading-large span12" data-ng-show="loading"></div>

        <div class="row-fluid" data-ng-hide="loading">
            <div class="pull-left span6">
                <div class="accordion" id="accordionEditRoleLeft">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" href="#collapse_summary">
                                Summary
                            </a>
                        </div>
                        <div id="collapse_summary" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div class="dpl-inline">
                                    <form name="roleForm">
                                        <div class="error"
                                             data-ng-show="roleForm.roleName.$error.roleName"
                                             data-translate>
                                             Role name can contain only letters, digits and signs like '.' and '-'.
                                        </div>
                                        <div>
                                            <label class="name dpl-inline">Name</label>
                                            <input type="text" class="role-name" name="roleName" data-ng-model="role.name" data-role-name/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group" data-ng-show="users.length">
                        <div class="accordion-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" href="#collapse_members">
                                Members
                            </a>
                        </div>
                        <div id="collapse_members" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <multi-select id="memberSelect"
                                              data-items="users"
                                              data-option-label="'login'"
                                              data-on-item-select="refreshDefaultUsers"
                                              data-selected-items="roleUsers"
                                              data-selection-header="Non Members"
                                              data-selected-header="Members">
                                </multi-select>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group" data-ng-show="roleUsers.length">
                        <div class="accordion-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" href="#collapse_dmembers">
                                Default Members
                            </a>
                        </div>
                        <div id="collapse_dmembers" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <multi-select id="memberSelect2"
                                              data-items="roleUsers"
                                              data-option-label="'login'"
                                              data-selected-items="roleDefaultUsers"
                                              data-notify-data-set-changed="selectedUsersChanged"
                                              data-selection-header="Members"
                                              data-selected-header="Default Members">
                                </multi-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left span6" data-ng-hide="loading">
                <div class="accordion" id="accordionEditRoleRight">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" href="#collapse_policies">
                                Policies
                            </a>
                        </div>
                        <div id="collapse_policies" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div id="policies" data-tree data-objects="policyGroups" data-array-name="'name'"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row-fluid btn-bottom-block" data-ng-hide="loading">
            <div class="pull-right">
                <button class="btn light effect-orange-button" data-ng-click="cancel()">Cancel</button>
                <button class="btn orange" data-ng-click="createRole()" data-ng-hide="role.id" data-ng-disabled="roleForm.roleName.$error.roleName">Create Role</button>
                <button class="btn orange" data-ng-click="updateRole()" data-ng-show="role.id" data-ng-disabled="roleForm.roleName.$error.roleName">Save Role</button>
            </div>
        </div>

    </div>
</div>
