<div data-ng-controller="rbac.RoleController">
    <div class="container-fluid container-position container-min-width">
        <ul class="breadcrumb">
            <li><a href="#!/accounts">Accounts</a></li>
            <li><a href="#!/accounts/roles">Roles</a>&nbsp;/</li>
        </ul>
        <div class="page-header row">
            <h3 class="page-title" data-ng-show="role.id">Role Details</h3>
            <h3 class="page-title" data-ng-hide="role.id">Create Role</h3>
            <div class="beta-sticker">beta</div>
        </div>
        <div class="loading-large col-md-12" data-ng-show="loading"></div>

        <div class="row role" data-ng-hide="loading">
            <div class="pull-left col-md-6 rbac-column">
                <div class="panel-group" id="accordionEditRoleLeft">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_summary">
                                Summary
                            </a>
                        </div>
                        <div id="collapse_summary" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="dpl-inline">
                                    <form name="roleForm">
                                        <div class="form-group" data-ng-show="role.id.length">
                                            <label class="name dpl-inline">ID</label>
                                            <input type="text" class="role-name" name="roleid" data-ng-model="role.id" data-ng-disabled="role.id"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="name dpl-inline">Name</label>
                                            <input type="text"
                                                   class="role-name"
                                                   name="roleName"
                                                   data-ng-model="role.name"
                                                   data-pattern="^[A-Za-z0-9]+[A-Za-z0-9\.\-\s]*$"
                                                   data-role-name-verify
                                                   required />
                                        </div>
                                        <div data-ng-show="isFormSubmited || roleForm.roleName.$dirty">
                                            <div class="role-name-error error edit-error"
                                                 data-translate
                                                 data-ng-show="roleForm.roleName.$error.required">Missing name
                                            </div>
                                            <div class="role-name-error error edit-error"
                                                 data-ng-show="roleForm.roleName.$error.pattern"
                                                 data-translate>
                                                Name can contain only letters, digits, spaces and signs like "." and "-"
                                            </div>
                                            <div class="role-name-error error edit-error"
                                                 data-ng-show="roleForm.roleName.$error.reserved"
                                                 data-translate>
                                                '{{roleForm.roleName.$viewValue}}' is a reserved word
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" data-ng-show="users.length">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_members">
                                Members
                            </a>
                        </div>
                        <div id="collapse_members" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <multi-select id="memberSelect"
                                              data-items="users"
                                              data-option-label="'login'"
                                              data-on-item-select="refreshDefaultUsers"
                                              data-selected-items="roleUsers"
                                              data-selection-header="Non Members"
                                              data-selected-header="Members">
                                </multi-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left col-md-6 rbac-column" data-ng-hide="loading">
                <div class="panel-group" id="accordionEditRoleRight">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_policies">
                                Policies
                            </a>
                        </div>
                        <div id="collapse_policies" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div id="policies" data-tree data-objects="policyGroups" data-array-name="'name'"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row btn-bottom-block" data-ng-hide="loading">
            <div class="pull-right">
                <button class="btn light effect-orange-button" data-ng-click="cancel()">Cancel</button>
                <button class="btn light effect-orange-button" data-ng-show="role.id" data-ng-click="deleteRole()">Delete</button>
                <button class="btn orange" data-ng-click="createRole()" data-ng-hide="role.id">Create Role</button>
                <button class="btn orange" data-ng-click="updateRole()" data-ng-show="role.id">Save Role</button>
            </div>
        </div>

    </div>
</div>
