<div data-ng-controller="rbacRoleEditController">
    <div class="container-fluid container-position container-min-width" data-ng-show="!loading">
        <div data-breadcrumbs></div>
        <div class="page-header row-fluid">
            <h3 class="page-title" data-ng-show="roleID">Edit Role</h3>
            <h3 class="page-title" data-ng-hide="roleID">Create Role</h3>
        </div>
        <div class="loading-large span12" data-ng-show="loading"></div>

        <div class="row-fluid">
            <div class="pull-left span6">
                <div class="accordion" id="accordionEditRoleLeft">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" href="#collapse_summary">
                                Summary
                            </a>
                        </div>
                        <div id="collapse_summary" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <label class="name dpl-inline">Name</label>
                                <div class="dpl-inline">
                                    <input type="text" class="role-name" name="roleName" data-ng-model="roleName"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" href="#collapse_members">
                                Members
                            </a>
                        </div>
                        <div id="collapse_members" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <select id="membersSelect"
                                        data-ng-model="membersSelect"
                                        data-ng-options="member as member.label for member in members"
                                        data-multi-select
                                        data-selection-header="Non Members"
                                        data-selected-header="Members"
                                        multiple="multiple">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left span6">
                <div class="accordion" id="accordionEditRoleRight">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" href="#collapse_policies">
                                Policies
                            </a>
                        </div>
                        <div id="collapse_policies" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div id="policies">{{policies}}
                                    <ul>
                                        <li data-ng-repeat="policie in policies">
                                            {{policie.name}}
                                            <ul>
                                                <li data-ng-repeat="rule in policie.rules">
                                                    {{rule}}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row-fluid btn-bottom-block">
            <div class="pull-right">
                <button class="btn light effect-orange-button" data-ng-click="">Cancel</button>
                <button class="btn orange" data-ng-click="">Create Role</button>
            </div>
        </div>

    </div>
</div>
