.holders-container {
    margin-bottom: 30px;
    margin-top: 20px;
    min-height: 350px;
    max-height: 100%;
    padding-left: 2px;
    position: relative;
}

.package-holder {
    background-color: #e9eff3;
    border-right: 20px solid #FFFFFF;
    display: table-cell;
    min-width: 240px;
    padding: 20px 0 5px;
    position: relative;
}

.package-holder .header,
.package-holder .desc {
    width: 236px;
    margin-left: 2px;
}

.package-holder.active,
.package-holder:hover.active {
    background-color: #CFFAE5;
}

.package-holder:hover {
    background-color: #fef1d2;
}

.package-holder .header {
    font-weight: 300;
    height: 145px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.package-holder .control {
    background-color: #BBC9D2;
    height: 125px;
    margin-left: 2px;
    outline: 4px solid #BBC9D2;
    position: absolute;
    top: 150px;
    width: 236px;
}

.package-holder.active .control,
.package-holder:hover.active .control {
    background-color: #92EBB5;
    outline: 4px solid #92EBB5;
}

.package-holder:hover .control {
    background-color: #ffb848;
    outline: 4px solid #ffb848;
}

.package-holder .control .btn {
    background-color: #5d8096;
    color: white;
    text-shadow: none;
    font-size: 16px;
    margin-top: 10px;
}

.package-holder.active .control .btn,
.package-holder:hover.active .control .btn {
    background-color: #28AA66;
}

.package-holder:hover .control .btn {
    background-color: #ff6600;
}

.package-holder .control span.btn {
    cursor: default;
}

.package-holder .desc {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    padding-top: 280px;
}

.package-holder .control p {
    font-size: 16px;
    line-height: 14px;
    vertical-align: bottom;
    float: left;
    margin-top: 17px;
    padding-right: 10px;
}

.control p.fees {
    line-height: 0px;
    margin-top: -5px;
}

.control span {
    font-size: 18px;
}

.control .cost-fixed {
    height: 60px;
}

.package-holder p {
    font-weight: 300;
    margin: 0 0 5px;
}

.package-holder h4 {
    font-size: 23px;
    font-weight: 300;
}

.package-holder h3 {
    color: #333;
    font-size: 29px;
    font-weight: 200;
}

.package-holder h3 p {
    vertical-align: top!important;
    font-size: 18px!important;
    margin-top: 10px!important;
    padding-right: 2px!important;
}

.brim {
    padding: 1px 15px 5px 15px;
    overflow: hidden;
}

.arrow-right {
    background: url("../img/arrow-right.png") no-repeat;
    background-size: 15px 15px !important;
    margin-left: 10px;
    padding-right: 15px;
    vertical-align: middle;
}

.package-holder .info {
    width: 16px;
    height: 16px;
    color: #e9eff3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #5d8096;
    text-align: center;
    padding: 2px;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    vertical-align: top;
}

.package-holder:hover .info {
    background-color: #ff6600;
    color: #fef1d2;
}

.package-holder.active .info {
    background-color: #28AA66;
    color: #CFFAE5;
}

.header-text-section {
    margin-bottom: 0;
}

.support-link {
    color: #f60;
    text-decoration: none;
}