.support-holder {
    width: 750px;
    height: 108px;
    background-color: #f5f5f5;
    margin-top: 20px;
    cursor: pointer;
}
.support-holder:hover {
    background-color: #fef1d2;
}
.support-holder .title,
.support-holder .desc {
    width: 480px;
    margin-left: 238px;
    padding-left: 20px;
    overflow: hidden;
}
.support-holder .title {
    font-weight: 300;
    font-size: 24px;
    height: 25px;
    padding-top: 12px;
    padding-bottom: 3px;
}
.support-holder .desc {
    height: 58px;
}
.support-holder i {
    width: 238px;
    height: 108px;
    float: left;
}

.standart-icon {
    background-image: url("../img/standart.png");
}
.enhanced-icon {
    background-image: url("../img/enhanced.png");
}
.node-core-icon {
    background-image: url("../img/node-core.png");
}
.node-cloud-icon {
    background-image: url("../img/node-cloud.png");
}
.standart-icon,
.enhanced-icon,
.node-core-icon,
.node-cloud-icon {
    background-size: 238px 108px;
}