<div class="container-fluid container-position">
    <div class="row-fluid">
        <ul class="breadcrumb">
            <li>Utilization&nbsp;/&nbsp;</li>
            <li>CPU Utilization Overview</li>
        </ul>
        <div class="page-header row-fluid">
            <h3 class="page-title">CPU Utilization Overview</h3>
            <div class="beta-sticker">beta</div>
        </div>

        <div class="row-fluid">
            <div class="btn-group-chart pull-right">
                <button class="btn light">Year</button>
                <button class="btn light">Quarter</button>
                <button class="btn light">Month</button>
                <button class="btn light">Week</button>
            </div>
        </div>

        <div data-utilization-chart data-usage="daily" data-type="'CPU'" data-unit="'Hours'"></div>

        <div class="grid-holder">
            <div class="grid-title">CPU</div>
            <div data-ng-show="cpu.length">
                <div data-grid-view
                     data-user-config="gridUserConfig"
                     data-props="gridProps"
                     data-multisort="false"
                     data-objects="cpu"
                     data-order="gridOrder"
                     data-search-form="searchForm"
                     data-filter-all="{{query}}"
                     data-place-Holder-Text="placeHolderText"
                     data-export-fields="exportFields"
                     data-objects-type="utilization">
                </div>
            </div>
        </div>
    </div>
    <a href="#!/utilization" class="btn light back-btn">Back to Utilization</a>
</div>