<div class="container-fluid container-position container-details">
    <div class="row-fluid">
        <ul class="breadcrumb">
            <li><a href="{{backLink}}">Usage</a>&nbsp;/</li>
        </ul>
        <div class="page-header row-fluid">
            <h3 class="page-title">{{pageTitle}} Overview</h3>
            <div class="beta-sticker">beta</div>
        </div>
        <div data-month-navigation></div>
        <div data-utilization-chart
             data-usage="chartData"
             data-color-daily="colorDaily"
             data-color-total="colorTotal"
             data-caption="caption"
             data-name="type">
        </div>

        <div class="grid-holder">
            <div class="grid-title">{{pageTitle}}</div>
            <div data-grid-view
                 data-user-config="gridUserConfig"
                 data-props="gridProps"
                 data-multisort="false"
                 data-filter-all="{{query}}"
                 data-items="gridData"
                 data-order="gridOrder"
                 data-search-form="searchForm"
                 data-export-fields="exportFields"
                 data-items-type="'utilization'"
                 data-enabled-checkboxes="false">
            </div>
        </div>
    </div>
    <a data-ng-href="{{backLink}}" class="btn light back-btn effect-orange-button pull-right">Back to Usage</a>
</div>