<div class="container-fluid container-position">
    <div class="row-fluid">
        <ul class="breadcrumb">
            <li>Utilization&nbsp;/&nbsp;</li>
            <li>DRAM Utilization Overview</li>
        </ul>
        <div class="page-header row-fluid">
            <h3 class="page-title">DRAM Utilization Overview</h3>
        </div>

        <div data-utilization-chart
             data-usage="chartData"
             data-caption="'DRAM Hours'"
             data-unit="'GB Hours'">
        </div>

        <div class="grid-holder">
            <div class="grid-title">DRAM</div>
            <div data-ng-show="gridData.length">
                <div data-grid-view
                     data-user-config="gridUserConfig"
                     data-props="gridProps"
                     data-multisort="false"
                     data-objects="gridData"
                     data-order="gridOrder"
                     data-search-form="false"
                     data-export-fields="exportFields"
                     data-objects-type="'utilization'"
                     data-enabled-checkboxes="false">
                </div>
            </div>
        </div>
    </div>
    <a href="#!/utilization" class="btn light back-btn">Back to Utilization</a>
</div>