<div class="container-fluid container-position">
    <div class="row">
        <div class="page-header row">
            <h3 class="page-title">Usage</h3>
            <div class="beta-sticker">beta</div>
        </div>
    </div>
    <div data-month-navigation></div>

    <div data-utilization-chart
         data-usage="currentSpendChartData"
         data-name="'currentspend'"
         data-color-total="'#ed4f34'"
         data-color-daily="'#7d2c21'"
         data-caption="'Spend'">
    </div>

    <div data-utilization-chart
         data-usage="computeChartData"
         data-name="'compute'"
         data-caption="'Compute Utilized'">
     </div>

    <div data-utilization-chart
         data-usage="bandwidthChartData"
         data-name="'bandwidth'"
         data-caption="'Bandwidth Utilized'">
    </div>

    <div data-utilization-chart
         data-usage="mantaChartData"
         data-name="'manta'"
         data-caption="'Manta Utilized'">
    </div>
</div>