<div class="container-fluid container-position">
    <div class="row">
        <ul class="breadcrumb">
            <li>Usage</li>
            <li>Spend Overview</li>
        </ul>
        <div class="page-header row">
            <h3 class="page-title">Spend Overview</h3>
            <div class="beta-sticker">beta</div>
        </div>

        <div class="row">
            <div class="btn-group-chart pull-right">
                <button class="btn light">Year</button>
                <button class="btn light">Quarter</button>
                <button class="btn light">Month</button>
                <button class="btn light">Week</button>
            </div>
        </div>

        <div class="utilization">
            <div class="dpl-inline tile orange">
                <h4 class="title">Current Spend</h4>
                <div class="left-block">
                    <div class="num">
                        $2847
                    </div>
                    <div class="desc">
                        month to date
                    </div>
                </div>
                <div class="right-block sub-line">
                    <div class="num">
                        $3250
                    </div>
                    <div class="desc">
                        projected spend this month
                    </div>
                </div>
            </div>
            <div class="dpl-inline chart">
                <div class="top-line">
                    <div class="text">Projected for month</div>
                </div>
                <svg class="rickshaw_graph y_axis">
                    <g class="y_ticks plain" transform="translate(40, 10)">
                        <g transform="translate(0,217)">
                            <text x="-7" y="0" dy="1em" text-anchor="end">0</text>
                        </g>
                        <g transform="translate(0,180)">
                            <text x="-7" y="0" dy="1em" text-anchor="end">250</text>
                        </g>
                        <g transform="translate(0,140)">
                            <text x="-7" y="0" dy="1em" text-anchor="end">500</text>
                        </g>
                        <g transform="translate(0,100)">
                            <text x="-7" y="0" dy="1em" text-anchor="end">1000</text>
                        </g>
                        <g transform="translate(0,60)">
                            <text x="-7" y="0" dy="1em" text-anchor="end">1500</text>
                        </g>
                        <g transform="translate(0,20)">
                            <text x="-7" y="0" dy=".32em" text-anchor="end">2000</text>
                        </g>
                    </g>
                </svg>
                <div class="orange-chart"></div>
                <div class="days">
                    <div class="chart-nums" data-ng-repeat="day in days">{{day}}</div>
                </div>
            </div>
        </div>
        <div class="grid-holder">
            <div class="grid-title">CPU</div>
            <div data-ng-show="cpu.length">
                <div data-grid-view
                     data-user-config="gridUserConfig"
                     data-props="gridProps"
                     data-multisort="false"
                     data-items="cpu"
                     data-order="gridOrder"
                     data-search-form="searchForm"
                     data-filter-all="{{query}}"
                     data-place-Holder-Text="placeHolderText"
                     data-export-fields="exportFields"
                     data-items-type="utilization">
                </div>
            </div>
        </div>

        <div class="grid-holder">
            <div class="grid-title">Storage</div>
            <div data-ng-show="manta.length">
                <div data-grid-view
                     data-user-config="gridUserConfig"
                     data-props="gridProps"
                     data-multisort="false"
                     data-items="manta"
                     data-order="gridOrder"
                     data-search-form="searchForm"
                     data-filter-all="{{query}}"
                     data-place-Holder-Text="placeHolderText"
                     data-export-fields="exportFields"
                     data-items-type="utilization">
                </div>
            </div>
        </div>

        <div class="grid-holder">
            <div class="grid-title">Bandwidth</div>
            <div data-ng-show="bandwidth.length">
                <div data-grid-view
                     data-user-config="gridUserConfig"
                     data-props="gridProps"
                     data-multisort="false"
                     data-items="bandwidth"
                     data-order="gridOrder"
                     data-search-form="searchForm"
                     data-filter-all="{{query}}"
                     data-place-Holder-Text="placeHolderText"
                     data-export-fields="exportFields"
                     data-items-type="utilization">
                </div>
            </div>
        </div>
    </div>
    <a href="#!/usage" class="btn light back-btn effect-orange-button">Back to Usage</a>
</div>