<div class="utilization" data-ng-click="navigateDetails()">

    <div class="tile blue" data-ng-style="{'background-color': colorTotal}">
        <h4 class="title">{{getMonthTitle()}}{{caption}}</h4>
        <div class="left-block" data-ng-class="{'has-right-block': showProjected()}">
            <div class="num">
                {{format(total)}}
            </div>
            <div class="desc">
                <span class="num small"></span>
                <div>{{getMonthDesc()}}</div>
            </div>
        </div>
        <div class="right-block sub-line" data-ng-show="showProjected()">
            <div class="num">
                {{projected(total)}}
            </div>
            <div class="desc">
                <span class="num small"></span>
                <div>projected spend this month</div>
            </div>
        </div>
        <!--div class="right-block sub-line">
            <div class="desc small">
                12 month range
            </div>
            <div class="num">
                877
                <span class="num small">{{unit}}</span>
                <span class="desc">Max</span>
            </div>
            <div class="num">
                202
                <span class="num small">{{unit}}</span>
                <span class="desc">Min</span>
            </div>
        </div-->
    </div>
    <div class="separator-block"></div>
    <div class="chart-container" id="chart_container_{{$id}}">
        <div class="loading-medium-transparent" data-ng-show="chartLoading"></div>
        <div data-ng-hide="chartLoading">
            <div class="y-axis" id="y_axis_{{$id}}"></div>
            <div class="chart" id="chart_{{$id}}"></div>
            <div class="x-axis" id="x_axis_{{$id}}"></div>
            <div class="legend" id="legend_{{$id}}"></div>
        </div>
    </div>
</div>

