<form id="certificate_upload_form" action="slb/certificates?callback=window.top.window.__uploadCallback__"
      target="certificate_upload_target" enctype="multipart/form-data" method="post" class="certificate-upload">
    <input id="certificate_upload_file" name="certificate" type="file" class="hide">
    <input id="certificate_upload_passphrase" name="passphrase" type="hidden">
    <label for="certificate_upload_file" id="certificate_upload_btn" data-ng-hide="model && model != '00000000-0000-0000-0000-000000000000'"
            data-ng-click="upload()" class="btn orange">
        <span class="ng-scope" data-translate>Upload Certificate</span>
    </label>
    <button data-ng-show="model && model != '00000000-0000-0000-0000-000000000000'" data-ng-click="remove()"
            class="btn orange">
        <span class="ng-scope" data-translate>Remove Certificate</span>
    </button>
</form>
<iframe id="certificate_upload_target" name="certificate_upload_target" src="/main/slb/blank" class="hide"></iframe>
