<div class="license-eula">
    <div class="license-eula-logo"></div>
    <h5><b>RIVERBED END USER LICENSE AGREEMENT AND PRODUCT WARRANTY STATEMENT</b></h5>
    <p>IMPORTANT: PLEASE READ BEFORE INSTALLATION OR USE OF ANY PRODUCTS (AS DEFINED BELOW). THIS RIVERBED END USER
        LICENSE AGREEMENT AND PRODUCT WARRANTY STATEMENT ("AGREEMENT") IS A BINDING AGREEMENT BETWEEN RIVERBED
        TECHNOLOGY, INC. (FOR LICENSEES LOCATED IN NORTH OR SOUTH AMERICA) OR RIVERBED TECHNOLOGY PTE. LTD. (FOR
        LICENSEES LOCATED IN EUROPE, MIDDLE EAST, AFRICA OR ASIA) ("RIVERBED") AND THE ENTITY OR COMPANY THAT IS THE
        AUTHORIZED PURCHASER OR LICENSEE OF THE PRODUCTS ("LICENSEE"). BY PURCHASING, DOWNLOADING, INSTALLING OR IN
        ANY WAY USING A PRODUCT, LICENSEE IS UNCONDITIONALLY CONSENTING TO BE BOUND BY AND IS BECOMING A PARTY TO THIS
        AGREEMENT WITH RIVERBED. IF LICENSEE DOES NOT UNCONDITIONALLY AGREE TO ALL OF THE TERMS OF THIS AGREEMENT,
        LICENSEE IS NOT AUTHORIZED TO AND MAY NOT DOWNLOAD, INSTALL OR USE ANY OF THE PRODUCTS.
    </p>

        <h5>1. DEFINITIONS.</h5>
        <ul>
            <p>(a)<b class="eula-space">“Additional Use Rights”</b> means the terms and conditions set forth at <a href="http://riverbed.com/license/additional_use_rights">www.riverbed.com/license/additional_use_rights</a>, as may
                be updated by Riverbed from time to time.
            </p>
            <p>(b)<b class="eula-space">“Documentation”</b> means the then-current written and/or electronic end user or technical documentation pertaining to a Product
                that is provided by Riverbed together with the delivery of a Product or otherwise made available by Riverbed.
            </p>
            <p>(c)<b class="eula-space">“Hardware”</b> means any hardware or equipment on Riverbed’s then-current price list or otherwise made available by Riverbed,
                including any components or replacements of any of the foregoing.
            </p>
            <p>(d)<b class="eula-space">“Products”</b> means, collectively, the Hardware and Software and all Documentation associated therewith. </p>
            <p>(e)<b class="eula-space">“Software”</b> means any software on Riverbed’s then-current price list or otherwise made available by Riverbed, including (i)
                software provided on a stand-alone basis, (ii) software provided on or with any Hardware, (iii) software provided as part of hosted services,
                software as a service (SaaS), or cloud services, and (iv) any upgrades, updates, patches, enhancements, or fixes to any of the foregoing that may
                be made available by Riverbed.</p>
        </ul>
        <h5>2. LICENSE GRANT.</h5>
        <p>Subject to the terms and conditions of this Agreement and provided that Licensee has paid the applicable fees,
            Riverbed hereby grants Licensee a limited, personal, non-sublicensable, non-transferable (except as expressly provided in Section 10),
            nonexclusive license to: (a) install, access, and use Software (in object code format only), (b) access, use, and reasonably reproduce the
            Documentation, and (c) exercise any other rights applicable to a Product as expressly set forth in the Additional Use Rights. Licensee shall
            exercise the foregoing license rights solely for Licensee's internal business use in accordance with the Documentation and shall comply with all
            other restrictions and limitations applicable to each Product, including all terms and conditions set forth in the Additional Use Rights. If there is a
            conflict between the terms and conditions of the Additional Use Rights and the main body of this Agreement, the Additional Use Rights will control,
            but only with respect to the applicable Product to which such terms pertain. Subject to the foregoing, the specific Products licensed to Licensee
            under this Agreement, including the number of licenses issued and the term of any applicable license or subscription, as applicable, will be
            identified on the applicable ordering documentation received by Riverbed. Except as set forth in the applicable ordering documentation received by
            Riverbed, the Product description on Riverbed’s then-current price list, or the Additional Use Rights with respect to particular Products, licenses
            granted hereunder are perpetual. Licensee may use each licensed copy of the Software that is provided on or with any Hardware only as
            embedded in or for execution on that specific unit of Hardware (or replacement thereof) owned or leased by Licensee. Licensee may also copy
            configurations of the Software (excluding any Software provided on or embedded in any Hardware) solely for backup and archival purposes.
            Without granting any additional licenses hereunder, Licensee may authorize its contractors and outsourcers to access, use or operate the Products
            solely on Licensee’s behalf, provided that (i) Licensee obtains any such third party’s binding consent to abide by the terms of this Agreement, and
            (ii) Licensee remains responsible for such third parties’ use of the Products and compliance with the terms and conditions of this Agreement, and
            any breach of this Agreement by any such third party will be deemed a breach of this Agreement by Licensee.
        </p>
        <h5>3. LICENSE RESTRICTIONS.</h5>
        <p>Except as expressly permitted by this Agreement, Licensee shall not, and shall not authorize or permit any
            other person or entity to, directly or indirectly: (a) copy, modify (except as expressly permitted under the applicable Documentation), or distribute
            any Product; (b) reverse engineer, disassemble, decompile or attempt to discover the source code, structure, or sequence and organization of any
            Product (except where the foregoing is expressly prohibited by applicable local law, and then only to the extent so prohibited); (c) sublicense, sell,
            rent, lease, or use any Product for timesharing or service bureau purposes for third parties, or otherwise use any Product on behalf of any third
            party; (d) publish or disclose any information or results relating to performance, performance comparisons or other "benchmarking" activities
            relating to any Product, (e) obscure, alter, remove, or destroy any proprietary markings, restrictive legends, or intellectual property notices on any
            Product, or (f) access or use any Product for purposes of designing or developing a competing product or service. Notwithstanding the foregoing,
            Licensee may use the Products pursuant to a leasing arrangement whereby Licensee leases the Product from an authorized third party. Licensee
            acknowledges and agrees that the Software (including its design and structure) and Documentation constitutes trade secrets and/or confidential
            information of Riverbed or its licensors. Except as expressly permitted by this Agreement, Licensee shall hold in confidence and shall not disclose,
            provide, or permit access to any Software or Documentation in any form to any third party without Riverbed's prior written consent. Regardless of
            any references to any sale or purchase in this Agreement, all Software is licensed by Riverbed, and not sold. As between the parties, all ownership
            rights with respect to the intellectual property rights in and to the Products, and any copies or portions thereof, remain in Riverbed and its suppliers
            and licensors. The Products are protected by the intellectual property laws (including copyright laws) of the United States, foreign jurisdictions and
            all applicable international treaties. This Agreement does not grant Licensee any rights not expressly set forth herein. Any action of Licensee in
            contravention of this Section 3 may result in the termination of this Agreement, including the license grant for the Software, as described in Section
            8 below.
        </p>
        <h5>4. GOVERNMENT USE.</h5>
        <p>If Licensee is part of an agency, department, or other entity of the United States Government ("Government"), the
            use, duplication, reproduction, release, modification, disclosure and transfer of the Products is restricted in accordance with the Federal Acquisition
            Regulations (FAR) as applied to civilian agencies and the Defense Federal Acquisition Regulation Supplement (DFARS) as applied to military
            agencies. The Products qualify as "commercial items" under FAR § 2.101 and all Products are developed exclusively at private expense. The
            Software is (a) “commercial computer software” under FAR §12.212 and §52.227-19 and DFARS §227.7202 and §252.227-7014(a)(1), and (b)
            “restricted computer software” under FAR §§52.227-14(a). The Documentation is “computer software documentation” as set forth in FAR §52.227-14(a) and DFARS §252.227-7013(a). For purposes of this Agreement, references in this Agreement (including in the Additional Use Rights) to
            “business” use will be deemed references to Government use if Licensee is part of the Government. In accordance with such provisions, any use of
            any Product by the Government will be governed solely by the terms of this Agreement. All other use by or on behalf of the Government is
            prohibited.
        </p>
        <h5>5. SUPPORT AND UPGRADES.</h5>
        <p>This Agreement does not entitle Licensee to receive any support services, upgrades, updates, patches,
            enhancements or fixes for any Product (collectively, "Support"). If Licensee desires to obtain Support, Licensee shall make separate
            arrangements for Support (which may include entering into a separate agreement) and pay any fees associated with such Support. Licensee is not
            entitled to, and shall not, install or use any Software upgrades, updates, patches, enhancements or fixes made available by Riverbed, including on
            Riverbed’s support website, except on or with Products that are covered by a then-current paid Support plan. The terms of Riverbed's standard
            Support services are located at <a href="http://riverbed.com/supportservicedescription">www.riverbed.com/supportservicedescription</a>.
        </p>
        <h5>6. STANDARD WARRANTY; WARRANTY DISCLAIMER.</h5>
    <ul>
    <p>(a)<b class="eula-space"></b>Riverbed warrants only to Licensee that the Hardware and Software, as originally shipped by Riverbed, will conform in all
        material respects to the applicable published specifications for such Products during the applicable Warranty Period. “Warranty Period” means a
        period commencing on the date of original shipment by Riverbed of the applicable Product and continuing for one (1) year with respect to Hardware
        and ninety (90) days with respect to Software. Shipment of a replacement Product or provision of any updates or upgrades will not extend the
        Warranty Period. The foregoing warranty does not extend to any Product that (i) is modified or altered, (ii) is not maintained and stored in
        accordance with Riverbed's maintenance recommendations and instructions, (iii) has its serial number removed or altered, or (iv) is damaged
        (including by electrical power surges), mishandled, or treated with abuse, negligence or other improper treatment (including use outside the
        recommended environment or in violation of this Agreement).
    </p>
    <p>(b)<b class="eula-space"></b>
        LICENSEE'S SOLE AND EXCLUSIVE REMEDY, AND RIVERBED’S SOLE AND EXCLUSIVE OBLIGATION, FOR ANY
        BREACH OF THE FOREGOING WARRANTY WILL BE,AT RIVERBED’S OPTION, THE REPAIR OR REPLACEMENT OF OR (AT RIVERBED'S
        OPTION IF REPAIR OR REPLACEMENT IS IMPRACTICAL) REFUND OF THE FEES RECEIVED BY RIVERBED FOR RETURNED NON-CONFORMING
        UNITS OF PRODUCT FOR WHICH FULL DOCUMENTATION AND PROOF OF NON-CONFORMITY IS PROVIDED TO
        RIVERBED (AND FOR WHICH A SUPPLIER RMA HAS BEEN ISSUED) WITHIN THE APPLICABLE WARRANTY PERIOD. SUCH REFUND
        WILL BE PAID TO THE LICENSEE OR RESELLER MAKING THE WARRANTY CLAIM. RIVERBED IS NOT RESPONSIBLE FOR ANY
        DIFFERENCE BETWEEN THE AMOUNT PAID TO RIVERBED FOR THE RETURNED PRODUCT AND THE AMOUNT PAID BY LICENSEE FOR
        SUCH RETURNED PRODUCT. EXCEPT AS OTHERWISE EXPRESSLY PROVIDED IN THIS AGREEMENT, RIVERBED PROVIDES THE
        PRODUCTS "AS IS" AND WITHOUT WARRANTY OF ANY KIND, AND HEREBY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS,
        IMPLIED, OR STATUTORY, INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, PERFORMANCE,
        ACCURACY, RELIABILITY AND NON-INFRINGEMENT. RIVERBED ALSO MAKES NO WARRANTY REGARDING NONINTERRUPTION OF
        USE OR FREEDOM FROM BUGS OR THAT ANY PRODUCT WILL MEET LICENSEE’S REQUIREMENTS. THIS DISCLAIMER OF WARRANTY
        CONSTITUTES AN ESSENTIAL PART OF THIS AGREEMENT.
    </p>
    </ul>
    <h5>7. LIMITATION OF LIABILITY.</h5>
    <p>NOTWITHSTANDING ANYTHING ELSE IN THIS AGREEMENT OR OTHERWISE, WITH RESPECT TO
        ANY SUBJECT MATTER OF THIS AGREEMENT OR UNDER ANY TORT, CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER LEGAL
        OR EQUITABLE THEORY. (A) NEITHER RIVERBED NOR ANY OF ITS AFFILIATES OR SUPPLIERS IS LIABLE FOR (I) ANY INDIRECT,
        SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES, OR ANY LOST PROFITS, (II) COST OF COVER OR
        COST OF PROCUREMENT OF SUBSTITUTE GOODS, TECHNOLOGY OR SERVICES, OR (III) LOSS OR CORRUPTION OF DATA,
        INTERRUPTION OF USE, LOSS OF GOODWILL, WORK STOPPAGE, ACCURACY OF RESULTS, COMPUTER FAILURE OR MALFUNCTION,
        OR DAMAGES RESULTING FROM LICENSEE'S USE OF ANY PRODUCT, AND (B) THE AGGREGATE LIABILITY OF RIVERBED AND ITS
        AFFILIATES AND SUPPLIERS WILL NOT EXCEED THE AGGREGATE FEES RECEIVED BY RIVERBED FOR THE APPLICABLE PRODUCT
        OR SERVICE THAT GAVE RISE TO THE CLAIM. THE FOREGOING LIMITATION IS CUMULATIVE, WITH ALL CLAIMS BEING AGGREGATED
        TO DETERMINE SATISFACTION OF THE LIMIT. THE EXISTENCE OF ONE OR MORE CLAIMS WILL NOT ENLARGE THE LIMIT. THE
        FOREGOING LIMITATIONS WILL APPLY EVEN IF RIVERBED IS INFORMED OF THE POSSIBILITY OF SUCH DAMAGES. THE PRODUCTS
        ARE NOT DESIGNED FOR USE IN ANY DEVICE OR SYSTEM IN WHICH A MALFUNCTION OF THE PRODUCT WOULD RESULT IN
        FORESEEABLE RISK OF INJURY OR DEATH TO ANY PERSON. THIS INCLUDES OPERATION OF NUCLEAR FACILITIES, LIFE-SUPPORT
        SYSTEMS, AIRCRAFT NAVIGATION OR COMMUNICATION SYSTEMS AND AIR TRAFFIC CONTROL. THIS SECTION 7 DOES NOT LIMIT
        LIABILITY FOR BODILY INJURY OF A PERSON.
    </p>
    <h5>8. TERM AND TERMINATION.</h5>
    <p>This Agreement will continue until terminated as set forth in this Section 8. Licensee may terminate this
        Agreement at any time upon notice to Riverbed. This Agreement will terminate if Licensee violates or fails to comply with any provision of this
        Agreement and fails to cure such breach within thirty (30) days after receipt of notice of such breach from Riverbed. Any termination of this
        Agreement will also terminate the licenses granted hereunder. Upon termination of this Agreement, Licensee shall cease use of all Software and
        Documentation, shall destroy and remove from all computers, hard drives, networks and other storage media all copies of the Software and
        Documentation, and shall certify to Riverbed that such actions have occurred. Sections 1, 3, 4, 6(b), and 7 through 10 will survive any termination
        of this Agreement.
    </p>

    <h5>9. EXPORT CONTROLS.</h5>
    <p>Licensee shall comply with all export laws and restrictions and regulations of the Department of Commerce, the
        United States Department of Treasury Office of Foreign Assets Control, and any other United States, European Union, Singapore or other foreign
        agency or authority, and Licensee shall not export, or allow the export or re-export of, any Product in violation of any such restrictions, laws or
        regulations. Licensee shall ensure that no Product is, in the absence of authorization by U.S. and other applicable law as required, used by or
        exported or re-exported to (a) any U.S. sanctioned or embargoed country, or to nationals or residents of such countries; (b) to any person, entity,
        organization or other party identified on the U.S. Department of Commerce’s Denied Persons or Entity List, the U.S. Department of Treasury’s
        Specially Designated Nationals or Blocked Persons List, or the Department of State’s Debarred Parties List, as published and revised from time to
        time; or (c) any party where the end use involves any nuclear weapons, chemical/biological weapons, or missile technology. Without limiting the
        foregoing, Customer shall not use any Product, technology or information it obtains or learns pursuant to this Agreement in relation to any nuclear,
        biological or chemical weapons, or any missiles capable of delivering these weapons.</p>

    <h5>10. MISCELLANEOUS.</h5>
    <p>If any provision of this Agreement is found invalid or unenforceable, that provision will be enforced to the maximum
        extent permissible consistent with the original intent of the parties, and the other provisions of this Agreement will remain in force. The failure of
        Riverbed to act with respect to a breach of this Agreement by Licensee or others does not constitute a waiver and will not limit Riverbed's rights
        with respect to such breach or any subsequent breaches. Except as expressly set forth herein, no changes or modifications or waivers may be
        made to this Agreement unless evidenced in writing and signed by both parties. This Agreement is personal to Licensee and Licensee shall not
        assign or transfer this Agreement for any reason whatsoever without Riverbed's prior written consent, and any action or conduct in violation of the
        foregoing will be void and without effect. Riverbed may assign this Agreement, or delegate any of its obligations hereunder, in whole or in part. In
        obtaining the Products or entering into this Agreement, Licensee acknowledges that it has not relied and will not rely on the availability of any future
        Riverbed product or version of a product. This Agreement is governed by and construed in accordance with the laws of the State of California
        (without regard to the conflicts of laws provisions thereof or the UN Convention on the International Sale of Goods). Unless otherwise elected by
        Riverbed in writing for a particular instance or prohibited by applicable law, the sole jurisdiction and venue for any court claims will be the state and
        U.S. federal courts located in San Francisco, California, USA, and both parties consent to the jurisdiction of such courts. In any action or
        proceeding to enforce rights under this Agreement, the prevailing party will be entitled to recover costs and attorney’s fees. There are no third party
        beneficiaries of this Agreement. Unless otherwise expressly provided, all remedies under this Agreement are cumulative and not exclusive. Unless
        otherwise expressly indicated, “including” (and other variations thereof) means, as applicable, “including but not limited to” and “herein” and
        “hereunder” are references to this Agreement. This Agreement and all online terms referenced herein constitute the entire agreement between
        Riverbed and Licensee on the subject matters covered herein, and supersede all agreements, proposals, oral or written, all negotiations,
        conversations or discussions between or among the parties relating to the subject matter of this Agreement, and all past dealing or industry custom,
        including any preprinted or contrary terms of any purchase order (or similar document). If this Agreement is deemed an offer, acceptance is
        expressly limited to these terms. If there is a mutually signed agreement (not including any purchase order or similar document) expressly covering
        the license of Products by Riverbed to Licensee, then the express terms of that agreement will govern to the extent such agreement conflicts with
        the terms of this Agreement. Riverbed may, upon at least two (2) weeks’ advance written notice, inspect, or have an accountant or auditor inspect,
        Licensee’s books and records relating to this Agreement and Licensee’s compliance with its terms and conditions, for up to two prior years of
        records from the date of such audit. Any such audit will be conducted during Licensee’s normal business hours and in a manner that does not
        materially interfere with Licensee’s normal business operations. If any audit reveals that Licensee is in breach of this Agreement, then Licensee
        shall compensate Riverbed (at Riverbed’s then-current list price) for any unauthorized use of or access to any Product (e.g., any use by any
        unauthorized users or use of any unauthorized copies or instances of a Product).
    </p>

    <h5>NOTICE: EXCEPT FOR THE LICENSE RIGHTS GRANTED HEREIN, NO INTELLECTUAL PROPERTY RIGHTS ARE TRANSFERRED.</h5>
    <h5>PLEASE CONTACT RIVERBED AT (415) 247-8800 WITH ANY QUESTIONS.</h5>
</div>
