<div class="navbar-inner">
    <div class="container-fluid">
        <a href="#!/dashboard" class="brand"></a>
        <a class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        </a>
        <ul class="nav pull-right">
            <li class="dropdown" data-ng-show="!account.provisionEnabled && account">
                <button data-ng-click="completeAccount()" class="btn-old-style btn-joyent-orange">Complete Account Information</button>
            </li>
            <li class="dropdown" data-ng-show="features.skinChange == 'enabled'">
                <button data-ng-click="skinChange()" class="old-portal">Return to the old portal</button>
            </li>
            <li class="dropdown">
                <a href="https://help.joyent.com/home" target="_blank" class="dropdown-toggle">
                    <i class="header_icon support_icon"></i>
                    <span class="username">Support</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="http://www.joyent.com/developers" target="_blank" class="dropdown-toggle">
                    <i class="header_icon info_icon"></i>
                    <span class="username">DevCenter</span>
                </a>
            </li>
            <li class="loading-small load-user-name" data-ng-hide="account.firstName"></li>
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="username">{{account.login}}</span>
                    <i class="icon-arrow-down-user"></i>
                </a>
                <ul class="dropdown-menu dd-account">
                    <li><a id="link-account" href="#!/account">
                        <i class="icon-user"></i> Account</a></li>
                    <li><a data-ng-click="changePassword()"><i class="icon-lock"></i> Change Password</a></li>
                    <li><a data-ng-click="changeTfa()"><i class="two-keys"></i> Two Factor Authentication</a></li>
                    <li><a href="/landing/forgetToken"><i class="icon-signout"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>