<div class="navbar-inner">
    <div class="container-fluid">
        <a href="#!/dashboard" class="brand"></a>
        <a class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        </a>
        <ul class="nav pull-right">
            <li class="dropdown" data-ng-show="!account.provisionEnabled && account">
                <button data-ng-click="completeAccount()" class="btn-old-style btn-joyent-orange">Complete Account Information</button>
            </li>
            <li class="dropdown" data-ng-show="features.skinChange == 'enabled'">
                <button data-ng-click="skinChange()" class="old-portal">Return to the old portal</button>
            </li>
            <li class="dropdown">
                <a href="https://help.joyent.com/home" target="_blank" class="dropdown-toggle">
                    <i class="header_icon support_icon"></i>
                    <span class="username">Support</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="http://www.joyent.com/developers" target="_blank" class="dropdown-toggle">
                    <i class="header_icon info_icon"></i>
                    <span class="username">DevCenter</span>
                </a>
            </li>
            <li class="loading-small load-user-name" data-ng-hide="account.login"></li>
            <li class="dropdown user" data-ng-show="account.login">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="username">{{account.login}}</span>
                    <i class="icon-arrow-down-user"></i>
                </a>
                <ul class="dropdown-menu dd-account">
                    <li><a id="link-account" href="#!/account"><span class="icon-user"></span> Account</a></li>
                    <li data-ng-show="features.provisioningLimits == 'enabled'"><a href="#!/limits"><span class="icon-tasks"></span> Provisioning Limits</a></li>
                    <li data-ng-hide="account.isSubuser"><a data-ng-click="changePassword()"><span class="icon-lock"></span> Change Password</a></li>
                    <li data-ng-hide="account.isSubuser"><a data-ng-click="changeTfa()"><span class="two-keys"></span> Two Factor Authentication</a></li>
                    <li data-ng-show="trackingSuccess"><a href="/landing/forgetToken"><span class="icon-signout"></span> Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>