<div class="container-fluid container-position" data-ng-controller="slb.DetailController">
    <!--<div data-breadcrumbs></div>--> <!--temporarily hardcoded-->
    <ul class="breadcrumb">
        <li><a href="#!/compute">Compute</a></li><!--
            --><li><a href="#!/slb/list">Load Balancers</a></li><!--
            --><li>Details</li>
    </ul>

    <h3 class="page-title" data-ng-show="detailLoaded" data-translate>{{server.name}}:
        {{server.host}}</h3>

    <div class="loading-large" data-ng-hide="detailLoaded"></div>

    <div class="row lb-edit" data-ng-show="detailLoaded">
        <div class="col-md-12 edit-info-bar" data-ng-class="{'edit-info-bar-highlight': server.machinesUp.length != server.machines.length}">
            <div class="col-md-3">
                <span class="lb-label" data-translate>Protocol: </span>
                <span><b class="eula-space">{{server.protocol | uppercase}}</b></span>
            </div>
            <div class="col-md-3">
                <span class="lb-label" data-translate>External port:</span>
                <span><b class="eula-space">{{server.fromPort}}</b></span>
            </div>
            <div class="col-md-3">
                <span class="lb-label" data-translate>Internal port:</span>
                <span><b class="eula-space">{{server.toPort}}</b></span>
            </div>
            <div class="col-md-3">
                <span class="lb-label" data-translate>Overall Health: </span>
                <span><b class="eula-space">{{server.machinesUp.length}}/{{server.machines.length}}</b></span>
            </div>
        </div>


        <div class="col-md-12 table-pos table-overflow">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="table-title sortable">
                        <div class="block" data-translate>Machine Name</div>
                    </th>
                    <th class="table-title sortable">
                        <div class="block" data-translate>Data Center</div>
                    </th>
                    <th class="table-title sortable">
                        <div class="block" data-translate>Health Status</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="machine in server.machines">
                    <td data-ng-show="machine.deleted"><i class="red-text">deleted</i></td>
                    <td data-ng-show="!machine.deleted"><a href="#!/compute/instance/{{machine.details.id}}">{{machine.details.name}}</a></td>
                    <td>{{machine.details.datacenter}}</td>
                    <td>{{machine.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 img1" data-traffic-graph data-traffic="traffic" title="Traffic">
        </div>
    </div>

    <span data-ng-show="detailLoaded" class="clearfix">
        <p class="logo-riverbed pull-left" data-translate>Powered by</p>
        <button data-ng-click="edit()" class="btn pull-right"><span class="ng-scope" data-translate>Edit</span></button>
    </span>
</div>