<div class="container-fluid container-position" data-ng-controller="slb.EditController">
    <!--<div data-breadcrumbs></div>--> <!--temporarily hardcoded-->
    <ul class="breadcrumb">
        <li><a href="#!/compute">Compute</a></li><!--
        --><li data-ng-show="balancerId"><a href="#!/slb/list">Load Balancers</a></li><!--
        --><li data-ng-show="!balancerId">Load Balancers</li><!--
        --><li data-ng-show="balancerId"><a href="#!/slb/detail/{{balancerId}}">Details</a></li>
    </ul>
    <div class="page-header row">
        <h3 class="page-title" data-ng-show="balancerId" data-translate>Edit Load Balancer</h3>
        <h3 class="page-title" data-ng-hide="balancerId" data-translate>Create Load Balancer</h3>
    </div>
    <div data-ng-form name="editForm">
        <div class="loading-large" data-ng-hide="allLoading"></div>
        <div class="row lb-edit" data-ng-show="allLoading">
            <div class="col-md-5 table-right-border">
                <legend data-translate>Load Balancer</legend>
                <div class="clearfix">
                    <span class="col-md-2 lb-label" data-translate>Name</span>
                    <span class="col-md-9 name-input">
                        <input name="name" type="text" required data-ng-model="server.name" data-ng-pattern="/^[\u0000-\u007F]+$/" autofocus />
                    </span>
                </div>
                <div data-ng-show="balancerId">
                    <span class="col-md-2 lb-label lb-label-ip" data-translate>IP</span>
                    <span class="col-md-9 balancer-id">
                        {{server.host}}
                    </span>
                </div>
                <div class="clearfix">
                    <span class="col-md-3 lb-label" data-translate>Protocol</span>

                    <div class="tooltip-hover col-md-8 dd-margin protocol-pos"
                         data-toggle="tooltip"
                         data-placement="bottom">
                        <select data-select-two id="protocolSelect" data-width="100px" class="slb-select" data-select="protocolSelected.name" data-fn="protocolSelect">
                            <option data-ng-repeat="protocol in protocols" value="{{protocol.value}}">
                                {{protocol.name}}
                            </option>
                        </select>
                        <span class="upload-btn" data-ng-show="protocolSelected.name == 'HTTPS'">
                            <span data-cert-upload model="server.certificate"></span>
                        </span>
                    </div>
                </div>
                <div class="clearfix">
                    <span class="col-md-3 lb-label e-port" data-translate>Port</span>
                    <span class="port-input port-m">
                        <input name="fromPort" type="text" pattern="\d*" required data-ng-model="server.fromPort"
                               data-ng-change="validatePort('fromPort')"/>
                    </span>
                </div>
                <div class="clearfix">
                    <span class="col-md-3 lb-label" data-translate>Data Center</span>

                    <div class="btn-group tooltip-hover dd-margin protocol-pos"
                         data-toggle="tooltip"
                         data-placement="bottom"
                         data-ng-hide="true">

                        <button class="btn slb-select" data-toggle="dropdown">{{datacenterSelected.name}}</button>
                        <button class="btn dropdown-toggle slb-select" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-ng-repeat="datacenter in datacenters">
                                <a data-ng-click="datacenterSelect(datacenter.name)">{{datacenter.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <span class="col-md-8 datacenter-name">
                        {{datacenterSelected.name}}
                    </span>
                </div>
                <div style="margin-top: 10px;" class="lb-line"></div>

                <legend data-translate>Health Check</legend>

                <div class="clearfix" data-ng-show="protocolSelected.name == 'HTTP' || protocolSelected.name == 'HTTPS'">
                    <span class="col-md-2 lb-label" data-translate>URL</span>
                    <span class="col-md-9 name-input">
                        <input type="text" data-ng-model="server.health.url" class="url-input"/>
                    </span>
                </div>
                <div class="clearfix">
                    <span class="col-md-3 lb-label" data-translate>Timeout</span>

                    <div class="btn-group tooltip-hover col-md-3 dd-margin protocol-pos"
                         data-toggle="tooltip"
                         data-placement="bottom">

                        <select data-select-two id="timeoutSelect" data-width="100px" class="slb-select" data-select="server.health.timeout + ' sec'" data-fn="timeoutSelect">
                            <option data-ng-repeat="timeout in timeouts" value="{{timeout}}">
                                {{timeout}} sec
                            </option>
                        </select>
                    </div>
                </div>
                <div class="protocol-block clearfix">
                    <span class="col-md-3 hc-interval lb-label" data-translate>HC Interval</span>

                    <div class="btn-group tooltip-hover col-md-3 dd-margin protocol-pos"
                         data-toggle="tooltip"
                         data-placement="bottom">

                        <select data-select-two id="hcDelaySelect" data-width="100px" class="slb-select" data-select="server.health.delay + ' mins'" data-fn="hcDelaySelect">
                            <option data-ng-repeat="hcDelay in hcDelays" value="{{hcDelay}}">
                                {{hcDelay}} mins
                            </option>
                        </select>
                    </div>
                </div>
                <div class="protocol-block clearfix">
                    <span class="col-md-2 two-line lb-label" data-translate>Failure Threshold</span>
                    <span class="col-md-9">
                        <input name="failThreshold" type="text" class="short-input"
                               data-ng-model="server.health.failThreshold"
                               data-ng-change="checkInteger('failThreshold')"/>
                    </span>
                </div>
            </div>

            <div class="col-md-7 table-overflow">
                <legend data-translate>Instances</legend>
                <div>
                    <span class="col-md-3 lb-label" data-translate>Port</span>
                    <span class="col-md-3">
                        <input class="short-input short-input-port" name="toPort" type="text" pattern="\d*" required data-ng-model="server.toPort"
                               data-ng-change="validatePort('toPort', true)"/>
                    </span>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="table-title sortable">
                            <div class="block" data-translate>Name</div>
                        </th>
                        <th class="table-title sortable">
                            <div class="block" data-translate>Data Center</div>
                        </th>
                        <th class="table-title sortable">
                            <div class="block" data-translate>UUID</div>
                        </th>
                        <th class="table-title sortable">
                            <div class="block" data-translate>Load Balancer</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="machine in machines">
                        <td width="10"><input type="checkbox" class="group-checkable"
                                              data-ng-model="machine.selected" data-ng-change="validateSelected(machine)">
                        </td>
                        <td title="{{machine.name}}" data-ng-class="{active: machine.active}"><a href="#!/compute/instance/{{machine.id}}">{{machine.name}}</a>
                        </td>
                        <td title="{{machine.datacenter}}">{{machine.datacenter}}</td>
                        <td title="{{machine.id}}">{{machine.id}}</td>
                        <td>
                            <span class="slb-name" title="{{balancer.name}}"
                                  data-ng-repeat="balancer in machine.balancers">{{balancer.name}}{{{true: '', false: ', '}[$last]}}</span>
                        </td>
                    </tr>
                    <tr data-ng-show="deletedCount">
                        <td width="10"><input type="checkbox" class="group-checkable" disabled></td>
                        <td colspan="3"><i style="color: red;">{{ deletedCount }} deleted</i></td>
                        <td>
                            <span class="slb-name" title="{{server.name}}">{{server.name}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <span class="col-md-10 clearfix" data-ng-show="allLoading">
            <p class="logo-riverbed pull-left" data-translate>Powered by</p>
            <button data-ng-disabled="saving" data-ng-click="save()"
                    class="btn orange pull-right edit-btn-pos">
                <span data-ng-show="balancerId" class="ng-scope" data-translate>Update</span>
                <span data-ng-hide="balancerId" class="ng-scope" data-translate>Create</span>
            </button>
            <button data-ng-show="balancerId" data-ng-disabled="!editForm.$valid" data-ng-click="delete()"
                    class="btn pull-right delete-btn-pos" data-translate="">
                <span data-translate>Delete</span>
            </button>
            <div class="pull-right loading-medium load-pos" data-ng-show="saving"></div>
        </span>
    </div>
</div>
