<div class="container">
    <ul class="breadcrumb">
        <li class="ng-scope active">
            <span class="ng-binding" data-translate>Load Balancers</span>
        </li>
    </ul>
    <div data-notification></div>
    <h4 data-ng-show="creating">Provisioning load balancer infrastructure. Go get a coffee. Joyent Simple Load Balancer will be ready when you return.</h4>
    <div class="loading-large" data-ng-show="!loaded || creating"></div>
    <div class="span12" data-ng-show="loaded && !creating" style="margin-left: 10px">
        <h3 data-translate>Joyent Simple Load Balancer Powered by Riverbed</h3>

        <div data-ng-include="'slb/static/templates/eula.html'"></div>
        <div class="accept-checkbox">
            <input type="checkbox" data-ng-click="licenseAccept()"/>
            <span data-translate>I accept the terms of the end user license agreement above. I acknowledge I will be charged
                for Joyent Simple Load Balancer (SLB) while it is installed. Infrastructure is provisioned until SLB is uninstalled,
                even if no load balancers are active.</span>
        </div>
        <span class="load-balancers" style="margin-top: -95px;">
            <button data-ng-click="enableSlb()" data-ng-disabled="!licenseAcceptCheck"
                    class="btn btn-joyent-blue btn-medium"><span class="ng-scope" data-translate>Enable Load Balancer</span>
            </button>
        </span>
    </div>
</div>
