<div class="container">
    <ul class="breadcrumb">
        <li class="ng-scope active">
            <span class="ng-binding" data-translate>Load Balancers</span>
        </li>
    </ul>
    <div data-notification></div>
    <h4 data-ng-show="creating">Go get a coffee. Joyent Simple Load Balancing will be ready when you return.</h4>
    <div class="loading-large" data-ng-show="!loaded || creating"></div>
    <div class="span12" data-ng-show="loaded && !creating" style="margin-left: 10px">
        <h3 data-translate>Joyent Simple Load Balancer Powered by Riverbed</h3>

        <div data-ng-include="'slb/static/templates/eula.html'"></div>
        <div class="accept-checkbox">
            <label class="checkbox" >
                <div class="checker" data-ng-class="{hover:shows}" data-ng-mouseenter="shows = true" data-ng-mouseleave="shows = false">
                                <span data-ng-click="licenseAccept()" data-ng-class="{checked: licenseAcceptCheck}">
                                    <input type="checkbox" class="group-checkable" data-set="#insTable .checkboxes"  value="">
                                </span>
                </div>
            </label>
            <span data-translate>I accept the terms of the end user license agreement above. I acknowledge I will be charged
                for Joyent Simple Load Balancer (SLB) while it is enabled. Infrastructure is provisioned until SLB is disabled,
                even if no load balancers are active.</span>
            <span class="load-balancers">
            <button data-ng-click="enableSlb()" data-ng-disabled="!licenseAcceptCheck"
                    class="btn light btn-medium"><span class="ng-scope" data-translate>Enable Load Balancing</span>
            </button>
        </span>
        </div>

    </div>
</div>
