<div class="container-fluid container-position">
    <div data-breadcrumbs></div>
    <span data-ng-show="creating">Provisioning load balancer infrastructure. Go get a coffee. Joyent Simple Load Balancer will be ready when you return.</span>
    <div class="loading-large" data-ng-show="!loaded || creating"></div>
    <div data-operation-log></div>
    <div data-ng-show="loaded && !creating">
        <div class="page-header row">
            <h3 class="page-title ng-scope" data-translate>Joyent Simple Load Balancer Powered by Riverbed</h3>
            <div class="beta-sticker">beta</div>
        </div>

        <div data-ng-include="'slb/static/templates/eula.html'"></div>
        <div class="accept-checkbox">
            <label class="checkbox dpl-inline">
                <div class="checker" data-ng-class="{hover: shows}" data-ng-mouseenter="shows = true" data-ng-mouseleave="shows = false">
                    <span data-ng-click="licenseAccept()" data-ng-class="{checked: licenseAcceptCheck}">
                        <input type="checkbox" class="group-checkable" data-set="#insTable .checkboxes"  value="">
                    </span>
                </div>
            </label>
            <div class="agreement-pos">
                <span>I accept the terms of the end user license agreement above. I acknowledge I will be charged
                <b>$0.08/hr</b> for Joyent Simple Load Balancer (SLB) while it is installed plus standard
                <a href="http://www.joyent.com/products/compute-service/pricing#bandwidth">bandwidth pricing</a>. Infrastructure
                is provisioned until SLB is uninstalled, even if no load balancers are active.
            </span>
            </div>

            <span class="float-right">
            <button data-ng-click="enableSlb()" data-ng-disabled="!licenseAcceptCheck"
                    class="btn light btn-medium effect-orange-button"><span class="ng-scope" data-translate>Install Load Balancer</span>
            </button>
        </span>
        </div>
    </div>
</div>
