    <div class="container-fluid container-position" data-ng-controller="slb.ListController">
        <div data-breadcrumbs></div>
    <div class="loading-large" data-ng-hide="listLoaded"></div>
    <div data-operation-log></div>
    <div data-ng-show="listLoaded" class="table-overflow group-checkable">
        <h3 class="page-title" data-ng-hide="deleting">
            <span data-translate>Load Balancers</span>
            <a href="http://wiki.joyent.com/wiki/display/jpc2/Simple+Load+Balancer" class="documentation-icon" target="_blank">?</a>
        </h3>
        <div class="beta-sticker">beta</div>
        <h3 class="page-title" data-ng-show="deleting" data-translate>Uninstalling Joyent Simple Load Balancer</h3>
        <div class="header-btn-ci">
            <button class="btn light font16 uninstall-lb-btn" data-ng-click="disableLb()">
                Uninstall Load Balancer
            </button>
        </div>

        <table class="table table-striped table-bordered table-hover table-full-width">
            <thead>
            <tr>
                <th class="table-title sortable">
                    <div class="block" data-translate>Load Balancer</div>
                </th>
                <th class="table-title sortable">
                    <div class="block" data-translate>IP</div>
                </th>
                <th class="table-title sortable">
                    <div class="block" data-translate>Status</div>
                </th>
                <th class="table-title sortable">
                    <div class="block" data-translate>Health</div>
                </th>
                <th class="table-title sortable">
                    <div class="block" data-translate>Creation Date</div>
                </th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="server in servers" data-ng-class="{'load-balancer-highlight': server.machinesUp.length != server.machines.length}">
                <td><a href="#!/slb/detail/{{server.id}}" class="slb-name">{{server.name}}</a></td>
                <td>{{server.host}}</td>
                <td>Active</td>
                <td>{{server.machinesUp.length}}/{{server.machines.length}}</td>
                <td>{{server.created | date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr data-ng-show="servers.length == 0">
                <td colspan="5" data-translate>No balancers configured</td>
            </tr>
            </tbody>
        </table>
        <p class="pull-right">
            <button class="btn orange font16" data-ng-click="createNew()">
                <i class="plus-btn-icon"></i>
                &nbsp;&nbsp;Create new load balancer
            </button>
        </p>
    </div>

</div>