<div class="container" data-ng-controller="slb.ListController">
    <ul class="breadcrumb">
        <li class="ng-scope active">
            <span class="ng-binding" data-translate>Load Balancers</span>
        </li>
        <li class="pull-right">
            <i class="icon icon-minus-sign minus-icon-pos"></i>
            <a class="add-machine" data-ng-click="disableLb()" data-translate>Disable Load Balancer</a>
        </li>
    </ul>
    <div data-notification></div>

    <div class="page-header">
        <h1 class="pull-left" data-translate>Load balancers</h1>

        <div class="clearfix"></div>
    </div>

    <div class="loading-large" data-ng-hide="listLoaded"></div>

    <div data-ng-show="listLoaded" class="span12 table-overflow group-checkable">

        <div class="row">
            <div class="span9">
                <table class="table table-striped table-bordered table-hover table-full-width">
                <thead>
                <tr>
                    <th class="text-medium sortable">
                        <div class="block" data-translate>Load Balancer</div>
                    </th>
                    <th class="text-medium sortable">
                        <div class="block" data-translate>IP</div>
                    </th>
                    <th class="text-medium sortable">
                        <div class="block" data-translate>Status</div>
                    </th>
                    <th class="text-medium sortable">
                        <div class="block" data-translate>Members Health</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="server in servers" class="item">
                    <td><a href="#!/slb/detail/{{server.id}}">{{server.name}}</a></td>
                    <td>{{server.host}}</td>
                    <td>Active</td>
                    <td>{{server.machinesUp.length}}/{{server.machines.length}}</td>
                </tr>
                <tr data-ng-show="servers.length == 0" class="item">
                    <td colspan="5" data-translate>No balancers configured</td>
                </tr>
                </tbody>
            </table>
            </div>

            <div class="pull-right span3">
                <button data-ng-click="changeLocation('/slb/edit/')"
                        class="create-instance btn btn-joyent-blue btn-large"
                        data-translate>Create Load Balancer</button>

                <div class="alert alert-joyent-blue" style="margin-top: 20px">
                    <h4 data-translate>Need help?</h4>
                    <p class="text-medium" data-translate>Help will open in new window</p>
                    <form class="form-search" method="GET" action="http://www.joyent.com/developers/search" target="_blank">
                        <div class="input-append">
                            <input type="text" name="q" class="input-small search-query" placeholder="Search help" data-translate="placeholder">
                            <button type="submit" class="btn" data-translate>Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>