<div data-ng-switch="subview">

<div data-ng-switch-when="index"
     data-ng-controller="CMSAdmin.Controller">
    <div class="container-fluid content-container">
        <div class="container content-container-inner">
            <div data-ng-repeat="el in data">
                <a href="#!/cms-admin/{{el.id}}">{{el.id}}</a>
            </div>
        </div>
    </div>
</div>

<div data-ng-switch-when="edit"
     data-ng-controller="CMSAdmin.EditController">
    <div class="container-fluid content-container">
        <div class="container content-container-inner" data-ng-switch="el.type">
            <textarea style="width:600px; height: 600px;" data-ng-model="data" data-ng-switch-when="json"></textarea>
            <div id="editor" style="width:600px; height: 600px;" data-ng-switch-when="html" contenteditable="true" data-ng-bind-html="data"></div>
        </div>
        <div data-ng-show="error">
            {{error}}
        </div>
        <div data-ng-show="message">
            {{message}}
        </div>
        <button class="btn btn-primary" data-ng-click="saveData()">Save</button>
        <div class="clearfix"></div>
    </div>
</div>

</div>
