html(lang='en',data-ng-app='JoyentPortal',data-ng-controller='MainController')
  head
    meta(charset='utf-8')
    meta(name='fragment',content='!')
    title(data-ng-bind='windowTitle') MAIN
    each link in css
        link(rel='stylesheet',href='#{link._url}',type='text/css')
  body
    div(data-debug-window)
    div(class="container-fluid")
        div(class='row-fluid')
            div(data-main-menu, class='JoyentPortal-module-menu span2')
            div(data-ng-switch='subview', class='span10 subview')
                each layout in layouts
                    div(data-ng-switch-when='#{layout.module}',class='JoyentPortal-module-#{layout.module}',data-ng-controller='#{layout.module}.LayoutController')!= layout.data

    each link in js
      script(type='text/javascript',src='#{link._url}')
    each source in jss
          script(type='text/javascript')!= source