<div class="loading-medium" data-ng-show="loading"></div>
<div data-ng-hide="loading">
    <div data-grid-view
         data-user-config="gridUserConfig"
         data-props="gridProps"
         data-detail-props="gridDetailProps"
         data-action-buttons="gridActionButtons"
         data-items="objects"
         data-order="gridOrder"
         data-multisort="true"
         data-export-fields="exportFields"
         data-place-Holder-Text="placeHolderText"
         data-enabled-checkboxes="enabledCheckboxes"
         data-items-type="object"
         data-checked-items="checkedItems">
    </div>
    <button data-select-file class="btn pull-right" data-objects="objects" data-loading="loading"><i class="plus-icon"></i>Add</button>
</div>
