<div class="container-fluid container-position" data-ng-class="{'container-min-width': !account.provisionEnabled}" data-ng-controller="Storage.JobBuilderController">
    <div data-breadcrumbs data-ng-show="account.provisionEnabled && !loading"></div>
    <div class="page-header">
        <h3 class="page-title">Job Builder</h3>
        <div class="beta-sticker">beta</div>
    </div>


    <div data-ng-include="'storage/static/partials/ocean.html'" data-ng-show="!account.provisionEnabled && !loading"></div>
    <div class="loading-large" data-ng-show="loading"></div>
    <div class="inl-table" data-ng-show="account.provisionEnabled && !loading">
        <div class="table-row">
            <div class="left-part">
                <div class="job-name">
                    <div class="name">Name</div>
                    <div class="field">
                        <input type="text" name="jobName" data-ng-model="jobName"/>
                    </div>
                </div>
                <div class="panel-group" id="accordionBuilderGrids">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_inputs">
                                Inputs
                            </a>
                        </div>
                        <div id="collapse_inputs" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div data-builder-grid data-objects="dataInputs"></div>
                              </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_assets">
                                Assets
                            </a>
                        </div>
                        <div id="collapse_assets" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div data-builder-grid data-objects="dataAssets"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div class="job-name row">
                    <button class="btn orange pull-right" data-ng-click="createJob()">Run Job</button>
                </div>
                <div class="panel-group" id="accordionBuilderPhases">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_mapstep">
                                Map Step
                            </a>
                        </div>
                        <div id="collapse_mapstep" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="job-name row">
                                    <div class="field">
                                        <textarea type="text" name="mapStep" rows="4" data-ng-model="mapStep"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_reducestep">
                                Reduce Step
                            </a>
                        </div>
                        <div id="collapse_reducestep" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="job-name row">
                                    <div class="field">
                                        <textarea type="text" name="reduceStep" rows="4" data-ng-model="reduceStep"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>