<div>
    <div data-grid-view
         data-user-config="gridUserConfig"
         data-props="gridProps"
         data-detail-props="gridDetailProps"
         data-action-buttons="gridActionButtons"
         data-items="objects"
         data-order="gridOrder"
         data-multisort="true"
         data-export-fields="exportFields"
         data-place-Holder-Text="placeHolderText"
         data-enabled-checkboxes="enabledCheckboxes"
         data-items-type="object">
    </div>
    <button class="btn light effect-orange-button pull-right" data-ng-click="newFilePath()"><i class="plus-icon"></i>Add</button>
</div>
