<div class="container-fluid container-position" data-ng-class="{'container-min-width': !account.provisionEnabled}" data-ng-controller="Storage.JobBuilderController">
    <div data-breadcrumbs data-ng-show="account.provisionEnabled && !loading"></div>
    <div class="page-header">
        <h3 class="page-title">Job Builder</h3>
    </div>


    <div data-ng-include="'storage/static/partials/ocean.html'" data-ng-show="!account.provisionEnabled && !loading"></div>
    <div class="loading-large" data-ng-show="loading"></div>
    <div class="inl-table" data-ng-show="account.provisionEnabled && !loading">
        <div class="table-row">
            <div class="left-part">
                <div class="job-name">
                    <div class="name">Name</div>
                    <div class="field">
                        <input type="text" name="jobName" data-ng-model="jobName" data-auto-focus />
                    </div>
                </div>
                <div class="accordion-builder-grids panel-group" id="accordionBuilderGrids">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_inputs">
                                Inputs
                            </a>
                        </div>
                        <div id="collapse_inputs" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div data-builder-grid data-objects="dataInputs"></div>
                              </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_assets">
                                Assets
                            </a>
                        </div>
                        <div id="collapse_assets" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div data-builder-grid data-objects="dataAssets"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default ui-select-overflow">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed toggle-icon" data-toggle="collapse" data-target="#collapse_advanced">
                                Advanced
                            </a>
                        </div>
                        <div id="collapse_advanced" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form name="advancedForm">
                                    <div class="advanced-option">
                                        <span class="reducers-label">Number of reducers (maximum of 1024):</span>
                                        <span class="reducers-field">
                                            <input type="number"
                                                   name="numberOfReducers"
                                                   data-ng-model="numberOfReducers"
                                                   data-ng-pattern="/^(\d)+$/"
                                                   min="1"
                                                   max="1024" />
                                        </span>
                                        <div class="edit-error">
                                            <div class="error"
                                                data-translate
                                                data-ng-show="advancedForm.numberOfReducers.$error.number || advancedForm.numberOfReducers.$error.pattern || advancedForm.numberOfReducers.$invalid && numberOfReducers + 1 <= 1">
                                                Please provide integer number in the range (1 ... 1024).
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advanced-option">
                                        <span class="reducers-label">Amount of DRAM (MB):</span>
                                        <span class="reducers-field">
                                            <ui-select data-ng-model="amountOfDram"
                                                       append-to-body="true"
                                                       theme="select2"
                                                       search-enabled="true"
                                                       class="full-width"
                                                       on-select="setValue('amountOfDram', $select.selected)">
                                                <ui-select-match>{{$select.selected}}</ui-select-match>
                                                <ui-select-choices prevent-body-scroll repeat="amountOfDram in amountOfDramOptions | filter: $select.search">
                                                    {{amountOfDram}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </span>
                                    </div>
                                    <div class="advanced-option">
                                        <span class="reducers-label">Amount of disk space (GB):</span>
                                        <span class="reducers-field">
                                            <ui-select data-ng-model="amountOfDiskSpace"
                                                       append-to-body="true"
                                                       theme="select2"
                                                       search-enabled="true"
                                                       class="full-width"
                                                       on-select="setValue('amountOfDiskSpace', $select.selected)">
                                                <ui-select-match>{{$select.selected}}</ui-select-match>
                                                <ui-select-choices prevent-body-scroll repeat="amountOfDiskSpace in amountOfDiskSpaceOptions | filter: $select.search">
                                                    {{amountOfDiskSpace}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div class="job-name row">
                    <button class="btn orange pull-right" data-ng-disabled="jobCreating" data-ng-click="createJob()">Run Job</button>
                </div>
                <div class="accordion-builder-phases panel-group" id="accordionBuilderPhases">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_mapstep">
                                Map Step
                            </a>
                        </div>
                        <div id="collapse_mapstep" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="job-name row">
                                    <div class="field">
                                        <textarea type="text" name="mapStep" rows="4" data-ng-model="mapStep"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle toggle-icon" data-toggle="collapse" data-target="#collapse_reducestep">
                                Reduce Step
                            </a>
                        </div>
                        <div id="collapse_reducestep" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="job-name row">
                                    <div class="field">
                                        <textarea type="text" name="reduceStep" rows="4" data-ng-model="reduceStep"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>