<div class="machines container-fluid container-position" data-ng-class="{'container-min-width': !account.provisionEnabled}" data-ng-controller="Storage.HistoryController">
    <div class="page-header">
        <h3 class="page-title">Manta - Storage Job History</h3>
        <div class="beta-sticker">beta</div>
        <div class="header-btn-ci create-new-job-btn-pos" data-ng-show="account.provisionEnabled">
            <button type="button" class="btn btn-big orange align-text-btn" data-ng-click="addNewJob()"><i class="plus-btn-icon"></i> Create
                New Job</button>
        </div>
    </div>
    <div data-ng-include="'storage/static/partials/ocean.html'" data-ng-show="!account.provisionEnabled && !loading"></div>
    <div class="loading-large" data-ng-show="loading"></div>
    <div data-ng-hide="loading || !account.provisionEnabled">
        <div data-grid-view
             data-user-config="gridUserConfig"
             data-props="gridProps"
             data-detail-props="gridDetailProps"
             data-action-buttons="gridActionButtons"
             data-items="jobs"
             data-order="gridOrder"
             data-filter-all="{{query}}"
             data-search-form="true"
             data-place-Holder-Text="placeHolderText"
             data-export-fields="exportFields"
             data-actions-button="actionsButton"
             data-enabled-checkboxes="enabledCheckboxes"
             data-items-type="jobs">
        </div>
    </div>

</div>
