<div class="machines container-fluid container-position" data-ng-class="{'container-min-width': !account.provisionEnabled}" data-ng-controller="Storage.HistoryController">
    <div data-breadcrumbs class="show"></div>
    <div class="page-header">
        <h3 class="page-title">Job History</h3>
        <div class="page-title-btn" data-ng-show="account.provisionEnabled">
            <button type="button" class="btn btn-big orange align-text-btn" data-ng-click="addNewJob()"><i class="plus-btn-icon"></i> Create
                New Job</button>
        </div>
    </div>
    <div data-ng-include="'storage/static/partials/ocean.html'" data-ng-show="!account.provisionEnabled && !loading"></div>
    <div class="loading-large" data-ng-show="loading"></div>
    <div data-ng-show="jobs.length">
        <div data-grid-view
             data-user-config="gridUserConfig"
             data-props="gridProps"
             data-detail-props="gridDetailProps"
             data-action-buttons="gridActionButtons"
             data-items="jobs"
             data-multisort="false"
             data-order="gridOrder"
             data-filter-all="{{query}}"
             data-search-form="true"
             data-place-Holder-Text="placeHolderText"
             data-export-fields="exportFields"
             data-actions-button="actionsButton"
             data-enabled-checkboxes="enabledCheckboxes"
             data-items-type="jobs"
             data-hide-large-pager-options="true"
             data-checked-items="checkedItems">
        </div>
    </div>
    <div data-ng-show="jobs.length < 1 && !loading">
        <div class="empty-job-history">You don't have any jobs</div>
    </div>
</div>
