<div class="container" data-ng-controller="StorageController">

    

    <div class="row">
        <div class="span7">
			<h3>Introduction</h3>
            Joyent Manta Storage Service is a cloud service that offers both
            storage and integrated compute for developers. Using Manta,
            developers can store and process any amount of data at any time,
            from any location, without additional compute resources.
			<br />
			<br />
			<a class="btn btn-info btn-large"
               href="http://apidocs.joyent.com/manta/">Manta
                documentation</a>

            
        </div>
		<div class="span5">
            <h3>Example video</h3>

            <div class="flowplayer">
                <video>
                    <source type="video/mp4" src="http://us-east.manta.joyent.com/jason/public/Getting-Started-Joyent-Manta.mp4">
                </video>
            </div>
        </div>
        
    </div>


    <div class="row">
        <div class="span12">
            <h4>Getting started</h4>

            <p>
                There are two ways to get started:
            </p>

            <p>1. If you already have at least node.js 0.8.14 installed
                you can
                install the manta CLI and node SDK
            </p>

            <div class="well code">sudo npm install -g
                https://us-east.manta.joyent.com/manta/public/sdks/node-manta.tar.gz
            </div>

            <p>2. If you do not have node.js installed you can use the
                installer for Mac OS X
            </p>
            <a class="btn btn-info"
               href="https://us-east.manta.joyent.com/manta/public/sdks/joyent-node-latest.pkg">OS X
                Installer</a>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h4>CLI Example</h4>

            <p>Once you have installed the Manta CLI, you're ready to go. The following examples are customized with your account information. Just cut and paste.</p>
            <h5>Set environment</h5>

            <div class="well code">
                export MANTA_URL=https://us-east.manta.joyent.com<br/>
                export MANTA_USER={{account.login}}<br/>
                export MANTA_KEY_ID={{sshKeys[0].fingerprint }}
            </div>
            <div class="row">

                <div class="span12">
                    <h5>Create, list and delete objects</h5>

                    <div class="well code">
                        <span class="hl">$</span> echo "Hello, Manta" >
                        /tmp/hello.txt<br/>
                        <span class="hl">$</span> mput -f /tmp/hello.txt
                        /{{account.login}}/stor/foo<br/>
                        <span class="res">/{{account.login}}/stor/foo [==========================>] 100% 13B</span>
                        <br/>
                        <span class="hl">$</span> mget
                        /{{account.login}}/stor/foo<br/>
                        <span class="res">Hello, Manta</span><br/>
                        <span class="hl">$</span> mls<br/>
                        <span class="res">foo</span><br/>
                        <span class="hl">$</span> mrm
                        /{{account.login}}/stor/foo<br/>
                    </div>
                </div>
            </div>
            <h5>Execute jobs</h5>

            <p>This job will copy Treasure Island to Joyent Manta and run a job
                that counts the number of times the word
                Silver is mentioned.
            </p>

            <div class="well code">
                <span class="hl">$</span> curl -sL
                http://www.gutenberg.org/ebooks/120.txt.utf-8 | mput -H
                'content-type: text/plain'
                /{{account.login}}/stor/treasure_island.txt<br/>
                <span class="hl">$</span> mfind
                /{{account.login}}/stor/treasure_island.txt | mjob create -o
                "grep Silver | wc -l"<br/>
            </div>

            <p>While the CLI uses node.js there is also SDK support for Ruby, Python and Java.</p>
        </div>
    </div>

</div>
