<div class="job-section-container">
    <div class="accordion-heading">
        <a data-ng-click="toggleSection()"
           data-ng-class="{collapsed: !showSection}"
           class="accordion-toggle toggle-icon">
            {{name}} <span class="badge">{{objects.length}}</span>
        </a>
    </div>

    <div class="job-section-body" data-ng-show="showSection">
        <div data-ng-show="objects.length">
            <p data-ng-repeat="obj in objects" data-ng-hide="obj[0] == '/'">{{obj}}</p>
            <p data-ng-repeat="obj in objects" data-ng-show="obj[0] == '/'" ><a data-ng-click="getFile(obj)">{{obj}}</a></p>
        </div>
    </div>
</div>