<div class="container-fluid container-position container-min-width" data-ng-controller="Storage.JobDetailsController">
    <ul class="breadcrumb">
        <li><a href="#!/manta/intro">Storage</a></li><!--
     --><li><a href="#!/manta/jobs">Job History</a></li>
    </ul>

    <h3 class="page-title">Job Details</h3>

    <div class="loading-large" data-ng-show="loading"></div>
    <div data-ng-show="!loading">
        <div class="row job-info-container">
            <div class="column job-common-container">
                <table class="job-table job-common">
                    <tr>
                        <td>Name</td>
                        <td>{{ job.name }}</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td><b>{{ job.id }}</b></td>
                    </tr>
                    <tr>
                        <td>Input Done</td>
                        <td><span class="state-label state-label-input">{{ job.inputDone }}</span></td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td><span class="state-label state-label-state">{{ job.state }}</span></td>
                    </tr>
                    <tr>
                        <td>Cancelled</td>
                        <td><span class="state-label state-label-cancelled">{{ job.cancelled }}</span></td>
                    </tr>
                </table>
            </div>
            <div class="column job-stats-container">
                <table class="job-table job-stats">
                    <tr class="job-stats-row">
                        <td>{{ job.stats.errors }}</td>
                        <td>Errors</td>
                    </tr>
                    <tr class="job-stats-row">
                        <td>{{ job.stats.outputs }}</td>
                        <td>Outputs</td>
                    </tr>
                    <tr class="job-stats-row">
                        <td>{{ job.stats.retries }}</td>
                        <td>Retries</td>
                    </tr>
                    <tr class="job-stats-row">
                        <td>{{ job.stats.tasks }}</td>
                        <td>Tasks</td>
                    </tr>
                    <tr class="job-stats-row">
                        <td>{{ job.stats.tasksDone }}</td>
                        <td>Tasks Done</td>
                    </tr>
                </table>
            </div>
            <div class="column job-date-container">
                <button data-ng-click="cloneJob()" class="btn orange effect-orange-button pull-right">Clone Job</button>
                <div class="job-date">
                    Time Created
                    <p class="job-date-value">{{ job.timeCreated | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
                <div class="job-date" data-ng-show="job.timeDone">
                    Time Completed
                    <p class="job-date-value">{{ job.timeDone | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div data-job-section
                     data-name="'Inputs'"
                     data-objects="inputs"
                     data-length="{{ inputsCount }}"
                     data-collapsed="true"></div>

                <div data-job-section
                     data-name="'Assets'"
                     data-objects="assets"></div>

                <div data-job-section
                     data-name="'Map Steps'"
                     data-objects="steps['map']"></div>

                <div data-job-section
                     data-name="'Reduce Steps'"
                     data-objects="steps['reduce']"></div>
            </div>
            <div class="col-md-6">
                <div data-job-section
                     data-name="'Outputs'"
                     data-objects="outputs"
                     data-length="{{ job.stats.outputs }}"></div>

                <div data-job-section
                     data-name="'Errors'"
                     data-objects="errors"
                     data-length="{{ job.stats.errors }}"></div>

                <div data-job-section
                     data-name="'Failures'"
                     data-objects="failures"
                     data-length="{{ job.stats.failures }}"></div>
            </div>
        </div>
    </div>
</div>