<div class="modal-dialog">
    <div class="modal-content">
        <div tabindex="-1" data-backdrop="static" data-focus-on="button">
            <div class="modal-header message">
                <h5><i class="glyphicon glyphicon-info-sign"></i><b>{{ title }}</b></h5>
            </div>
            <div class="modal-body">
                <form name="folderNameForm">
                    <p>Folder name can contain only letters, digits and signs like '.', '_' and '-'.</p>
                    <input type="text"
                           id="folderName"
                           class="folder-name"
                           data-ng-model="folderName"
                           data-ng-pattern="/^[^.\/\\]|[\w-]+$/"
                           placeholder="Enter folder name"
                           data-auto-focus />
                    <div class="error"
                         data-ng-show="folderNameForm.$invalid"
                         data-translate>
                        Invalid folder name
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-ng-click="close()" data-button-focus="false" data-label="Cancel" class="btn grey">Cancel</button>
                <button data-ng-click="createFolder()" data-button-focus="false" data-ng-disabled="folderNameForm.$invalid || folderNameForm.$pristine || folderName.length == 0" data-label="Cancel" class="btn orange">Ok</button>
            </div>
        </div>
    </div>
</div>