<div class="modal-dialog modal-dialog-role-tag">
    <div class="modal-content">
        <div class="modal-header message">
            <h5><i class="glyphicon glyphicon-info-sign"></i><b>Role Tags</b></h5>
        </div>
        <div class="modal-body" data-ng-show="loading">
            <div class="loading-medium"></div>
        </div>
        <div class="modal-body" data-ng-class="{'multi-select': roles.length}" data-ng-hide="loading">
        <div data-ng-hide="roles.length">Roles are not available, click to <a class="orange" data-ng-click="close()" href="#!/accounts/role/create">Create Role</a></div>
            <div data-ng-show="roles.length">
                <multi-select id="rolesSelect"
                    data-items="roles"
                    data-option-label="'name'"
                    data-selected-items="assignedRoles"
                    data-selectable-header="AVAILABLE"
                    data-selection-header="ASSIGNED">
                </multi-select>
            </div>
            <span data-ng-show="isNotEmptyDirectory && roles.length">
                <input type="checkbox" data-ng-model="recursive"/> Apply to all nested objects
            </span>
        </div>
        <div class="modal-footer">
            <button data-ng-click="close()" class="btn grey">Cancel</button>
            <button data-ng-click="save()" class="btn orange">Apply Role Tags</button>
        </div>
    </div>
</div>