<html>
<head>
    <!-- 1. jquery library -->
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js">
    </script>

    <!-- 2. flowplayer -->
    <script type="text/javascript"
            src="//releases.flowplayer.org/5.4.2/flowplayer.min.js">
    </script>

    <!-- 3. skin -->
    <link rel="stylesheet" type="text/css"
          href="//releases.flowplayer.org/5.4.2/skin/minimalist.css">
</head>
<body>
<div class="flowplayer">
    <video>
        <source type="video/mp4" src="../data/setup.mp4">
    </video>
</div>
</body>
</html>