<div class="container-fluid content-container" data-ng-controller="Dashboard.IndexController">
	<div class="loading-medium" data-ng-show="loading" style="height:60px;width:100%"></div>
    <div class="container content-container-inner">
		<div>
			<ul class="breadcrumb">
				<li class="active"><span>Dashboard</span></li>
			</ul>
			<div class="page-header">
			    <h1 class="pull-left">Welcome {{account.firstName}}</h1> 
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="span4 text-medium">
					
					<h4>Instances</h4>
					<!-- <hr /> -->
					<div class="separation-container text-medium">
						<div data-ng-show="runningcount" class="text-fix"><i class="icon icon-play"></i> {{runningcount}} Running</div>
						<div data-ng-show="othercount" class="text-fix"><i class="icon icon-stop"></i> {{othercount}} Stopped</div>
						<p class="text-fix"><i class="icon icon-plus-sign"></i>&nbsp;&nbsp;<a href="#!/machine/add/">Create new Instance</a></p>
					</div>
					<h5>Billing</h5>
					
					<div class="separation-container text-medium">
						<p><strong>Your costs from last month ${{lastInvoice.amount || '0'}}</strong><br />
							View full history <a href="#!/account/invoices">My Account » Invoices</a></p>
					</div>
				</div>
				<div class="span4">
					<h4>Joyent Blog</h4>
					<div class="separation-container text-medium">
						<div class="row-fluid text-medium" data-ng-repeat="entry in rssentries">
							<span class="pull-left span3 text-small text-gray">{{entry.publishedDate | date}}</span>
		                    <span class="pull-left span8"><a target="_blank" href="{{entry.link}}">{{entry.title}}</a></span>
							<div class="clearfix"></div>
						</div>
					</div>
					<div>
						<hr />
						<a class="pull-right" href="http://joyent.com/blog" target="_blank">Read more from your blog »</a>
						<div class="clearfix"></div>
					</div>

				</div>
				<div class="span4">
					<h4>Support FAQ</h4>
					<div class="separation-container text-medium">
						<div class="row-fluid text-medium" data-ng-repeat="forum in forums">
							<div><a  target="_blank" href="https://help.joyent.com/forums/{{forum.id}}">{{forum.name}}</a></div>
		                    <p class="text-small text-gray" data-ng-show="forum.description" style="line-height:1.3em">{{forum.description}}</p>
							<div class="clearfix"></div>
						</div>
					</div>

					<div>
						<hr />
						<a class="pull-right" href="http://joyent.com/blog" target="_blank">Go to Support page »</a>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- <div class="span6 home-video pull-right">
					<a class="video-link"><h1>See what your cloud could be</h1><p class="play">Get the Joyent Advantage</p></a>
				</div> -->
				<div class="clearfix"></div>
				<hr />
			</div>
				<!-- <div class="span3 feature1">
					<a href="/products/joyent-cloud" class="feature-link">
						<p>Learn what Joyent Cloud can do for you.</p>
						<p class="hover">See what powers many of the best mobile, social, gaming and e-commerce enterprises in the industry.</p>
					</a>
				</div> -->
			<!-- <div class="pull-left box box-yellow span5">
				<h2>Instances</h2>
				<p data-ng-show="runningcount">{{runningcount}} Up</p>
				<p data-ng-show="othercount">{{othercount}} Stopped</p>
				<p><i class="icon-plus-sign"></i>&nbsp;&nbsp;Create new Instance</p>
				<p><a href="#!/machine" class="btn btn-primary btn-large">Go to instances list »</a></p>
			</div> -->
			<!-- <div class="pull-left box box-blue span5" data-ng-show="lastInvoice">
				<h2>Billing</h2>
				<p>Your last invoice was ${{lastInvoice.amount || '0'}}</p>
				<p>To view your billing history, go to <a href="#!/account/invoices">My Account » Invoices</a></p>
			</div> -->
			<div class="clearfix"></div>
		</div>
		
<!--         <div class="row text-medium">			
			<div class="span4">
				<h4>Joyent Blog</h4>
				<div class="row-fluid" data-ng-repeat="entry in rssentries">
					<span class="pull-left span3 text-small text-gray">{{entry.publishedDate | date}}</span>
                    <span class="pull-left span8"><a target="_blank" href="{{entry.link}}">{{entry.title}}</a></span>
					<div class="clearfix"></div>
				</div>
				<div>
					<hr />
					<a class="pull-right" href="http://joyent.com/blog" target="_blank">Read more from your blog »</a>
					<div class="clearfix"></div>
				</div>
				
			</div>
			<div class="span4">
				<h4>Support FAQ</h4>
				<div class="row-fluid" data-ng-repeat="forum in forums">
					<div><a  target="_blank" href="https://help.joyent.com/forums/{{forum.id}}">{{forum.name}}</a></div>
                    <p class="text-small text-gray" data-ng-show="forum.description" style="line-height:1.3em">{{forum.description}}</p>
					<div class="clearfix"></div>
				</div>

				<div>
					<hr />
					<a class="pull-right" href="http://joyent.com/blog" target="_blank">Go to Support page »</a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div> -->

    </div>
</div>

